<?php
echo $this->form;
?>
<script type="text/javascript">
	/*var hEd = CKEDITOR.instances['description'];
    if (hEd) {
        CKEDITOR.remove(hEd);
    }*/
	var editor = CKEDITOR.instances['description'];
    if (editor) { editor.destroy(true); }

    
    CKEDITOR.replace( 'description',{ height: 80, width: 450 } );
</script>

</html>