<script>
$(document).ready(function(){
	$("#start_time").datepicker({
		dateFormat : "yy-mm-dd",
		timeFormat: 'hh:mm:ss',
		minDate: 0,
		maxDate: "+1000D",
		numberOfMonths: 2,
		onSelect: function(selected) {
			$("#end_time").datepicker("option","minDate", selected)
		}
	});
	$("#end_time").datepicker({
		dateFormat : "yy-mm-dd",
		timeFormat: 'hh:mm:ss',
		minDate: 0,
		maxDate:"+1000D",
		numberOfMonths: 2,
		onSelect: function(selected) {
			$("#start_time").datepicker("option","maxDate", selected)
		}
	});
});
</script>

<div id="contentonly">
<!--<h3><?php echo $this->translate('add').' '.$this->translate('content')?></h3>-->

<form enctype="multipart/form-data" method="post" action="/block/index/addcontent"><dl class="zend_form">
<dl class="zend_form">

<dt id="res_type-label"><label for="res_type" class="required"><?php echo $this->translate('type') ?>:</label></dt>
<dd id="res_type-element">
<select name="res_type" id="res_type">
	<option value="" label="Please Select"><?php echo $this->translate('please_select') ?>...</option>
    <?php foreach ($this->rs_type as $row) { 
    	echo '<option value="'.$row['id'].'" label="'.$row['type'].'">'.$row['type'].'</option>';
    }
    ?>
</select></dd>

<dt id="title-label"><label for="title" class="required"><?php echo $this->translate('title') ?> :</label></dt>
<dd id="title-element">
<input type="text" name="title" id="title" value=""></dd>

<dt id="description-label"><label for="description" class="required"><?php echo $this->translate('description') ?> :</label></dt>
<dd id="description-element">
<textarea name="description" id="description" rows="24" cols="80"></textarea></dd>


<dt id="courseid-label">&#160;</dt>
<dd id="courseid-element">
<input type="hidden" name="courseid" value="<?php echo $this->courseid?>" id="courseid"></dd>

<dt id="blockid-label">&#160;</dt>
<dd id="blockid-element">
<input type="hidden" name="blockid" value="<?php echo $this->blockid?>" id="blockid"></dd>

<div id="file_upload" name="file_upload" class="file_options">
<dt id="filename-label"><label for="filename" class="optional"><?php echo $this->translate('upload').' '.$this->translate('file')?> :</label></dt>
<dd>


<input type="file" name="filename" id="filename"></dd>
</div>

<div id="url_upload" name="url_upload" class="url_options">
<dt id="url-label"><label for="url" class="optional">Url:</label></dt>
<dd>
<input type="text" name="link" id="link" value=""></dd>
</div>

<div id="embed_upload" name="embed_upload" class="embed_options">
<dt id="embed-label"><label for="embed" class="optional">Embed Code:</label></dt>
<dd>
<input type="text" name="url" id="url" value=""></dd>
</div>

<div id="test_thing" name="test_thing" class="test_options">
  
<table>
<tr>
<td><?php echo $this->translate('time_duration') ?>:</td>
<td>
<input type="text" name="test_time" id="test_time" style="width:55px" value="" ><?php echo $this->translate('minutes') ?>
</td>
</tr>
<tr>
<td><?php echo $this->translate('start_time') ?>:</td>
<td>
<input type="text" id="start_time" name="start_time" style="width:55px" value="" >
<select  name="Shour" id="Shour"><option value="HH">HH</option><?php for($i=1; $i<=12; $i++){ if($i<='9'){ $j="0".$i;} else{ $j=$i;} ?><option value="<?php echo $j?>"   ><?php echo $j?></option><?php } ?></select>
<select  name="Sminute" id="Sminute"><option value="MM" >MM</option><?php for($i=0; $i<=60; $i++){ if($i<='9'){ $j="0".$i;} else{ $j=$i;} ?><option value="<?php echo $j?>" ><?php echo $j?></option><?php } ?></select> 
<select name="Sampm"><option value="AM" >AM</option><option value="PM"  >PM</option></select>
</td>
</tr>
<tr>
<td><?php echo $this->translate('end_time') ?>:</td>
<td>
<input type="text" id="end_time" name="end_time" style="width:55px" value="" >
<select  name="Ehour" id="Ehour"><option value="HH">HH</option><?php for($i=1; $i<=12; $i++){ if($i<='9'){ $j="0".$i;} else{ $j=$i;} ?><option value="<?php echo $j?>"   ><?php echo $j?></option><?php } ?></select>
<select  name="Eminute" id="Eminute"><option value="MM" >MM</option><?php for($i=0; $i<=60; $i++){ if($i<='9'){ $j="0".$i;} else{ $j=$i;} ?><option value="<?php echo $j?>" ><?php echo $j?></option><?php } ?></select> 
<select name="Eampm"><option value="AM" >AM</option><option value="PM"  >PM</option></select>
</td>
</tr>
<tr>
<td><?php echo $this->translate('percentage_to_pass') ?>:</td>
<td>
<select  name="reqpercentage" id="reqpercentage"><?php for($i=1; $i<=100; $i++){ ?><option value="<?php echo $i?>"   ><?php echo $i?></option><?php } ?></select>
</td>
</tr>
<tr>
<td><?php echo $this->translate('allow_view_answer') ?>:</td>
<td>
<input type="radio" name="answer_view" value="1"  > <?php echo $this->translate('yes') ?> &nbsp;&nbsp; <input type="radio" name="answer_view" value="0" checked > <?php echo $this->translate('no') ?>
</td>
</tr>
<tr>
<td><?php echo $this->translate('max_attempts') ?>:</td>
<td>
<select name="attempts"><?php for($i=1; $i<=100; $i++){ ?><option value="<?php echo $i?>"   ><?php echo $i?></option><?php } ?></select>
</td>
</tr>
<tr>
<td><?php echo $this->translate('allow_random') ?>:</td>
<td>
<input type="radio" name="allow_random" value="1"  > <?php echo $this->translate('yes') ?> &nbsp;&nbsp; <input type="radio" name="allow_random" value="0" checked > <?php echo $this->translate('no') ?>
</td>
</tr>
</table>

</div>

<dt id="buttons-label">&#160;</dt><dd id="buttons-element"><div class="buttons">

<input type="submit" class="button" name="save" id="save" value="<?php echo $this->translate('upload').' '.$this->translate('content')?>">

<input type="submit" class="button" name="cancel" id="cancel" value="<?php echo $this->translate('cancel')?>" onClick="window.location ='<?php echo $this->baseUrl(); ?>/block/index/block/courseid/<?php echo $this->courseid?>'; return false;"></div></dd>

</dl></form>
</div>
<script>
$(".file_options").hide();
$(".url_options").hide();
$(".embed_options").hide();
$(".test_options").hide();

$("#res_type").change(function () {
	//alert('Value change to ' + $(this).attr('value'));

	if ($(this).attr('value')==1 || $(this).attr('value')==2 || $(this).attr('value')==4 || $(this).attr('value')==5 || $(this).attr('value')==8){
		$("#file_upload").show();
		$("#url_upload").hide();
		$("#embed_upload").hide();
		$("#test_thing").hide();
	} else if ($(this).attr('value')==3) {
		$("#file_upload").hide();
		$("#url_upload").show();
		$("#embed_upload").hide();
		$("#test_thing").hide();
	} else if ($(this).attr('value')==6) {
		$("#file_upload").hide();
		$("#url_upload").hide();
		$("#embed_upload").show();
		$("#test_thing").hide();
	} else if ($(this).attr('value')==9) {
		$("#file_upload").hide();
		$("#url_upload").hide();
		$("#embed_upload").hide();
		$("#test_thing").show();
	}else {
		$("#file_upload").hide();
		$("#url_upload").hide();
		$("#embed_upload").hide();
		$("#test_thing").hide();
	}

});

$('#filename').change( function() {
	var filename = $(this).val();
	if ($('#res_type option:selected').val()==1){
		if ( ! /\.doc$/.test(filename) && ! /\.docx$/.test(filename) && ! /\.xls$/.test(filename) && ! /\.xlsx$/.test(filename) && ! /\.ppt$/.test(filename) && ! /\.pptx$/.test(filename) ) {
			alert('Please select doc,docx,xls,xlsx,ppt,pptx file');
		}
	}
	else if ($('#res_type option:selected').val()==2){
		if ( ! /\.pdf$/.test(filename)) {
			alert('Please select a pdf file');
		}
	}
	else if ($('#res_type option:selected').val()==4){
		if ( ! /\.flv$/.test(filename)) {
			alert('Please select a flv file');
		}
	}
	else if ($('#res_type option:selected').val()==5){
		if ( ! /\.wav$/.test(filename)) {
			alert('Please select a wav file');
		}
	}
});

$("form").submit(function() {
	if ($('#res_type option:selected').val()==""){
		alert("Please select content type");
		return false;

	}

	else if ($('#title').val()==""){
		alert("Please provide title");
		return false;

	}

	else if ($('#res_type option:selected').val()==1 || $('#res_type option:selected').val()==2 || $('#res_type option:selected').val()==4 || $('#res_type option:selected').val()==5){
		if ($('#filename').val()==""){
			alert("Please select file");
			return false;
		}
	}

	else if ($('#res_type option:selected').val()==3 ){
		if ($('#link').val()==""){
			alert("Please provide url");
			return false;
		}
	}

	if ($('#res_type option:selected').val()==9 ){


		if ($('#start_time').val()==""){
			alert("Please provide start time");
			return false;
		}
		else if ($('#Shour').val()=="" || $('#Shour').val()=="HH"){
			alert("Please provide start time hour");
			return false;
		}

		else if ($('#Sminute').val()=="" || $('#Sminute').val()=="MM"){
			alert("Please provide start time minute");
			return false;
		}

		else if ($('#end_time').val()==""){
			alert("Please provide end time");
			return false;
		}

		else if ($('#Ehour').val()=="" || $('#Ehour').val()=="HH"){
			alert("Please provide end time hour");
			return false;
		}

		else if ($('#Eminute').val()=="" || $('#Eminute').val()=="MM"){
			alert("Please provide end time minute");
			return false;
		}

		else if ($('#test_time').val()==""){
			alert("Please provide test time");
			return false;
		}

		else if ($('#reqpercentage').val()==""){
			alert("Please provide requirement percentage");
			return false;
		}
		else if (!$("input[@name='answer_view']:checked").val()) {
			alert("Please select answer view");
			return false;
		}
		else if (!$("input[@name='allow_random']:checked").val()) {
			alert("Please select allow random");
			return false;
		}


	}
});


function addatt(){
	alert('ffff');
	/*var coursecode = $('#coursecode').val();
	var examtype = $('#exam_type').val();
	var examcenter = $('#examcenter').val();
	var examprog = $('#exam_prog').val();
	var sem = $('#sem').val();
	var examtimedate = $('#examtimedate').val();

	var my_dataadd = {
	"examcenter":examcenter,
	"sem":sem,
	"coursecode":coursecode,
	"exam_type":examtype,
	"examtimedate":examtimedate,
	"examprog":examprog
	};

	$.ajax({
	type: "post",
	url: "/home/addattendance",
	dataType:"html",
	data: my_dataadd,
	success: function(data) {
	refatt()
	}


	});*/
}



</script>


<script type="text/javascript">

CKEDITOR.replace( 'description',{ toolbar : [ ['Source'], ['Bold','Italic','Underline','Strike'], ], height: 200, width: 400 } );

</script>