
<div id="feedbackSubPanel">
<table id="myfeedback" cellspacing="0" cellpadding="5" width="95%">
<?php 
foreach ($this->rscomment as $row) {
	$days2 = floor($row['CommentTimeSpent'] / (60 * 60 * 24));
	$remainder = $row['CommentTimeSpent'] % (60 * 60 * 24);
	$hours = floor($remainder / (60 * 60));
	$remainder = $remainder % (60 * 60);
	$minutes = floor($remainder / 60);
	$seconds = $remainder % 60;

?>

<tr>
<td id="myfeedback-<?php  echo $row['c_id'];?>" valign="top">
<table id="myfeedbacksub" width="100%">
<tr>
<td width="30px">
<?php
$userID= $row['username'];
$thumbnailexists=APPLICATION_PATH . "/../upload". "/photo/".$userID."/thumbnail_pic.jpg";

//echo $thumbnailexists;
if (file_exists($thumbnailexists)) {
?>
<img width="40" height="40" src="<?php echo "/".PATH_UPLOAD."/photo/".$userID."/thumbnail_pic.jpg";?>" border="1" style="float: left; margin-right: 10px;" id="thumbnail" /> 
<?php } else { ?>
<img width="40" height="40" src="<?php echo $this->baseUrl(); ?>/images/nouser/nouser.png" border="1" style="float: left; margin-right: 10px;" id="thumbnail"  /> 
<?php }  ?>
</td>
<td>
<?php echo $row['comments']."<br><br>" ?> 
<?php if ($row['filename']) {?>
<img src="<?php echo $this->baseUrl(); ?>/block/attachment-icon.png" style="float:left;" alt="" /><a href="/<?php echo PATH_UPLOAD?>/blockcontent/<?php echo $this->courseid?>/<?php echo $this->blockid?>/<?php echo $row['filename'] ?>"><?php echo $row['filename'] ?></a> 
<?php } ?>
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
<?php
if($days2 > 0)
echo date('F d Y', $row['date_created']);
elseif($days2 == 0 && $hours == 0 && $minutes == 0)
echo $this->translate('seconds_ago');
elseif($days2 == 0 && $hours == 0)
echo $minutes.' '.$this->translate('minutes_ago');
elseif($days2 == 0 && $hours > 0)
echo $hours.' '.$this->translate('hours_ago');
else
echo $this->translate('seconds_ago');
?>

<?php
if($row['username'] == $this->username){?>
&nbsp;&nbsp;<a href="javascript: void(0)" id="fcid-<?php  echo $row['c_id'];?>" class="deletefeedback"><?php echo $this->translate('delete')?></a>
<?php
}?>
</td>
</tr>
</table>
</td>
</tr>
<?php 
}
?>
</table>
</div>