<script>

function savetrack(url,content_id,block_id,course_id,name,intakeid){

	$.post("<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'ajaxsavetrack'),'default',true);?>/block_id/"+block_id+"/content_id/"+content_id+"/course_id/"+course_id+"/intakeid/"+intakeid, {
	}, function(response){

		window.open(url,name,'fullscreen=1,scrollbars=1');
		if(name=="_blank"){
			location.reload(true);

		}

	});

	/*$.ajax({
	type: "POST",
	url: "<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'ajaxsavetrack'),'default',true);?>/block_id/"+block_id+"/content_id/"+content_id+"/course_id/"+course_id+"/intakeid/"+intakeid,
	success: function(){
	//alert(name);
	window.open(url,name,'fullscreen=1,scrollbars=1');
	if(name=="_blank"){
	location.reload(true);

	}

	},
	error: function(){
	alert('failure');
	}
	});*/


}

</script>

<style>
    .loading { background: url(/images/spinner.gif) center no-repeat !important }
</style>
 
<style type="text/css">
	.box{
		padding:8px;
		border:1px solid blue;
		margin-bottom:8px;
		margin-left:15px;
		width:96%;
		min-height:100px;
		max-height:100%;
	}
	.newbox{
		padding:8px;
		border:1px solid red;
		margin-bottom:8px;
		width:200px;
		height:50px;
	}
	.desc{
		padding:8px;
		
	}
	
	
	#dialog2 {display: none;}   
	
	
</style>

<div id="contentonly">

<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>

<?php
$block = new Block_Model_Block();
$naviauth = new Epic_Controller_Acl(new Epic_Acl());

$show = $naviauth->navicourse("block", "index", "addblock",$this->username,$this->courseid);
if ($show == 1) {   ?> 	

<div id="" >
<table width="100%">
<tr>
<td align="right">
<?php  echo $this->form;?>
<?php if (!$this->vdata) { 
	//if ($this->username=="admin")
	echo $this->form2;
} ?>
<a  class="ajax" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'addblock', 'courseid'=> $this->courseid),null, FALSE)?>" title="Add Block"><?php echo $this->translate('add'); ?> <?php echo $this->translate('block'); ?> </a>
</td>
</tr>
</table>
</div>
<?php }  ?>
<br><br>



<?php if($this->courseReadPercentage>0){ ?> 
   <table border="1px solid;" style="border-collapse:collapse;" width="25%" cellspacing=0 cellpadding=0><tr><td>
   		<table width="<?php echo $this->courseReadPercentage;?>%" height="15px"><tr><td bgcolor="green">&nbsp;</td></tr></table>
   </td></tr></table>
   <?php echo 'Overall Reading Status: '.$this->courseReadPercentage.'%'; ?>
<?php }//end precentage?>
   


<br><br>
 
<?php
$allrecordblock = count($this->vdata);

$i=1;
foreach ($this->vdata as $blockrow) {
	$fldidblk=$blockrow['id'];
?>

<form name="form<?=$i?>" method="post" enctype="multipart/form-data">

<div class='activity_box' id='box<?php echo $i?>"'>
<div class="activity_box_title">
<table width="100%"><tr><td>
<?php
$show = $naviauth->navicourse("block", "index", "removeblock",$this->username,$this->courseid);
if ($show == 1) {
?>
<select size="1" name="chgnoblk<?php echo $i?>" onchange="autonumberblock('<?php echo $fldidblk?>','<?php echo $i?>',this.form)">
<?
for ($p=1; $p<=$allrecordblock; $p++) {
	$stringsel="";
	if ($p==$blockrow['countNo']) $stringsel="selected";
	echo "<option ".$stringsel." value=\"".$p."\">".$p."</option>\n";
}
?>    
</select>
<?php
}
 ?>
<?php echo strtoupper($blockrow['title']); ?></td>
<td align="right"><?php
$show = $naviauth->navicourse("block", "index", "removeblock",$this->username,$this->courseid);
if ($show == 1) {
?>
<a class="bajax" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'editblock', 'courseid' => $this->courseid, 'blockid' =>$blockrow['id']),null, FALSE)?>" title="<?php echo $this->translate('edit'); ?> <?php echo $this->translate('block'); ?>"><?php echo '<img src="'.$this->baseUrl.'/images/block-edit-icon.png" width="24" height="24" alt="logos">' ?> </a> &nbsp;&nbsp; <a href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'removeblock', 'courseid' => $this->courseid, 'blockid' =>$blockrow['id']),null, FALSE)?>" onclick="return confirm('<?php echo $this->translate('delete_message'); ?>')" title="<?php echo $this->translate('delete'); ?> <?php echo $this->translate('block'); ?>"><?php echo '<img src="'.$this->baseUrl.'/images/block-delete-icon.png" width="24" height="24" alt="logos">' ?> </a> &nbsp;&nbsp; 
<?php
}
 ?>
</tr>
</table>
</div>

<table width="100%" border="0">
<tr><td class="activity_desc"><?php echo trim($blockrow['description']); ?></td></tr>
<tr align="right"><td>
<?php
$show = $naviauth->navicourse("block", "index", "removeblock",$this->username,$this->courseid);
if ($show == 1) {
?>
<a class="ajax" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'addcontent', 'courseid'=> $this->courseid, 'blockid'=> $blockrow['id']),null, FALSE)?>" title="Add Content"><?php echo $this->translate('add'); ?> <?php echo $this->translate('content'); ?> </a>
<?php
}
 ?>
</td></tr>
<tr><td>
   <?php 
   //count reading percentage
   $btrackDB = new Block_Model_Blocktrack();
   $percentage = $btrackDB->getReadingStatus($this->username,$blockrow['id'],$this->courseid,$this->intakeid);

   if($percentage>0){
   ?>
   <table border="1px solid;" style="border-collapse:collapse;" width="25%" cellspacing=0 cellpadding=0><tr><td>
   		<table width="<?php echo $percentage;?>%" height="15px"><tr><td bgcolor="green">&nbsp;</td></tr></table>
   </td></tr></table>
   <?php }//end precentage?>
   Reading Status : <?php echo $percentage;?>% 
</td></tr>
</table>


<?php
$rs=$block->fetchcontent($blockrow['id']);
//update counter content
$k=1;
if ($rs){
	foreach ($rs as $updaterow) {

		if ($updaterow['countNo']=="0") {

			$block->updatecountnocontent($k,$updaterow['id']);

		}
		$k++;
	}
}
//end update counter content
$rs=$block->fetchcontent($blockrow['id']);
$allrecord = count($rs);
$bil=1;
if ($rs){
?>
<table id="mtable" cellspacing="0">
<tr>
<?php
$show = $naviauth->navicourse("block", "index", "modifycontent",$this->username,$this->courseid);
if ($show == 1) {
?>
<th width="5px">&nbsp;</th>
<?php }//end show ?>
<th width="5px"><?php echo $this->translate('no'); ?></th>
<th width="5px">&nbsp;</th>
<th width="25%"><?php echo $this->translate('name'); ?></th>
<th width="30%"><?php echo $this->translate('description'); ?></th>
<th width="15%"><?php echo $this->translate('type'); ?></th>
<?php
$show = $naviauth->navicourse("block", "index", "modifycontent",$this->username,$this->courseid);
if ($show == 1) {
?>
<th id=""><?php echo $this->translate('action'); ?></th>
<?php }//end show ?>

</tr>


<?php 
foreach ($rs as $row) {
	$fldid=$row['id'];
?>

	<tr>
	<?php
	$show = $naviauth->navicourse("block", "index", "modifycontent",$this->username,$this->courseid);
	if ($show == 1) {
	?>
	<td >
    	<select size="1" name="chgno<?php echo $bil?>" onchange="autonumber('<?php echo $fldid?>','<?php echo $bil?>',this.form)">
		<?
		for ($p=1; $p<=$allrecord; $p++) {
			$stringsel="";
			if ($p==$row['countNo']) $stringsel="selected";
			echo "<option ".$stringsel." value=\"".$p."\">".$p."</option>\n";
		}
		?>    
	    </select>
    </td>
    <?php }//end show ?>
	<td align="center"><?php echo $bil;?>.</td>
	
	<td>
	<?php
	if(($btrackDB->getContentStatus($this->courseid,$row["id"],$this->username,$this->intakeid))==true){
		echo '<img src="'.$this->baseUrl.'/images/correct.jpg" width="25" height="25" alt="logos">';
	}
	?>
	</td>
	<td>
	<?php

	$name = '_self';
	//yatie test
	//------------- files ---------------
	if ($row['filename']!="") {
		if ($row['res_type']==1 || $row['res_type']==2) {

			$url = $this->url(array('module' => 'block', 'controller' => 'index', 'action' => 'framepage1',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE);

		}else if($row['res_type']==8){

			$url = $this->url(array('module' => 'block', 'controller' => 'content', 'action' => 'index',  'courseid' => $this->courseid, 'moduleid' => $row['moduleid']), 'default', true);

		}else{

			$url = $this->url(array('module' => 'block', 'controller' => 'index', 'action' => 'framepage2',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE);
		}
	}//end file


	//------------- url ------------
	if ($row['url']!="") {

		if ($row['res_type']==3){

			$url = $row['url'];
			$name = '_blank';

		}else if ($row['res_type']==6){

			$url = $this->url(array('module' => 'block', 'controller' => 'index', 'action' => 'framepageembed',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE);
		}
	}//END URL


	//---------general --------
	if($row['res_type']==7){

		$url = $this->url(array('module' => 'chat', 'controller' => 'index', 'action' => 'index',  'courseid' => $this->courseid,  'title' => $row['title']), null, FALSE);
		$name = '_blank';
	}

	if($row['res_type']==9){

		$url = $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'beforetest',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE);
	}

	if($row['res_type']==12){

		$url = $this->url(array('module' => 'forum', 'controller' => 'index', 'action' => 'listmsgforum',  'courseid' => $this->courseid,  'semid' => $blockrow['intakeid'], 'forumID' => $row['forumid']), 'default', true);
	}

	if($row['res_type']==13){

		$url = $this->url(array('module' => 'assignment', 'controller' => 'index', 'action' => 'displayassignment',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'blockcontentid' => $row['id']), 'default', true);
	}
	//end yatie test

		?>
               
        
       <?php  if ($row['res_type']==3 || $row['res_type']==7){ ?>
       <a id="<?php echo $row["id"];?>"  name="<?php echo $blockrow['id']; ?>" class="savetrack2" target="<?php echo $name?>" href="<?php echo $url;?>" ><?php	echo $row['title'];?></a>
       <?php } else { ?>     
       <a href="#" onclick="javascript:savetrack('<?php echo $url;?>','<?php echo $row["id"];?>','<?php echo $blockrow['id']; ?>','<?php echo $this->courseid;?>','<?php echo $name;?>','<?php echo $this->intakeid;?>');"><?php	echo $row['title'];?></a>
       <?php } ?> 
        
   </td>
	<td><?php
	echo $row['description'];
        ?></td>
	<td>
	<?php


	$rs2=$block->findForSelect();

	foreach ($rs2 as $roww) {
		if  ($row['res_type']==$roww['id'])
		$restype=$roww['type'];
	}
	echo $restype;
        ?></td>
        
        
         <?php
         $show = $naviauth->navicourse("block", "index", "modifycontent",$this->username,$this->courseid);
         if ($show == 1) {
          ?>
		
        <td>                  
	        <a class="bajax"
			href="<?php
			echo $this->url(
			array('module' => 'block', 'controller' => 'index', 'action' => 'modifycontent', 'courseid' => $this->courseid, 'blockid' => $blockrow['id'],
			'id' => $row['id']), null, FALSE)?>" title="Modify Content"><?php
	            echo $this->translate('edit');?></a>
	            
	        <?php if ($row['res_type']=="9") { ?>
	        |
	        <a 
			href="<?php
			echo $this->url(
			array('module' => 'block', 'controller' => 'test', 'action' => 'index', 'courseid' => $this->courseid, 'blockid' => $blockrow['id'],
			'id' => $row['id']), 'default', TRUE)?>" title="Manage Question"><?php echo $this->translate('manage_ques');?></a>
	        <?php } ?>
        
           | <a href="<?php echo $this->url(array('module' => 'block' , 'controller' => 'index' , 'action' => 'deletecontent', 'courseid' => $this->courseid, 'rowid' =>$row['id'], 'blockid' =>$blockrow['id']),null, FALSE)?>" onclick="return confirm('<?php echo $this->translate('delete_message'); ?>')" title="Delete Content""><?php
            echo $this->translate('delete');?></a>
        
        </td>
        <?php } //end show?>
<input type="hidden" name="fldid<?php echo $bil?>" value="<?php echo $fldid?>">  
<?php
$bil++; }//end foreach row
}
?>
</table>

</div>
<br><br>
<input type="hidden" name="bilgelung" value="<?php echo $bil-1?>"> 

<?php
$j=1;
foreach ($this->vdata as $blockrow2) {
?>
<input type="hidden" name="fldidblk<?php echo $j?>" value="<?php echo $blockrow2['id']?>">
<?php
if ($j!=$i){
?>
<input type="hidden" name="chgnoblk<?php echo $j?>" value="<?php echo $blockrow2['countNo']?>">
<?php
}
?>

<?php
$j++;
}
?>
<input type="hidden" name="bilgelungblk" value="<?php echo $allrecordblock?>"> 
</form>
<?php 
$i++;
}
?>
</div>



 
<div id="dialog2">
dialog box 2!!!
</div>



<script type="text/javascript">



$(function (){
	$('a.savetrack2').click(function() {


		//alert(  $(this).attr("id")  );
		var content_id   =  $(this).attr("id");
		//alert(  $(this).attr("name")  );
		var block_id   =  $(this).attr("name");

		$.post("<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'ajaxsavetrack'),'default',true);?>/block_id/"+block_id+"/content_id/"+content_id+"/course_id/<?php echo $this->courseid?>/intakeid/<?php echo $this->intakeid?>", {
		}, function(response){

			location.reload(true);

		});

	});


	$('#save').click(function() {
		$('#ajax-form').dialog('close');
	});

	$('#cancel').click(function() {
		$('#ajax-form').dialog('close');
	});


	$('a.ajax,a.bajax').click(function() {

		var url = this.href;
		var title = this.title;
		// show a spinner or something via css
		var dialog = $('<div style="display:none;align:left" class="loading"></div>').appendTo('body');
		// open the dialog


		$.ajax({
			cache: false,
			url: url,
			context: document.body,
			success: function(data){
				dialog.dialog({
					position: 'center',
					title: title,
					width: 600,
					autoOpen:false,
					// add a close listener to prevent adding multiple divs to the document
					/*open: function() {

					CKEDITOR.replace( 'description',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  toolbar : [ ['Source'], ['Bold','Italic','Underline','Strike'], ], height: 200, width: 400 } );
					var editor = CKEDITOR.instances['description'];
					if (editor) {
					alert('destroy');
					editor.destroy(true);
					}





					},*/
					close: function(event, ui) {
						// remove div with all data and events
						var editor = CKEDITOR.instances['description'];
						if (editor) {
							//alert('destroy');
							editor.destroy(true);
						}
						dialog.dialog('destroy');

						dialog.remove();

						/*var instance = CKEDITOR.instances['description'];
						if (instance) {
						instance.destroy();
						instance = null;
						};
						// close dialog
						dialog.dialog("destroy").remove();
						*/
						//location.reload(true);

						/*$('#ajax-form').dialog('close');*/

					}
				});


				//});



				//alert(data);
				dialog.html(data);
				dialog.dialog('open');
			}
		});



		//prevent the browser to follow the link
		return false;


	});



});


function addContent(element){
	$("<div class='newbox'>I'm new box by appendTo</div>").appendTo( $(element).parent());
}

function refreshblock(){


	document.forms["f2"].action="<?php
	echo $this->url(
	array('module' => 'block', 'controller' => 'index', 'action' => 'block', 'courseid' => $this->courseid ), 'default', true)?>";
	document.forms["f2"].submit();



}

function refreshblock2(){


	document.forms["f3"].action="<?php
	echo $this->url(
	array('module' => 'block', 'controller' => 'index', 'action' => 'block', 'courseid' => $this->courseid ), 'default', true)?>";
	document.forms["f3"].submit();



}

function autonumber(a,b,namaform) {

	gourl='<?php
	echo $this->url(
	array('module' => 'block', 'controller' => 'index', 'action' => 'block', 'courseid' => $this->courseid, 'intakeid' => $this->intakeid ), 'default', true)?>/fldid/'+a+'/mvno/'+b+'/act/sort';

	namaform.action=gourl;
	namaform.submit();
}

function autonumberblock(a,b,namaform) {

	gourl='<?php
	echo $this->url(
	array('module' => 'block', 'controller' => 'index', 'action' => 'block', 'courseid' => $this->courseid, 'intakeid' => $this->intakeid ), 'default', true)?>/fldidblk/'+a+'/mvnoblk/'+b+'/act/sortblock';

	namaform.action=gourl;
	namaform.submit();
}

</script>
