<div id="contentonly">
<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />



<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/block/jquery.livequerynew.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/block/jquery.form.js"></script>
<script type="text/javascript">

$('.showallfeedback').livequery("click",function(e){

	e.preventDefault();

	var total_comments = $("#feedbacktotals").val();

	$.post("<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'viewfeedback'),'default',true);?>/courseid/<?php echo $this->courseid?>/blockid/<?php echo $this->blockid?>/post_id/<?php echo $this->vdata[0]['id']?>/totals/"+total_comments, {
	}, function(response){

		$('#feedbackPanel').prepend($(response).fadeIn('slow'));
		$('#feedbackcountPanel').hide();

	});
});

$('.submitfeedback').livequery("click",function(e){

	e.preventDefault();

	var total_comments = $("#feedbacktotals").val();

	var options = {
		enctype: 'multipart/form-data',
		success: function(response) {
			$('#feedbackPanel').append($(response).fadeIn('slow'));
			$("#comments").val("");
			$("input#filename").val("");
		}
	};

	// ajax submit nie boleh submit file upload. Very good plugin
	$('#formaddfeedback').ajaxSubmit(options);

	/*$.post("<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'addfeedback'),'default',true);?>/courseid/<?php echo $this->courseid?>/blockid/<?php echo $this->blockid?>/post_id/<?php echo $this->vdata[0]['id']?>", $('#formaddfeedback').serialize()
	, function(response){

	$('#feedbackPanel').append($(response).fadeIn('slow'));

	});*/
});

$('.deletefeedback').livequery("click",function(e){


	if(confirm('<?php echo $this->translate('delete_message')?>')==false)
	return false;

	e.preventDefault();

	var c_id =  $(this).attr('id').replace('fcid-','');

	//alert(c_id);


	$.get("<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'deletefeedback'),'default',true);?>/c_id/"+c_id, {
	}, function(response){

		$('#myfeedback-'+c_id).remove();

	});

});

//showFeedbackBox
$('a.showFeedbackBox').livequery("click", function(e){

	$("#feedbackSubmitPanel").css('display','');
	$("#feedbackSubmitPanel").focus();

});

$('.TakSuka').livequery("click",function(e){

	
	$.post("<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'unlike'),'default',true);?>/post_id/<?php echo $this->vdata[0]['id']?>", {
	}, function(response){

		$('#like-stats').html(response);
		$('#like-panel').html('<a href="javascript: void(0)" class="Suka"><?php echo ucfirst($this->translate('like')) ?></a>');
		$("#feedbackSubmitPanel").focus();

	});
});

$('.Suka').livequery("click",function(e){

	
	$.post("<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'like'),'default',true);?>/post_id/<?php echo $this->vdata[0]['id']?>", {
	}, function(response){

		$('#like-stats').html(response);
		$('#like-panel').html('<a href="javascript: void(0)" class="TakSuka"><?php echo ucfirst($this->translate('unlike')) ?></a>');
		$("#feedbackSubmitPanel").focus();

	});
});

</script>


<table id="Table_01" width="95%" height="550" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
	<td colspan="2" align="right"><br><br><a href="<?php
echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'block', 'courseid' => $this->courseid),'default', true)?>"><?php echo $this->translate('back')?></a></td>
	</tr>
	<tr>
		<td width="5%"></td>
		<td valign="top"><br>
		<?php
		foreach ($this->vdata as $row) {
			$res_type= $row['res_type'];
			$title= $row['title'];
			$description= $row['description'];
			$courseid= $row['courseid'];
			$filename= $row['filename'];
			$url= $row['url'];
		}
		?>
		<?php
		echo stripslashes($url);
		
		/*if ($courseid=="AM502") {
			echo '<p><iframe width="90%" height="315" src="http://www.youtube.com/embed/_tEy6q9U5V0" frameborder="0" allowfullscreen></iframe></p>';
		}*/
		
		?>
		

		
	</tr>
	<tr>
		<td width="5%"></td>
		<td valign="top">
		<br><br>
		<table id="mytable" cellspacing="0" cellpadding="5" width="95%">
<tr>
<th id="mytable" valign="top">
<?php echo $this->translate('title') ?> 
</th>
<td id="mytable" valign="top">
<?php echo $this->vdata[0]['title'] ?>
</td>
</tr>
<tr>
<th id="mytable" valign="top">
<?php echo $this->translate('description') ?> 
</th>
<td id="mytable" valign="top">
<?php echo $this->vdata[0]['description'] ?>
</td>
</tr>




</table>


<br>

<!--start new comment with upload file-->

<?php
//print_r($this->rscomment);
//print_r($this->rsip);
$likesip=$this->rsip['count(*)'];
$likes=$this->rslikes['likes'];
$records=count($this->rscomment);
//echo $records;
$startlimit=0;
if ($records>4)
$startlimit=$records-4;

$limit=$records;
$offset=$startlimit;

$comment = new Block_Model_Blockcomment();
$this->rscomment=$comment->fetchAll("post_id = '".$this->vdata[0]['id']."'","date_created ASC",$limit,$offset)

?>
<div id="feedbackshowcomment">
<table cellspacing="0" cellpadding="5" width="95%">
<tr>
<td>
|&nbsp;
<span id="like-panel">	
<?php
if($likesip > 0){
?>
	<a href="javascript: void(0)" class="TakSuka"><?php echo ucfirst($this->translate('unlike')) ?></a>
<?php }else{?>
	<a href="javascript: void(0)" class="Suka"><?php echo ucfirst($this->translate('like')) ?></a>
<?php }?>
</span>
&nbsp;|&nbsp; 
<?php echo '<a href="javascript: void(0)" class="showFeedbackBox"> '.ucfirst($this->translate('comments')) .'</a>';?>
&nbsp;|
</td>
</tr>
</table>
</div>

<input type="hidden" value="<?php echo $records?>" id="feedbacktotals" />

<div class="likePanel">
<table id="myfeedback" cellspacing="0" cellpadding="5" width="95%">
<tr>
<td>
<img src="<?php echo $this->baseUrl(); ?>/block/like.png" style="float:left;" alt="" />

<span id="like-stats"> <?php echo $likes;?> </span> <?php echo $this->translate('people_like_this')?>.
</td>
</tr>
</table>
</div>
<?php if ($records>4) { ?>
<div id="feedbackcountPanel">
<table id="myfeedback" cellspacing="0" cellpadding="5" width="95%">
<tr>
<td>
<img src="<?php echo $this->baseUrl(); ?>/block/cicon.png" style="float:left;" alt="" />&nbsp;
<?php echo '<a href="javascript: void(0)" class="showallfeedback"> '.$this->translate('view_all').' '.$records.' '.$this->translate('comments') .'</a>';?>
</td>
</tr>
</table>
</div>
<?php } ?>
<div id="feedbackPanel">
<table id="myfeedback" cellspacing="0" cellpadding="5" width="95%">
<?php 
foreach ($this->rscomment as $row) {
	$days2 = floor($row['CommentTimeSpent'] / (60 * 60 * 24));
	$remainder = $row['CommentTimeSpent'] % (60 * 60 * 24);
	$hours = floor($remainder / (60 * 60));
	$remainder = $remainder % (60 * 60);
	$minutes = floor($remainder / 60);
	$seconds = $remainder % 60;

?>

<tr>
<td id="myfeedback-<?php  echo $row['c_id'];?>" valign="top">
<table id="myfeedbacksub" width="100%">
<tr valign="top">
<td width="30px" valign="top">
<?php
$userID= $row['username'];
$thumbnailexists=APPLICATION_PATH . "/../upload". "/photo/".$userID."/thumbnail_pic.jpg";

//echo $thumbnailexists;
if (file_exists($thumbnailexists)) {
?>
<img width="40" height="40" src="<?php echo "/".PATH_UPLOAD."/photo/".$userID."/thumbnail_pic.jpg";?>" border="1" style="float: left; margin-right: 10px;" id="thumbnail" /> 
<?php } else { ?>
<img width="40" height="40" src="<?php echo $this->baseUrl(); ?>/images/nouser/nouser.png" border="1" style="float: left; margin-right: 10px;" id="thumbnail"  /> 
<?php }  ?>
</td>
<td>
<?php echo $row['comments']."<br><br>" ?> 
<?php if ($row['filename']) {?>
<img src="<?php echo $this->baseUrl(); ?>/block/attachment-icon.png" style="float:left;" alt="" /><a href="/<?php echo PATH_UPLOAD?>/blockcontent/<?php echo $this->courseid?>/<?php echo $this->blockid?>/<?php echo $row['filename'] ?>"><?php echo $row['filename'] ?></a> 
<?php } ?>
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
<?php
$user= new Users_Model_Users;
$rsuser= $user->checkuserID ($userID);
echo $this->translate('posted_by')." ".$rsuser['firstname']." ".$rsuser['lastname']."<br>";
if($days2 > 0)
echo date('F d Y', $row['date_created']);
elseif($days2 == 0 && $hours == 0 && $minutes == 0)
echo $this->translate('seconds_ago');
elseif($days2 == 0 && $hours == 0)
echo $minutes.' '.$this->translate('minutes_ago');
elseif($days2 == 0 && $hours > 0)
echo $hours.' '.$this->translate('hours_ago');
else
echo $this->translate('seconds_ago');
?>

<?php
if($row['username'] == $this->username){?>
&nbsp;&nbsp;<a href="javascript: void(0)" id="fcid-<?php  echo $row['c_id'];?>" class="deletefeedback"><?php echo $this->translate('delete')?></a>
<?php
}?>
</td>
</tr>
</table>

</td>
</tr>
<?php 
}
?>
</table>
</div>

<div id="feedbackSubmitPanel" <?php echo (($records) ? '' :'style="display:none"')?>>
<table id="myfeedback" cellspacing="0" cellpadding="5" width="95%" >
<tr>
<td id="myfeedback" valign="top">
<table id="myfeedbacksub" width="100%">
<tr valign="top">
<td width="30px">
<?php
$userID= $this->username;
$thumbnailexists=APPLICATION_PATH . "/../upload". "/photo/".$userID."/thumbnail_pic.jpg";

//echo $thumbnailexists;
if (file_exists($thumbnailexists)) {
?>
<img width="40" height="40" src="<?php echo "/".PATH_UPLOAD."/photo/".$userID."/thumbnail_pic.jpg";?>" border="1" style="float: left; margin-right: 10px; margin-top: 0px;" id="thumbnail" /> 
<?php } else { ?>
<img width="40" height="40" src="<?php echo $this->baseUrl(); ?>/images/nouser/nouser.png" border="1" style="float: left; margin-right: 10px; margin-top: 0px;" id="thumbnail"  /> 
<?php }  ?>
</td>
<td >
<?php echo $this->form; ?>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>

<!--end new comment with upload file-->
<br>
<br>
</td>
	</tr>
</table>
</div>