<div id="contentonly">
<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />


<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/block/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/block/jquery.livequery.js"></script>
<link href="<?php echo $this->baseUrl(); ?>/block/screen.css" type="text/css" rel="stylesheet" />

<script src="<?php echo $this->baseUrl(); ?>/block/jquery.elastic.js" type="text/javascript" charset="utf-8"></script>

<script src="<?php echo $this->baseUrl(); ?>/block/jquery.watermarkinput.js" type="text/javascript"></script>

<script type="text/javascript">

// <![CDATA[

$(document).ready(function(){

	$('.ViewComments').livequery("click",function(e){

		var parent  = $(this).parent();
		var getID   =  parent.attr('id').replace('collapsed-','');

		var total_comments = $("#totals-"+getID).val();

		$("#loader-"+getID).html('<img src="loader.gif" alt="" />');

		$.post("<?php echo $this->baseUrl(); ?>/block/view_comments.php?postId="+getID+"&username=<?php echo $this->username?>&totals="+total_comments, {

		}, function(response){

			$('#CommentPosted'+getID).prepend($(response).fadeIn('slow'));
			$('#collapsed-'+getID).hide();

		});
	});

	/// like

	$('.LikeThis').livequery("click",function(e){

		var getID   =  $(this).attr('id').replace('post_id','');

		$("#like-loader-"+getID).html('<img src="loader.gif" alt="" />');

		$.post("<?php echo $this->baseUrl(); ?>/block/like.php?postId="+getID+"&username=<?php echo $this->username?>", {

		}, function(response){

			$('#like-stats-'+getID).html(response);

			$('#like-panel-'+getID).html('<a href="javascript: void(0)" id="post_id'+getID+'" class="Unlike">Unlike</a>');

			$("#like-loader-"+getID).html('');

			$("#commentMark-"+getID).focus();

		});
	});

	/// unlike

	$('.Unlike').livequery("click",function(e){

		var getID   =  $(this).attr('id').replace('post_id','');

		$("#like-loader-"+getID).html('<img src="loader.gif" alt="" />');

		$.post("<?php echo $this->baseUrl(); ?>/block/unlike.php?postId="+getID+"&username=<?php echo $this->username?>", {

		}, function(response){

			$('#like-stats-'+getID).html(response);

			$('#like-panel-'+getID).html('<a href="javascript: void(0)" id="post_id'+getID+'" class="LikeThis">Like</a>');

			$("#like-loader-"+getID).html('');

			$("#commentMark-"+getID).focus();

		});
	});
	

	$('#shareButton').click(function(){

		var a = $("#watermark").val();
		if(a != "What's on your mind?")
		{
			$.post("<?php echo $this->baseUrl(); ?>/block/posts.php?value="+a+"&username=<?php echo $this->username?>", {

			}, function(response){

				$('#posting').prepend($(response).fadeIn('slow'));
				$("#watermark").val("What's on your mind?");
			});
		}
	});


	$('.commentMark').livequery("focus", function(e){

		var parent  = $('.commentMark').parent();
		$(".commentBox").children(".commentMark").css('width','320px');
		$(".commentBox").children("a#SubmitComment").hide();
		$(".commentBox").children(".CommentImg").hide();

		var getID =  parent.attr('id').replace('record-','');
		$("#commentBox-"+getID).children("a#SubmitComment").show();
		$('.commentMark').css('width','300px');
		$("#commentBox-"+getID).children(".CommentImg").show();
	});

	//showCommentBox
	$('a.showCommentBox').livequery("click", function(e){

		var getpID =  $(this).attr('id').replace('post_id','');

		$("#commentBox-"+getpID).css('display','');
		$("#commentMark-"+getpID).focus();
		$("#commentBox-"+getpID).children("CommentImg").show();
		$("#commentBox-"+getpID).children("a#SubmitComment").show();
	});

	//SubmitComment
	$('a.comment').livequery("click", function(e){

		var getpID =  $(this).parent().attr('id').replace('commentBox-','');
		var comment_text = $("#commentMark-"+getpID).val();

		if(comment_text != "Write a comment...")
		{
			$.post("<?php echo $this->baseUrl(); ?>/block/add_comment.php?comment_text="+comment_text+"&post_id="+getpID+"&username=<?php echo $this->username?>", {


			}, function(response){

				$('#CommentPosted'+getpID).append($(response).fadeIn('slow'));
				$("#commentMark-"+getpID).val("Write a comment...");
			});
		}

	});

	//more records show
	$('a.more_records').livequery("click", function(e){

		var next =  $('a.more_records').attr('id').replace('more_','');

		$.post("<?php echo $this->baseUrl(); ?>/block/posts.php?show_more_post="+next+"&username=<?php echo $this->username?>", {

		}, function(response){
			$('#bottomMoreButton').remove();
			$('#posting').append($(response).fadeIn('slow'));

		});

	});

	//deleteComment
	$('a.c_delete').livequery("click", function(e){

		if(confirm('Are you sure you want to delete this comment?')==false)

		return false;

		e.preventDefault();
		var parent  = $(this).parent();
		var c_id =  $(this).attr('id').replace('CID-','');

		$.ajax({

			type: 'get',

			url: '<?php echo $this->baseUrl(); ?>/block/delete_comment.php?c_id='+ c_id+"&username=<?php echo $this->username?>",

			data: '',

			beforeSend: function(){

			},

			success: function(){

				parent.fadeOut(200,function(){

					parent.remove();

				});

			}

		});
	});

	/// hover show remove button
	$('.friends_area').livequery("mouseenter", function(e){
		$(this).children("a.delete").show();
	});
	$('.friends_area').livequery("mouseleave", function(e){
		$('a.delete').hide();
	});
	/// hover show remove button


	$('a.delete').livequery("click", function(e){

		if(confirm('Are you sure you want to delete this post?')==false)

		return false;

		e.preventDefault();

		var parent  = $(this).parent();

		var temp    = parent.attr('id').replace('record-','');

		var main_tr = $('#'+temp).parent();

		$.ajax({

			type: 'get',

			url: '<?php echo $this->baseUrl(); ?>/block/delete.php?id='+ parent.attr('id').replace('record-',''),

			data: '',

			beforeSend: function(){

			},

			success: function(){

				parent.fadeOut(200,function(){

					main_tr.remove();

				});

			}

		});

	});

	$('textarea').elastic();

	jQuery(function($){

		$("#watermark").Watermark("What's on your mind?");
		$(".commentMark").Watermark("Write a comment...");

	});

	jQuery(function($){

		$("#watermark").Watermark("watermark","#369");
		$(".commentMark").Watermark("watermark","#EEEEEE");

	});

	function UseData(){

		$.Watermark.HideAll();

		//Do Stuff

		$.Watermark.ShowAll();

	}

});

// ]]>

</script>


<table id="Table_01" width="95%" height="550" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
	<td colspan="2" align="right"><br><br><a href="<?php
echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'block', 'courseid' => $this->courseid),'default', true)?>"><?php echo $this->translate('back')?></a></td>
	</tr>
	<tr>
		<td width="5%"></td>
		<td valign="top"><br><iframe name="content" id="content" width="100%" height="420" frameborder="0" scrolling="auto" src="<?php
echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'displayresource2', 'courseid' => $this->courseid, 'blockid' => $this->blockid, 'id' => $this->vdata[0]['id']),null, FALSE)?>"></iframe><br><br>
		
		</td>
</tr>
	<tr>
		<td width="5%"></td>
		<td valign="top">
		<br><br>
		
		<table id="mytable" cellspacing="0" cellpadding="5" width="95%">
<tr>
<th id="mytable" valign="top">
<?php echo $this->translate('title') ?> 
</th>
<td id="mytable" valign="top">
<?php echo $this->vdata[0]['title'] ?>
</td>
</tr>
<tr>
<th id="mytable" valign="top">
<?php echo $this->translate('description') ?> 
</th>
<td id="mytable" valign="top">
<?php echo $this->vdata[0]['description'] ?>
</td>
</tr>

</table>

<div align="left">
	
		
	
		<div id="posting" align="left">
	
		<?php
		include(DOC_PATH.'/'.APP_FOLDER.'/public/block/config.php');

		include(DOC_PATH.'/'.APP_FOLDER.'/public/block/posts.php');

		?>
		  
		</div>
	</div>

		<br clear="all" /><br clear="all" /><br clear="all" />
		<br clear="all" />
</td>
	</tr>
</table>
</div>