<script>
$(document).ready(function(){
	$("#start_time").datepicker({
		dateFormat : "yy-mm-dd",
		timeFormat: 'hh:mm:ss',
		minDate: 0,
		maxDate: "+1000D",
		numberOfMonths: 2,
		onSelect: function(selected) {
			$("#end_time").datepicker("option","minDate", selected)
		}
	});
	$("#end_time").datepicker({
		dateFormat : "yy-mm-dd",
		timeFormat: 'hh:mm:ss',
		minDate: 0,
		maxDate:"+1000D",
		numberOfMonths: 2,
		onSelect: function(selected) {
			$("#start_time").datepicker("option","maxDate", selected)
		}
	});
});
</script>
<?php

//print_r($this->vdata);

foreach ($this->vdata as $row) {
	$res_type= $row['res_type'];
	$title= $row['title'];
	$description= $row['description'];
	$filename= $row['filename'];
	$url= $row['url'];
	
	if ($res_type==9){
		$test = new Block_Model_Test();
		$rowtest=$test->fetch( $row['id'] );

	}
}

?>
<script type="text/javascript">



/*if (CKEDITOR.instances['description']) {
delete CKEDITOR.instances['description']
};*/
/*
var editor = CKEDITOR.instances['description'];
if (editor) {
	alert('destroy');
	editor.destroy(true);
}
*/
CKEDITOR.replace( 'description',{ toolbar : [ ['Source'], ['Bold','Italic','Underline','Strike'], ], height: 200, width: 400 } );
//alert( document.getElementById( 'description' ).value ); 
/*var editor = CKEDITOR.instances['description'];
alert( editor.checkDirty() );*/

//console.log(CKEDITOR.instances['description'].getData());

</script>


<div id="contentonly">

<!--<h3><?php echo $this->translate('modify').' '.$this->translate('resource')?></h3>-->

<form enctype="multipart/form-data" method="post" action="/block/index/modifycontent/id/<?php echo $row['id']?>">
<dl class="zend_form">

<dt id="res_type-label"><label for="res_type" class="required"><?php echo $this->translate('type') ?>:</label></dt>
<dd id="res_type-element"><?php echo $this->res_type ?>
<select name="res_type" id="res_type">
	<option value="" label="Please Select"><?php echo $this->translate('type') ?>...</option>
    <?php 
    foreach ($this->rs_type as $row) {

    	if ($res_type==$row['id'])
    	$selected="selected";
    	else
    	$selected="";
    	echo '<option '.$selected.' value="'.$row['id'].'" label="'.$row['type'].'">'.$row['type'].'</option>';
    }
    ?>
</select></dd>

<dt id="title-label"><label for="title" class="required"><?php echo $this->translate('title') ?> :</label></dt>
<dd id="title-element">
<input type="text" name="title" id="title" value="<?php echo $title ?>"></dd>

<dt id="description-label"><label for="description" class="required"><?php echo $this->translate('description') ?> :</label></dt>
<dd id="description-element">
<textarea name="description" id="description" rows="24" cols="80"><?php echo $description ?></textarea></dd>


<dt id="courseid-label">&#160;</dt>
<dd id="courseid-element">
<input type="hidden" name="courseid" value="<?php echo $this->courseid?>" id="courseid"></dd>

<dt id="blockid-label">&#160;</dt>
<dd id="blockid-element">
<input type="hidden" name="blockid" value="<?php echo $this->blockid?>" id="blockid"></dd>


<div id="file_upload" name="file_upload" class="file_options">
<dt id="filename-label"><label for="filename" class="optional"><?php echo $this->translate('upload').' '.$this->translate('file')?> :</label></dt>
<dd>


<input type="file" name="filename" id="filename"></dd>
</div>



<div id="url_upload" name="url_upload" class="url_options">
<dt id="url-label"><label for="url" class="optional">Url:</label></dt>
<dd>
<input type="text" name="link" id="link" value="<?php echo $url ?>"></dd>
</div>

<div id="embed_upload" name="embed_upload" class="embed_options">
<dt id="embed-label"><label for="embed" class="optional">Embed Code:</label></dt>
<dd>

<input type="text" name="url" id="url" value="<?php 
$url = str_replace('"',"'",$url);
echo stripslashes($url) ?>"></dd>
</div>


<div id="test_thing" name="test_thing" class="test_options">
<?php 
//date_default_timezone_set('Asia/Kuala_Lumpur'); 
$std=date('d-M-Y',$rowtest['start_time']);$etd=date('d-M-Y',$rowtest['end_time']); ?>

<table>
<tr>
<td><?php echo $this->translate('time_duration') ?>:</td>
<td>
<input type="text" name="test_time" id="test_time" style="width:55px" value="<?php echo $rowtest['test_time']?>" ><?php echo $this->translate('minutes') ?>
</td>
</tr>
<tr>
<td><?php echo $this->translate('start_time') ?>:</td>
<td>
<input type="text" id="start_time" name="start_time" style="width:55px" value="<?php echo $std ?>" >
<select  name="Shour" id="Shour"><option value="HH">HH</option><?php for($i=1; $i<=12; $i++){ if($i<='9'){ $j="0".$i;} else{ $j=$i;} ?><option value="<?php echo $j?>"  <?php if($j==date('h',$rowtest['start_time'])){ echo "selected";}?> ><?php echo $j?></option><?php } ?></select>
<select  name="Sminute" id="Sminute"><option value="MM" >MM</option><?php for($i=0; $i<=60; $i++){ if($i<='9'){ $j="0".$i;} else{ $j=$i;} ?><option value="<?php echo $j?>"  <?php if($j==date('i',$rowtest['start_time'])){ echo "selected";}?> ><?php echo $j?></option><?php } ?></select> 
<select name="Sampm"><option value="AM" <?php if(date('A',$rowtest['start_time'])=="AM"){ echo "selected";}?>>AM</option><option value="PM"  <?php if(date('A',$rowtest['start_time'])=="PM"){ echo "selected";}?>>PM</option></select>
</td>
</tr>
<tr>
<td><?php echo $this->translate('end_time') ?>:</td>
<td>
<input type="text" id="end_time" name="end_time" style="width:55px" value="<?php echo $etd ?>" >
<select  name="Ehour" id="Ehour"><option value="HH">HH</option><?php for($i=1; $i<=12; $i++){ if($i<='9'){ $j="0".$i;} else{ $j=$i;} ?><option value="<?php echo $j?>"  <?php if($j==date('h',$rowtest['end_time'])){ echo "selected";}?> ><?php echo $j?></option><?php } ?></select>
<select  name="Eminute" id="Eminute"><option value="MM" >MM</option><?php for($i=0; $i<=60; $i++){ if($i<='9'){ $j="0".$i;} else{ $j=$i;} ?><option value="<?php echo $j?>"  <?php if($j==date('i',$rowtest['end_time'])){ echo "selected";}?> ><?php echo $j?></option><?php } ?></select> 
<select name="Eampm"><option value="AM"  <?php if(date('A',$rowtest['end_time'])=="AM"){ echo "selected";}?>>AM</option><option value="PM"  <?php if(date('A',$rowtest['end_time'])=="PM"){ echo "selected";}?>>PM</option></select>
</td>
</tr>
<tr>
<td><?php echo $this->translate('percentage_to_pass') ?>:</td>
<td>
<select  name="reqpercentage" id="reqpercentage"><?php for($i=1; $i<=100; $i++){ ?><option value="<?php echo $i?>" <?php if($rowtest['reqpercentage']==$i){ echo "selected";}?> ><?php echo $i?></option><?php } ?></select>%
</td>
</tr>
<tr>
<td><?php echo $this->translate('allow_view_answer') ?>:</td>
<td>
<input type="radio" name="answer_view" value="1"  <?php if($rowtest['answer_view']=="1"){ echo "checked";}?>> <?php echo $this->translate('yes') ?> &nbsp;&nbsp; <input type="radio" name="answer_view" value="0"  <?php if($rowtest['answer_view']=="0"){ echo "checked";}?> > <?php echo $this->translate('no') ?>
</td>
</tr>
<tr>
<td><?php echo $this->translate('max_attempts') ?>:</td>
<td>
<select name="attempts"><?php for($i=1; $i<=100;$i++){ ?><option value="<?php echo $i;?>" <?php if($i==$rowtest['attempts']){ echo "selected";}?> ><?php echo $i?></option><?php }?></select>
</td>
</tr>
<tr>
<td><?php echo $this->translate('allow_random') ?>:</td>
<td>
<input type="radio" name="allow_random" value="1"  <?php if($rowtest['allow_random']=="1"){ echo "checked";}?>> <?php echo $this->translate('yes') ?> &nbsp;&nbsp; <input type="radio" name="allow_random" value="0"  <?php if($rowtest['allow_random']=="0"){ echo "checked";}?> > <?php echo $this->translate('no') ?>
</td>
</tr>
</table>
</div>


<dt id="buttons-label">&#160;</dt><dd id="buttons-element"><div class="buttons">

<input type="submit" class="button" name="save" id="save" value="<?php echo $this->translate('modify').' '.$this->translate('content')?>">

<input type="submit" class="button" name="cancel" id="cancel" value="<?php echo $this->translate('cancel')?>" onClick="window.location ='<?php echo $this->baseUrl(); ?>/block/index/block/courseid/<?php echo $this->courseid?>'; return false;"></div></dd>

</dl></form>
</div>
<script>
if ($('#res_type option:selected').val()==1 || $('#res_type option:selected').val()==2 || $('#res_type option:selected').val()==4 || $('#res_type option:selected').val()==5 || $('#res_type option:selected').val()==8){
	$("#file_upload").show();
	$("#url_upload").hide();
	$("#embed_upload").hide();
	$(".test_options").hide();
}
if ($('#res_type option:selected').val()==3){
	$("#file_upload").hide();
	$("#url_upload").show();
	$("#embed_upload").hide();
	$(".test_options").hide();
}
if ($('#res_type option:selected').val()==6){
	$("#file_upload").hide();
	$("#url_upload").hide();
	$("#embed_upload").show();
	$(".test_options").hide();
}
if ($('#res_type option:selected').val()==7 || $('#res_type option:selected').val()==12){
	$("#file_upload").hide();
	$("#url_upload").hide();
	$("#embed_upload").hide();
	$(".test_options").hide();
}
if ($('#res_type option:selected').val()==9){
	$("#file_upload").hide();
	$("#url_upload").hide();
	$("#embed_upload").hide();
	$("#test_thing").show();
}
/*else {
$("#file_upload").hide();
$("#url_upload").hide();
$("#embed_upload").hide();
}*/


$("#res_type").change(function () {
	//alert('Value change to ' + $(this).attr('value'));

	if ($(this).attr('value')==1 || $(this).attr('value')==2 || $(this).attr('value')==4 || $(this).attr('value')==5 || $(this).attr('value')==8){
		$("#file_upload").show();
		$("#url_upload").hide();
		$("#embed_upload").hide();
		$(".test_options").hide();
	} else if ($(this).attr('value')==3) {
		$("#file_upload").hide();
		$("#url_upload").show();
		$("#embed_upload").hide();
		$(".test_options").hide();
	} else if ($(this).attr('value')==6) {
		$("#file_upload").hide();
		$("#url_upload").hide();
		$("#embed_upload").show();
		$(".test_options").hide();
	} else if ($(this).attr('value')==9) {
		$("#file_upload").hide();
		$("#url_upload").hide();
		$("#embed_upload").hide();
		$(".test_options").show();
	}else {
		$("#file_upload").hide();
		$("#url_upload").hide();
		$("#embed_upload").hide();
		$(".test_options").hide();
	}

});

$('#filename').change( function() {
	var filename = $(this).val();
	if ($('#res_type option:selected').val()==1){
		if ( ! /\.doc$/.test(filename) && ! /\.docx$/.test(filename) && ! /\.xls$/.test(filename) && ! /\.xlsx$/.test(filename) && ! /\.ppt$/.test(filename) && ! /\.pptx$/.test(filename) ) {
			alert('Please select doc,docx,xls,xlsx,ppt,pptx file');
		}
	}
	else if ($('#res_type option:selected').val()==2){
		if ( ! /\.pdf$/.test(filename)) {
			alert('Please select a pdf file');
		}
	}
	else if ($('#res_type option:selected').val()==4){
		if ( ! /\.flv$/.test(filename)) {
			alert('Please select a flv file');
		}
	}
	else if ($('#res_type option:selected').val()==5){
		if ( ! /\.wav$/.test(filename)) {
			alert('Please select a wav file');
		}
	}
});

$("form").submit(function() {
	if ($('#res_type option:selected').val()==""){
		alert("Please select resource type");
		return false;

	}

	else if ($('#title').val()==""){
		alert("Please provide title");
		return false;

	}

	else if ($('#res_type option:selected').val()==3 ){
		if ($('#link').val()==""){
			alert("Please provide url");
			return false;
		}
	}

	if ($('#res_type option:selected').val()==9 ){


		if ($('#start_time').val()==""){
			alert("Please provide start time");
			return false;
		}
		else if ($('#Shour').val()=="" || $('#Shour').val()=="HH"){
			alert("Please provide start time hour");
			return false;
		}

		else if ($('#Sminute').val()=="" || $('#Sminute').val()=="MM"){
			alert("Please provide start time minute");
			return false;
		}

		else if ($('#end_time').val()==""){
			alert("Please provide end time");
			return false;
		}

		else if ($('#Ehour').val()=="" || $('#Ehour').val()=="HH"){
			alert("Please provide end time hour");
			return false;
		}

		else if ($('#Eminute').val()=="" || $('#Eminute').val()=="MM"){
			alert("Please provide end time minute");
			return false;
		}

		else if ($('#test_time').val()==""){
			alert("Please provide test time");
			return false;
		}

		else if ($('#reqpercentage').val()==""){
			alert("Please provide requirement percentage");
			return false;
		}
		else if (!$("input[@name='answer_view']:checked").val()) {
			alert("Please select answer view");
			return false;
		}
		else if (!$("input[@name='allow_random']:checked").val()) {
			alert("Please select allow random");
			return false;
		}

	}
	
	else if ($('#res_type option:selected').val()!='<?php echo $res_type?>'){
		if ($('#filename').val()==""){
			alert("Please select file");
			return false;
		}
	}
	
	


});
</script>