    <?php if ($this->pageCount): ?>
    <div>
    <?php if ($this->last>1) { ?>
    
    <!-- First page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->first)); ?>">
        <?php //echo $this->translate('first'); ?><img src="<?php echo $this->baseUrl(); ?>/images/qbank/firstexam.png" alt=""/>
      </a> |
    <?php else: ?>
      <span class="disabled"><?php //echo $this->translate('first'); ?><img src="<?php echo $this->baseUrl(); ?>/images/qbank/firstexam.png" alt=""/></span> |
    <?php endif; ?>
     
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">
        <?php // echo $this->translate('previous'); ?>
        <img src="<?php echo $this->baseUrl(); ?>/images/qbank/prevexam.png" alt=""/>
      </a> |
    <?php else: ?>
       <span class="disabled"> <?php //echo $this->translate('previous'); ?><img src="<?php echo $this->baseUrl(); ?>/images/qbank/prevexam.png" alt=""/></span> |
    <?php endif; ?>
    
    <!-- Numbered page links -->
	
    <?php /*foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a>
            <?php else: ?>
                <?php echo $page; ?>
            <?php endif; ?>
        <?php endforeach;*/ ?>
   
     
    
	
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->next)); ?>">
        <?php //echo $this->translate('next'); ?> <img src="<?php echo $this->baseUrl(); ?>/images/qbank/nextexam.png" alt=""/> 
      </a> |
    <?php else: ?>
      <span class="disabled"><?php //echo $this->translate('next'); ?> <img src="<?php echo $this->baseUrl(); ?>/images/qbank/nextexam.png" alt=""/> </span> |
    <?php endif; ?>
     
    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->last)); ?>">
        <?php //echo $this->translate('last'); ?><img src="<?php echo $this->baseUrl(); ?>/images/qbank/lastexam.png" alt=""/>
      </a>
    <?php else: ?>
      <span class="disabled"> <?php //echo $this->translate('last'); ?><img src="<?php echo $this->baseUrl(); ?>/images/qbank/lastexam.png" alt=""/></span>
    <?php endif; ?>
    
    &nbsp; &nbsp; &nbsp; <?php echo $this->translate('jump_to_ques'); ?>
    <select name="jumppage" id="jumppage" onchange="jumppagedd()">
    <?php
	foreach ($this->pagesInRange as $page):
		?>
		<option <?php if ($page == $this->current) { echo "selected"; }?> value="<?php echo $page; ?>"><?php echo $page; ?></option>
	<?php endforeach; ?>
	</select>
    
     <?php } ?>
    </div>
    <?php endif; ?>
    
    