<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (page1.psd) -->
<table id="Table_01" width="100%" height="884" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td background="<?php echo $this->baseUrl(); ?>/images/course_pg/blue_bg.jpg" width="10%">&nbsp;</td>
		<td width="1%"></td>
		<td><br><iframe name="content" id="content" width="100%" height="884" frameborder="0" scrolling="auto" src="<?php
echo $this->url(array('module'=>'forum' , 'controller' => 'monitoring' , 'action' => 'viewmessage', 'courseid' => $this->courseid, 'groupid' => $this->groupid, 'userid' => $this->userid, 'usedate' => $this->usedate, 'start_date' => $this->start_date, 'end_date' => $this->end_date, act => $this->act),'default', true)?>"></iframe></td>
		<td width="1%"></td>
		<td align="right" width="343">
			<img src="<?php echo $this->baseUrl(); ?>/images/course_pg/picture04.jpg" width="343" height="884" alt=""></td>
		<td background="<?php echo $this->baseUrl(); ?>/images/course_pg/blue_bg.jpg" width="10%">			</td>
	</tr>
</table>
<!-- End ImageReady Slices -->
</body>
</html>