<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
include_once('setcal.php');
?>
<SCRIPT LANGUAGE="JavaScript">

function EnableCalendarDiv()
{
	var ni = document.getElementById('calendardiv');
	
	ni.style.display = "inline";
	
}

function DisableCalendarDiv()
{

	var ni = document.getElementById('calendardiv');
	
	ni.style.display = "none";

}
</script>
</head>
<body>

  <div id="contentonly">      
        
        <form name="form1" method="post">
  <table width="80%" id="data_border">
    <tr>
      <td><table width="100%" border="0" cellpadding="2" cellspacing="0" bordercolor="#000000">
      
      	<tr>
            <td width="20%" ><font color="#333333" size="1" face="Verdana, Arial, Helvetica, sans-serif"><strong><?php echo $this->translate("semester_id")?></strong></font></td>
            <td > <font size="1" face="Verdana, Arial, Helvetica, sans-serif">
            <?php
            $intake = new Admin_Model_Intake ();
        	$result =  $intake->fetchsemua();  
        	$monitoring = new Forum_Model_Monitoring ();
        	$forum = new Forum_Model_Forum();
            
           
            if (is_array($result))
            {
			?>
				<select name="semid" id="semid">
				<option value="0"><?php echo $this->translate("please_select")?></option>
				<?php
				foreach ($result as $row) 
				{
					
					?>
					<option <?php if($row["id"]==$this->semid){?>selected<?php }?> value=<?php echo $row["id"];?> ><?php echo $row["intakecode"];?></option>
					<?php
					
				}
				?>
				</select>
			<?php
            }
             
			?>

            </font></td>
        </tr>

		<tr>
            <td width="20%" ><font color="#333333" size="1" face="Verdana, Arial, Helvetica, sans-serif"><strong><?php echo $this->translate("courseid")?></strong></font></td>
            <td > <font size="1" face="Verdana, Arial, Helvetica, sans-serif">
            <?php
            $course = new Application_Model_Course ();
			$rscourse = $course->listcourse ();
            
			if (is_array($rscourse))
            {
			?>
				<select name="cid" id="cid">
				<option value=""><?php echo $this->translate("all")?></option>
				<?php
				foreach ($rscourse as $row) 
				{
					?>
					<option <?php if($row["courseid"]==$this->cid){?>selected<?php }?> value=<?php echo $row["courseid"];?> ><?php echo $row["courseid"];?></option>
					<?php
					
				}
				?>
				</select>
			<?php
            }
             else
            {
			?>
				<select name="cid" id="cid">
				<option value=""><?php echo $this->translate("all")?></option>
				</select>
			<?php
            }
			?>

            </font></td>
        </tr>
		
        <tr>
            <td valign="middle" ><strong><font color="#333333" size="1" face="Verdana, Arial, Helvetica, sans-serif"><?php echo $this->translate("keyword")?></font></strong></td>
            <td valign="middle" > <font size="1" face="Verdana, Arial, Helvetica, sans-serif">
            <input name="keyworduser" type="text" id="keyworduser" value="<?php echo $this->keyworduser ?>">
            </font></td>
        </tr>
        
        <tr>
            <td valign="middle" ><strong><font color="#333333" size="1" face="Verdana, Arial, Helvetica, sans-serif"><?php echo $this->translate("filter")?></font></strong></td>
            <td valign="middle" > <font size="1" face="Verdana, Arial, Helvetica, sans-serif">
            <select name="filter" id="filter">
				<option <?if($this->filter==""){?>selected<?}?> value="">Active/Not Active EOS</option>
				<option <?if($this->filter=="1"){?>selected<?}?> value="1">Active EOS( > 15 Messages)</option>
				<option <?if($this->filter=="0"){?>selected<?}?> value="0">Not Active EOS ( < 16 Messages)</option>
			</select>
            </font></td>
        </tr>
        <tr>
			<td valign="middle"><?php echo $this->translate("use_spec_date")?></td>
			<td valign="middle">
			
				<input type="radio"  onClick="DisableCalendarDiv();"  <?php if ($this->useDate==0 || $this->useDate=="") echo "CHECKED";?> value="0" name="useDate"><?php echo $this->translate("no")?>
				<input type="radio"  onClick="EnableCalendarDiv();"   <?php if ($this->useDate==1) echo "CHECKED";?> value="1" name="useDate"><?php echo $this->translate("yes")?>
			</td>
			
		</tr>
		<tr>
		<td colspan="2">
		<div id="calendardiv" name="calendar div" <?php if ($this->useDate==1) {echo 'style="display: inline"';} else {echo 'style="display: none"';}?>>
		<table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#000000">
		<tr>
	        <td width="20%" valign="middle" >&nbsp;<INPUT TYPE="hidden" NAME="chkStartDate">
            <?php echo $this->translate("start_display")?></td>
			<td valign="middle" >
			<input type="text"  name="start_date" id="start_date" readonly="1" value="<?php echo $this->start_date?>"/><img src="<?php echo $this->baseUrl()?>/zpcal/themes/icons/calendar4.gif" id="button8a" style="cursor: pointer; border: 1px solid red;" title="Date selector" onMouseOver="this.style.background='red';" onMouseOut="this.style.background=''" /></td>
			</tr>
		<tr>
	        <td valign="middle">&nbsp;<INPUT TYPE="hidden" NAME="chkEndDate">
            <?php echo $this->translate("stop_display")?></td>
			<td valign="middle">
			<input type="text" name="end_date" id="end_date"  readonly="1" value="<?php echo $this->end_date?>"/><img src="<?php echo $this->baseUrl()?>/zpcal/themes/icons/calendar4.gif" id="button8b" style="cursor: pointer; border: 1px solid blue;" title="Date selector" onMouseOver="this.style.background='blue';" onMouseOut="this.style.background=''" /></td>
			</tr>
		</table>
		<script language="JavaScript" src="<?php echo $this->baseUrl(); ?>/js/daterange.js"></script>
		</div>	
		</td>
		</tr>
			
        <tr>
            <td><strong><font color="#333333" size="1" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font></strong></td>
            <td > <font size="1" face="Verdana, Arial, Helvetica, sans-serif">
            <input name="Submit" type="submit" value="<?php echo $this->translate("search")?>">
            </font></td>
        </tr>
        </table></td>
    </tr>
  </table>
<font color="#000000" size="1" face="Verdana, Arial, Helvetica, sans-serif"><?php echo $this->translate("tips")?><br>
  <?php echo $this->translate("forum_mesg1")?> </strong></font><strong><font color="#000000">.</font>
</form>
        
        <br>
        <br>
        
        

<?php

if ($this->filter==""){

if (count($this->paginator)){ 
?>
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" width="25"><?php echo $this->translate('no'); ?></th>
<th id="mytable"><?php echo $this->translate('fullname'); ?></th>
<th id="mytable"><?php echo $this->translate('semester_id'); ?></th>
<th id="mytable"><?php echo $this->translate('courseid'); ?></th>
<th id="mytable"><?php echo $this->translate('mesg_posted'); ?> <?php echo $this->translate('by'); ?> <?php echo $this->translate('user'); ?></th>
<th id="mytable"><?php echo $this->translate('mesg_posted'); ?> <?php echo $this->translate('by'); ?> <?php echo $this->translate('student'); ?></th>
<th id="mytable"><?php echo $this->translate('total'); ?> <?php echo $this->translate('mesg_posted'); ?></th>
<th id="mytable"><?php echo $this->translate('no_of_students'); ?> </th>
</tr>
<?
$i=0;


foreach ($this->paginator as $row) {
	
	echo "<tr><td id='mytable'>";

	echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$i;
	
	echo "</td>";
	echo "<td id='mytable'>";

	echo $row['firstname'];
	
	echo "</td>";

	echo "<td id='mytable'>";

	$result=$intake->fetch($row['intakeid']);
    echo $result["intakecode"];
	
	echo "</td>";
	echo "<td id='mytable'>";

	echo $row['courseid'];
	
	echo "</td>";
	
	echo "<td id='mytable'>";
	
	$bilmesg=$monitoring->countforummesg($row['courseid'],$row['userID'],$row['id'],"",$this->useDate,$this->start_date,$this->end_date);
	
	
	if ($bilmesg!=0){
    ?>
		<a target="_blank"
		href="<?php
            echo $this->url(
            array('module' => 'forum', 'controller' => 'monitoring', 'action' => 'framepage1', 
            'courseid' => $row['courseid'], 'userid' => $row['userID'], 'groupid' => $row['id'], 'usedate' => $this->useDate, 'start_date' => $this->start_date, 'end_date' => $this->end_date, 'filter' => $this->filter, 'act' => 'viewmessagetutor'), 'default', true)?>">
	<?php
    }
	echo $bilmesg;
	
	if ($bilmesg!=0){
    ?>
		</a>
	<?php
    }

	echo "</td>";
	echo "<td id='mytable'>";
	
	
	
	$bilmesg=$monitoring->countforummesgbystudent($row['courseid'],$row['userID'],$row['id'],"",$this->useDate,$this->start_date,$this->end_date);
	
	
	if ($bilmesg!=0){
    ?>
		<a target="_blank"
		href="<?php
            echo $this->url(
            array('module' => 'forum', 'controller' => 'monitoring', 'action' => 'framepage1', 
            'courseid' => $row['courseid'], 'userid' => $row['userID'], 'groupid' => $row['id'], 'usedate' => $this->useDate, 'start_date' => $this->start_date, 'end_date' => $this->end_date, 'filter' => $this->filter, 'act' => 'viewmessagestudent'), 'default', true)?>">
	<?php
    }
	echo $bilmesg;
	
	if ($bilmesg!=0){
    ?>
		</a>
	<?php
    }


	
	echo "</td>";
	echo "<td id='mytable'>";
	
	$bilmesg=$monitoring->countforummesgtotal($row['courseid'],$row['userID'],$row['id'],"",$this->useDate,$this->start_date,$this->end_date);
	
	if ($bilmesg!=0){
    ?>
		<a target="_blank"
		href="<?php
            echo $this->url(
            array('module' => 'forum', 'controller' => 'monitoring', 'action' => 'framepage1', 
            'courseid' => $row['courseid'], 'userid' => $row['userID'], 'groupid' => $row['id'], 'usedate' => $this->useDate, 'start_date' => $this->start_date, 'end_date' => $this->end_date, 'filter' => $this->filter, 'act' => 'viewmessageall'), 'default', true)?>">
	<?php
    }
	echo $bilmesg;
	
	if ($bilmesg!=0){
    ?>
		</a>
	<?php
    }

	echo "</td>";
	
	echo "</td>";
	echo "<td id='mytable'>";
	
	$biluser=$forum->countforumuser($row['id']);
	?>
	
	<a target="_blank"
	 href="<?php
echo $this->url(array('module'=>'forum' , 'controller' => 'index' , 'action' => 'framepage1', 'courseid'=> $row['courseid'], 'groupid' => $row['id']),'default',true)?>">
	<?php
	echo $biluser['biluser'];
	?>
	</a>
	
	<?php

	echo "</td><tr>";
	
	$i++;
	
}
?>

</table>

<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'paginationspecial2.phtml',$this->searchParams);
?>
<?php } 

} else {
?>
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" width="25"><?php echo $this->translate('no'); ?></th>
<th id="mytable"><?php echo $this->translate('fullname'); ?></th>
<th id="mytable"><?php echo $this->translate('semester_id'); ?></th>
<th id="mytable"><?php echo $this->translate('courseid'); ?></th>
<th id="mytable"><?php echo $this->translate('mesg_posted'); ?> <?php echo $this->translate('by'); ?> <?php echo $this->translate('user'); ?></th>
<th id="mytable"><?php echo $this->translate('mesg_posted'); ?> <?php echo $this->translate('by'); ?> <?php echo $this->translate('student'); ?></th>
<th id="mytable"><?php echo $this->translate('total'); ?> <?php echo $this->translate('mesg_posted'); ?></th>
<th id="mytable"><?php echo $this->translate('no_of_students'); ?> </th>
</tr>
<?

$i=1;


foreach ($this->select as $row) {
	$bilmesg=$monitoring->countforummesg($row['courseid'],$row['userID'],$row['id'],"",$this->useDate,$this->start_date,$this->end_date);
	
	$bilmesgtutor = $bilmesg;
	
	if (($this->filter==1 && $bilmesgtutor>15 && $row['id']!="") ||  ($this->filter==0 && $bilmesgtutor>0 &&  $bilmesgtutor<16 && $row['id']!="")) {
	
	echo "<tr><td id='mytable'>";

	echo $i;
	
	echo "</td>";
	echo "<td id='mytable'>";

	echo $row['firstname'];
	
	echo "</td>";

	echo "<td id='mytable'>";

	$result=$intake->fetch($row['intakeid']);
    echo $result["intakecode"];
	
	echo "</td>";
	echo "<td id='mytable'>";

	echo $row['courseid'];
	
	echo "</td>";
	
	echo "<td id='mytable'>";
	
	$bilmesg=$monitoring->countforummesg($row['courseid'],$row['userID'],$row['id'],"",$this->useDate,$this->start_date,$this->end_date);
	
	
	if ($bilmesg!=0){
    ?>
		<a target="_blank"
		href="<?php
            echo $this->url(
            array('module' => 'forum', 'controller' => 'monitoring', 'action' => 'framepage1', 
            'courseid' => $row['courseid'], 'userid' => $row['userID'], 'groupid' => $row['id'], 'usedate' => $this->useDate, 'start_date' => $this->start_date, 'end_date' => $this->end_date, 'filter' => $this->filter, 'act' => 'viewmessagetutor'), 'default', true)?>">
	<?php
    }
	echo $bilmesg;
	
	if ($bilmesg!=0){
    ?>
		</a>
	<?php
    }

	echo "</td>";
	echo "<td id='mytable'>";
	
	
	
	$bilmesg=$monitoring->countforummesgbystudent($row['courseid'],$row['userID'],$row['id'],"",$this->useDate,$this->start_date,$this->end_date);
	
	
	if ($bilmesg!=0){
    ?>
		<a target="_blank"
		href="<?php
            echo $this->url(
            array('module' => 'forum', 'controller' => 'monitoring', 'action' => 'framepage1', 
            'courseid' => $row['courseid'], 'userid' => $row['userID'], 'groupid' => $row['id'], 'usedate' => $this->useDate, 'start_date' => $this->start_date, 'end_date' => $this->end_date, 'filter' => $this->filter, 'act' => 'viewmessagestudent'), 'default', true)?>">
	<?php
    }
	echo $bilmesg;
	
	if ($bilmesg!=0){
    ?>
		</a>
	<?php
    }


	
	echo "</td>";
	echo "<td id='mytable'>";
	
	$bilmesg=$monitoring->countforummesgtotal($row['courseid'],$row['userID'],$row['id'],"",$this->useDate,$this->start_date,$this->end_date);
	
	if ($bilmesg!=0){
    ?>
		<a target="_blank"
		href="<?php
            echo $this->url(
            array('module' => 'forum', 'controller' => 'monitoring', 'action' => 'framepage1', 
            'courseid' => $row['courseid'], 'userid' => $row['userID'], 'groupid' => $row['id'], 'usedate' => $this->useDate, 'start_date' => $this->start_date, 'end_date' => $this->end_date, 'filter' => $this->filter, 'act' => 'viewmessageall'), 'default', true)?>">
	<?php
    }
	echo $bilmesg;
	
	if ($bilmesg!=0){
    ?>
		</a>
	<?php
    }

	echo "</td>";
	
	echo "</td>";
	echo "<td id='mytable'>";
	
	$biluser=$forum->countforumuser($row['id']);
	?>
	
	<a target="_blank"
	 href="<?php
echo $this->url(array('module'=>'forum' , 'controller' => 'index' , 'action' => 'framepage1', 'courseid'=> $row['courseid'], 'groupid' => $row['id']),'default',true)?>">
	<?php
	echo $biluser['biluser'];
	?>
	</a>
	
	<?php

	echo "</td><tr>";
	
	
	$i++;
	}
	
}
?>

</table>

<?php } ?>

</div>
        
        
       
</body>
</html>