<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>
</head>
<body>

<br>
<table id="mytable" style='table-layout:fixed; width:100%' cellspacing="0">
<tr>
<th id="mytable" width="25"><?php echo $this->translate('no'); ?></th>
<th id="mytable"><?php echo $this->translate('message_posted'); ?></th>
<th id="mytable"><?php echo $this->translate('messages'); ?></th>
<th id="mytable"><?php echo $this->translate('name'); ?></th>
</tr>

<?php


$user = new Users_Model_Users();


$i=0;
foreach ($this->paginator as $row) {

	

	echo "<tr><td id='mytable'>";

	echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$i;
	
	echo "</td>";

	echo "<td id='mytable'>";

	echo $row['dateposted'];

	echo "</td>";
	echo "<td id='mytable'>";

	echo strip_tags($row['message']);


	echo "</td>";

	echo "<td id='mytable'>";

	$rs = $user->checkusername($row['userid']);

	echo $rs[0]['firstname'];

	echo "</td><tr>";

	$i++;
}
?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml',$this->searchParams);
?>

</body>
</html>