<?php 
if ($this->back==2) 
{
	$back_url = $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'block', 'courseid' => $this->courseid),'default', true);
}
else if ($this->back==1)
{
	$back_url = $this->url(array('module'=>'assignment' , 'controller' => 'index' , 'action' => 'index', 'courseid' => $this->courseid),'default', true);
}
?>
<div class="paging"><?php echo $this->title;?></div>

<div class="page-opt">
	<a href="<?php echo $back_url ?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('course').' '.$this->course['coursecode']?> </a>
</div>

<h2 class="dotted"><?php echo $this->course['coursename'].' ('.$this->course['coursecode'].')';?></h2>

<h3><?php echo $this->translate('assignment')." - ".$this->data['courseid']?></h3>

<table class="table" style="width:60%">
	<tbody>
		<tr>
			<td width="25%"><strong><?php echo $this->translate('title')?></strong></td>
			<td><?php echo $this->data['title'];?></td>
		</tr>
		<tr>
			<td><strong><?php echo $this->translate('description')?></strong></td>
			<td><?php echo $this->data['description'];?></td>
		</tr>
		<tr>
			<td><strong><?php echo $this->translate('assignment_file')?></strong></td>
			<td><?php if ($this->data['filename']!="") {?><a href="http://<?php echo APP_HOSTNAME.'/'.PATH_UPLOAD ?>/assignment/<?php echo $this->data['courseid']?>/<?php echo $this->data['filename']?>" target="_blank"><?php echo $this->data['filename']."</a>"; }else{ echo $this->translate('no_file');} ?></a></td>
		</tr>
		<tr>
			<td><strong><?php echo $this->translate('start_date')?></strong></td>
			<td><?php echo $this->data['start_date'];?></td>
		</tr>
		<tr>
			<td><strong><?php echo $this->translate('end_date')?></strong></td>
			<td><?php echo $this->data['end_date'];?></td>
		</tr>
		<tr>
			<td><strong><?php echo $this->translate('type')?></strong></td>
			<td><?php if ($this->data["asg_type"]==1){echo $this->translate('individual');}else{echo $this->translate('group');} echo " ".$this->translate('assignment');?></td>
		</tr>
	</tbody>
</table>