<?php
$assignment = new Assignment_Model_Assignment ();
?>

<!--<h3><?php echo $this->translate('search_assignment'); ?> :</h3>-->
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('assignment_entries'); ?> :</h3>-->
<br />
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" width="30%">
<?php echo $this->translate('title'); ?>
</th>

<th width="15%" id="mytable">
<?php echo $this->translate('date'); ?>
</th>


<!--<th width="13%" id="mytable">
<?php echo $this->translate('end_date'); ?>
</th>-->

<th width="12%" id="mytable">
<?php echo $this->translate('status'); ?>
</th>

<th width="18%" id="mytable">
<?php echo $this->translate('assignment'); ?>
</th>

<th width="15%" id="mytable">
<?php echo $this->translate('student_list'); ?>
</th>
</tr>
<form name="f1" id="f1" method="POST" action="">
	<?php
	foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable">
        <?php
    	$today=date('Y-m-d');
		
		$cr_date=date_create($row['start_date']);
		$start_date=date_format($cr_date,'Y-m-d');
		
		$cr_date=date_create($row['end_date']);
		$end_date=date_format($cr_date,'Y-m-d');
		
		if ($today>=$start_date && $today<=$end_date) { 
		?>
       <a target="_blank"
		href="<?php
		echo $this->url(
		array('module' => 'assignment', 'controller' => 'index', 'action' => 'framepage1',
            'id' => $row['id']), null, FALSE)?>">
		<?php  } ?>
        <?php
		echo $row['title'];
        ?>
        <?php if ($today>=$start_date && $today<=$end_date) {  ?>
        </a>
        <?php  } ?>
        </td>
	
	
   <td id="mytable">
		<?php
		$cr_date=date_create($row['start_date']);
		$start_date2=date_format($cr_date,'d/m/y');
		
		$cr_date=date_create($row['end_date']);
		$end_date2=date_format($cr_date,'d/m/y');
		
		echo $start_date2." - ".$end_date2;
		
        ?></td>
        
   <!--<td id="mytable">
		<?php
		$cr_date=date_create($row['end_date']);
		$end_date2=date_format($cr_date,'d/m/y');
		echo $end_date2;
        ?></td>-->
         
   <td id="mytable">
		<?php
		if ($today<$start_date)
		echo $this->translate('not_started'); 
		else if ($today>$end_date)
		echo $this->translate('closed'); 
		else
		echo $this->translate('started'); 
        ?></td>
   
   <td id="mytable">
		<?php
		if ($row["asg_type"]==1){echo $this->translate('individual');}else{echo $this->translate('group');} 
        ?></td>
        
   <td id="mytable">
		<?php
		if ($row["asg_type"]==1){
			$rs=$assignment->checksubmission($this->username,$row['id']);
		}else{
			$rs=$assignment->checksubmissiongroup($this->username,$row['id']);
		}		
        
		if($this->username=="grader1"){
			
		if ($row["asg_type"]==1){
		?>
			<a href="<?php
echo $this->url(array('module'=>'assignment' , 'controller' => 'index' , 'action' => 'individulist', 'courseid'=> $this->courseid, 'id' => $row['id'], 'asgtype' => $row["asg_type"], 'type' => 0),null, FALSE)?>" target="_blank"><?php echo $this->translate('view_mark'); ?></a>
		<?php 
		}else{
		?>
			<a href="<?php
echo $this->url(array('module'=>'assignment' , 'controller' => 'index' , 'action' => 'grouplist', 'courseid'=> $this->courseid, 'id' => $row['id'], 'asgtype' => $row["asg_type"], 'type' => 0),null, FALSE)?>" target="_blank"><?php echo $this->translate('view_mark'); ?></a>
		<?php 	
		}		}
        ?>
        
        </td> 
        
  
    </tr>
	<?php
	}
    ?>
    </form>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml');
    ?>
<?php
}
?>
