<div class="paging"><?php echo $this->title;?></div>

<h2 class="dotted"><?php echo $this->course['coursename'].' ('.$this->course['coursecode'].')';?></h2>

<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navicourse("assignment", "index", "delete",$this->username,$this->courseid);
if ($show == 1) 
{            
	//show search form	
	echo $this->form;
}

if (count($this->paginator)) 
{

	?>
	<table class="maintable">
	<thead>
		<tr>
		<th style="width:50%"><?php echo $this->translate('title'); ?></th>
		<th><?php echo $this->translate('semester'); ?></th>
		<th><?php echo $this->translate('type'); ?></th>
		<?php
		$show = $naviauth->navicourse("assignment", "index", "delete",$this->username,$this->courseid);
	    if ($show == 1) 
	    {
	    	?>
			<th><?php echo $this->translate('view')." ".$this->translate('submission_files'); ?></th>
	    	<?php
	      }
	    ?>
		</tr>
	</thead>
	<tbody>
	<?php
	foreach ($this->paginator as $row) 
	{
		?>
		<tr>
	    	<td><a href="<?php echo $this->url( array('module' => 'assignment', 'controller' => 'index', 'action' => 'displayassignment', 'id' => $row['id']), null, FALSE)?>"><?php echo $row['title'];?></a></td>
	        <td>
	        <?php 
	        $intake = new Admin_Model_Intake ();
	        $result =  $intake->fetch($row['semid']);
	
	        echo $result["intakecode"];
	        ?>
	        </td>        
	        <td>
	        <?php 
	        if($row['asg_type']==1)
	        {
	        	echo $this->translate('individual');
	        }
	        else
	        {
	        	echo $this->translate('group');
	        }
	        ?>
	        </td>
			<?php
	   		$show = $naviauth->navicourse("assignment", "index", "delete",$this->username,$this->courseid);
	   		if ( $show == 1 )
	   		{
	        	?>
	     		<td>
	     			<a href="<?php echo $this->url( array('module' => 'assignment', 'controller' => 'index', 'action' => 'liststudent','asgid' => $row['id'], 'semid' => $row['semid'], 'courseid' => $this->courseid), 'default', true)?>"><?php echo $this->translate('view')." ".$this->translate('submission_files'); ?></a>
	            </td>
	     		<?php
	   		}
	   	?>
	   	</tr>
	   	<?php
	}
	?>
	</tbody>
	</table>
	
	<?php
	echo $this->paginationControl($this->paginator, 'Elastic', 'paginationspecial2.phtml',$this->searchParams);
}
?>