<script>
/*//To remove flash MSG*/
	setTimeout(function() {
		$( "#msg" ).hide( 'blind',null, 1000);
	}, 5000 );
</script>
<style type="text/css">
    .divstyle
    {
        color: black;
        background-color: #CAE8EA;
        height: 25px;
        font-weight:bold;
        text-align:center;
    }
</style>


<div id="contentonly">

<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>

<?php
$assignment = new Assignment_Model_Assignment ();
$Markentry = new Assignment_Model_Markentry ();
?>


<!--<h3><?php echo $this->translate('search_assignment'); ?> :</h3>-->
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('assignment_entries'); ?> :</h3>-->
<?if(isset($this->noticeMessage)){?>
<div class="divstyle" id="msg" class="message notice"><? echo $this->noticeMessage;?>.</div>
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="divstyle" class="message success"><? echo $this->noticeSuccess;?>.</div>
<?}?>
<?if(isset($this->noticeError)){?>
<div class="divstyle" class="message error"><? echo $this->noticeError;?>.</div>
<?}?>
<br />
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" width="30%">
<?php echo $this->translate('title'); ?>
</th>

<th width="15%" id="mytable">
<?php echo $this->translate('status'); ?>
</th>


<!--<th width="12%" id="mytable">
<?php echo $this->translate('end_date'); ?>
</th>

<th width="12%" id="mytable">
<?php echo $this->translate('status'); ?>
</th>-->

<th width="15%" id="mytable">
<?php echo $this->translate('type'); ?>
</th>

<th width="18%" id="mytable">
<?php echo $this->translate('submission_status'); ?>
</th>

<th width="24%" id="mytable">
<?php echo $this->translate('submission_file'); ?>
</th>
</tr>
<form name="f1" id="f1" method="POST" action="">
	<?php
	foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable">
        <?php
    	$today=date('Y-m-d');
		
		$cr_date=date_create($row['start_date']);
		$start_date=date_format($cr_date,'Y-m-d');
		
		$cr_date=date_create($row['end_date']);
		$end_date=date_format($cr_date,'Y-m-d');
		
		if ($today>=$start_date && $today<=$end_date) { 
		?>
       <a target="_blank"
		href="<?php
		echo $this->url(
		array('module' => 'assignment', 'controller' => 'index', 'action' => 'framepage1',
            'id' => $row['id']), null, FALSE)?>">
		<?php  } ?>
        <?php
		echo $row['title'];
        ?>
        <?php if ($today>=$start_date && $today<=$end_date) {  ?>
        </a>
        <?php  } ?>
        </td>
	
	
   <td id="mytable">
		<?php
		$cr_date=date_create($row['start_date']);
		$start_date2=date_format($cr_date,'d/m/y');
		
		
		$cr_date=date_create($row['end_date']);
		$end_date2=date_format($cr_date,'d/m/y');
		
		if ($today<$start_date){
		$status= $this->translate('not_started'); }
		else if ($today>$end_date){
		$status= "<font color='red'>".$this->translate('closed')."</font>"; }
		else{
		$status= $this->translate('started');}
		
		echo $start_date2."-".$end_date2." [".$status."]";
        ?></td>
        
   <!--<td id="mytable">
		<?php
		$cr_date=date_create($row['end_date']);
		$end_date2=date_format($cr_date,'d/m/y');
		echo $end_date2;
        ?></td>-->
         
   <!--<td id="mytable">
		<?php
		if ($today<$start_date)
		echo $this->translate('not_started'); 
		else if ($today>$end_date)
		echo $this->translate('closed'); 
		else
		echo $this->translate('started'); 
        ?></td>-->
   
   <td id="mytable">
		<?php
		if ($row["asg_type"]==1){echo $this->translate('individual');}else{echo $this->translate('group');} 
        ?></td>
        
   <td id="mytable">
		<?php
		if ($row["asg_type"]==1){
			$rs=$assignment->checksubmissionNew($this->username,$row['id']);
		}else{
			$rs=$assignment->checksubmissiongroupNew($this->username,$row['id']);
			$reflective=$assignment->checksubmissionreflective($this->username,$row['id']);
		}
		//echo $row['id'];
		if ($today<$start_date)
		echo "-";
		else if (!$rs){
		echo $this->translate('not_sent');}
		else if ($rs){
			if ($rs["savegroup"]==1){
				echo $this->translate('not_sent')." - Group saved";
			}else{
				echo $this->translate('sent');
			}
			
		}
		
        ?></td> 
        
    <td id="mytable">
		<?php
		if ($today<$start_date)
		echo "-";
		else if (!$rs){?>
			<?php
	    	$today=date('Y-m-d');
			
			$cr_date=date_create($row['start_date']);
			$start_date=date_format($cr_date,'Y-m-d');
			
			$cr_date=date_create($row['end_date']);
			$end_date=date_format($cr_date,'Y-m-d');
			
			$intakeid=$row["intakeid"];
			
			if ($today>=$start_date && $today<=$end_date) { 
			?>
		<!--<a
	href="<?php
    echo $this->url(
    array('module' => 'assignment', 'controller' => 'index', 'action' => 'uploadstudent', 'courseid' => $this->courseid, 'id' => $row['id'], 'asgtype' => $row["asg_type"], 'maxgrp' => $row["maxgroup"], 'intakeid' => $intakeid), null, FALSE)?>">
    	<?php
		echo $this->translate('submit_file');
		?>
		</a>-->
		<input type="button" name="uploadfile" id="uploadfile" value="<?php echo $this->translate('submit_file');?>" onclick="uploadasg(this.form,'<?php echo $this->courseid?>','<?php echo $row['id']?>','<?php echo $row["asg_type"]?>','<?php echo $row["maxgroup"]?>','<?php echo $row["intakeid"]?>','<?php echo $this->baseUrl()?>');">
		<?php
			}else{ echo "Closed";}
		} else if ($rs) {
			if($row["asg_type"]==1 && $rs["savegroup"]!=1 && $rs["filename"]!=""){
		?>
		<a
	href="<?php
    echo $this->url(
    array('module' => 'assignment', 'controller' => 'index', 'action' => 'viewsubmission', 'courseid' => $this->courseid, 'id' => $row['id'], 'asgtype' => $row["asg_type"], 'username' => $rs["username"]), null, FALSE)?>" target="_blank">
    <?php echo $this->translate('view')." ".$this->translate('file')?></a>
		<br> 
		<?php 
		if($rs["username"]==$this->username) {
			if ($row["asg_type"]==2){
				echo $this->translate('team_leader');
			}
			
			$checkmark=$Markentry->checkmark($row['id'],$this->username,$this->courseid,$row['intakeid']);
    		if ($checkmark["mark"]==""){?>
    			<input type="button" name="resubmit" id="resubmit" value="Resubmit" onclick="remove(this.form,'<?php echo $row['id']?>','<?php echo $this->courseid?>','<?php echo $rs["username"]?>','<?php echo $row["asg_type"]?>','<?php echo $this->translate('message_resubmit')?>','<?php echo $this->baseUrl()?>');">
    		<?php 
    		}
    		?>
			
		<?php }else{
			if ($row["asg_type"]==2){
				$checkname=$assignment->checkname($rs["username"]);
				echo "(".$this->translate('member').")<br>".$this->translate('team_leader').": ".$checkname["firstname"];
			}
		}?>
		
		<?php
			}else{
				
				//count group member $rs["id"]
			$countgroupmember=$assignment->countgroupmember($rs["id"],$row['id']);
			$countmember=$countgroupmember["count"];
			
				?>
			
			<a
	href="<?php
    echo $this->url(
    array('module' => 'assignment', 'controller' => 'index', 'action' => 'viewgroup', 'courseid' => $this->courseid, 'id' => $row['id'], 'asgtype' => $row["asg_type"], 'username' => $rs["username"], 'said' => $rs["id"]), null, FALSE)?>" target="_blank">
    <?php echo $this->translate('view')." ".$this->translate('group')?></a>
    <br> 
    <?php  
    if ($rs["filename"]!=""){?>
    <a
	href="<?php
    echo $this->url(
    array('module' => 'assignment', 'controller' => 'index', 'action' => 'viewsubmission', 'courseid' => $this->courseid, 'id' => $row['id'], 'asgtype' => $row["asg_type"], 'username' => $rs["username"]), null, FALSE)?>" target="_blank">
    <?php echo $this->translate('view')." ".$this->translate('file')?></a>
    
    <?php }
    if($rs["username"]==$this->username) {
    	echo "<br>".$this->translate('team_leader')?>
    <br/>
    <?php 
    if ($rs["savegroup"]==1){
    ?>
   	<input type="button" name="uploadfile" id="uploadfile" value="<?php echo $this->translate('submit_file');?>" onclick="groupuploadasg(this.form,'<?php echo $this->courseid?>','<?php echo $row['id']?>','<?php echo $row["asg_type"]?>','<?php echo $row["maxgroup"]?>','<?php echo $row["intakeid"]?>','<?php echo $this->baseUrl()?>','<?php echo $countmember?>','<?php echo $rs["id"]?>');">
   	<?php
    }elseif ($rs["savegroup"]==2){
    	//if dah mark takleh resubmit
    	$checkmark=$Markentry->checkmark($row['id'],$this->username,$this->courseid,$row['intakeid']);
    	if ($checkmark["mark"]==""){
    		?>
    		<input type="button" name="resubmit" id="resubmit" value="Resubmit" onclick="removegroup(this.form,'<?php echo $row['id']?>','<?php echo $this->courseid?>','<?php echo $rs["username"]?>','<?php echo $row["asg_type"]?>','<?php echo $this->translate('message_resubmit')?>','<?php echo $this->baseUrl()?>','<?php echo $countmember?>','<?php echo $rs["id"]?>','<?php echo $row["intakeid"]?>');">
    		<?php
    	}
    }
    ?>
    
				
		<?php	}else{
					if ($row["asg_type"]==2){
						$checkname=$assignment->checkname($rs["username"]);
						echo "(".$this->translate('member').")<br>".$this->translate('team_leader').": ".$checkname["firstname"];
					}
				}
			}
		}
        ?>
        <P>
        <?php 
        if ($row["asg_type"]==2){
        	if ($today<$start_date)
			echo "-";
			else if (!$reflective){
				if ($today>=$start_date && $today<=$end_date) {
					?>
					<input type="button" name="uploadfile2" id="uploadfile2" value="<?php echo $this->translate('submit_reflective');?>" onclick="uploadreflective(this.form,'<?php echo $this->courseid?>','<?php echo $row['id']?>','<?php echo $row["asg_type"]?>','<?php echo $row["intakeid"]?>','<?php echo $this->baseUrl()?>');">
					<?php 
				}else{ 
					echo "Closed";
				}
			} else if ($reflective) {
				?>
				<a href="/<?php echo PATH_UPLOAD ?>/assignment/<?php echo $this->courseid?>/<?php echo $row['id']?>/<?php echo $reflective["username"]?>/reflective/<?php echo $reflective["filename"]?>" target="_blank">
			<?php
			echo $this->translate('view')." ".$this->translate('submit_reflective');
			?>
			</a>
				<?php
			}
        }
        ?>
        </td> 
    </tr>
	<?php
	}
    ?>
    </form>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml');
    ?>
<?php
}


?>
</div>

<script>
function remove(form, asgid, courseid, username, asgtype, msg, baseurl){
//	var msg="Are you sure to resubmit this assignment?";
	
	if (confirm(msg)){
		document.f1.action=baseurl+"/assignment/index/removefile/asgid/"+asgid+"/courseid/"+courseid+"/username/"+username+"/asgtype/"+asgtype;
		document.f1.submit();
	}
	else return;
}


function removegroup(form, asgid, courseid, username, asgtype, msg, baseurl, groupmem, submid, intakeid){
//	var msg="Are you sure to resubmit this assignment?";
	
	if (confirm(msg)){
		document.f1.action=baseurl+"/assignment/index/removegroupfile/asgid/"+asgid+"/courseid/"+courseid+"/username/"+username+"/asgtype/"+asgtype+"/intakeid/"+intakeid+"/gpmem/"+groupmem+"/submid/"+submid;
		document.f1.submit();
	}
	else return;
}



function uploadasg(form, courseid, asgid, asgtype, maxgroup, intakeid, baseurl){
	document.f1.action=baseurl+"/assignment/index/uploadstudent/courseid/"+courseid+"/id/"+asgid+"/asgtype/"+asgtype+"/maxgrp/"+maxgroup+"/intakeid/"+intakeid;
	document.f1.submit();
}

function groupuploadasg(form, courseid, asgid, asgtype, maxgroup, intakeid, baseurl, groupmem, submid){
	document.f1.action=baseurl+"/assignment/index/uploadstudentgroup/courseid/"+courseid+"/id/"+asgid+"/asgtype/"+asgtype+"/maxgrp/"+maxgroup+"/intakeid/"+intakeid+"/gpmem/"+groupmem+"/submid/"+submid;
	document.f1.submit();
}


function uploadreflective(form, courseid, asgid, asgtype, intakeid, baseurl){
	document.f1.action=baseurl+"/assignment/index/uploadreflective/courseid/"+courseid+"/id/"+asgid+"/asgtype/"+asgtype+"/intakeid/"+intakeid;
	document.f1.submit();
}
</script>