<style type="text/css">
p.title {
font-weight:bold;
font-size:15px;
color:#4F6B72;
text-align:left;}
.notice {
    background: #FFF6BF;
    border: 2px solid #FFD324;
    color: #817134;
    padding: 10px;
}
.message {
    background: #EEEEEE;
    border: 2px solid #DDDDDD;
    color: #222222;
    padding: 10px;
}
.success {
    background: #9D0F0F;
    border: 2px solid #6C0202;
    color: #FFFFFF;
    padding: 10px;
}
.messageInput {
	border:none;
	color : red;
	line-height: 8px;
	
	background:transparent;
	
} 
</style>
<script>
/*//To remove flash MSG*/
	setTimeout(function() {
		$( "#msg" ).hide( 'blind',null, 1000);
	}, 5000 );

function reload(form, baseurl){
	var val=form.type.options[form.type.options.selectedIndex].value;
	window.location=baseurl+"/assignment/index/individulist/id/<?echo $this->asid?>/courseid/<?echo $this->courseid?>/asgtype/<?php echo $this->asgtype;?>/type/"+val;
}

function isNumberKey(evt)
{
        var charCode = (evt.which) ? evt.which : event.keyCode
//                alert(charCode);
        //allows only numeric and point
        if ((charCode < 44 && charCode!=8)  || charCode > 57){
           return false;
        }
           

        return true;
}

function calcmark(percent,i,n){

	var totalpercent = percent;
	var inputID = "mark"+i+"-"+n;
	var mark = document.getElementById(inputID).value;
	var errorMsg = "errorMarkMsg"+i+"-"+n;
	var invalid = "invalid"+i+"-"+n;

	if (mark > totalpercent){
//		alert("Invalid mark.");
		
		var msg = "Mark must less than "+totalpercent;
		
		document.getElementById(errorMsg).value = msg ;
		document.getElementById(errorMsg).size = 25 ;
		document.getElementById(errorMsg).type = "text" ;
		
		//document.getElementById(invalid).value = 1 ;
	}else{
		document.getElementById(errorMsg).type = "hidden" ;
		//document.getElementById(invalid).value = 0 ;
	}
}

function submitmark (form, msg, baseurl, asgid, cosid, asgtype, type){
	var row=document.getElementById("row").value;
	var column=document.getElementById("column").value;
	
	for (var i=1; i < row; i++){
			for (var n=1; n < column; n++){	
				errormsg=document.getElementById("errorMarkMsg"+i+"-"+n).value;
			}
	}
	
	
	if (confirm(msg)){
		document.f1.action=baseurl+"/assignment/markentry/savemark/id/<?echo $this->asid?>/courseid/<?echo $this->courseid?>/asgtype/<?php echo $this->asgtype;?>/type/<?echo $this->type?>";
		document.f1.submit();
	}
	else return;
}
</script>
<?php
$assignment = new Assignment_Model_Assignment ();
$users = new Users_Model_Users();
$oraconn = new Assignment_Model_Oraconn ();
?>
<table width="100%" border="0" cellspacing="0" cellpadding="0" valign="top" ">
<tr>
    <td height="575">
    	<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    	<form method="POST" name="srform" enctype="multipart/form-data">
      <tr>
        <td valign="top">
        	<p class="title">Mark Entry</p>
        	<?php 
        	if (!$this->type) {
				echo "<div class='notice'> ";
				echo "Select mark distribution type.";
				echo "</div>";
			}else{
				echo "<div class='message'> ";
				echo "Enter the marks and click Save Mark button to save.";
				echo "</div>";
			}
			echo "<P>";
        	$fetchtype=$oraconn->fetchtype();
        	?>
        	
        	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	        	<tr>
        		<td valign="top" width="70%"><?php 
        		echo $this->translate('mark_distribution')." ".$this->translate('type').":"; ?>
        		<select id="type" name="type" onchange="reload(this.form,'<?php echo $this->baseUrl();?>')">
					<option value="0"><?php echo "---".$this->translate('please_select')."---";?></option>
					<?php foreach ($fetchtype as $type){
						echo $CTM_ID=$type["CTM_ID"];
					?>
					<option value="<?php echo $CTM_ID;?>" <?php if ($this->type==$CTM_ID){echo "selected";}?>><?php echo $CTM_ID;?></option>
					<?php }?>
				</select>
				<br>
				<?if(isset($this->noticeMessage)){?>
				<div id="msg" class="notice"><? echo $this->noticeMessage;?>.</div>
				<?}?>
        		</td>
        		<td valign="top" width="30%">
        			<fieldset>
				    	<legend>Submission Status</legend>
				   		<img src="<?php echo $this->baseUrl(); ?>/images/not_send.jpeg">
				    </fieldset>
        		</td>
	        	</tr>
	        </table>
        </td>
      </tr>
      </form>
      <tr>
        <td height="500" valign="top">
        	<br>	
<?php
//$this->username='suraya2604';
$fetchasg=$assignment->fetch($this->asid);
$checkusername=$users->checkuserID($this->username);
$VTGE_GRADER_ID=$checkusername["STUD_ID"];

//$getEOSid=$oraconn->getEOSid($this->courseid,$this->intakecode,$this->username);
//$VTGE_GRADER_ID=$getEOSid["VTGE_GRADER_ID"];

$markdistribution=$oraconn->markdistribution($this->courseid,$this->intakecode,$this->type,"INDIVIDUAL");
$countmarkdis=$oraconn->countmarkdistribution($this->courseid,$this->intakecode,$this->type,"INDIVIDUAL");
$bilcol=$countmarkdis["COUNT"]+3;

if (count($this->paginator)) {
    ?>
<table id="tableasg" cellspacing="0" border="0">
<tr>
<th id="tableasg" colspan="<?php echo $bilcol;?>" >
<?php echo $this->translate('course')." - ".$this->courseid."<br>".$fetchasg["title"]; ?></p>
</th>
</tr>
</table>
<table id="tableasg" cellspacing="0" border="0">
<tr>
<th id="tableasg" width="4%" rowspan="2">Bil</th>

<th id="tableasg" width="20%" rowspan="2">
<?php echo $this->translate('name'); ?>
</th>

<th width="10%" id="tableasg" rowspan="2">
<?php echo $this->translate('assignment'); ?>
</th>

<?php if ($markdistribution){?>
<th  id="tableasg" colspan="<?php echo $countmarkdis["COUNT"]?>" style="text-align:center;">
<?php echo $this->type; ?>
</th>
<?php }?>
</tr>

<tr>
<?php 
if ($markdistribution){
foreach ($markdistribution as $markds){
?>
<th width="10%" id="tableasg">
<?php echo $markds["LMDV_DESC"]." (".$markds["LMDV_TOTAL_MARK"].")"; ?>
</th>
<?php 
}
}
?>

</tr>
<form name="f1" id="f1" method="POST" action="">
	<?php
	
	$i=1;
	foreach ($this->paginator as $row) {
		if ($this->asgtype==1){
			$rs=$assignment->checksubmissionNew($row["userID"],$this->asid);
		}else{
			$rs=$assignment->checksubmissiongroupNew($row["userID"],$this->asid);
		}
		
		if ($rs) {
			$trcolor="<tr>";
		} else {
			$trcolor="<tr id='tableasg'>";
		}
		
		echo $trcolor;
        ?>
        
    <td id="tableasg">
        <?php
		echo $i;
        ?>
        </td>

    <td id="tableasg">
        <?php
		echo $row['firstname'];
        ?>
        <!--<input type='hidden' name='userID<?php $i?>' id='userID<?php $i?>' value='<?php echo $row["userID"]?>'>
        <input type='hidden' name='VSGE_STUD_ID<?php $i?>' id='VSGE_STUD_ID<?php $i?>' value='<?php echo $row["STUD_ID"]?>'>-->
        </td>
	
	
   <td id="tableasg">
   <?php
		if ($rs) {
	?>
   
   <a
	href="<?php
    echo $this->url(
    array('module' => 'assignment', 'controller' => 'index', 'action' => 'viewsubmission', 'courseid' => $this->courseid, 'id' => $this->asid, 'asgtype' => $this->asgtype, 'username' => $row["userID"]), null, FALSE)?>" target="_blank">
    <?php echo $this->translate('view')." ".$this->translate('file')?></a>
    <?
    }else{
    	echo $this->translate('not_sent');	
    }
    
    ?>
		</td>
		
		<?php 
		$n=1;
		foreach ($markdistribution as $markds){
			
			$user_ID=$row["userID"];
			$student_ID=$row["STUD_ID"];
			$sem_ID=$markds["LMDV_SEMID"];
			$semester=$this->intakeid;
			$courseid=$this->courseid;
			$ces_ID=$markds["LMDV_CESID"];
			
			$markEntryDB = new Assignment_Model_Markentry();
				
			$checkMark = $markEntryDB->checkStudentMarkDetail($user_ID,$student_ID,$sem_ID,$semester,$courseid,$ces_ID,$this->asid);
			if(($checkMark['verify_status'] == 'Y') && ($checkMark['icem_status'] == 'success')){
				$disabled = 'disabled';
			}else{
				$disabled = '';
			}
			
			?>
			<td id="tableasg">
			<?php 
			echo "<input type='text' name='mark$i-$n' maxlength = '6' id='mark$i-$n' size='5' value='$checkMark[mark]' $disabled onkeypress= 'return isNumberKey(event);' onkeyup='javascript:calcmark($markds[LMDV_TOTAL_MARK],$i,$n)'>";
			echo "<input type='hidden' class='messageInput' size='20' name='errorMarkMsg$i-$n' id='errorMarkMsg$i-$n' readonly>";
			
			//echo $markds["LMDV_TOTAL_MARK"]." i=".$i." n=".$n;
			echo "<input type='hidden' name='LMDV_CESID$n' id='LMDV_CESID$n' value='$markds[LMDV_CESID]'>";
			echo "<input type='hidden' name='LMDV_TYPE$n' id='LMDV_TYPE$n' value='$markds[LMDV_TYPE]'>";
			echo "<input type='hidden' name='LMDV_DESC$n' id='LMDV_DESC$n' value='$markds[LMDV_DESC]'>";
			echo "<input type='hidden' name='LMDV_TOTAL_MARK$n' id='LMDV_TOTAL_MARK$n' value='$markds[LMDV_TOTAL_MARK]'>";
			echo "<input type='hidden' name='LMDV_SEMID$n' id='LMDV_SEMID$n' value='$markds[LMDV_SEMID]'>";
			echo "<input type='hidden' name='userID$i' id='userID$i' value='$row[userID]'>";
			echo "<input type='hidden' name='VSGE_STUD_ID$i' id='VSGE_STUD_ID$i' value='$row[STUD_ID]'>";
	        ?>
	        </td>
        <?php 
		$n++;
		}?>
        
    </tr>
	<?php
	$i++;
	}
    ?>
    
<tr> 
<th id="tableasg" colspan="<?php echo $bilcol;?>">
	<input type="hidden" name="row" id="row" value="<?php echo $i;?>">
	<input type="hidden" name="column" id="column" value="<?php echo $n;?>">
	<input type="hidden" name="semesterID" id="semesterID" value="<?php echo $this->intakeid;?>">
	<input type="hidden" name="VTGE_GRADER_ID" id="VTGE_GRADER_ID" value="<?php echo $VTGE_GRADER_ID;?>">
	<div align="center">
	<?php if ($this->type!='0'){?>
	<!--<input type="submit" name="save" value="<?php echo $this->translate('save_mark');?>" onclick="form.action='<? echo $this->url(array('module'=>'assignment','controller'=>'markentry','action'=>'savemark','id'=> $this->asid,'courseid'=>$this->courseid, 'asgtype' => $this->asgtype, 'type' => $this->type),'default',true) ?>'">-->
	<input type="submit" name="save" value="<?php echo $this->translate('save_mark');?>" onclick="submitmark(this.form,'Are you sure you want to save this marks?','<?php echo $this->baseUrl();?>','<?php echo $this->asid?>','<?php echo $this->courseid?>','<?php echo $this->asgtype?>','<?php echo $this->type?>');">
	<?php }?>
	</div>
</th>
</tr>  
</table>
</form>

<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml');
    ?>
<?php
}else{?>
<P><br>
<table id="tableasg" cellspacing="0">
<tr>
<th id="tableasg" colspan="3">
<?php echo "No assignments submitted "; ?>
</th>
</tr>
</table>
<?php }
?>
</td>
      </tr>
    </table></td>
  </tr>
</table>