<div class="paging"><?php echo $this->title;?></div>
<h2><?php echo strtoupper($this->course['coursename']).' ('.$this->course['coursecode'].')';?></h2>

<div class="page-opt">
	<a class="btn btn-round btn-large" href="<?php echo $this->url(array('module'=>'assignment' , 'controller' => 'index' , 'action' => 'index', 'courseid' => $this->courseid),'default', true)?>"><span class="icon icon-left-open"></span> <?php echo $this->translate('back')?></a>
</div>

<?php

if (count($this->paginator)) 
{
    ?>
<form method="POST" name="f1">
<table class="maintable">
<thead>
	<tr>
		<th><?php echo $this->translate('fullname'); ?></th>
		<th><?php echo $this->translate('icno'); ?></th>
		<th><?php echo $this->translate('studentID'); ?></th>
		<th><?php echo $this->translate('semester'); ?></th> 
		<th><?php echo $this->translate('status'); ?> <?php echo $this->translate('submission_files'); ?></th>
		<th><?php echo $this->translate('submission_files'); ?></th>
		<th><?php echo $this->translate('download'); ?></th>
 	</tr>
</thead>
<tbody>
<?php  
$assignment = new Assignment_Model_Assignment ();
$iCounter=1;

foreach ($this->paginator as $row) 
{
	?>
    <tr>
    	<td><?php echo $row['fullname'];  ?></td>
        <td><?php echo $row['icno']; ?></td>
        <td><?php echo $row['studentID']; ?></td>
        <td><?php echo $row['intake']; ?></td>
        <td>
        <?php
			$rs=$assignment->checksubmissionNew($row['username'],$this->asgid);
	      	echo ( $rs ? $this->translate('sent') : $this->translate('not_sent') );
        ?>
        </td>
		<td>
     	<?php
     	if ($rs)
     	{
     		?>
     		<a href="/<?php echo PATH_UPLOAD ?>/assignment/<?php echo $this->courseid?>/<?php echo $this->asgid?>/<?php echo $row['username']?>/<?php echo $rs['filename']?>" target="_blank"><?php echo $rs['filename'];?></a>
      		<?php
    	}
        else 
        echo '-';
     ?>
    	 </td>
	     <td class="centered">
		    <?php if($rs) { ?>
		    <input type="checkbox" name="C<?php echo $iCounter?>" value="<?php echo $rs['filename']?>" />
		    <input type="hidden" name="CUsername<?php echo $iCounter?>" value="<?php echo $rs['username']?>" />
		    <?php }?>
		 </td>
	</tr>
	<?php
	$iCounter++;
}
?>
<tr>
	<td colspan="6"><?php echo $this->translate("select");?> / <?php echo $this->translate("unselectall");?></td>
    <td  class="centered"><input name="allbox" type="checkbox" value='<?php echo $this->translate("check_all");?>' onclick="CheckAll(this.form)" /></td>
</tr>
<tr>
	<td colspan="7">
    <?php
    $iCounteritem=$iCounter-1;
    ?>
    <input type="button" value=" <?php echo $this->translate("download");?> " name="B1" onclick=Add(<?php echo $iCounteritem?>,this.form)>
	</td>
</tr>
</tbody>
</table>
</form>
	<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 'pagination.phtml');
}
?> 

<script type="text/javascript">
function Add(pageitem,form)
{
	var test;
	for (var i=0;i<form.elements.length;i++){
	 var e = form.elements[i];
	 if (e.name != 'allbox' && e.checked ){
		test=true;
	 }   
	}
	if (!test) 
	{
		alert ("Please select a file!");
	  	return;
	}
	else
	{
		form.action="<?php echo $this->url(array('module' => 'assignment', 'controller' => 'index', 'action' => 'download', 'asgid' => $this->asgid, 'semid' => $this->semid, 'courseid' => $this->courseid))?>/pageitem/"+pageitem; 
		form.submit();
	}
}

function CheckAll(form)
{
	for (var i=0;i<form.elements.length;i++)
    {
    	var e = form.elements[i];
    	if (e.name != 'allbox')
          e.checked = form.allbox.checked;
    }
}
</script>