<?php
$assignment = new Assignment_Model_Assignment ();
?>


<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('assignment_entries'); ?> :</h3>-->
<br />
<table id="mytable" cellspacing="0">
<!--<tr>
<td colspan="2" align="right"><a href="<?php
            echo $this->url(array('module'=>'assignment' , 'controller' => 'index' , 'action' => 'indexgrader', 'courseid'=> $this->courseid),null, FALSE)?>" target="content" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_2.jpg" name="Image20" width="59" height="27" border="0" id="Image20" /></a></td>
</tr>-->
<tr>
<th id="mytable" colspan="2">
<?php echo $this->translate('course')." - ".$this->courseid; ?>
</th>
</tr>

<tr>
<th id="mytable" width="40%">
<?php echo $this->translate('name'); ?>
</th>

<!--<th width="20%" id="mytable">
<?php echo $this->translate('date_submit'); ?>
</th>-->

<th width="10%" id="mytable">
<?php echo $this->translate('assignment'); ?>
</th>

</tr>
<form name="f1" id="f1" method="POST" action="">
	<?php
	foreach ($this->paginator as $row) {
        ?>
    <tr>
    <td id="mytable">
        <?php
		echo $row['firstname'];
        ?>
        </td>
        
	<!--<td id="mytable">
        <?php
		echo $row['datesubmit'];
        ?>
        </td>-->
	
	
   <td id="mytable">
   <?php
		if ($this->asgtype==1){
			$rs=$assignment->checksubmission($row["userID"],$this->asid);
		}else{
			$rs=$assignment->checksubmissiongroup($row["userID"],$this->asid);
		}
		
		if ($rs) {
	?>
   
   <a
	href="<?php
    echo $this->url(
    array('module' => 'assignment', 'controller' => 'index', 'action' => 'viewsubmission', 'courseid' => $this->courseid, 'id' => $this->asid, 'asgtype' => $this->asgtype, 'username' => $row["userID"]), null, FALSE)?>" target="_blank">
    <?php echo $this->translate('view')." ".$this->translate('file')?></a>
    <?
    }else{
    	echo $this->translate('not_sent');	
    }
    
    ?>
    
   
   <!--<a href="/<?php echo PATH_UPLOAD ?>/assignment/<?php echo $this->courseid?>/<?php echo $this->asid?>/<?php echo $row["guser"]?>/<?php echo $row["filename"]?>" target="_blank">
		<?php
		echo $this->translate('Download');
		?>
		</a>-->
		</td>
    </tr>
	<?php
	}
    ?>
    </form>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml');
    ?>
<?php
}else{?>
<P><br>
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" colspan="3">
<?php echo "No assignments submitted "; ?>
</th>
</tr>
</table>
<?php }
?>