<div id="contentonly">
<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>
<?php

if (isset($this->errorMessage)) {
    echo $this->errorMessage;
}

echo $this->form;
?>
</div>

