<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>EPIC - Education Portal for Internet Courses</title>

<link rel="stylesheet" href="/epic/public/jquery/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen">

<script type="text/javascript" src="/epic/public/jquery/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/epic/public/jquery/js/jquery-ui-1.8.16.custom.min.js"></script>

<script type="text/javascript">
//<!--
$(document).ready(function() {
    $("#start_date").datepicker({"dateFormat":"dd-mm-yy","minDate":"+1","onSelect":
									function( selectedDate )
									{
										var option = "minDate";
										instance = $( this ).data( "datepicker" );
										date = $.datepicker.parseDate(
											instance.settings.dateFormat,
											selectedDate, instance.settings );
										$("#end_date").datepicker( "option", option, date );
									}});
    $("#end_date").datepicker({"dateFormat":"dd-mm-yy","minDate":"+1","defaultDate":"+1","onSelect":
									function( selectedDate )
									{
										var option = "maxDate";
										instance = $( this ).data( "datepicker" );
										date = $.datepicker.parseDate(
											instance.settings.dateFormat,
											selectedDate, instance.settings );
										$("#start_date").datepicker( "option", option, date );
									}});
});
//-->

</script><link href="/epic/public/css/table.css" media="screen" rel="stylesheet" type="text/css" ><script type="text/javascript" src="/epic/public/ckeditor/ckeditor_basic.js"></script>

</head>
<body>


<h3>Upload Assignment</h3>

<form enctype="multipart/form-data" method="post" action=""><table>
<div id="description_div" class="desc_div"><tr><td id="title-label"><label for="title" class="required">Title:</label></td>
<td colspan="3">
<input type="text" name="title" id="title" value=""></td></tr></div>
<tr><td id="description-label"><label for="description" class="required">Description:</label></td>
<td colspan="3">
<textarea name="description" id="description" rows="24" cols="80"></textarea></td></tr>
<tr><td id="courseid-label">&#160;</td>
<td colspan="3">
<input type="hidden" name="courseid" value="COURSE01" id="courseid"></td></tr>
<tr><td id="filename-label"><label for="filename" class="required">Choose file:</label></td>
<td colspan="3">
<input type="hidden" name="MAX_FILE_SIZE" value="209715200" id="MAX_FILE_SIZE">

<input type="file" name="filename" id="filename"></td></tr>
<tr><td id="start_date-label"><label for="start_date" class="required">Start Date</label></td>
<td>
<input type="text" name="start_date" id="start_date" value=""></td>
<td id="end_date-label"><label for="end_date" class="required">End Date</label></td>
<td>
<input type="text" name="end_date" id="end_date" value=""></td></tr>
<tr><td></td><td align="left">
<input type="submit" name="save" id="save" value="Upload Assignment"></td>
<td colspan="2" align="left">
<input type="submit" name="cancel" id="cancel" value="Cancel" onClick="window.location ='/epic/public/assignment/index/index/courseid/COURSE01'; return false;"></td></tr></table></form>
<script>


$("description").hide();


</script>
<script type="text/javascript">


CKEDITOR.replace( 'description',{ height: 60, width: 400 } );
</script>


</body>
</html>