<?php
ini_set('memory_limit', '32M');
if (isset($this->errorMessage)) {
    echo $this->errorMessage;
}

echo $this->noticeError;
?>

<script type="text/javascript">
function changeCourse(id, a, asgid,courseid,intakeid){
	var icstud="icstud"+a;
	var studname="studname"+a;
	
	var studIC = document.getElementById(icstud).value;

	$.ajax({ 
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'assignment','controller'=>'index','action'=>'ajax-get-check-ic'),'default',true)?>/asgid/"+asgid+"/courseid/"+courseid+"/intakeid/"+intakeid, 
		
		data: "id=" + studIC,
		context: document.body, 
		success: 
		function(data){
			if (data=='false'){
				name='Wrong IC were entered!!';
				document.getElementById(icstud).value='';
			}else{
				dt=data.split(",");
				getname=dt[1].split(":");
				if (getname[0]=='"firstname"'){
					name=getname[1];
				}else{
					name='Wrong IC were entered!!';
				}
			}
			document.getElementById(studname).value =name;
    	}
	});
	
}

/*//To remove flash MSG*/
	setTimeout(function() {
		$( "#msg" ).hide( 'blind',null, 1000);
	}, 5000 );
</script>


<?if(isset($this->noticeMessage)){?>
<div id="msg" class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<?}?>


<h3><?php echo $this->translate('submit_reflective')?></h3>
<?php 
echo $this->formreflective;
?>
