<?php
$assignment = new Assignment_Model_Assignment ();

if ($this->asgtype==1){
	$result=$assignment->check_submissionNew($this->username,$this->asgid);
}else{
	$result=$assignment->check_submissiongroupNew($this->username,$this->asgid,"");
}

?>
<P>
<table width="50%" border="1" cellpadding="5" cellspacing="2" align="center">
	<tr bgcolor="#dedede">
		<th colspan="2" align="center"><b><?php echo $this->translate('assignment_list')." - ".$this->courseid?></b></th>	
		</td>
	</tr>

<?php
if ($result) {
	foreach ($result as $rs){?>
	<tr><td>
	<?php 
	if($rs["filename"]==null || $rs["filename"]=="" || $rs["savegroup"]==1){
		echo "Not Submit - Group saved";
	}else{	
	?>
		<a href="/<?php echo PATH_UPLOAD ?>/assignment/<?php echo $this->courseid?>/<?php echo $this->asgid?>/<?php echo $rs["username"]?>/<?php echo $rs["filename"]?>" target="_blank">
			<?php
			echo $rs["filename"];
			?>
			</a>
	<?php } ?>
	</td></tr>
	<?php
	}
}else {?>
	<tr><td><?php echo $this->translate('not_sent')?></td></tr>
<?}
?>
</table>