
<script>
function previewContent(tocid){
	 
	var url = "<?php echo $this->url(array('module'=>'block', 'controller'=>'content','action'=>'preview','courseid'=>$this->courseid,'moduleid'=>$this->moduleid),'default',true); ?>/tocid/"+tocid;
	newwindow=window.open(url,'myecontent','height=600,width=600');
	if (window.focus) {newwindow.focus()}
	return false;
	
}

</script>


<div id="contentonly">

<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>

<table border=0 width="100%" cellpadding="3" cellspacing="1">

<tr><td>
<br>
<br>
<table align="center"  border="1" width="95%" cellpadding="3" cellspacing="1" style='border-collapse:collapse;'>
	<tr  valign="middle"  bgcolor="#E6E6E6">
	<td id="data_border" class="tbmenu" height="30" colspan=2>&nbsp;<strong>Course Topic</strong></td>	
	</tr>
	<?
	  
	if(is_array($this->scodata)){  
		foreach ($this->scodata as $rstoc){ 	
			
			if ($rstoc["threadparent"] == '0' ) { 	
				
				   /*==========================================
					TRACKING - TO CHECK COMPLETED OR INCOMPLETED
					===========================================*/	
				
					$img='&nbsp;';
					$moduleDB = new Block_Model_Module();
					$module_type = $moduleDB->get_info($this->moduleid);	
								
					$trackDB = new Block_Model_Track();
						
					if($module_type=='Scorm'){ 												
						$status=$trackDB->get_scorm_status($this->moduleid,$rstoc["ID"]);	
					}else{						
						$status=$trackDB->get_nonscorm_status($this->moduleid,$rstoc["ID"],$this->courseid);
					}
				 
					if($status=="completed")  {$img='<img src="'.$this->baseUrl().'/images/icon_correct.jpg" width="19" height="19" />';}
					if($status=="incompleted"){$img='<img src="'.$this->baseUrl().'/images/icon_false.jpg" width="19" height="19" />';}
					
					
					/*==============================================
					END TRACKING - TO CHECK COMPLETED OR INCOMPLETED
					================================================*/
					
				  
			    $lessonDB  = new Block_Model_Lesson();
			    $rs_lesson = $lessonDB->get_lesson($rstoc["ID"]);
			    $url       = $rs_lesson["location"];						
				
				if($url){						
					$urllink = '<a href="#" onClick="previewContent('.$rstoc[ID].'); return false; ">'.$rstoc[toc].'</a>';
					$bgclr   = 'class="bgoff" onmouseover="this.className=\'bgon\'" onmouseout="this.className=\'bgoff\'';
				}else{
					$urllink = $rstoc["toc"];
					$bgclr = 'bgcolor="#FFFF66"';
				}					
				
				
				echo '<tr '.$bgclr.'">	
					  <td id="data_border" class="line" >&nbsp;'.$img.'&nbsp;'.$urllink.'</td>
					  </tr>';					  
													
				$lessonDB->displaychild(3,1,$rstoc["ID"],3,$rstoc["level"],$this->moduleid,$this->courseid,"");				
		     }//end threadparent
	   	}
	} else{
		echo "<tr><td>No content to display.</td></tr>";
    }
	?>
</table>

</td></tr>
</table>

</div>



