<div id="contentonly">
<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>

<?php echo $this->translate('submit_test_success') ?>

<br><br>

<?php echo $this->translate('click') ?> <a
			href="<?php
			echo $this->url(
		    array('module' => 'block', 'controller' => 'test', 'action' => 'viewresult', 'courseid' => $this->courseid, 'view' => $this->resultid), 'default', true)?>"><?php echo $this->translate('here') ?></a> <?php echo $this->translate('to_view_result') ?>.

</div>