<?php

function sec2hms ($sec, $padHours = false)
{

	// start with a blank string
	$hms = "";

	// do the hours first: there are 3600 seconds in an hour, so if we divide
	// the total number of seconds by 3600 and throw away the remainder, we're
	// left with the number of hours in those seconds
	$hours = intval(intval($sec) / 3600);

	// add hours to $hms (with a leading 0 if asked for)
	$hms .= ($padHours)
	? str_pad($hours, 2, "0", STR_PAD_LEFT). ":"
	: $hours. ":";

	// dividing the total seconds by 60 will give us the number of minutes
	// in total, but we're interested in *minutes past the hour* and to get
	// this, we have to divide by 60 again and then use the remainder
	$minutes = intval(($sec / 60) % 60);

	// add minutes to $hms (with a leading 0 if needed)
	$hms .= str_pad($minutes, 2, "0", STR_PAD_LEFT). ":";

	// seconds past the minute are found by dividing the total number of seconds
	// by 60 and using the remainder
	$seconds = intval($sec % 60);

	// add seconds to $hms (with a leading 0 if needed)
	$hms .= str_pad($seconds, 2, "0", STR_PAD_LEFT);

	// done!
	return $hms;

}



?>
<div id="contentonly">
<?php echo $this->title." ".$this->result['result_id'];?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>
<?php
if ($this->result=="0")
echo $this->translate('not_allowed_view_result');
else {
?>
<div style="float:right" >
<?php if ($this->from=="mylist") { ?>
<a href="<?php
		echo $this->url(
		array('module' => 'gradebook', 'controller' => 'index', 'action' => 'listmyresult',
		'blockcontentid' => $this->blockcontentid, 'semid' => $this->semid, 'courseid' => $this->courseid), 'default', true)?>"><img src="<?php echo $this->baseUrl(); ?>/images/qbank/back.gif" alt=""/></a> &nbsp;
<?php } else if ($this->from=="liststudent"){ ?>
<a href="<?php
		echo $this->url(
		array('module' => 'gradebook', 'controller' => 'index', 'action' => 'liststudent',
		'blockcontentid' => $this->blockcontentid, 'semid' => $this->semid, 'courseid' => $this->courseid), 'default', true)?>"><img src="<?php echo $this->baseUrl(); ?>/images/qbank/back.gif" alt=""/></a> &nbsp;
<?php } else { ?>
<a href="<?php
		echo $this->url(
		array('module' => 'gradebook', 'controller' => 'index', 'action' => 'index',
		'courseid' => $this->courseid), 'default', true)?>"><img src="<?php echo $this->baseUrl(); ?>/images/qbank/back.gif" alt=""/></a> &nbsp;
<?php } ?>	
<a href="javascript:print();"><img src="<?php echo $this->baseUrl(); ?>/images/qbank/print.png" alt=""/></a> 
<br><br>
</div>
<table id="mytable" width="80%">
<tr>
<th id='mytable' width="40%">
<?php echo strtoupper($this->translate('fullname')) ?>
</th>
<td id='mytable'>
<?php echo $this->user['firstname'] ?> <?php echo $this->user['lastname'] ?>
</td>
</tr>
<tr>
<th id='mytable'>
<?php echo strtoupper($this->translate('userid')) ?>
</th>
<td id='mytable'>
<?php echo $this->user['id'] ?> 
</td>
</tr>
<tr>
<th id='mytable'>
<?php echo strtoupper($this->translate('testname')) ?>
</th>
<td id='mytable'>
<?php 
//print_r($this->rstest);
echo $this->rstest['title'] ?> 
</td>
</tr>
<tr>
<th id='mytable'>
<?php echo $this->translate('correct_answers')." / ". $this->translate('total_questions') ?>
</th>
<td id='mytable'>
<?php $correct=str_replace("notrated","0",$this->result['correct_answer']); 
$correct=explode(",",$correct);
echo array_sum($correct);
?> / <?php echo $this->result['total_question']?>
</td>
</tr>
<tr>
<th id='mytable'>
<?php echo $this->translate('obtained_percentage') ?>
</th>
<td id='mytable'>
<?php echo $this->result['obtained_percentage']?> %
</td>
</tr>
<tr>
<th id='mytable'>
<?php echo $this->translate('time_taken')." / ". $this->translate('time_duration')." (H:M:S)" ?>
</th>
<td id='mytable'>
<?php $time_taken=explode(",",$this->result['time_taken']); echo sec2hms(array_sum($time_taken)); ?> / <?php echo sec2hms(($this->rstest['test_time'])*60);?>
	
</td>
</tr>
<tr>
<th id='mytable'>
<?php echo $this->translate('status') ?>
</th>
<td id='mytable'>
<?php
if ($this->result['status']==1) echo $this->translate('pass');
else if ($this->result['status']==0) echo $this->translate('fail');
?>
</td>
</tr>

</table>
<br>
<br>
<?php
	$qno=1;
	$selected_answers=explode(",",$this->result['selected_answers']);
	$correct_answers=explode(",",$this->result['correct_answer']);
	
	$qbank = new Qbank_Model_Qbank();
	$questions=$qbank->get_questions($this->result['question_ids']);

	
	foreach($questions as $question){
	$selected_answer=$selected_answers[$qno-1];
	?>
	<table width="100%"><tr id="question"><td valign=top width="80%">
	<table width="100%"><tr><td width="5%" >Q<?=$qno?>) &nbsp;</td><td><?=$question['question']?></td></tr></table>
	<?php $option=explode(',',$question['options']); 
	foreach($option as $option){ 
	
	?>
	<table><tr><td style="width:18px;" valign=top ><input type="radio" value="<?=$option?>" name="answer<?php echo $qno;?>" <?php if($selected_answer==$option){ echo "checked";} ?>     >  </td><td><?=$option?></td></tr></table>
	<?php
	}
	
	?>
	</td>
	<td valign=top >
	<?php
	
	if(($correct_answers[$qno-1])=="1"){
	$atr=array('title'=>'Correct');
	?>
	<img src="<?php echo $this->baseUrl(); ?>/images/qbank/tick.png" alt=""/>
	<?php
	}
	if(($correct_answers[$qno-1])=="0"){
	?>
	<img src="<?php echo $this->baseUrl(); ?>/images/qbank/delete.png" alt=""/>
	
	<?php
	echo $this->translate('answer')." : ".$question['answer'];
	}
	if(($correct_answers[$qno-1])=="notrated"){
	?>
	UnAttempted
	<?php	
	}
	?>
	</td></tr></table>
	<br/><br/>
<?php
$qno+=1;
	}
?>




<?php
}
?>
</div>