<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/style.css');
?>
<!-- SCORM TRACKING SCRIPT -->
<?php $urlapi = "http://".APP_HOSTNAME."/block/content/api/courseid/$this->courseid/moduleid/$this->moduleid/scoid/$this->tocid/tocid/$this->tocid/mode/$this->modestr/attempt2/$this->attemptstr"; ?>

<script src="<?php echo $urlapi; ?>"></script>
  <?   
    $url  = 'http://'.APP_HOSTNAME.str_replace(DOC_PATH.APP_FOLDER,'',$this->rs_lesson["location"]);       
    $next = $this->rs_lesson["next"];
    $prev = $this->rs_lesson["previous"];
    ?>
</head>    
<body>
<iframe id="myframe" src="<?php echo $url; ?>" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible; width:100%; display:none"></iframe>
</body>
</html>