<div id="contentonly">

AUCMS E-LEARNING >> <?php echo $this->course['courseid'] ?> (<?php echo strtoupper($this->course['coursename']) ?>) 

<br><br>
<?php 
echo "<h3>".$this->translate('import_ques')."</h3><br>";
?>

 
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());

?>

<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('qbank_entries'); ?> :</h3>-->
<br />
<form method="POST" name="f1">
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable">

<?php echo $this->translate('question'); ?>
</th>
 <?php
 $show = $naviauth->navicourse("qbank", "index", "view",$this->username,$this->courseid);
 if ($show == 1) {
            ?>
		<th width="13%" id="mytable">
		<?php echo $this->translate('view'); ?>
        </th>
    <?php
 }
    ?>
 <th width="53" id="mytable">
		<?php echo $this->translate('import'); ?>
</th>

</tr>
	<?php
	$iCounter=1;
    foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable">
		<?php
        echo $row['question'];
        ?></td>
   
    <?php
        $show = $naviauth->navicourse("qbank", "index", "view",$this->username,$this->courseid);
        if ($show == 1) {
            ?>
		
		 <td id="mytable"><a
		href="<?php
            echo $this->url(
            array('module' => 'qbank', 'controller' => 'index', 'action' => 'view', 
            'qid' => $row['qid']), null, FALSE)?>"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-view.png'>"?></a>
            </td>
    <?php
        }	
   
        
    ?>
    <td id="mytable" align="center">
     <input type="checkbox" name="C<?php echo $iCounter?>" value="<?php echo $row['qid']?>">
     </td>   
    
	<?php
	$iCounter++;
    }
    ?>
    
    <tr><td id="mytable" align="right" colspan="2">Select&nbsp;/&nbsp;UnSelect All&nbsp;</td>
     <td id="mytable" align="center"><input name=allbox type=checkbox value='Check All' onClick=CheckAll(this.form)></td>
     </tr>
     <tr><td align="right" colspan="3">
     <?php
     $iCounteritem=$iCounter-1;
     ?>
     <input type="button" value=" Import " name="B1" onclick=Add(<?php echo $iCounteritem?>,this.form)>
    <input type="button" value="Cancel" name="B1" onclick="javascript:document.location='<?php
echo $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'index', 'courseid' => $this->courseid , 'blockid' => $this->blockid, 'id' => $this->id))?>'"></td>
	</tr>
</table>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'pagination.phtml',$this->searchParams);
    ?>
<?php
}
?>
</form>
</div>

<script>
function Add(pageitem,form)
{
	var test;
	for (var i=0;i<form.elements.length;i++){
	 var e = form.elements[i];
	 if (e.name != 'allbox' && e.checked ){
		test=true;
	 }   
	}
	if (!test) {
	  alert ("Please select a question!");
	  return;
	}else{
	 form.action="<?php
echo $this->url(array('module' => 'qbank', 'controller' => 'index', 'action' => 'importquesprocess', 'courseid' => $this->courseid, 'blockid' => $this->blockid, 'id' => $this->id))?>/pageitem/"+pageitem;
	  form.submit();
	  
	}
}
function CheckAll(form)
  {
   for (var i=0;i<form.elements.length;i++)
    {
    var e = form.elements[i];
    if (e.name != 'allbox')
          e.checked = form.allbox.checked;
    }
  }
</script>