<div class="paging"><?php echo $this->title;?></div>
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navicourse("qbank", "index", "upload",$this->username,$this->courseid);
if ($show == 1) 
{
    ?>
    <div class="page-opt">
		<a class="btn btn-round btn-large" href="<?php echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'upload', 'courseid' => $this->courseid), null, FALSE)?>"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('add_question')?></a>
	</div>
	<?php 
}	
?>

<h2 class="dotted"><?php echo $this->course['coursename'].' ('.$this->course['coursecode'].')';?></h2>
<?php
echo $this->form;


if ( count($this->paginator) ) 
{
    ?>
<table class="maintable">
<thead>
	<tr>
		<th><?php echo $this->translate('question'); ?></th>
		<th style="width:40%"><?php echo $this->translate('option')?></th>
	</tr>
</thead>
<tbody>
<?php
foreach ($this->paginator as $row) 
{
	?>
    <tr>
    	<td><?php echo $row['question']; ?></td>
    	<td>
    	<?php
        $show = $naviauth->navicourse("qbank", "index", "view",$this->username,$this->courseid);
        if ($show == 1) 
        {
        	?>
			<a class="btn2 blue" href="<?php echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'view', 'qid' => $row['qid']), null, FALSE)?>"><span class="icon icon-eye"></span> <?php echo $this->translate('view') ?></a>
    		<?php
        }	
   
        $show = $naviauth->navicourse("qbank", "index", "modify",$this->username,$this->courseid);
        if ($show == 1) 
        {
            ?>
            <a class="btn2 green" href="<?php echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'modify', 'qid' => $row['qid']), null, FALSE)?>"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
 			<?php
        }
        
        $show = $naviauth->navicourse("qbank", "index", "delete",$this->username,$this->courseid);
        if ($show == 1) 
        {
            ?>
     		<a class="btn2 red" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')" href="<?php echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'delete', 'qid' => $row['qid']), null, FALSE)?>"><span class="icon icon-trash"></span> <?php echo $this->translate('delete')?></a>
     		<?php
        }
        ?>
        </td>
        <?php
    }
    ?>
    </tbody>
</table>
<?php

echo $this->paginationControl($this->paginator, 'Elastic', 'pagination.phtml',$this->searchParams);
    
}
?>