
<div class="page-opt">
	<a class="btn btn-round btn-large" href="<?php  echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'index', 'courseid' => $this->courseid), null, FALSE)?>"><span class="icon icon-left-open"></span> <?php echo $this->translate('back')?></a>
	<a class="btn btn-round btn-large" href="<?php  echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'view', 'qid' => $this->question['qid']), null, FALSE)?>"><span class="icon icon-eye"></span> <?php echo $this->translate('view')?></a>
</div>

<h2 class="dotted"><?php echo $this->translate('edit_question')?> <?php echo $this->qid?></h2>

<form id="form_editquestion" enctype="multipart/form-data" method="post" action="<?php echo $this->baseUrl()?>/qbank/index/modify">	
	
	<p><textarea id="question" name="question" rows="15" cols="80" style="width: 80%"><?php echo $this->question['question'] ?></textarea></p>
	<?php 
	$options = explode(',',$this->question['options']); 
	$i=0;
	
	foreach($options as $option)
	{
		?>
		<p><input type="radio" name="answer" <?php if($this->question['answer']==$option){ echo 'checked="checked"'; }?> value="<?=$i?>" /> <input class="inputtext" type="text" name="option[]" value="<?=$option?>" /></p>
		<?php
		$i+=1;
	}
	?>
	<input type="hidden" id=nop value="<?=$i?>" />
	<div id="newOption">
	 </div>
	 
	 <p><a href="#" onclick="return addmore();"><span class="icon icon-plus"></span> <?php echo $this->translate('add_option')?></a></p>
	 <p class="submit"><input type="submit" class="btn submit" name="submit" value="<?php echo $this->translate('submit')?>" /> </p>
	
	 <input type="hidden" name="courseid" value="<?php echo $this->courseid?>" />
	 <input type="hidden" name="id" value="<?php echo $this->id?>" />
	 <input type="hidden" name="qid" value="<?php echo $this->qid ?>" />
	 <input type="hidden" name="blockid" value="<?php echo $this->blockid?>" />
	 
</form>
<style type="text/css">
#form_editquestion p { margin-bottom:10px; }
</style>
<script type="text/javascript">
$(function()
{
	$('#form_addquestion').submit(function()
	{
		var editorText = CKEDITOR.instances.question.getData();
		
		if ( editorText == '' )
		{
			alert("Please provide question");
			return false;
		}

		if (!$("input[name=answer]:checked").val()) 
		{
			alert('Nothing is checked!');
			return false; // so form doesn't submit
		}

	});

});

CKEDITOR.replace( 'question',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  height: 150, width: 650 } );

function addmore()
{
	var count = $(".opts").length;
	var next = count+1;

	$("#newOption").append('<p style="display:none"><input type="radio" name="answer" value="'+next+'" /> <input type="text" name="option[]" value="" class="opts inputtext"  /></p>');

	$("#newOption p:last-child").slideDown('fast');
	return false;
}

</script>