<div class="page-opt">
	<a class="btn btn-round btn-large" href="<?php echo $this->url(array('module' => 'qbank', 'controller' => 'index', 'action' => 'index', 'courseid' => $this->courseid ),'default',true)?>"><span class="icon icon-left-open"></span> Add Course</a>
</div>

<h2 class="dotted"><?php echo $this->translate('add_question')?></h2>



<form id="form_addquestion" enctype="multipart/form-data" method="post" action="<?php echo $this->baseUrl()?>/qbank/index/upload">	
	
	<p><textarea id="question" name="question" rows="15" cols="80" style="width: 80%">
	</textarea></p>
	
	<p><input type="radio" name="answer" value="0" /> <input type="text" name="option[]" value="" class="opts inputtext" /></p>
	<p><input type="radio" name="answer" value="1" /> <input type="text" name="option[]" value="" class="opts inputtext"  /></p>
	<input type="hidden" id=nop value="2" />
	 
	 <div id="newOption">
	 </div>
	 
	 <p><a href="#" onclick="return addmore();"><span class="icon icon-plus"></span> <?php echo $this->translate('add_option')?></a></p>
	 <p class="submit"><input type="submit" class="btn submit" name="submit" value="<?php echo $this->translate('submit')?>" /> </p>
	
	 <input type="hidden" name="courseid" value="<?php echo $this->courseid?>" />
	 <input type="hidden" name="id" value="<?php echo $this->id?>" />
	 <input type="hidden" name="blockid" value="<?php echo $this->blockid?>" />
	 
</form>

<style type="text/css">
#form_addquestion p { margin-bottom:10px; }
</style>
<script type="text/javascript">
$(function()
{
	$('#form_addquestion').submit(function()
	{
		var editorText = CKEDITOR.instances.question.getData();
		
		if ( editorText == '' )
		{
			alert("Please provide question");
			return false;
		}

		if (!$("input[name=answer]:checked").val()) 
		{
			alert('Nothing is checked!');
			return false; // so form doesn't submit
		}

	});

});

CKEDITOR.replace( 'question',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  height: 150, width: 650 } );

function addmore()
{
	var count = $(".opts").length;
	var next = count+1;

	$("#newOption").append('<p style="display:none"><input type="radio" name="answer" value="'+next+'" /> <input type="text" name="option[]" value="" class="opts inputtext"  /></p>');

	$("#newOption p:last-child").slideDown('fast');
	return false;
}

</script>
