<div class="page-opt">
	<a class="btn btn-round btn-large" href="<?php  echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'index', 'courseid' => $this->courseid), null, FALSE)?>"><span class="icon icon-left-open"></span> <?php echo $this->translate('back')?></a>
	<a class="btn btn-round btn-large" href="javascript:print();"><span class="icon icon-print"></span> <?php echo $this->translate('print')?></a>
</div>

<h2 class="dotted"><?php echo $this->translate('view').' '.$this->translate('question')?> <?php echo $this->qid?></h2><?php
?>
<table class="table questionview">
<tbody>
	<tr>
		<td class="title" colspan="2"><?php echo $this->translate('question')?></td>
	</tr>
	<tr>
		<td class="question" colspan="2"><?php echo $this->question['question'] ?></td>
	</tr>
	<tr>
		<td class="title" colspan="2"><?php echo $this->translate('answers')?></td>
	</tr>
	<?php 
	$option=explode(',',$this->question['options']);
	$i = 0;
	
	foreach($option as $option)
	{
		$i++;
		?>
		<tr><td class="no"><?php echo $i?>.</td><td><?=$option?> <?php if($this->question['answer']==$option){ ?> <span class="icon icon-check"></span> <?php }?></td></tr>
		<?php
	}
	?>
</tbody>
</table>

<style type="text/css">
.question { font-size:14px; }
.icon-check { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; background: green; color:#fff; font-size:12px; margin-left:10px; }
.questionview { max-width:650px; }
td.no { width:30px; text-align:center }
td.title { font-weight:bold; text-transform:uppercase; background:#e1e1e1 }
</style>