<div id="contentonly">
<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>


<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());

?>
<?php
echo $this->form;
?>

<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('qbank_entries'); ?> :</h3>-->
<br />
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" width="5%">

<?php echo $this->translate('id'); ?>
</th>
<th id="mytable">

<?php echo $this->translate('test')." ".$this->translate('name'); ?>
</th>
<th id="mytable">

<?php echo $this->translate('obtained')." %"; ?>
</th>
<th id="mytable">

<?php echo $this->translate('status'); ?>
</th>

		<th width="13%" id="mytable">
		<?php echo $this->translate('view'); ?>
        </th>
    
 
     <?php
 $show = $naviauth->navicourse("gradebook", "index", "delete",$this->username,$this->courseid);

 if ($show == 1) {
            ?>
		<th width="13%" id="mytable">
		<?php echo $this->translate('delete'); ?>
        </th>
    <?php
 }
    ?>

</tr>
	<?php
    foreach ($this->paginator as $row) {
        ?>
    <tr>
    <td id="mytable">
		<?php
        echo $row['result_id'];
        ?></td>
    
    <td id="mytable">
		<?php
        echo $row['title'];
        ?></td>
    <td id="mytable">
		<?php
        echo $row['obtained_percentage']." %";
        ?></td>
        
    <td id="mytable">
		<?php
        if ($row['status']==1) echo $this->translate('pass');
        else if ($row['status']==0) echo $this->translate('fail');
        ?></td>
   
    
		
		 <td id="mytable"><a
		href="<?php
            echo $this->url(
            array('module' => 'block', 'controller' => 'test', 'action' => 'viewresult', 
            'courseid' => $this->courseid, 'view' => $row['result_id']), 'default', true)?>"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-view.png'>"?></a>
            </td>
    <?php
        
   
        
        $show = $naviauth->navicourse("gradebook", "index", "delete",$this->username,$this->courseid);
        if ($show == 1) {
            ?>
     <td id="mytable"><a href="javascript: validate(<?php
            echo $row['result_id']?>)"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-delete.gif'>"?></a>
            </td>
     <?php
        }
        ?>   
    
	<?php
    }
    ?>
</table>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'pagination.phtml',$this->searchParams);
    ?>
<?php
}
?>

</div>

<script>

function validate(rowid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;
	
	document.location="<?php
echo $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'deleteresult', 'courseid' => $this->courseid))?>/rowid/"+rowid;
}

</script>