<div class="paging">
<?php echo $this->title;?>
</div>

<h2 class="dotted"><?php echo strtoupper($this->course['coursename']).' <span class="code">'.$this->course['coursecode'].'</span>';?></h2>
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
?>
<?php
echo $this->form;

if (count($this->paginator)) 
{
    ?>
	<table id="mytable" cellspacing="0" class="maintable">
		<tr>
			<th id="mytable" width="5%"><?php echo $this->translate('no'); ?></th>
			<th width="20%"><?php echo $this->translate('test_name'); ?></th>
			<th width="13%"><?php echo $this->translate('semester'); ?></th>
		    <?php
		 	$show = $naviauth->navicourse("gradebook", "index", "delete",$this->username,$this->courseid);
		 	if ($show == 1) 
		 	{
				?>
				<th width="13%"><?php echo $this->translate('view')." ".$this->translate('result'); ?></th>
		    	<?php
		 	}
		    ?>
		</tr>
		<?php
		$i=0;
		
		foreach ($this->paginator as $row) 
		{
			?>
		    <tr>
		    	<td><?php echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$i; ?></td>
		    	<td><?php echo $row['title']; ?></td>
		    	<td>
		    		<?php 
		     		$intake = new Admin_Model_Intake ();
		     		$result =  $intake->fetch($row['intakeid']);
					echo $result["intakecode"];
		        	?>
		        </td>
		    <?php
		    $show = $naviauth->navicourse("gradebook", "index", "delete",$this->username,$this->courseid);
		    if ($show == 1) 
		    {
		    	?>
		      	<td>
		      		<a class="btn2" href="<?php echo $this->url( array('module' => 'gradebook', 'controller' => 'index', 'action' => 'liststudent', 'blockcontentid' => $row['id'], 'semid' => $row['intakeid'], 'courseid' => $this->courseid), 'default', true)?>"> <?php echo $this->translate('view_student_result'); ?></a>
		           	<a class="btn2" href="<?php echo $this->url( array('module' => 'gradebook', 'controller' => 'index', 'action' => 'listmyresult', 'blockcontentid' => $row['id'], 'semid' => $row['intakeid'], 'courseid' => $this->courseid), 'default', true)?>"> <?php echo $this->translate('view_my_result'); ?></a>
		       	</td>
		    	<?php
		    }    
    	}
    ?>
	</table>
	<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 'paginationspecial.phtml',$this->searchParams);
}
?>
<script type="text/javascript">
function validate(rowid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;
	
	document.location="<?php
echo $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'deleteresult', 'courseid' => $this->courseid))?>/rowid/"+rowid;
}
</script>

