<div class="page-opt">
	<a href="<?php echo $this->url(array('module'=>'gradebook' , 'controller' => 'index' , 'action' => 'listtestname', 'courseid' => $this->courseid),'default', true)?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('back')?> </a>
</div>

<div class="paging">
<?php echo $this->title;?>
</div>

<h2 class="dotted"><?php echo strtoupper($this->course['coursename']).' <span class="code">'.$this->course['courseid'].'</span>';?></h2>
<?php
if (count($this->paginator)) 
{
	?>
	<table id="mytable" cellspacing="0" class="maintable">
	<tr>
		<th><?php echo $this->translate('fullname'); ?></th>
		<th><?php echo $this->translate('icno'); ?></th>
		<th><?php echo $this->translate('studentID'); ?></th>
		<th><?php echo $this->translate('obtained')." %"; ?></th>
		<th><?php echo $this->translate('status'); ?></th> 
		<th width="13%"><?php echo $this->translate('view'); ?></th>
		<?php
		$naviauth = new Epic_Controller_Acl(new Epic_Acl());
	 	$show = $naviauth->navicourse("gradebook", "index", "delete",$this->username,$this->courseid);
		if ($show == 1) 
		{
			?>
			<th width="13%"><?php echo $this->translate('delete'); ?></th>
	    	<?php
	 	}
	      
		$gradebook = new Gradebook_Model_Gradebook ();
		?>
	</tr>
	<?php
	foreach ($this->paginator as $row) 
	{
		?>
	    <tr>
	    	<td><?php echo strtoupper($row['fullname']); ?></td>
	        <td><?php echo $row['icno']; ?></td>
	        <td><?php echo $row['studentID']; ?></td>
	        <td>
			<?php
			$rs2=$gradebook->fetchresult($this->blockcontentid,$row['uID']);
	        if ($rs2)
	        {
				$i=1;
	        	foreach ($rs2 as $row2) 
	        	{
	        		echo "<div class='attempt'>".$this->translate('attempt')." ".$i." = ".$row2["obtained_percentage"]."</div>";
	        		$i++;
	        	}
	       	}
	        else 
	        {
	        	 echo $this->translate('not_taken');
	        }
	        ?>
	        </td>
	        <td>
			<?php
			if ($rs2)
			{
				$i=1;
	        	foreach ($rs2 as $row2) 
	        	{
	        		 echo "<div class='attempt_result'>".$this->translate('attempt')." ".$i." = ".($row2['status']==1 ? '<span class="result">'.$this->translate('pass').'</span>' : '<span class="result">'.$this->translate('fail').'</span>' )."</div>";
	        		$i++;
	        	}
			}
	        else 
	        {
	        	echo "<div class='attempt_result'>".$this->translate('not_taken')."</div>";
	        }
	        ?>
	        </td>
			<td>
			<?php
	     	if ($rs2)
	     	{
				foreach ($rs2 as $row2) 
				{
	     			?>
	     			<a class="btn2 blue" href="<?php echo $this->url( array('module' => 'block', 'controller' => 'test', 'action' => 'viewresult', 'courseid' => $this->courseid, 'view' => $row2['result_id'], 'blockcontentid' => $this->blockcontentid, 'semid' => $this->semid), 'default', true)?>/from/liststudent"><span class="icon icon-eye"></span> <?php echo $this->translate('view')?></a>
					<?php
	     		}
	     	}
	        ?>
	        </td>
	        <td>
	     	<?php
	     	if ($rs2)
	     	{
				foreach ($rs2 as $row2) 
				{
					?>
	    			<a class="btn2 red" href="javascript: validate(<?php  echo $row2['result_id']?>)"><span class="icon icon-trash"></span> <?php echo $this->translate('delete')?></a>
	      			<?php
	     		}
	     	}
	     ?>
	     </td>
	     <?php
	}
	?>
	</table>
	
	<div class="pagination">
	<?php echo $this->paginationControl($this->paginator, 'Elastic',  'pagination.phtml'); ?>
	</div>
	<?php
}
?>
<script type="text/javascript">
function validate(rowid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;
	
	document.location="<?php echo $this->url(array('module' => 'gradebook', 'controller' => 'index', 'action' => 'deleteresult', 'blockcontentid' => $this->blockcontentid, 'semid' => $this->semid, 'courseid' => $this->courseid, 'from' => 'liststudent'))?>/rowid/"+rowid;
}
</script>