<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navi("admin", "intake", "upload");
if ($show == 1)
{
	?>
	<div class="page-opt">
		<a class="btn btn-round btn-large" href="<?php echo $this->url(  array('module' => 'admin', 'controller' => 'intake', 'action' => 'upload'), null, FALSE)?>"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('click_add_semester'); ?></a>
	</div>
	<?php
}

if (count($this->paginator)) 
{
    echo '<h2 class="dotted">'.$this->translate('intake_entries').'</h2>';
    
    if( isset($this->noticeMessage) )
	{
		?>
		<div id="msg" class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
		<?php
	}
	
	if ( isset($this->noticeSuccess ) ) 
	{
		?>
		<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
		<?php
	}
	
	if ( isset($this->noticeError) ) 
	{
		?>
		<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
		<?php
	}
	
	?>
	<table class="maintable">
	<thead>
		<tr>
			<th><?php echo $this->translate('semester_id'); ?></th>
			<th width="50%"><?php echo $this->translate('description'); ?></th>
			<th><?php echo $this->translate('status'); ?></th>
			<th><?php echo $this->translate('options'); ?></th>
		</tr>
	</thead>
	<tbody>
	<?php
    foreach ($this->paginator as $row)
    {
        ?>
    	<tr>
    	<td><?php echo $row['intakecode']; ?></td>
		<td><?php echo $row['description']; ?></td>
		<td><?php echo $row['intakestatus']; ?></td>
	  	<td>
        <?php
	  	$show = $naviauth->navi("admin", "intake", "modify");
        if ($show == 1)
        {
        ?>
     	<a href="<?php echo $this->url( array('module' => 'admin', 'controller' => 'intake', 'action' => 'modify', 'id' => $row['id']), null, FALSE)?>" class="btn2 green"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
     	<?php
        }
        
        $show = $naviauth->navi("admin", "intake", "delete");
        if ($show == 1) 
        {
        ?>
     	<a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'intake', 'action' => 'delete', 'rowid' => $row['id']))?>" class="btn2 red"  onclick="return sure('<?php echo $this->translate('are_you_sure')?>')"><span class="icon icon-trash"></span> <?php echo $this->translate('delete')?></a>
     	<?php
        }
        ?>
        </td>
        <?php 
        
    } //foreach
    ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',  'pagination.phtml');
}
?>