<h2 class="dotted"><?php echo $this->translate('admin')?></h2>
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navi("users", "index", "upload");
if ($show == 1)
{
?>
	<!-- 
	<ul class="adminlist">         
    	<li><a href="<?php echo $this->url(array('module' => 'users' , 'controller' => 'index', 'action' => 'index'),'default',true)?>" ><span class="icon icon-users"></span> <?php echo $this->translate('manage_user')?></a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin' , 'controller' => 'organisation' , 'action' => 'property'),'default',true)?>" ><span class="icon icon-flow-tree"></span> <?php echo $this->translate('manage_organisation')?></a></li>
        <li><a href="<?php echo $this->url(array('module' => 'course' , 'controller' => 'index' , 'action' => 'listcourse'),'default',true)?>" ><span class="icon icon-book"></span> <?php echo $this->translate('manage_course')?></a></li>
        <li><a href="<?php echo $this->url(array('module' => 'assignment' , 'controller' => 'markentry' , 'action' => 'management'),'default',true)?>" ><span class="icon icon-doc-text"></span> <?php echo $this->translate('manage_assignment')?></a></li>
        <li><a href="<?php echo $this->url(array('module' => 'languageset' , 'controller' => 'configurer'),'default',true)?>" ><span class="icon icon-megaphone"></span> <?php echo $this->translate('manage_languages')?></a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin' , 'controller' => 'index' , 'action' => 'report'),'default',true)?>" ><span class="icon icon-attention"></span> <?php echo $this->translate('manage_report')?></a></li>
    </ul>  -->
<?php 
}
?>

<div class="admin-welcome">
	<div class="quick-search">
		<form method="post" action="<?php echo $this->baseUrl()?>/users?>">
			<p><input type="text" name="keyword" id="keyword" value="" class="inputtext" /> <input type="submit" name="register" id="register" value="<?php echo $this->translate('search_user')?>" class="btn submit" /></p>
		</form>
	</div>
</div>

<div class="admin-quick">
	<h3><?php echo $this->translate('shortcuts')?></h3>
	<ul>
  		<li><a class="" href="<?php echo $this->url(array('module'=>'admin' , 'controller' => 'announcement' , 'action' => 'index'),null, FALSE)?>"><span class="icon icon-megaphone"></span> <?php echo $this->translate('add_announcement'); ?></a></li>
  		<li><a class="" href="<?php echo $this->url(array('module' => 'users', 'controller' => 'index', 'action' => 'upload'), null, FALSE)?>"><span class="icon icon-user"></span> <?php echo $this->translate('add_new_user'); ?></a></li>
  		<li><a class="" href="<?php echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'listcourse'),null, FALSE)?>"><span class="icon icon-book"></span> <?php echo $this->translate('course_list'); ?></a></li>
  		<li><a href="<?php echo $this->url(array('module'=>'catalog' , 'controller' => 'admin' , 'action' => 'index'),null, FALSE)?>" href=""><span class="icon icon-folder"></span> <?php echo $this->translate('course_catalog')?></a></li>
  	</ul>
</div>

<?php
$db = Zend_Registry::get('db');
$totalstudents = $db->fetchOne( 'SELECT COUNT(*) AS total FROM `users` WHERE privilage=\'STUDENT\'' );
$totalcc = $db->fetchOne( 'SELECT COUNT(*) AS total FROM `users` WHERE privilage=\'COURSE COORDINATOR\'' );
$courses = $db->fetchOne( 'SELECT COUNT(*) as total FROM `coursemain`');
?>
<div class="admin-stats">
	<ul>
		<li><strong><?php echo number_format($totalstudents)?></strong> <span><?php echo $this->translate('students') ?></span></li>
		<li><strong><?php echo number_format($cc)?></strong> <span><?php echo $this->translate('course_coordinators') ?></span></li>
		<li><strong><?php echo number_format($courses)?></strong> <span><?php echo $this->translate('courses') ?></span></li>
	</ul>
</div>

<style type="text/css">
.admin-stats { display:none; }
.admin-stats ul { list-style:none }
.admin-stats ul li { overflow:hidden; margin-bottom:10px; }
.admin-stats ul li strong { font-weight:400; font-size:24px; letter-spacing:-1px; color:#333 }
.admin-stats ul li span { font-size:16px; color:#666 }

.admin-quick { margin:10px 0;  }
.admin-quick h3 { }
.admin-quick ul { list-style:none; overflow:hidden }
.admin-quick ul li { margin-bottom:10px; }
.admin-quick ul li a { font-size:16px; }
.admin-quick ul li a .icon { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; background:#45a0e7; color:#fff; padding:6px; font-size:14px; }
#rtl .admin-quick { }
#rtl .admin-stats ul li strong { }
#rtl .admin-stats ul li span {  }
</style>