<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/global.css');
?>
<script src="<?php echo $this->baseUrl(); ?>/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl(); ?>/Scripts/swfobject_modified.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body onload="MM_preloadImages('<?php echo $this->baseUrl(); ?>/images/course_pg/btn_SME_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_Activities_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_assignment_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_resources_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_sample_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_manage user_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg')">
<table width="1024" align="center">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="12" rowspan="4"></td>
        <td height="5" colspan="5"></td>
        <td width="13" rowspan="4"></td>
      </tr>
      <tr>
        <td width="33" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_left.jpg" width="33" height="31" /></td>
        <td width="938" height="31" colspan="3"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_top.jpg" width="938" height="31" /></td>
        <td width="29" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_right.jpg" width="29" height="31" /></td>
        </tr>
      <tr>
        <td width="33" height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_left.jpg" width="33" height="635" /></td>
        <td height="635" colspan="3" valign="top" bgcolor="#FFFFFF"><table width="400" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>                </tr>
            </table></td>
          </tr>
        </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="400"><table width="400" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="25" height="20">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="2"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/title_admin.jpg"  width="352" height="42" border="0"  /></td>
                </tr>
                <tr>
                  <td height="20">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>  
                	<td width="159" align="left"><a href="<?php
echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'listcourse'),null, FALSE)?>" target="content">Manage Course</a><br><br></td>
                      <td>&nbsp;</td>
                      </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="left"><a href="<?php
echo $this->url(array('module'=>'content' , 'controller' => 'index' , 'action' => 'listcourse'),null, FALSE)?>" target="content" onmouseover="MM_swapImage('Image11','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_SME_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_SME.jpg" name="Image11" width="236" height="90" border="0" id="Image11" /></a></td>
                  <td width="99">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    
                  	<tr>
                      <td width="159" align="left"><a href="<?php
echo $this->url(array('module'=>'activities' , 'controller' => 'index' , 'action' => 'listcourse'),null, FALSE)?>" target="content" onmouseover="MM_swapImage('Image12','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_Activities_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_Activities.jpg" name="Image12" width="159" height="101" border="0" id="Image12" /></a></td>
                      <td>&nbsp;</td>
                      </tr>
                    <tr>
                      <td align="left"><a href="<?php
echo $this->url(array('module'=>'assignment' , 'controller' => 'index' , 'action' => 'listcourse'),null, FALSE)?>" target="content" onmouseover="MM_swapImage('Image13','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_assignment_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_assignment.jpg" name="Image13" width="159" height="100" border="0" id="Image13" /></a></td>
                      <td>&nbsp;</td>
                      </tr>
                    <tr>
                      <td align="left"><a href="<?php
echo $this->url(array('module'=>'resources' , 'controller' => 'index' , 'action' => 'listcourse'),null, FALSE)?>" target="content" onmouseover="MM_swapImage('Image14','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_resources_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_resources.jpg" name="Image14" width="159" height="94" border="0" id="Image14" /></a></td>
                      <td rowspan="3" align="center" valign="bottom">
                      <?php echo $this->htmlFlash( $this->baseUrl().'/swf/mat_lompat.swf', array('width' => '200', 'height' => '180' ) ); ?>
                      </td>
  </tr>
                    <tr>
                      <td align="left"><a href="<?php
echo $this->url(array('module'=>'sample' , 'controller' => 'index' , 'action' => 'listcourse'),null, FALSE)?>" target="content" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_sample_over.jpg',1)"><br />
                        <img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_sample.jpg" name="Image15" width="118" height="52" border="0" id="Image15" /></a></td>
                    </tr>
                    <tr>
                      <td align="left">
                      <?php
                      $naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navi("users", "index", "upload");
if ($show == 1) { ?>
                      <a href="<?php
echo $this->url(array('module'=>'users' , 'controller' => 'index', 'action' => 'index'),null, FALSE)?>" target="content" onmouseover="MM_swapImage('Image16','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_manage user_over.jpg',1)" onmouseout="MM_swapImgRestore()"><br />
                        <img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_manage user.jpg" name="Image16" width="130" height="51" border="0" id="Image16" /></a>
                        <?php } ?>
                        </td>
                    </tr>
                  </table></td>
</tr>
                <tr>
                  <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr> </tr>
                  </table></td>
                </tr>
              </table></td>
              <td align="center" valign="top"><table width="530" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="60"><table width="100%">
                    <tr>
                      <td height="50">&nbsp;</td>
                      <td width="80" align="center">
                      <form name="f1" id="f1" method="POST">
                      <select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
                      <option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
                      <option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
				
			</select>
					  </form>
                      </td>
                      <td width="80" align="center"><a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout.jpg" name="Image21" width="71" height="26" border="0" id="Image21" /></a></td>
                      <td width="107"><a href="<?php echo $this->baseUrl(); ?>/index/menu" target="_self" onmouseover="MM_swapImage('Image19','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home.jpg" name="Image19" width="107" height="44" border="0" id="Image19" /></a></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td height="575" valign="top"><iframe name="content" id="content" width="100%" height="575" frameborder="0" scrolling="auto" src="<?php
echo $this->url(array('module'=>'content' , 'controller' => 'index' , 'action' => 'listcourse'),null, FALSE)?>"></iframe></td>
                </tr>
                </table></td>
            </tr>
          </table></td>
        <td height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_right.jpg" width="29" height="635" /></td>
        </tr>
      <tr>
        <td width="33" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_left.jpg" width="33" height="80" /></td>
        <td width="725" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot1.jpg" width="725" height="80" /></td>
        <td width="153" height="80"><a href="https://plus.google.com/114506634309831479507" target="_blank" onmouseover="MM_swapImage('Image18','','<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2.jpg" name="Image18" width="153" height="80" border="0" id="Image18" /></a></td>
        <td width="60" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot3.jpg" width="60" height="80" /></td>
        <td width="29" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_right.jpg" width="29" height="80" /></td>
        </tr>
    </table></td>
  </tr>
</table>
<script type="text/javascript">
<!--
swfobject.registerObject("FlashID");
//-->
</script>
</body>
</html>
