
<div id="contentonly">
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable"><?php echo $this->translate('menu'); ?> <?php echo $this->translate('list'); ?> </th>
</tr>
<tr><td id='mytable'>
    	<a href="<?php
echo $this->url(array('module'=>'users' , 'controller' => 'monitoring' , 'action' => 'searchlogin'),null, FALSE)?>" ><?php echo $this->translate('login_monitoring'); ?></a>
</td></tr>
<tr><td id='mytable'>
    	<a href="<?php
echo $this->url(array('module'=>'forum' , 'controller' => 'monitoring' , 'action' => 'searchmessage'),null, FALSE)?>" ><?php echo $this->translate('forum_monitoring'); ?></a>
</td></tr>

<tr><td id='mytable'>
    	<a href="<?php
echo $this->url(array('module'=>'assignment' , 'controller' => 'monitoring' , 'action' => 'eosmonitoring'),null, FALSE)?>" ><?php echo $this->translate('assignment_monitoring'); ?></a>
</td></tr>




</table>
</div>
