<h2 class="dotted"><?php echo $this->translate($this->title);?></h2>

<div class="lang-opt">
	<!--  because having 1 class is too mainstream -->
	<a href="<?=$this->url(array('module' => 'languageset', 
								'controller' => 'configurer', 
								'action' => 'index'), 
								null, 
								FALSE)?>" class="btn btn-round btn-large"><span class="icon icon-home"></span> Language Configurer Main</a>
	<a href="#" class="btn btn-round btn-large"><span class="icon icon-upload"></span> Upload Language</a>
</div>

<br /><br />

<table class="maintable" id="managelang">
	<thead>
	<tr width='50%'>
		<th class="centered" colspan='2'>Viewing on</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td width='20%'><?=$this->translate('language_name');?></td>
			<td  width='30%'><?= $this->langName?></td>
		</tr>
		<tr>
			<td width='20%'><?=$this->translate('language_code');?></td>
			<td width='30%'><?= $this->langCode?></td>
		</tr>
		<tr>
			<td width='20%'><?=$this->translate('language_dir_set');?></td>
			<td width='30%'><?= $this->langDirSet?></td>
		</tr>
		<tr>
			<td colspan='2' class="centered">
				<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'configurer', 'action'=>'edit', 'id' => $this->langID),'default',true); ?>" class="btn2 green"><span class="icon icon-pencil"></span> <?=$this->translate('edit');?></a> 
				<a href="#" class="btn2 red" onclick="return sure('Are you sure?')"><?=$this->translate('delete');?></a>
			</td>
		</tr>
	</tbody>
</table>
<!--  /manage table  -->
<div class="lang-foot">
<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set'),'default',true); ?>" class="btn btn-large"><span class="icon icon-book-open"></span>Manage Language Set</a>
</div>