<div class="lang-opt">
	<a href="<?=$this->url(array('module' => 'languageset', 'controller' => 'configurer', 'action' => 'index'), null, true)?>" class="btn btn-round btn-large"><span class="icon icon-home"></span> <?php echo $this->translate('language_conf_main')?></a>
</div>

<h2 class="dotted"><?php echo $this->translate($this->title);?></h2>
<div class="lang-form">
	<?php 
			echo $this->form;
		?>
</div>

