<h2 class="dotted"><?php echo $this->translate($this->title);?></h2>

<div class="lang-opt">
	<!--  because having 1 class is too mainstream -->
	<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'configurer', 'action'=>'add'),'default',true); ?>" class="btn btn-round btn-large"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('add_new_language')?></a>
	<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action'=>'mass'),'default',true); ?>" class="btn btn-round btn-large"><span class="icon icon-tools"></span> <?php echo $this->translate('mass_edit')?></a>
</div>

<div class="lang-info">
	<ul>
		<li><strong><?php echo $this->translate('current_language')?></strong><span><?php echo $this->current_language;?></span></li>
	</ul>
</div>

<br /><br />

<!--  manage table -->

<h2 class="subtitle"><?php echo  $this->translate('available_languages')?></h2>
<table class="maintable" id="managelang">
	<thead>
	<!--  <tr>
		<th class="centered" colspan='4'></th>
	</tr>-->
	<tr>
		<th width="40%"><?php echo $this->translate('language')?></th>
		<th><?php  echo $this->translate('CODE')?></th>
		<th class="centered"><?php echo  $this->translate('DIRECTION')?></th>
		<th><?php  echo $this->translate('options')?></th>
	</tr>
	</thead>
	<tbody>
	<?php
	if ( is_array($this->langsets) )
	{
		foreach($this->langsets as $lang){
			?>
			<tr>
			<td><?= $lang['Name']?></td>
			<td><?= $lang['Code']?></td>
			<td class="centered"><?= $lang['Direction']?></td>
			<td>
				<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action'=>'view', 'id' => $lang['ID']),'default',true); ?>" class="btn2 blue"><span class="icon icon-eye"></span> <?=$this->translate('view_set');?></a>
				<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'configurer', 'action'=>'edit', 'id' => $lang['ID']),'default',true); ?>" class="btn2 green"><span class="icon icon-pencil"></span> <?=$this->translate('edit');?></a>
				<?php if($lang['IsAllowToDelete'] == 1){?> 
				<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'configurer', 'action'=>'delete', 'id' => $lang['ID']),'default',true); ?>" class="btn2 red" onclick="return sure('Are you sure?')"><span class="icon icon-trash"></span> <?=$this->translate('delete');?></a>
				<?php } ?>
			</td>
				
			</tr>
			<?php
		}
	}
	?>
	</tbody>
</table>
<!--  /manage table  -->
<!--  <div class="lang-foot">
	<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set'),'default',true); ?>" class="btn btn-large"><span class="icon icon-book-open"></span>Manage Language Set</a>
</div> -->