<?php
$i=1;
foreach ($this->course as $row) {
	$course[$i]=$row['coursename'];
	$courseid[$i]=$row['courseid'];
	$i++;
}
$j=1;
foreach ($this->sampledownload as $row2) {
	$filename[$j]=$row2['filename'];

	$j++;
}

//get locale
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
/*echo $_POST["setlanguage2"];
exit();*/

/*echo $courseid[1];
exit();*/
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<?php
 echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
 echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/multisitesearch.css');
?>
<script language="javascript">
function forIconSearch(action,img){
	
document.getElementById('multisearchFormIcon').target = "_blank";
document.getElementById('multisearchFormIcon').action = action;
document.getElementById('Iconselectedsearch').src=img;
}
</script>

<?php 

if ($this->privilage!="COURSE COORDINATOR" && $this->privilage!="ADMIN" ) {
	$coursedetails = new Admin_Model_Course();
	$rsdetails=$coursedetails->checkdetails($courseid[1],$this->semid);
	$today=date("Y-m-d H:i:s");
	if ($today>=$rsdetails[0]['start_date'] && $today<=$rsdetails[0]['end_date']){

	}
	else {
?>
<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/jquery/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen">

<script type="text/javascript" src="<?php echo $this->baseUrl()?>/jquery/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/jquery/js/jquery-ui-1.8.16.custom.min.js"></script>
<?php } } ?>




<?php if ($this->privilage!="COURSE COORDINATOR" && $this->privilage!="ADMIN" ) { 
	if ($today>=$rsdetails[0]['start_date'] && $today<=$rsdetails[0]['end_date']){

	}
	else {
?>
<script>
$(document).ready(function() {
	$( "#dialog-modal" ).dialog({
		height: 140,
		modal: true

	});

	$(".ui-dialog-titlebar-close").hide();

});


  </script>
<?php } } ?>

<style type="text/css">
.tittlewhite {
	color: #FFF;
	text-align: right;
}
</style>
</head>

<body>
	<div id="wrapper">
    	
		<div id="header">
        	<div class="logo"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/logo oum.png" width="188" height="37" alt="logos" /></div>
            <div class="web_tittle"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/web_tittle.png" width="165" height="12" alt="web tittle" /></div>
            
            <div class="logout">
            <?php
                      $naviauth = new Epic_Controller_Acl(new Epic_Acl());
                      $show = $naviauth->navi("admin", "index", "index");
                      if ($show == 1) {
					  ?>
					  <a href="<?php
echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index' , 'id' => $courseid[1]),'default',true)?>"> <img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/admin.png" width="20" height="19" alt="admin"  border="0"/></a>
<a href="<?php
echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index' , 'id' => $courseid[1]),'default',true)?>"> Admin</a>
 <?php
                      }
            ?>
            <a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'menu'),'default',true)?>"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/home.png" width="20" height="19" alt="home"  border="0"/></a>
            <a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'menu'),'default',true)?>"><?php echo $this->translate('home')?></a>
            <a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/signout.png" width="20" height="19" alt="logout"  border="0"/></a> <a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><?php echo $this->translate('signout')?></a></div>
 		</div>
 		  
        <div id="content">
            <div id="menu">
                <div id="navigation">
                    <ul>
                        <li><a href="<?php
echo $this->url(array('module' => 'content' , 'controller' => 'index' , 'action' => 'courseinfo', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Course Info</a></li>
                        <!--<li><a href="<?php
echo $this->url(array('module' => 'resources' , 'controller' => 'index' , 'action' => 'index' , 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Learning Kit</a></li>-->
						<li><a href="<?php
echo $this->url(array('module' => 'block' , 'controller' => 'index' , 'action' => 'block', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Block</a></li>
                        <li><a href="<?php
echo $this->url(array('module' => 'forum' , 'controller' => 'index' , 'action' => 'listgroup', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Forum</a></li>
                        <li><a href="<?php
echo $this->url(array('module' => 'admin' , 'controller' => 'index' , 'action' => 'report'),null, FALSE)?>" target="content">Whiteboard</a></li>
						<?php if ($this->privilage=="COURSE COORDINATOR" || $this->privilage=="ADMIN") { ?>
                    	<li><a href="<?php
						echo $this->url(array('module' => 'assignment' , 'controller' => 'index' , 'action' => 'index', 'courseid'=> $courseid[1]),null, FALSE)?>" target="content">Assignment</a></li>
						  
						<?php } else {?>
						<li><a href="<?php
						echo $this->url(array('module' => 'assignment' , 'controller' => 'index' , 'action' => 'indexstudent', courseid=> $courseid[1]),null, FALSE)?>" target="content">Assignment</a></li>
						
						<?php } ?>
						
                        
                        
                    </ul>
                </div>
                <div class="language">
<form name="f1" id="f1" method="POST">
<select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
<option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
<option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
</select>
</form>
                <!--<img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/languages.png" width="225" height="36" />-->
                </div>
                <div class="multisearch">
                <form name="multisearch" target="_blank" action="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'google', 'act' => 'search'),null, FALSE)?>" id="multisearchFormIcon" method="get">
<ul class="ws_drop_down">
	<li><a href="#" style="width:40px;" title="Global Search"><img src="<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif" width="16px" height="16px" id="Iconselectedsearch"></span>
    <![if gt IE 6]>
    </a>
    <![endif]>
    <!--[if lte IE 6]><table><tr><td><![endif]-->
    <ul class='ws_drop_downm'>
      <!--<li><a href="javascript:void(0);" onclick="forIconSearch('http://www.google.com/search?q=','<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif');" title="Search Google">Google</a></li>
      <li><a href="javascript:void(0);" onclick="forIconSearch('http://www.youtube.com/results?q=','<?php echo $this->baseUrl(); ?>/images/multisitesearch/youtube.png');" title="Search Youtube">Youtube</a></li>
      --><li><a href="javascript:void(0);" onclick="forIconSearch('<?php
echo $this->url(array('controller' => 'index' , 'action' => 'google', 'act' => 'search'),null, FALSE)?>/','<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif');" title="Search Google">Google</a></li>
      <li><a href="javascript:void(0);" onclick="forIconSearch('<?php
echo $this->url(array('controller' => 'index' , 'action' => 'youtube', 'act' => 'search'),null, FALSE)?>/','<?php echo $this->baseUrl(); ?>/images/multisitesearch/youtube.png');" title="Search Youtube">Youtube</a></li>
	  
    </ul>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
</ul>
<input class="multisearchInput" name="q" type="text" value="<?php echo $this->translate('type_enter')?>" onFocus="this.value=''"/></form>

                
</div>

            </div> 
<?php if ($this->privilage!="COURSE COORDINATOR" && $this->privilage!="ADMIN" ) { 

	if ($today>=$rsdetails[0]['start_date'] && $today<=$rsdetails[0]['end_date']){

	}
	else {
?>
<div id="dialog-modal" title="<?php echo $this->translate('course_announcement');?>">
	<p><?php echo $this->translate('course_message1');?></p>
	<p><a href="<?php
	echo $this->url(
            array('controller' => 'index', 'action' => 'menu'), 'default',true)?>" target="_self" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over_2.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_2.jpg" name="Image20" width="59" height="27" border="0" id="Image20" /></a></p>
</div>
<?php } } ?>


                
               <iframe name="content" id="content" align="middle" width="99%" height="575" frameborder="0" scrolling="auto" src="<?php
echo $this->url(array('module' => 'content' , 'controller' => 'index' , 'action' => 'courseinfo', 'courseid' => $courseid[1]),null, FALSE)?>"></iframe>
</div>

</div>
     <div id="footer">
     	<div class="white_footer">
        	<div class="copyright"> ©2012 meteor technology & consultancy sdn.bhd. <?php echo $this->translate('right_reserved')?></div>
          <div class="best_viewed"> <?php echo $this->translate('best_view_with')?> Internet Explorer Version 7.0+  <?php echo $this->translate('best_reso_in')?> 1024x768 </div>
        </div>
     
     </div>
</body>
</html>