<table class="data_border" width="100%" cellpadding="0" cellspacing="0">
<tr><td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  
<tr>
	<td class=tbmain>
<object width="480" height="385">
<param name="movie" value="http://www.youtube.com/v/<?php echo $this->vidid?>&hl=en_US&fs=1&"></param>
<param name="allowFullScreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<embed src="http://www.youtube.com/v/<?php echo $this->vidid?>&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed>
</object>
	</td>
	<td class=tbmain valign="top">
	<table class="data_border">
	<tr><td class="tbmenu">
	<?php 
	$readlist = new Application_Model_Readinglist();
	$rs=$readlist->fetch("",$this->vidid);
	//print_r($rs);
	if ($rs) {
		?>
		<a href="<?php
		echo $this->url(array('controller' => 'index' , 'action' => 'removereadlist' , 'vidID' => $this->vidid),null, FALSE)?>"><?php echo $this->translate('remove_read_list'); ?></a>
		<?php
	} else {
		?>
		<a href="<?php
		echo $this->url(array('controller' => 'index' , 'action' => 'addreadlist' , 'vidID' => $this->vidid),null, FALSE)?>"><?php echo $this->translate('add_read_list'); ?></a></div>
		<?php
	}
		?>
	</td></tr>
	
	</table>
	
	</td>
	</td>
</tr>
</td></tr>
</table>