

<div id="login-wrap">
<div class="login-content">
<h2><span class="icon icon-key"></span> <?php echo $this->translate('first_time_login'); ?></h2>
<?php
if (isset($this->errorMessage)) 
{
	echo '<div class="error"><span class="icon icon-attention"></span> '.$this->errorMessage.' </div>';
}


$this->form->setAction($this->url());
echo $this->form;
?>	
</div>
</div>
<script type="text/javascript">
$(function()
{
	$("#student_id").on("blur", function()
	{
		var val = $("#student_id").val();

		checkStudent(val);
	});
});


function checkStudent (id)
{
	$.ajax(
	{
	   type: "GET",
	   url: 'index/firstlogin/id/'+id,
	   success: function(data)
	   {   
		   	var parent = $("#student_id").parent();
		   
			if ( data == '0' )
			{
				$("#student_id").addClass('red');
				if ( parent.find(".msg").length == 0 )
				{
					$("#submit").attr("disabled","disabled");
					parent.append('<span class="msg"><?php echo $this->translate('invalid_student_id'); ?></span>');
				}
			}
			else
			{
				$("#student_id").removeClass('red');
				$(".element .msg").remove();
				$("#submit").removeAttr("disabled");
			}
	   }
	});
}
</script>