<?php	
 /**
 * google_search_api()
 * Query Google AJAX Search API
 *
 * @param array $args URL arguments. For most endpoints only "q" (query) is required.
 * @param string $referer Referer to use in the HTTP header (must be valid).
 * @param string $endpoint API endpoint. Defaults to 'web' (web search).
 * @return object or NULL on failure
 */
/*function google_search_api($args, $referer = 'http://localhost/test/', $endpoint = 'web'){
	$url = "http://ajax.googleapis.com/ajax/services/search/".$endpoint;

	if ( !array_key_exists('v', $args) )
		$args['v'] = '1.0';

	$url .= '?'.http_build_query($args, '', '&');
	
	$url .="&rsz=8";

	$ch = curl_init();
	curl_setopt($ch, CURLOPT_URL, $url);
	curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
	// note that the referer *must* be set
	curl_setopt($ch, CURLOPT_REFERER, $referer);
	//$body = curl_exec($ch);
	
	//decode and return the response
	//return json_decode($body);
	$returnGoogleSearch = curl_exec($ch);
	curl_close($ch);
	$returnGoogleSearch = json_decode($returnGoogleSearch,true);
    return $returnGoogleSearch["responseData"]["results"];
}





$searchResultsArray = google_search_api(array(
		'q' => 'upin',
 ));*/
?>
<!--<ol>
<?php foreach($searchResultsArray as $result){ ?>
<li><strong><a href="<?=$result["url"];?>"><?=$result["title"];?></a></strong> <?=$result["content"];?> <em><?=$result["visibleUrl"];?></em></li>
<?php }?>
</ol>-->
<?php 
//ini_set("display_errors","ON");
require_once('CustomSearch.php');
?>
<table id="data_border" border="0" cellpadding="5" cellspacing="2" width="100%" bordercolorlight="#CCCCCC" bordercolordark="#EEEEEE">
<tr><td colspan=2 class="tbmenu" align=right >
<?php 
if($this->act=="search"){

	$search = new Google_CustomSearch($this->txtkeyword);
	$search->setApiKey('AIzaSyBY3-N-FhjAZIqb3Ivl0NUSB66pru1SEAk');
	$search->setCustomSearchEngineId('013484226781153441026:1g_u7d7dwmk');

	if($_GET["page"]==""){
		$cpage=1;
	}else{
		$cpage=$_GET["page"];
	}
	$searchurl=$this->url(array(controller => index , action => google, act=> search),null, FALSE)."/?q=".$this->txtkeyword;

	$maxperpage=10;
	$startindex = (($cpage-1)*$maxperpage)+1;

	$search->setStartIndex($startindex);

	try {
		if($cpage!=1){
			$gpage=$cpage-1;
			$prevUrl= "<a href='$searchurl&page=$gpage'><< ".$this->translate('previous')." </a> |";
		}
	} catch (Zend_Gdata_App_Exception $e) {
		//echo $e->getMessage() . "\n";
	}


	try {
		if($cpage!=10){
			$gpage=$cpage+1;
			$nextUrl= " <a href='$searchurl&page=$gpage'>".$this->translate('next')." >></a> ";
		}
	} catch (Zend_Gdata_App_Exception $e) {
		//echo $e->getMessage() . "\n";
	}



	$response = $search->getResponse();
?>
<?php echo $prevUrl.$nextUrl?></td></tr>
<?php 
$readlist = new Application_Model_Readinglist();
if ($response->hasResults()) {

	foreach($response->getResults() as $result) {

		?>
		<tr>
		<td class="tbmain" valign="top">
		<a target="_blank" href="<?php echo $result->getLink()?>"><?php echo $result->getTitle()?></a></strong><br>
		<?php echo $result->getHtmlSnippet() ?>
		<br><br>
		<div align="right">
		<?php 

		$rs=$readlist->fetch("",$result->getLink(),$this->username);
		//print_r($rs);
		if ($rs) {
		?>
		<a href="<?php
		echo $this->url(array('controller' => 'index' , 'action' => 'removegooglereadlist' , 'link' => urlencode($result->getLink())),null, FALSE)?>?q=<?php echo $this->txtkeyword?>&page=<?php echo $cpage?>"><?php echo $this->translate('remove_read_list'); ?></a>
		<?php
		} else {
		?>
		<a href="<?php
		echo $this->url(array('controller' => 'index' , 'action' => 'addgooglereadlist' , 'link' => urlencode($result->getLink())),null, FALSE)?>?q=<?php echo $this->txtkeyword?>&page=<?php echo $cpage?>"><?php echo $this->translate('add_read_list'); ?></a>
		<?php
		}
		?>
		</div>
		</td>	
		</tr>
		<?php 

	}

}
else {
	echo $this->translate('no_results_for')." ".$this->txtkeyword;
}
?>
	<tr><td class=tbmenu align=right colspan=2><?=$prevUrl.$nextUrl?>
<?php 	  


}
?>
	</td></tr>
</td></tr>
</table>

<script type="text/javascript"> 
<!--
function popup(url)
{
	var width  = 700;
	var height = 430;
	var left   = (screen.width  - width)/2;
	var top    = (screen.height - height)/2;
	var params = 'width='+width+', height='+height;
	params += ', top='+top+', left='+left;
	params += ', directories=no';
	params += ', location=no';
	params += ', menubar=no';
	params += ', resizable=yes';
	params += ', scrollbars=yes';
	params += ', status=no';
	params += ', toolbar=no';
	newwin=window.open(url,'windowname4', params);
	if (window.focus) {newwin.focus()}
	return false;
}
// -->
</script>