<?php
$i=1;
foreach ($this->course as $row) {
	$course[$i]=$row['coursename'];
	$courseid[$i]=$row['courseid'];
	$i++;
}

//get locale
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php if ($this->privilage!="COURSE COORDINATOR" && $this->privilage!="ADMIN" ) { 
if ($this->access=="not ok") {	
?>
<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/jquery/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen">

<script type="text/javascript" src="<?php echo $this->baseUrl()?>/jquery/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/jquery/js/jquery-ui-1.8.16.custom.min.js"></script>
<?php } } ?>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/style_loginpage.css');
?>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
	var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
	if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
	var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
	var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
		d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
		if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
		for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
		if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
	var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<?php if ($this->privilage!="COURSE COORDINATOR" && $this->privilage!="ADMIN" ) { 
	if ($today>=$rsdetails[0]['start_date'] && $today<=$rsdetails[0]['end_date']){

	}
	else {
?>
<script>
$(document).ready(function() {
	$( "#dialog-modal" ).dialog({
		height: 140,
		modal: true

	});

	$(".ui-dialog-titlebar-close").hide();

});


  </script>
<?php } } ?>

<style type="text/css">
.tittlewhite {
	color: #FFF;
	text-align: right;
}
</style>
</head>

<body onload="MM_preloadImages('<?php echo $this->baseUrl(); ?>/images/course_pg/btn_eportfolio_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over_2.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg')">

<div id="wrapper">
    <div id="header">
    	<div class="logo_QUT"><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/qutimages/logo-QUT.png"  style="border: none;" width="320" height="63" /></a></div> 	
  </div>
    <div class="header_lines">
   	  <div class="mottomenu">
   	  
   	   <a href="<?php
echo $this->url(array('module' => 'content' , 'controller' => 'index' , 'action' => 'courseinfo', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Course Info</a>&nbsp;&nbsp;

<a href="<?php
echo $this->url(array('module' => 'resources' , 'controller' => 'index' , 'action' => 'index', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Activity</a>&nbsp;&nbsp;

<!--<a href="<?php
echo $this->url(array('module' => 'activities' , 'controller' => 'index' , 'action' => 'activity', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Activities</a>&nbsp;&nbsp;-->

<?php if ($this->privilage=="COURSE COORDINATOR" || $this->privilage=="ADMIN") { ?>
                    <a href="<?php
echo $this->url(array('module' => 'assignment' , 'controller' => 'index' , 'action' => 'index', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Assignment</a>&nbsp;&nbsp;
  
<?php } else {?>
<a href="<?php
echo $this->url(array('module' => 'assignment' , 'controller' => 'index' , 'action' => 'indexstudent', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Assignment</a>&nbsp;&nbsp;

<?php } ?>


<a href="<?php
echo $this->url(array('module' => 'forum' , 'controller' => 'index' , 'action' => 'listgroup', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Forum</a>&nbsp;&nbsp;

<?php /*if ($this->privilage=="COURSE COORDINATOR" || $this->privilage=="ADMIN") { ?>
 <a href="<?php
echo $this->url(array('module' => 'sample' , 'controller' => 'index' , 'action' => 'index', 'courseid' => $courseid[1]),null, FALSE)?>" target="content">Sample</a>&nbsp;&nbsp;
   	
<?php } else {?>
<?php 
$link='a href="#"';
if ($filename[1]!="") {
	$link='a
href="/'.PATH_UPLOAD.'/sample/'.$courseid[1].'/'.$filename[1].'" target="_blank"'; 
} ?>

<<?php echo $link ?> onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_sample_over.jpg',1)">
Sample</a>

<?php } */?>



<a href="<?php
echo $this->url(array('module' => 'users' , 'controller' => 'portfolio', 'action' => 'index', 'id' => $courseid[1]),'default',true)?>">E-Portfolio</a>&nbsp;&nbsp;


</div>

<div class="motto">
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navi("admin", "index", "index");
if ($show == 1) {
					  ?>
<a href="<?php
echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index' , 'id' => $courseid[1]),'default',true)?>"> Admin</a>&nbsp;&nbsp;
 <?php
}
					?>
<a
	 href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'menu'),'default',true)?>">Home</a>&nbsp;&nbsp;
<a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><?php echo $this->translate('signout') ?></a>&nbsp;&nbsp;
</div>
<div class="motto">
<form name="f1" id="f1" method="POST">
                      <select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
                      <option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
                      <option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
				
			</select>
					  </form>


</div>

 </div> 

 
    <div id="contentpage"><br>
    
    

<?php if ($this->privilage!="COURSE COORDINATOR" && $this->privilage!="ADMIN" ) { 

	if ($today>=$rsdetails[0]['start_date'] && $today<=$rsdetails[0]['end_date']){

	}
	else {
?>
<div id="dialog-modal" title="<?php echo $this->translate('course_announcement');?>">
	<p><?php echo $this->translate('course_message1');?></p>
	<p><a href="<?php
	echo $this->url(
            array('controller' => 'index', 'action' => 'menu'), 'default',true)?>" target="_self" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over_2.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_2.jpg" name="Image20" width="59" height="27" border="0" id="Image20" /></a></p>
</div>
<?php } } ?>


<iframe name="content" id="content" width="98%" height="575" frameborder="0" scrolling="auto" src="<?php
echo $this->url(array('module' => 'content' , 'controller' => 'index' , 'action' => 'courseinfo', 'courseid' => $courseid[1]),null, FALSE)?>"></iframe>
			
    
<script>
function setlanguage(){
	document.f1.action="<?php
	echo $this->url(array('controller' => 'index', 'action' => 'coursepage', 'id' => $course[1]),null, FALSE)?>";
	document.f1.submit();
}
</script>
<div class=""></div>
    </div><!--Content end-->
    </div>
    <div id="footer">
    
</div>    
</div>
</body>
</html>