<div class="paging">
<?php echo $this->title.' '.$this->translate('course_list'); ?> 
</div>

<?php if ( $this->new != '' ) { ?>
<div class="notice">
<?php echo $this->translate('Welcome notice for new user.')?>
</div>
<?php } ?>
<h2 class="dotted"><?php echo $this->translate('course_list')?></h2>

<form name="search" method="post" action="<?php echo $this->url(array('controller'=>'index','action'=>'home'),'default',true);?>" >
<p><?php echo $this->translate('enter_course_keyword') ?></p>	
<div>
	<input type="text" class="inputtext" name="keywords" size="50" value="<?php echo $this->escape($this->keywords)?>"  />
	<input type="submit" name="submit" value="<?php echo $this->translate('search')?>" class="btn"/>
</div>
</form>

<table class="maintable">
<thead>
		<tr>
			<th><?php echo strtoupper($this->translate('coursecode')) ?></th>
			<th><?php echo strtoupper($this->translate('coursename')) ?></th>
            <th class="centered"><?php echo strtoupper($this->translate('coursetype')) ?></th>
            <th class="centered"><?php echo strtoupper($this->translate('credithour')) ?></th>
		</tr>
</thead>
<tbody>
<?php 
if (count($this->paginator))
{
	foreach ($this->paginator as $row) 
	{
		echo "<tr><td>";
		?>
		<!-- <a href="<?php echo $this->url(array('module' => 'content', 'controller' => 'index' , 'action' => 'courseinfo', 'courseid' => $row['id']),null, true)?>"><?php echo $row['coursecode'];?></a>  -->
		<a href="<?php echo $this->url(array('module' => 'block', 'controller' => 'index' , 'action' => 'block', 'courseid' => $row['id']),null, true)?>"><?php echo $row['coursecode'];?></a>
		<?php
		echo "</td>
		<td>";
		?>
	   <?php echo $row['coursename'];?>
		<?php
		echo "</td>
	    <td class='centered'>";
		?>
		<?php echo $row['coursetype'];?>
		<?php
		echo "</td>
	    <td class='centered'>";
		?>
		<?php echo $row['credithour'];?>
		<?php
		echo "</td>
		</tr>";
	}
}
else
{
	?>
	<tr>
	<td colspan="4"><?php echo $this->translate('no_results')?></td>
	</tr>
	<?php 
}
?>			
</tbody>					
</table>

<?php
if (!empty($this->paginator))
{
?>
<!--  paging -->
<div class="pagination">
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'paginationcourse.phtml',$this->searchParams);
?>
</div>
<!--  /paging  -->
<?php 
}
?>            