<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlelogin.css');
?>
<script>
  $(document).ready(function() {
  	
  	var $dialog = $('<div></div>')
        .html('This dialog will show every time!')
        .dialog({
                autoOpen: false,
                title: 'Basic Dialog',
                width: 460
        });

    $('.opener').click(function() {
    	//var msg = $(this).next('input[type=hidden]').val();
    	var msg = $(this).parent().find('input[type=hidden]').val();
    	var title = $(this).html();
    	
    	$dialog.dialog( "option", "title", title )
    	$dialog.html(msg);
    	
        $dialog.dialog('open');
    });
});
</script>
</head>

<body>
<div id="wrapper">
    <div id="header">
    	<div class="logo"><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/logo oum.png" style="border: none;" width="188" height="37" /></a></div>
    	<div class="motto"><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/motto.png" style="border: none;" width="165" height="12" /></a></div>
    </div>         
    <div id="content">
        <div id="left">
        	<div class="content_login"> 
                          
      <table id="Table_01" width="244" height="192" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>			
                                <div class="leftLogin "> 
                                    <?php
                                	if (isset($this->errorMessage)) {
                                		echo $this->errorMessage;
                                	}
            						?>    
							          	<?php
							          	$this->form->setAction($this->url());
							          	echo $this->form;
							        ?>
                                </div>      
                        </td>
                   
                        <td>
                        
            

            
            <tr>
            <td>
           
            </td>
            </tr>
            </table>
            </div>
        
        </div><!--LEFT END-->   

        
        
        <div id="right">
<h2>Announcement</h2>
        <div style="width: 500px; text-align: left;">
<table border="0" cellspacing="1" cellpadding="5" height="100%" width="100%" bgcolor="#EFEFEF">
	<tbody>
		
		<tr>
			<td width="3%" align="left"bgcolor="#314a69"></td>
			<td width="31%" align="left" valign="top"bgcolor="#FFFFFF"><h3><?php echo $this->translate('date')?></h3><br />
			<?php 
            foreach ($this->announcement as $announcement){
            	$announceid=$announcement["id"];
            	$announcetitle=$announcement["title"];
            	$announcedetails=$announcement["details"];
            	$announcedate=$announcement["date"];
            
            	echo date("jS F Y", strtotime($announcedate))."<br><br>";
            }
            ?>
            

			</td>
            <td width="66%"  align="left" valign="top" bgcolor="#FFFFFF"><h3><?php echo $this->translate('title')?></h3><br />
            <?php 
            foreach ($this->announcement as $announcement){
            	$announceid=$announcement["id"];
            	$announcetitle=$announcement["title"];
            	$announcedetails=$announcement["details"];
            	$announcedate=$announcement["date"];
            ?>
            	<a href="#" onclick="return false;" class="opener"><?php echo $announcetitle;?></a>
				<input type="hidden" name="ann_content" value="<?php echo $announcedetails?>">
            	<br><br>
			<?php				
            }
            ?>

</td>
         
		</tr>
		
		
	</tbody>
</table>
                    
                    
                    
                    
                
               
                </div>
        
        
        
        
        </div> <!--RIGHT END-->   
    </div><!--Content end-->

    </div>
   <div id="footer">
   		 <div class="white_footer">
        	<div class="copyright"> ©2012 meteor technology & consultancy sdn.bhd. <?php echo $this->translate('right_reserved')?></div>
          <div class="best_viewed"> <?php echo $this->translate('best_view_with')?> Internet Explorer Version 7.0+  <?php echo $this->translate('best_reso_in')?> 1024x768 </div>
        </div>
   </div>    
    
 
</body>
</html>
