<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/global.css');
?>
</head>
<body>
<table width="1024" align="center">
  <tr>
    <td valign="bottom" class="epicbg">
    <table align="center">
      
      <tr>
        <td colspan="3">
            <?php
            if (isset($this->errorMessage)) {
                echo $this->errorMessage;
            }
            ?>    
          	<?php
        $this->form->setAction($this->url());
        echo $this->form;
        ?>
          	</td>
        </tr>
      <tr>
        <td height="180" colspan="3">&nbsp;</td>
        </tr>
    </table></td>
  </tr>
</table>
</body>