
<div id="content">
<!--  content  -->
<div id="login-wrap">
<div class="login-content">
<h2><span class="icon icon-key"></span> <?php echo $this->translate('login'); ?></h2>
<?php
if (isset($this->errorMessage)) 
{
	echo '<div class="error"><span class="icon icon-attention"></span> '.$this->errorMessage.' </div>';
}

$this->form->setAction($this->url());
echo $this->form;
?>	
<p class="first"><?php echo $this->translate('not_a_member')?> <a href="<?php echo $this->url(array('module'=>'index' , 'controller' => 'register' ),null, true)?>"><?php echo $this->translate('register')?></a></p>

</div>
</div>

<!--  /content -->
</div>  
