<?php
$urlz="http://ldms.oum.edu.my/oumlib/oum_sso?patronid=$this->ic&self_username=$this->username";


//echo $urlz;
?>
<html>
<head>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11540613-2");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}
</script>
</head>
<body onload="document.location='<?=$urlz?>'"></body>
</html>