<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>

<?php
//$this->jQuery()->enable();

//$this->jQuery()->addStylesheet($this->baseUrl().'/jquery/css/smoothness/jquery-ui-1.8.16.custom.css');
//$this->jQuery()->setLocalPath($this->baseUrl().'/jquery/js/jquery-1.6.2.min.js');
//$this->jQuery()->setUiLocalPath($this->baseUrl().'/jquery/js/jquery-ui-1.8.16.custom.min.js');

//echo $this->jQuery();
//echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/style_loginpage.css');
?>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/flick/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
 <script src="<?php echo $this->baseUrl(); ?>/jquery/js/dojo.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl(); ?>/jquery/js/global.js" type="text/javascript"></script>
<?php
 echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/style_loginpage.css');
 echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/multisitesearch.css');
?>
<script language="javascript">
function forIconSearch(action,img){
	
document.getElementById('multisearchFormIcon').target = "_blank";
document.getElementById('multisearchFormIcon').action = action;
document.getElementById('Iconselectedsearch').src=img;
}
</script>
<script type="text/javascript">

function MM_preloadImages() { //v3.0
	var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
	if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
	var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
		d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
		if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
		for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
		if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImgRestore() { //v3.0
	var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_swapImage() { //v3.0
	var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>

<script>
  $(document).ready(function() {
  	$("#container-1" ).tabs({
    select: function(event, ui) {
        var url = $.data(ui.tab, 'load.tabs');
        if( url ) {
        	window.open(url,"","dependent=no,width=600,height=600,resizable=yes,scrollbars=yes");
            return false;
        }
        return true;
	    }
	});

    
  });
  </script>
<style type="text/css">
.tittlewhite {
	color: #FFF;
	text-align: right;
}
</style>
</head>


<body onload="MM_preloadImages('<?php echo $this->baseUrl(); ?>/images/qutimages/chrome-download-hover.png')">
<div id="wrapper">
    <div id="header">
    	<div class="logo_QUT"><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/qutimages/logo-QUT.png"  style="border: none;" width="320" height="63" /></a></div> 	
  </div>
    <div class="header_lines">
   	  <div class="mottomenu">
   	  <a
	 href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'menu'),'default',true)?>">Home</a>&nbsp;&nbsp;


<a href="<?php
echo $this->url(array('module' => 'users' , 'controller' => 'portfolio', 'action' => 'index', 'id' => $courseid[1]),'default',true)?>">E-Portfolio</a>&nbsp;&nbsp;

<?php
                      $naviauth = new Epic_Controller_Acl(new Epic_Acl());
                      $show = $naviauth->navi("admin", "index", "index");
                      if ($show == 1) {
					  ?>
<a href="<?php
echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index' , 'id' => $courseid[1]),'default',true)?>"> Admin</a>&nbsp;&nbsp;
 <?php
                      }
					?>



</div>

<div class="motto">
<a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><?php echo $this->translate('signout') ?></a>&nbsp;&nbsp;
</div>
<div class="motto">
<form name="multisearch" target="_blank" action="http://www.google.com/search?q=" id="multisearchFormIcon" method="get">
<ul class="ws_drop_down">
	<li><a href="#" style="width:40px;" title="Global Search"><img src="<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif" width="16px" height="16px" id="Iconselectedsearch"></span>
    <![if gt IE 6]>
    </a>
    <![endif]>
    <!--[if lte IE 6]><table><tr><td><![endif]-->
    <ul class='ws_drop_downm'>
      <li><a href="javascript:void(0);" onclick="forIconSearch('http://www.google.com/search?q=','<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif');" title="Search Google">Google</a></li>
      <li><a href="javascript:void(0);" onclick="forIconSearch('http://www.youtube.com/results?q=','<?php echo $this->baseUrl(); ?>/images/multisitesearch/youtube.png');" title="Search Youtube">Youtube</a></li>
      <li><a href="javascript:void(0);" onclick="forIconSearch('<?php
echo $this->url(array('controller' => 'index' , 'action' => 'google', 'act' => 'search'),null, FALSE)?>/','<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif');" title="Search Google">Google Api</a></li>
      <li><a href="javascript:void(0);" onclick="forIconSearch('<?php
echo $this->url(array('controller' => 'index' , 'action' => 'youtube', 'act' => 'search'),null, FALSE)?>/','<?php echo $this->baseUrl(); ?>/images/multisitesearch/youtube.png');" title="Search Youtube">Youtube Api</a></li>
	  
    </ul>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
</ul>
<input class="multisearchInput" name="q" type="text" value="Type here & press enter" onFocus="this.value=''"/></form>

<!--<form name="f1" id="f1" method="POST">
<select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
<option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
<option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
</select>
</form>-->


</div>
  </div>         
    <div id="contentpage">
    <br>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
    <td valign="top" width="20%">
    <table border="0" cellpadding="5" cellpadding="5">
    <tr>
    <td>
    <?php
    $userID= $this->username;
				$thumbnailexists=APPLICATION_PATH . "/../upload". "/photo/".$userID."/thumbnail_pic.jpg";
				//echo $thumbnailexists;
				if (file_exists($thumbnailexists)) {
				?>
				<img width="80" height="80" src="<?php echo "/".PATH_UPLOAD."/photo/".$userID."/thumbnail_pic.jpg";?>" border="1" style="float: left; margin-right: 10px;" id="thumbnail" alt="<?php echo $this->translate('please_upload_photo')?>" /> 
				<?php } else { ?>
				<img width="80" height="80" src="<?php echo $this->baseUrl(); ?>/images/nouser/nouser.png" border="1" style="float: left; margin-right: 10px;" id="thumbnail" alt="<?php echo $this->translate('please_upload_photo')?>" /> 
	
				
				<?php }  ?>
		<?php
    echo $this->translate('welcome')." : ".$this->username;?>
    
    
    
    </td>
    </tr>
    </table>
    
    </td>
    <td>
    
    
    			<div id="container-1" style="margin-left:5px; margin-right:5px;">
	    
		<ul>
	        <li><a href="#fragment-1"><span><b><?php echo $this->translate('announcement') ?></b></span></a></li>
	        <li><a href="#fragment-3"><span><b><?php echo $this->translate('programme') ?></b></span></a></li>
	        <li><a href="#fragment-2"><span><b><?php echo $this->translate('mycourse') ?></b></span></a></li>
	        
	    </ul>
		    <div id="fragment-1">
		    	<table width="90%" height="100%" align="center" cellspacing="0" cellpadding="20" border="0">
                    <tr>
                        <th width="20%" height="25" align="center" bgcolor="#CCCCCC"><?php echo $this->translate('date') ?></th>
                        <th width="70%" height="25" align="center" bgcolor="#00458A"><span class="tittlewhite"><span class="tittlewhite"><?php echo $this->translate('title') ?></span>
                        </th>
                    </span></tr>
                    <tr class="longitude2">
                    <?php 
                    foreach ($this->announcement as $announcement){
                    	$announceid=$announcement["id"];
                    	$announcetitle=$announcement["title"];
                    	$announcedetails=$announcement["details"];
                    	$announcedate=$announcement["date"];
                    	
                    	?>
                    	<td align="center" class="longitude3" valign="top"><?php echo $announcedate;?></td>
                    	<td class="longitude2">
                    	<a href="javascript:showCollapse('<?php echo $announceid?>')" class="link04"><?php echo $announcetitle;?></a><br>
				<div style="display: none; background-color: rgb(255, 255, 255);" id="<?php echo $announceid?>"><br>
				<?php echo $announcedetails;?>
				</div>
                    	</td>
                  	</tr>
                    <?php
                    }
                    ?>
                    
                    <tr>
                        <td colspan="2"  class="longitude4"><?php echo $this->translate('previousannouncement') ?></td>
                    </tr>
                </table>
		    </div>
		    <div id="fragment-3">
		    	<table width="90%" align="center" cellspacing="0" cellpadding="20">
		    		<tr>
                        <th width="20%" height="25" align="center" bgcolor="#CCCCCC">Graduate Certificate in Asset Management</th>
                    </tr>
                        
                    <tr align="justify">
                    <td>
                    <b>Program information</b><br><br>The <b>CRC on Infrastructure & Engineering Asset Management (CIEAM)</b> has sponsored the development of the Graduate Certificate in Asset Management to be awarded by the <b>Queensland University of Technology (QUT)</b> through the Faculty of Science, Engineering and Technology. <br><br>

These courses has been developed to broaden the skills and knowledge gained in engineering and science undergraduate courses or other approved undergraduate courses, and provide specialist skills relevant to asset management. <br><br>

The Certificate will be awarded by the <b>Queensland University of Technology (QUT)</b> through the Faculty of Science, Engineering and Technology incorporating core units developed by the <b>CRC on Infrastructure & Engineering Asset Management (CIEAM)</b> based on the Asset Management Body of Knowledge (AMBOK). <br><br><br>

<b>Entry Requirements </b> <br><br>
Applicants must hold a Bachelors degree in Engineering or Science (in an appropriate discipline) or an equivalent qualification. An applicant holding a three year Bachelor degree will be required to have had at least three years relevant work experience. 
Special entry arrangements are available to applicants without prerequisites undergraduate qualifications that meet certain criteria. <br><br>
<b>Course Structure</b>
Students must complete a total of 4 units, two compulsory Core units and two units selected from a list of elective units. <br><br>
						<table cellpadding="5" cellspacing="1" width="100%" align="center" bgcolor="#cccccc">
						<tr bgcolor="#f2f2f2"> 
                    		<th align="center" >Unit Type</th>
                    		<th align="center">Unit Name</th>
                    		<th align="center">Unit Code</th>
                    		<th align="center">Credit Hours</th>
                    	</tr>
                    	<tr bgcolor="#ffffff">
                    		<td rowspan="2"><b>Core Units</b></td>
                    		<td>Principles & Functions of Engineering Asset Management</td>
                    		<td>AM501</td>
                    		<td align="center">12</td>
                    	</tr>
                    	<tr bgcolor="#ffffff">
                    		<td>Asset Strategy & Planning</td>
                    		<td>AM502</td>
                    		<td align="center">12</td>
                    	</tr>
                    	<tr bgcolor="#ffffff">
                    		<td rowspan="3"><b>Electives (please select any 2)</b></td>
                    		<td>Strategy & Risks in Engineering Asset Management</td>
                    		<td>AM511</td>
                    		<td align="center">12</td>
                    	</tr>
                    	<tr bgcolor="#ffffff">
                    		<td>Resources Planning in Engineering Asset Management</td>
                    		<td>AM512</td>
                    		<td align="center">12</td>
                    	</tr>
                    	<tr bgcolor="#ffffff">
                    		<td>Integrity & Performance in Engineering Asset Management</td>
                    		<td>AM513</td>
                    		<td align="center">12</td>
                    	</tr>
                    	<tr bgcolor="#ffffff">
                    		<td colspan="3"><b>Total Credits Required</b></td>
                    		<td align="center"><b>48</b></td>
                    	</tr>
						</table>



                    </td>
                   	</tr>
                </table>
		    </div>
		    <div id="fragment-2">
		    



		        <table width="90%" height="310" align="center" cellspacing="0" cellpadding="20">
                    <tr>
                        <th width="20%" height="25" align="center" bgcolor="#CCCCCC"><?php echo $this->translate('coursecode') ?></th>
                        <th width="30%" height="25" align="center" bgcolor="#00458A"><span class="tittlewhite"><span class="tittlewhite"><?php echo $this->translate('coursename') ?></span></span>
                        </th>
                         <th width="20%" height="25" align="center" bgcolor="#CCCCCC"><?php echo $this->translate('coursetype') ?></th>
                         <th width="20%" height="25" align="center" bgcolor="#00458A"><span class="tittlewhite"><span class="tittlewhite"><?php echo $this->translate('credithour') ?></span></span></th>
                    </tr>
                    <?php 
                    foreach ($this->course as $row) {
					echo "<tr><td align='center' class='longitude3'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['courseid'];?></a>
					<?php
					echo "</td>
                        <td class='longitude2'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['coursename'];?></a>
					<?php
					echo "</td>
                        <td align='center' class='longitude3'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id'=> $row['courseid']),null, FALSE)?>"><?php echo $row['coursetype'];?></a>
					<?php
					echo "</td>
                        <td align='center' class='longitude2'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['credithour'];?></a>
					<?php
					echo "</td>
					</tr>";
                    }
					?>
					
                    
                    
                    <tr>
                        <td colspan="4"  class="longitude4">&nbsp;</td>
                    </tr>
                </table>
		    </div>
		   
		</div>
    
             

       </td>
    </tr>
    
    </table>
        <div class=""></div>
    </div><!--Content end-->
    </div>
    <div id="footer">
    
</div>    
</div>
</body>
</html>
