<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
 <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
<?php
 echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
 echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/multisitesearch.css');
?>
<script language="javascript">
function forIconSearch(action,img){
	
document.getElementById('multisearchFormIcon').target = "_blank";
document.getElementById('multisearchFormIcon').action = action;
document.getElementById('Iconselectedsearch').src=img;
}
</script>
<script>
  $(document).ready(function() {
  	
  	var $dialog = $('<div></div>')
        .html('This dialog will show every time!')
        .dialog({
                autoOpen: false,
                title: 'Basic Dialog',
                width: 460
        });

    $('.opener').click(function() {
    	//var msg = $(this).next('input[type=hidden]').val();
    	var msg = $(this).parent().find('input[type=hidden]').val();
    	var title = $(this).html();
    	
    	$dialog.dialog( "option", "title", title )
    	$dialog.html(msg);
    	
        $dialog.dialog('open');
    });
    
  	$("#container-1" ).tabs({
    select: function(event, ui) {
        var url = $.data(ui.tab, 'load.tabs');
        if( url ) {
        	window.open(url,"","dependent=no,width=600,height=600,resizable=yes,scrollbars=yes");
            return false;
        }
        return true;
	    }
	});

    
  });
</script>
</head>
<body>
	<div id="wrapper">
    	<div id="header">
        	<div class="logo"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/logo oum.png" width="188" height="37" alt="logos" /></div>
            <div class="web_tittle"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/web_tittle.png" width="165" height="12" alt="web tittle" /></div>
            
            <div class="logout"><a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/signout.png" width="20" height="19" alt="logout"  border="0"/></a> <a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><?php echo $this->translate('signout')?></a></div>
 		</div>  
        <div id="content">
            <div id="menu">
                <div id="navigation">
                    <ul>
                        <li class="active"><a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'menu'),'default',true)?>"><?php echo $this->translate('home')?></a></li>
                        <?php if ($this->privilage=="STUDENT") { ?>
						<li><a target="_blank" href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'studentportal'),'default',true)?>"><?php echo $this->translate('student_portal')?></a></li>
						<?php } else if ($this->privilage=="EOS" || $this->privilage=="COURSE COORDINATOR") { ?>
						<li><a target="_blank" href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'studentportal'),'default',true)?>"><?php echo $this->translate('tutor_portal')?></a></li>
						<?php } ?>
                        <!--<li><a href="#">eRegistry</a></li>-->
                        <li><a target="_blank" href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'library'),'default',true)?>"><?php echo $this->translate('digital_library')?></a></li>
                        <li><a target="_blank" href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'myvlegmail'),'default',true)?>"><?php echo $this->translate('email')?></a></li>
                        <li><a target="_blank" href="http://www.oum.edu.my/oum/v2/studyOUM004b.html">CGS</a></li>
                        <?php
                      $naviauth = new Epic_Controller_Acl(new Epic_Acl());
                      $show = $naviauth->navi("admin", "index", "index");
                      if ($show == 1) {
					  ?>
<li><a href="<?php
echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index' , 'id' => $courseid[1]),'default',true)?>"> Admin</a></li>
 <?php
                      }
					?>
                    </ul>
                </div>
                <div class="language">
<form name="f1" id="f1" method="POST">
<select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
<option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
<option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
</select>
</form>
                <!--<img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/languages.png" width="225" height="36" />-->
 </div>
                <div class="multisearch">
                <form name="multisearch" target="_blank" action="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'google', 'act' => 'search'),null, FALSE)?>/" id="multisearchFormIcon" method="get">
<ul class="ws_drop_down">
	<li><a href="#" style="width:40px;" title="Global Search"><img src="<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif" width="16px" height="16px" id="Iconselectedsearch"></span>
    <![if gt IE 6]>
    </a>
    <![endif]>
    <!--[if lte IE 6]><table><tr><td><![endif]-->
    <ul class='ws_drop_downm'>
      <!--<li><a href="javascript:void(0);" onclick="forIconSearch('http://www.google.com/search?q=','<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif');" title="Search Google">Google</a></li>
      <li><a href="javascript:void(0);" onclick="forIconSearch('http://www.youtube.com/results?q=','<?php echo $this->baseUrl(); ?>/images/multisitesearch/youtube.png');" title="Search Youtube">Youtube</a></li>
      --><li><a href="javascript:void(0);" onclick="forIconSearch('<?php
echo $this->url(array('controller' => 'index' , 'action' => 'google', 'act' => 'search'),null, FALSE)?>/','<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif');" title="Search Google">Google</a></li>
      <li><a href="javascript:void(0);" onclick="forIconSearch('<?php
echo $this->url(array('controller' => 'index' , 'action' => 'youtube', 'act' => 'search'),null, FALSE)?>/','<?php echo $this->baseUrl(); ?>/images/multisitesearch/youtube.png');" title="Search Youtube">Youtube</a></li>
	  
    </ul>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
</ul>
<input class="multisearchInput" name="q" type="text" value="<?php echo $this->translate('type_enter')?>" onFocus="this.value=''"/></form>
</div>
</div>   


        	<div id="left">
            	<div id="user_images">
            	<?php
    $userID= $this->username;
				$thumbnailexists=APPLICATION_PATH . "/../upload". "/photo/".$userID."/thumbnail_pic.jpg";
				//echo $thumbnailexists;
				if (file_exists($thumbnailexists)) {
				?>
				<img width="110" height="110" src="<?php echo "/".PATH_UPLOAD."/photo/".$userID."/thumbnail_pic.jpg";?>" border="1" style="float: right;  margin-right: 4px; margin-top: 15px;" id="thumbnail" alt="<?php echo $this->translate('please_upload_photo')?>" /> 
				<?php } else { ?>
				<img width="110" height="110" src="<?php echo $this->baseUrl(); ?>/images/nouser/nouser.png" border="1" style="float: right; margin-right: 4px; margin-top: 15px;" id="thumbnail" alt="<?php echo $this->translate('please_upload_photo')?>" /> 
	
				
				<?php }  ?>
            	</div>
                <div class="bg"></div>
				<div id="user_profile">
						<?php
    					echo "<p>".$this->translate('welcome')." : <span class=bluefont>".$this->username."</span><br />";?>
                        <?php
    					echo $this->translate('last_login_on')?><br /><span class="bluefont">
    					<?php 
    					//echo  $this->lastlogin."<br>";
    					echo date("l jS F Y h:i:s a", strtotime($this->lastlogin));
    					?></span></p>  
                <div class="bluebars">
                	<h2><?php echo $this->translate('user_tools')?></h2>
                </div>
                            <table id="Table_01" width="117" height="38" border="0" cellpadding="0" cellspacing="0">
                                   <tr>
                                        <td><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/update-acces_01.png" width="16" height="17" alt=""></td>
                                        <td><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/update-acces_02.png" width="5" height="17" alt=""></td>
                                        <td><a href="<?php echo $this->url(array('module' => 'users' ,'controller' => 'portfolio', 'action' => 'index', 'id' => $courseid[1]),'default',true)?>">E-Portfolio</a></td>
                                   </tr>
                                   <tr>
                                        <td><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/update-acces_04.png" width="16" height="5" alt=""></td>
                                        <td><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/update-acces_05.png" width="5" height="5" alt=""></td>
                                        <td><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/update-acces_06.png" width="96" height="5" alt=""></td>
                                   </tr>
                                  
                            </table>             
                </div>                                            
            </div>
            <div id="right">
            	<div id="container-1" style="margin-left:5px; margin-right:5px;">
	    
				<ul>
			        <li><a href="#fragment-1"><span><b><?php echo $this->translate('announcement') ?></b></span></a></li>
			        <li><a href="#fragment-2"><span><b><?php echo $this->translate('programme') ?></b></span></a></li>
			        <li><a href="#fragment-3"><span><b><?php echo $this->translate('mycourse') ?></b></span></a></li>
			        <!--<li><a href="#fragment-4"><span><b><?php echo $this->translate('myresearch') ?></b></span></a></li>-->
			        
			    </ul>
			    <div id="fragment-1">
			   <table border="0" cellspacing="1" cellpadding="5" width="100%" bgcolor="#EFEFEF">
					<tbody>
						<tr>
							<td width="150px" bgcolor="#B0D8FF"><?php echo $this->translate('date')?></td>
							<td bgcolor="#B0D8FF"><?php echo $this->translate('title')?></td>
						</tr>
						<?php 
				                    foreach ($this->announcement as $announcement){
				                    	$announceid=$announcement["id"];
				                    	$announcetitle=$announcement["title"];
				                    	$announcedetails=$announcement["details"];
				                    	$announcedate=$announcement["date"];
				                    	
				                    	?>
						<tr>
							<td bgcolor="#FFFFFF"><?php echo date("jS F Y", strtotime($announcedate)); ?></td>
							<td bgcolor="#FFFFFF"><!--<a href="javascript:showCollapse('<?php echo $announceid?>')" class="link04"><?php echo $announcetitle;?></a><br>
								<div style="display: none; background-color: rgb(255, 255, 255);" id="<?php echo $announceid?>"><br>
								<?php //echo $announcedetails;?>
								</div>-->
								<a href="#" onclick="return false;" class="opener"><?php echo $announcetitle;?></a>
								<input type="hidden" name="ann_content" value="<?php echo $announcedetails?>">
								</td>
						</tr>
						<?php
				        }
				       ?>
						
					</tbody>
				</table>
				</div>
		    <div id="fragment-2">
		    	<h3>Programme Information</h3>
                <p>The CRC on Infrastructure & Engineering Asset Management (CIEAM) has sponsored the development of the Graduate Certificate in Asset Management to be awarded by the Queensland University of Technology (QUT) through the Faculty of Science, Engineering and Technology. </p>

<p>These courses has been developed to broaden the skills and knowledge gained in engineering and science undergraduate courses or other approved undergraduate courses, and provide specialist skills relevant to asset management. </p>

<p>The Certificate will be awarded by the Queensland University of Technology (QUT) through the Faculty of Science, Engineering and Technology incorporating core units developed by the CRC on Infrastructure & Engineering Asset Management (CIEAM) based on the Asset Management Body of Knowledge (AMBOK). </p>
 

<h3>Entry Requirements</h3>	
                <p>Applicants must hold a Bachelors degree in Engineering or Science (in an appropriate discipline) or an equivalent qualification. An applicant holding a three year Bachelor degree will be required to have had at least three years relevant work experience. Special entry arrangements are available to 
applicants without prerequisites undergraduate qualifications that meet certain criteria. </p>

<p>Course Structure Students must complete a total of 4 units, two compulsory Core units and two units selected from a list of elective units.</p>
                    
		    </div>
		    <div id="fragment-3">
		    	<table border="0" cellspacing="1" cellpadding="5" width="100%" bgcolor="#EFEFEF">
	<tbody>
		<tr>
			<td align="center"width="150px" bgcolor="#B0D8FF"><?php echo $this->translate('coursecode') ?></td>
			<td align="center"bgcolor="#B0D8FF"><?php echo $this->translate('coursename') ?></td>
            <td align="center"bgcolor="#B0D8FF"><?php echo $this->translate('coursetype') ?></td>
            <td align="center"bgcolor="#B0D8FF"><?php echo $this->translate('credithour') ?></td>
		</tr>
		
                    <?php 
                    foreach ($this->course as $row) {
					echo "<tr><td align='center' bgcolor='#FFFFFF'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id'=> $row['courseid']),null, FALSE)?>"><?php echo $row['courseid'];?></a>
					<?php
					echo "</td>
                        <td align='center' bgcolor='#FFFFFF'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['coursename'];?></a>
					<?php
					echo "</td>
                        <td align='center' bgcolor='#FFFFFF'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['coursetype'];?></a>
					<?php
					echo "</td>
                        <td align='center' bgcolor='#FFFFFF'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['credithour'];?></a>
					<?php
					echo "</td>
					</tr>";
                    }
					?>
					
                    </tbody>
</table>
                    
                    
		    </div>
		    <!--<div id="fragment-4">
		    



		        <table border="0" cellspacing="1" cellpadding="5" width="100%" bgcolor="#EFEFEF">
	<tbody>
		<tr>
			<td align="center"width="150px" bgcolor="#B0D8FF"><?php echo $this->translate('milestone') ?></td>
			<td align="center"bgcolor="#B0D8FF"><?php echo $this->translate('start_date') ?></td>
            <td align="center"bgcolor="#B0D8FF"><?php echo $this->translate('end_date') ?></td>
            <td align="center"bgcolor="#B0D8FF"><?php echo $this->translate('outcome') ?></td>
		</tr>
		
                    <?php 
                    foreach ($this->course as $row) {
					echo "<tr><td align='center' bgcolor='#FFFFFF'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['courseid'];?></a>
					<?php
					echo "</td>
                        <td align='center' bgcolor='#FFFFFF'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['coursename'];?></a>
					<?php
					echo "</td>
                        <td align='center' bgcolor='#FFFFFF'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['coursetype'];?></a>
					<?php
					echo "</td>
                        <td align='center' bgcolor='#FFFFFF'>";
					?>
					<a
	 href="<?php
echo $this->url(array('controller' => 'index' , 'action' => 'coursepage', 'id' => $row['courseid']),null, FALSE)?>"><?php echo $row['credithour'];?></a>
					<?php
					echo "</td>
					</tr>";
                    }
					?>
					
                    </tbody>
</table>
		    </div>-->
		   
		</div>
		<br>
            
            </div>
        </div>
       
    </div>
     <div id="footer">
     	<div class="white_footer">
        	<div class="copyright"> ©2012 meteor technology & consultancy sdn.bhd. <?php echo $this->translate('right_reserved')?></div>
          <div class="best_viewed"> <?php echo $this->translate('best_view_with')?> Internet Explorer Version 7.0+  <?php echo $this->translate('best_reso_in')?> 1024x768 </div>
        </div>
     
     </div>
</body>
</html>
