<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/global.css');
?>
<script src="<?php echo $this->baseUrl(); ?>/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>

<body>
<table width="1024" align="center">
  <tr>
    <td width="1024" height="768" valign="bottom">
<?php echo $this->htmlFlash( $this->baseUrl().'/swf/movie.swf', array('width' => '1024', 'height' => '768' ) ); ?>
</td>
  </tr>
</table> 

</body>
</html>
