
<div id="contentonly">

<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());

?>

<h4><?php echo $this->translate('my_reading_list'); ?></h4>
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>

<br />
<table id="mytable" cellspacing="0">
<tr>

<th id="mytable" width="25"><?php echo $this->translate('no'); ?></th>
<th id="mytable">

<?php echo $this->translate('my_reading_list'); ?>
</th>

     <?php
 $show = $naviauth->navi("index", "index", "deletereadinglist");
 if ($show == 1) {
            ?>
		<th width="13%" id="mytable">
		<?php echo $this->translate('delete'); ?>
        </th>
    <?php
 }
    ?>

</tr>
	<?php
	$i=0;
    foreach ($this->paginator as $row) {
        ?>
    <tr>
    <tr><td id='mytable'>

	<?php echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$i;?>
	
	</td>
    
    <td id="mytable">
    	<?php
    	$pos = strpos($row['link'], 'http');
    	if ($pos === false) {
    	?>
    	<a href='javascript: void(0)' onclick="popup('<?php
echo $this->url(array('controller' => 'index' , 'action' => 'embedyoutube' , 'vidID' => $row['link']),null, FALSE)?>');">
		<?php
    	}
    	else {
    	?>
    	<a target="_blank"
		href="<?php
            echo $row['link'];?>">
    	
    	<?php
    	}
    		echo $row['link'];
        ?></a></td>
	
   
    <?php
        
        $show = $naviauth->navi("index", "index", "deletereadinglist");
        if ($show == 1) {
            ?>
     <td id="mytable"><a href="javascript: validate(<?php
            echo $row['id']?>)"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-delete.gif'>"?></a>
            </td>
     <?php
        }
        ?>   
    
	<?php
	$i++;
    }
    ?>
</table>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'paginationspecial.phtml',$this->searchParams);
    ?>
<?php
}
?>
</div>

<script>

function validate(rowid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;

	document.location="<?php
echo $this->url(array( 'controller' => 'index', 'action' => 'deletereadinglist'), 'default', true)?>/rowid/"+rowid;
}

</script>
<script type="text/javascript"> 
<!--
function popup(url) 
{
 var width  = 700;
 var height = 430;
 var left   = (screen.width  - width)/2;
 var top    = (screen.height - height)/2;
 var params = 'width='+width+', height='+height;
 params += ', top='+top+', left='+left;
 params += ', directories=no';
 params += ', location=no';
 params += ', menubar=no';
 params += ', resizable=yes';
 params += ', scrollbars=yes';
 params += ', status=no';
 params += ', toolbar=no';
 newwin=window.open(url,'windowname4', params);
 if (window.focus) {newwin.focus()}
 return false;
}
// -->
</script>