<?php
/**
 * Creates a SAML authentication request.
 * @param string $acsURL The URL to the SSO ACS
 * @param string $providerName The domain name of the identity requestor
 * @return string
 */
function createAuthnRequest($acsURL, $providerName) {
  $tml = file_get_contents('AuthnRequestTemplate.xml');

  $tml = str_replace('<PROVIDER_NAME>', $providerName, $tml);
  $tml = str_replace('<AUTHN_ID>', samlCreateId(), $tml);
  $tml = str_replace('<ACS_URL>', $acsURL, $tml);
  $tml = str_replace('<ISSUE_INSTANT>', samlGetDateTime(time()), $tml);

  return $tml;
}

/**
 * Assembles a URL containing the identity provider URL, the encoded
 * SAML auth request, and the RelayState.
 * @param string $ssoURL
 * @param string $authnRequest
 * @param string $relayStateURL
 * @return string
 */
function computeURL($ssoURL, $authnRequest, $relayStateURL,$ses_username,$ses_userpass,$providerName) {
  $url = $ssoURL;
  $url .= '?SAMLRequest=' . samlEncodeMessage($authnRequest);
  $url .= '&RelayState=' . urlencode($relayStateURL);
  $url .= '&username=' . urlencode($ses_username);
  $url .= '&userpass=' . urlencode($ses_userpass);
  $url .= '&providerName=' . urlencode($providerName);
  return $url;
}

/**
 * Returns a unix timestamp in xsd:dateTime format.
 * @param timestamp int UNIX Timestamp to convert to xsd:dateTime
          ISO 8601 format.
 * @return string
 */
function samlGetDateTime($timestamp) {
  return gmdate('Y-m-d\TH:i:s\Z', $timestamp);
}

/**
 * Generates an encoded and compressed string from the specified
 * string. The string is encoded in the following order:
 *
 * 1. Deflate
 * 2. Base64 encode
 * 3. URL encode
 * @param string $msg
 * @return string
 */
function samlEncodeMessage($msg) {
  $encmsg = gzdeflate($msg);
  $encmsg = base64_encode($encmsg);
  $encmsg = urlencode($encmsg);
  return $encmsg;
}

/**
 * Creates a 40-character string containing 160-bits of pseudorandomness.
 * @return string
 */
function samlCreateId() {
  $rndChars = 'abcdefghijklmnop';
  $rndId = '';

  for ($i = 0; $i < 40; $i++ ) {
    $rndId .= $rndChars[rand(0,strlen($rndChars)-1)];
  }

  return $rndId;
}


$ssoURL="http://lms.oum.edu.my/glogin.php";
$acsURI = 'https://www.google.com/a/oum.edu.my/acs';
$providerName="aucms-lms.oum.edu.my";
$relayStateURL="http://mail.google.com/a/oum.edu.my";

$authnRequest = createAuthnRequest($acsURI, $providerName);

$returnPage=$PHP_SELF;
echo $redirectURL = computeURL($ssoURL, $authnRequest, $relayStateURL,$this->username,$this->password,$providerName);


header("Location: ".$redirectURL );
?>