<script type="text/javascript">var _path = '<?php echo $this->baseUrl(); ?>';</script>
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/register.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript">
$(function(){
	 $("#icno").mask("999999-99-9999");
});

</script>
<div id="content">
<div class="wrap" id="registerpage">
<h2><span class="icon icon-user-add"></span> <?php echo $this->translate('register')?></h2>
<!--  content  -->
<?php 
if (isset($this->errorMessage)) 
{
	echo '<div class="error"><span class="icon icon-attention"></span> '.$this->errorMessage.' </div>';
}
?>
<form method="post" onsubmit="return signup.checkform()">
   <div class="section">
   		<h3><?php echo $this->translate('Personal Details')?></h3>
   </div>
   <div class="row">	
	<label for="firstname"><?php echo $this->translate('First Name')?></label>
	<div class="info">
		<?php echo $this->formLogin->firstname?>
	</div>
	</div>
	<div class="row">	
	<label for="lastname"><?php echo $this->translate('Last Name')?></label>
	<div class="info">
		<?php echo $this->formLogin->lastname?>
	</div>
	</div>
	<div class="row">	
	<label for="icno"><?php echo $this->translate('IC No')?></label>
	<div class="info">
		<?php echo $this->formLogin->icno?>
		<div class="ajax"><span id="icnocheck"></span></div>
	</div>
	</div>
  <div class="section">
   		<h3><?php echo $this->translate('Account Details')?></h3>
   </div>
  <div class="row">	
	<label for="username"><?php echo $this->translate('username')?></label>
	<div class="info">
		<?php echo $this->formLogin->username?>
		<div class="ajax"><span id="usernamecheck">Must be at least 3 characters</span></div>
	</div>
  </div>
   <div class="row">	
	<label for="pw1"><?php echo $this->translate('Password')?></label>
	<div class="info">
		<?php echo $this->formLogin->pw1?>
		<div class="ajax"><span id="pw1check">Must be at least 6 characters</span></div>
	</div>
  </div>
   <div class="row">	
	<label for="pw2"><?php echo $this->translate('Confirm Password')?></label>
	<div class="info">
		<?php echo $this->formLogin->pw2?>
		<div class="ajax"><span id="pw2check"></span></div>
	</div>
  </div>
   <div class="row">	
	<label for="email"><?php echo $this->translate('email')?></label>
	<div class="info">
		<?php echo $this->formLogin->email?>
		<div class="ajax"><span id="emailcheck"></span></div>
	</div>
  </div>

   <div class="row">	
		<?php echo $this->formLogin->submit?>
   </div>
</form>
<!--  /content -->
</div>
</div>  
