<?php 
//ini_set("display_errors","ON");
include_once("ytfunctions.php");
?>
<table id="data_border" border="0" cellpadding="5" cellspacing="2" width="100%" bordercolorlight="#CCCCCC" bordercolordark="#EEEEEE">
<tr><td colspan=2 class="tbmenu" align=right >
<?php 
if($this->act=="search"){
	
	if($_GET["page"]==""){
		$cpage=1;
	}else{
		$cpage=$_GET["page"];
	}
	$searchurl=$this->url(array(controller => index , action => youtube, act=> search),null, FALSE)."/?q=".$this->txtkeyword;
	
	$maxperpage=10;
	$startindex = (($cpage-1)*$maxperpage)+1;
	//echo $startindex;
	$videoFeed=searchAndPrintVideosByKeywords($this->txtkeyword,$startindex,$maxperpage);
	
	  try {
		  $previousFeed = $videoFeed->getPreviousFeed();
		  $gpage=$cpage-1;
		  $prevUrl= "<a href='$searchurl&page=$gpage'><< ".$this->translate('previous')." </a> |";
		} catch (Zend_Gdata_App_Exception $e) {
		  //echo $e->getMessage() . "\n";
		}
	  
	  
	try {
	  $nextFeed = $videoFeed->getNextFeed();
	  $gpage=$cpage+1;
	  $nextUrl= " <a href='$searchurl&page=$gpage'>".$this->translate('next')." >></a> ";;
	} catch (Zend_Gdata_App_Exception $e) {
	  //echo $e->getMessage() . "\n";
	}	

?>
<?php echo $prevUrl.$nextUrl?></td></tr>
<?php 
$readlist = new Application_Model_Readinglist();
//print_r($videoFeed);
	if ($videoFeed){
	$i=0;
	foreach ($videoFeed as $videoEntry) {
		
		/*printVideoEntry($videoEntry);
		exit();*/
		
		$videoThumbnails = $videoEntry->getVideoThumbnails();
		?>
		<tr>
		<td align=center width="130" class="tbmain" valign="top">
		<img src="<?php echo $videoThumbnails[1]["url"]?>"></img><br><br>
		<a href='javascript: void(0)' onclick="popup('<?php
echo $this->url(array('controller' => 'index' , 'action' => 'embedyoutube' , 'vidID' => $videoEntry->getVideoId()),null, FALSE)?>');"><img border=0 src="<?php echo $this->baseUrl(); ?>/images/multisitesearch/button_play.gif"></img></a>
		</td>
		<td class="tbmain" valign="top">
		<b>Title : <?php echo $videoEntry->getVideoTitle();?></b><br>
		<br><?php echo $videoEntry->getVideoDescription();?><br><br>
		<i>Duration : <?php echo sec2hms($videoEntry->getVideoDuration());?></i>
		<br><br>
		<div align="right">
		<?php 
	
		$rs=$readlist->fetch("",$videoEntry->getVideoId(),$this->username);
		//print_r($rs);
		if ($rs) {
		?>
		<a href="<?php
		echo $this->url(array('controller' => 'index' , 'action' => 'removereadlist' , 'vidID' => $videoEntry->getVideoId()),null, FALSE)?>?q=<?php echo $this->txtkeyword?>&page=<?php echo $cpage?>"><?php echo $this->translate('remove_read_list'); ?></a>
		<?php
		} else {
		?>
		<a href="<?php
		echo $this->url(array('controller' => 'index' , 'action' => 'addreadlist' , 'vidID' => $videoEntry->getVideoId()),null, FALSE)?>?q=<?php echo $this->txtkeyword?>&page=<?php echo $cpage?>"><?php echo $this->translate('add_read_list'); ?></a></div>
		<?php
		}
		?>
		</td>	
		</tr>
		<?php 
		$i++;
	  }
	  if ($i==0)
	  echo $this->translate('no_results_for')." ".$this->txtkeyword;
	}
	else {
		echo $this->translate('no_results_for')." ".$this->txtkeyword;
	}
?>
	<tr><td class=tbmenu align=right colspan=2><?=$prevUrl.$nextUrl?>
<?php 	  


}
?>
	</td></tr>
</td></tr>
</table>

<script type="text/javascript"> 
<!--
function popup(url) 
{
 var width  = 700;
 var height = 430;
 var left   = (screen.width  - width)/2;
 var top    = (screen.height - height)/2;
 var params = 'width='+width+', height='+height;
 params += ', top='+top+', left='+left;
 params += ', directories=no';
 params += ', location=no';
 params += ', menubar=no';
 params += ', resizable=yes';
 params += ', scrollbars=yes';
 params += ', status=no';
 params += ', toolbar=no';
 newwin=window.open(url,'windowname4', params);
 if (window.focus) {newwin.focus()}
 return false;
}
// -->
</script>