<div class="notice">
	<p><?php echo $this->translate('set_startend_date_course')?></p>
</div>

<?php
$intake = new Admin_Model_Intake ();
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
if (count($this->paginator)) {
    ?>
	
	<!--<h3><?php echo $this->translate('intake_entries'); ?> :</h3>-->
	
	<br />
	<table class="maintable">
	<thead>
		<tr>
			<th><?php echo $this->translate('course_code'); ?></th>
			<th><?php echo $this->translate('semester_id'); ?></th>
			<th><?php echo $this->translate('start_date'); ?></th>
			<th><?php echo $this->translate('end_date'); ?></th>
			<?php
			$show = $naviauth->navi("admin", "course", "modify");
	 		if ($show == 1) {
	        ?><th><?php echo $this->translate('modify'); ?></th>
	        <?php } ?>
		</tr>
	</thead>
	<?php
	foreach ($this->paginator as $row) 
	{
		?>
	    <tr>
	    	<td><?php echo $this->courseid; ?></td>
			<td><?php
	        //echo $row['semid'];
	        $result=$intake->fetch($row['semid']);
	    	echo $result["intakecode"];
	        ?></td>
	    	<td>
			<?php
	        echo $row['start_date'];
	        ?></td>
	   		<td id="mytable">
			<?php
	        echo $row['end_date'];
	        ?></td>
	  		<?php if ($show == 1) { ?>
	     	<td>
	     		<a class="btn2 green" href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'course', 'action' => 'modify','id' => $row['id'], 'courseid' => $this->courseid), 'default', true)?>"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
	        </td>
	     	<?php } ?>   
	  	</tr>  
		<?php
	}
	?>
	</table>
	
	<?php echo $this->paginationControl($this->paginator, 'Elastic','pagination.phtml'); 
}
?>