<div class="notice">
	<p><?php echo $this->translate('set_startend_date_course')?></p>
</div>

<table class="maintable">
<thead>
<tr>
	<th><?php echo $this->translate('course_list'); ?></th>
</tr>
</thead>
<tbody>
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$i=1;
foreach ($this->course as $row) 
{
	echo "<tr><td>";
	?>
	<a href="<?php echo $this->url(array('module'=>'admin' , 'controller' => 'course' , 'action' => 'index', 'courseid'=> $row['courseid']),null, FALSE)?>"><?php echo $row['coursename'];?> (<?php echo $row['coursecode'];?>)</a><?php
	echo "</td></tr>";
	$i++;
}
?>
</tbody>
</table>