<script>
$(document).ready(function(){
    $("#start_date").datepicker({
    	dateFormat : "yy-mm-dd",
        minDate: 0,
        maxDate: "+1000D",
        numberOfMonths: 2,
        onSelect: function(selected) {
          $("#end_date").datepicker("option","minDate", selected)
        }
    });
    $("#end_date").datepicker({
    	dateFormat : "yy-mm-dd",
        minDate: 0,
        maxDate:"+1000D",
        numberOfMonths: 2,
        onSelect: function(selected) {
           $("#start_date").datepicker("option","maxDate", selected)
        }
    }); 
});
</script>
<div id="contentonly">
Set Start Date and End Date for Course
<br><br>

<h3> <?php echo $this->courseid?></h3>
<?php
echo $this->form;
?>

</div>