<div class="paging"><?php echo $this->title;?></div>

<h2 class="dotted"><?php echo $this->translate('Add_New_Announcement');?></h2>

<?php echo $this->form; ?>


<script type="text/javascript">

CKEDITOR.replace( 'message',{ height: 200, width:650 } );

$(document).ready(function()
{
    $("#start_date").datepicker({
    	dateFormat : "yy-mm-dd",
        minDate: 0,
        maxDate: "+1000D",
        numberOfMonths: 2,
        onSelect: function(selected) {
          $("#end_date").datepicker("option","minDate", selected)
        }
    });
    $("#end_date").datepicker({
    	dateFormat : "yy-mm-dd",
        minDate: 0,
        maxDate:"+1000D",
        numberOfMonths: 2,
        onSelect: function(selected) {
           $("#start_date").datepicker("option","maxDate", selected)
        }
    }); 
});
</script>