<h3><span class="icon icon-megaphone"></span> <?php echo $this->translate('announcement')?></h3>

<table class="table" id="announcement_details">
	<tbody>
	<tr><td class="label"><strong><?php echo $this->translate('title');?></strong></td><td><?php echo $this->announcement["title"]?></td></tr>
	<tr><td class="label"><strong><?php echo $this->translate('date');?></strong></td><td><?php echo date("jS F Y", strtotime($this->announcement["start_date"]))?></td></tr>
	<tr><td class="label"><strong><?php echo $this->translate('attachment');?></strong></td>
	<td>
		<?php 
		if ( $this->announcement["filename1"]==null && $this->announcement["filename2"]==null && $this->announcement["filename3"]==null) 
		{ 
			echo $this->translate('no_file');
		} 
		else
		{	
			//echo $this->courseid;
			if ($this->courseid=="0")
			{
				?>
				<a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->announcement["filename1"]?>" target="_blank"><?php echo $this->announcement["filename1"]?></a><br>
				<?php if ( $this->announcement["filename2"] != '' ) { ?><br /><a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->announcement["filename2"]?>" target="_blank"><?php echo $this->announcement["filename2"]?></a><br /><?php } ?>
				<?php if ( $this->announcement["filename2"] != '' ) { ?><a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->announcement["filename3"]?>" target="_blank"><?php echo $this->announcement["filename3"]?></a><br /><?php } ?>
				<?php
			}
			else 
			{
				?>
				<a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->courseid?>/<?php echo $this->announcement["filename1"]?>" target="_blank"><?php echo $this->announcement["filename1"]?></a>
				<?php if ( $this->announcement["filename2"] != '' ) { ?><br /><a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->courseid?>/<?php echo $this->announcement["filename2"]?>" target="_blank"><?php echo $this->announcement["filename2"]?></a><br /><?php } ?>
				<?php if ( $this->announcement["filename2"] != '' ) { ?><a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->courseid?>/<?php echo $this->announcement["filename3"]?>" target="_blank"><?php echo $this->announcement["filename3"]?></a><br /><?php } ?>
				<?php
			}
		}
		?>
	</td>
	</tr>	
	<tr>
		<td colspan="2" class="message"><?php echo $this->announcement["message"]?></td>
	</tr>
	</tbody>
</table>
<style type="text/css">
#announcement_details td.message { font-size:13px }
#announcement_details td.label { width:150px }
</style>