<div class="paging"><?php echo $this->title;?></div>

<div class="page-opt">
	<a href="<?php echo $this->url(array('module'=>'announcement','controller'=>'courseann','action'=>'add','courseid'=>$this->courseid));?>" class="btn btn-round btn-large"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('add_announcement')?></a>
</div>

<h2 class="dotted"><?php echo $this->course['coursecode'].' '.$this->translate('announcement')?></h2>

<form name="search" method="post" action="<?php echo $this->url(array('module'=>'announcement','controller'=>'courseann','action'=>'list', 'courseid'=>$this->courseid),'default',true);?>" >
<p><?php echo $this->translate('enter_ann_keyword') ?></p>
<div>
	<p><input class="inputtext" type="text" name="keywords" size="50" value="<?php echo $this->keywords?>" /> <input class="btn" type="submit" name="submit" value="<?php echo $this->translate('search'); ?>" />	
</div>
</form>

<table class="maintable">
<thead>
	<tr>
		<th style="width:40%"><?php echo $this->translate('title') ?></th>
		<th><?php echo $this->translate('start_date')?></th>
		<th><?php echo $this->translate('end_date')?></th>
		<th><?php echo $this->translate('createdby')?></th>
		<th><?php echo $this->translate('createddt')?></th>
		<th><?php echo $this->translate('action')?></th>
	</tr>
</thead>
<tbody>
<?php 
if (count($this->paginator) > 0 ) 
{ 
	foreach ($this->paginator as $row) 
	{
    	?>
    	<tr>
    	<td><a href="<?php echo $this->url(array('module' => 'announcement', 'controller' => 'courseann' , 'action' => 'preview', 'id' => $row['id']),null, FALSE)?>"><?php echo $row['title'];?></a></td>
    	<td><?php echo $row['start_date'];?></td>
    	<td><?php echo $row['end_date'];?></td>
		<td><?php echo $row['createby']?></td>
		<td><?php echo $row['datecreated']?></td>
		<td>
			<a class="btn2 green" href="<?php echo $this->url(array('module' => 'announcement', 'controller' => 'courseann' , 'action' => 'modify', 'courseid' => $row['courseid'],'id' => $row['id']),null, FALSE)?>"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
			<?php
			$naviauth = new Epic_Controller_Acl(new Epic_Acl());
			$show = $naviauth->navicourse("announcement", "courseann", "delete", $this->username, $this->courseid);
			if ($show == 1) 
			{
				?>
				<a class="btn2 red" href="<?php echo $this->url(array('module' => 'announcement', 'controller' => 'courseann', 'action' => 'delete', 'courseid' =>  $this->courseid, 'id', $row['id']),'default', true)?>" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')"><span class="icon icon-trash"></span><?php echo $this->translate('delete'); ?></a>
				<?php
 			}
			?>
		</td>
		</tr>
	<?php 
	}
}//end paginator
else
{
	echo '<tr><td colspan="6">'.$this->translate('no_announcements').'</td></tr>'."\n";
}
?>
</tbody>			
</table>

<?php
echo $this->paginationControl($this->paginator, 'Elastic', 'pagination.phtml',$this->searchParams);
?>