
<script>

$(function() {	
	
	$("#dialog:ui-dialog").dialog( "destroy" );
	
	$("#dialog-detail-modal").dialog({
		
		width: 620,
		modal: true,
		autoOpen: false,
		buttons: {
			
			Close: function() {
				$( this ).dialog( "close" );
			}
		}
		
	});
		
	
});

function annDetails(id,cid){
	var url = "<?php echo $this->url(array('module'=>'announcement', 'controller'=>'courseann','action'=>'anndetails'),'default',true); ?>/id/"+id+"/courseid/"+cid;
	$('#dialog-detail-modal').load(url).dialog('open');	
	return false;
}

</script>

<div id="contentonly">

<?php echo $this->title;?>

<br><br>
<div class="title_page"><?php echo $this->translate('Announcement').' '.$this->translate('List');?></div>
<hr class='dotted' />
<br>



<table align="center" border="0" cellspacing="1" cellpadding="5" width="100%">
		
		<?php if($this->paginator){
				foreach ($this->paginator as $ann){
		?>
         	<tr>         		
         		<td><strong><a href="#" onclick="annDetails('<?php echo $ann["id"]?>','<?php echo $this->courseid?>')"><?php echo $ann["title"];?></a></strong></td>
         	</tr>  
         	<tr>
         		<td><?php echo date("jS F Y", strtotime($ann["start_date"]))?></td>
         		
         	</tr>
         	<tr>
         		<td><div class="hr"><hr></div></td>
         		
         	</tr>          
					
		<?php } 
		}//end paginator?>			
</table>
<table width="100%"><tr ><td align="right"><?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml',$this->searchParams);
?></td></tr></table>
</div>


<!--  Dialog for annoucement details -->
<div id="dialog-detail-modal" title="<?php echo $this->translate('Details').' '.$this->translate('Announcement');?>"></div>