<div id="contentonly">

<?php echo $this->title;?>

<br><br>
<div class="title_page"><?php echo $this->translate('Preview').' '.$this->translate('Announcement');?></div>
<hr class='dotted' />
<br>


<table align="center" id='mytable' border="0" cellspacing="1" cellpadding="5" width="80%">
	<tr>
		<th  id='mytable'><?php echo $this->translate('title')?></th>
		<td  id='mytable'><?php echo $this->announcement["title"];?></td>
	</tr>
	
	<tr>
		<th  id='mytable'><?php echo $this->translate('message')?></th>
		<td  id='mytable'><?php echo $this->announcement["message"];?></td>
	</tr>
	<tr>
		<th  id='mytable'><?php echo $this->translate('date')?></th>
		<td  id='mytable'><?php echo $this->announcement["start_date"]. ' - '.$this->announcement["end_date"];?></td>
	</tr>
	<tr>
		<th  id='mytable'><?php echo $this->translate('attachment')?></th>
		<td  id='mytable'>
		<?php if ($this->announcement["filename1"]==null && $this->announcement["filename2"]==null && $this->announcement["filename3"]==null) { 
		echo $this->translate('no_file');
		} else {	
		?>
		
		<a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->announcement["filename1"]?>" target="_blank"><?php echo $this->announcement["filename1"]?></a><br>
		<a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->announcement["filename2"]?>" target="_blank"><?php echo $this->announcement["filename2"]?></a><br>
		<a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->announcement["filename3"]?>" target="_blank"><?php echo $this->announcement["filename3"]?></a><br>
		
		<?php
		}
		?>
	</tr>
</table>
</div>