body,html { margin: 0; padding: 0;  }
.label { background: #FFCC33; padding: 5px; font: bold 10px Arial, sans-serif; position: absolute; top: 0;left: 0; }
.form { padding: 20px 20px 10px; background: #E0F4F8; width: 580px; overflow: hidden; }
.form p { margin: 0 0 10px 0; float:left; clear:both; display: block; }
.form label { font: bold 0.9em Helvetica, Arial, sans-serif; color: #000000; padding: 0 0 0 5px;}
.form .w { float: left; clear: both; padding: 5px 5px 0; background: #D7EBEF; font: bold 0.8em Helvetica, Arial, sans-serif; color: #000000; overflow: hidden; }
.form .w span { padding: 0 0 5px; float:left; }
.form .input { border: 1px solid #A5C2C8; line-height: 20px; padding: 5px 5px 5px 5px; margin: 0 0 5px 0; width: 537px; font: bold 16px Helvetiva, Arial, sans-serif; color:#000000 }
.form .w label { padding:0; }
#heading
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:56px;
	color:#CC0000;				
}

#bottomMoreButton{text-align:left; background:#ECEFF5; width:470px; height:18px; padding:10px 10px 10px 20px; color:#3B5998}

#bottomMoreButton a{ color:#3B5998}

body{
	text-align:left;
	font-family:Arial, Sans-Serif;
	font-size:0.75em;
}
input{
               font-size:13px;
}
.button, .button:visited {
	display: inline-block; 
	color: #fff; 
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	cursor: pointer
}

.small.button, .small.button:visited 		{ font-size: 14px;
											  }
.button:hover { background-color: #111; color: #fff; }
.button:active { top: 1px; }
.button, .button:visited,

.blue	 { background-color: #E0E0E0;color:#fff; font-size:14px;  cursor:auto; padding:5px; width:310px; }


.Detail.button, .Detail.button:visited{ 
												font-weight:bold;
												background-color:#5B74A8;
												font-size: 12px;
												border-color:#29447E #29447E #1A356E;
												text-align:center;
												font-weight:bold;
											    color:#FFFFFF;
												cursor:pointer;
												width:33px;}
.comment.button, .comment.button:visited{ 
												font-weight:bold;
												background-color:#5B74A8;
												font-size: 12px;
												border-color:#29447E #29447E #1A356E;
												text-align:center;
												margin-bottom:3px;
												
												margin-right:4px;										
												font-weight:bold;
											    color:#FFFFFF;
												cursor:pointer;
												width:60px;
												}

.UIComposer_Box {
	background-color:#F2F2F2;
	border-color:#919191 #B5B5B5 #CBCBCB;
	border-top:2px solid #919191;
	padding:7px 0 0px;
	width:530px;
}
#watermark{ padding:6px;}
a#link{
	font-family:Arial, Helvetica, sans-serif;
	color:#3B5998;
	font-weight:bolder;
}
.commentBox{
	width:350px; padding:3px; 
	background:#ECEFF5;
	margin-left:18px;
	margin-top:3px;
	}
.commentPanel	{
	width:350px; padding:3px; 
	background:#ECEFF5;
	margin-left:18px;
	margin-top:3px;
}
.postedComments{float:left; margin-left:6px; width:290px; text-align:justify;}
	
.commentMark{ float:left; width:300px; margin-left:5px;font-size:11px}

a.c_delete{color:#3B5998;
	font-size:11px;}

.friends_area{
    width:350px;
	vertical-align:top;
    min-height:60px;
	padding-bottom:12px;
	padding-top:10px;
    border-bottom: #999999 solid 1px;
    }
.top_area{
	background:#627AAD;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	padding:6px 6px 6px 12px;		
}
.name b{
	font-size:14px;
	color:#3B5998;
	cursor:pointer;
	}
.name{
	font-size:14px;
	color:#333;
	width:350px;
	text-align:left;
	padding-left:9px;
	}
a.delete{
	float:left;
	color:#666666;
	display:block;
	padding:5px;
	text-decoration:none;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	color:#333333;
	cursor:pointer;
	display:none;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	white-space:nowrap;
}
a.delete:hover{
	opacity:1;filter:alpha(opacity = 100);-ms-filter:'alpha(opacity = 100)';
	border:solid #B1B1B1 1px;
	background:#EEEEEE;
	padding:5px;
	}
.name a{
	color:#3B5998;
	font-size:11px;
	margin:3px 3px 3px 6px;
}
.name em{
	color:#333;
	font-style:normal;
	width:110px;
	font-size:11px;
}
.name span{
	color:#777777;
	font-size:11px;
}
.postedComments em{
	color:#333;
	font-style:normal;
	width:110px;
	font-size:11px;
}
.postedComments span{
	color:#777777;
	font-size:11px;
}
.postedComments b{
	font-size:14px;
	color:#3B5998;
	cursor:pointer;
}
