<div class="page-opt">
	<a href="<?php echo $this->baseUrl(); ?>/block/index/block/courseid/<?php echo $this->courseid?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('course').' '.$this->course['coursecode']?> </a>
</div>

<div class="paging"><?php echo $this->title;?></div>
<h2 class="dotted"><?php echo $this->course['coursename']. ' ('.$this->course['coursecode'].')';?></h2>

<div id="scorm_wrap">
	<div id="scorm_menu">
	<ul>
	<?php
	if(is_array($this->scodata))
	{  
	
		$i = 0;
		foreach ($this->scodata as $rstoc)
		{ 	
			if ($rstoc["threadparent"] == '0' )
			{
				$i++;
				if ( $i == 1 )
				{
					$firstid = $rstoc['ID'];
				}
				
				/*==========================================
				TRACKING - TO CHECK COMPLETED OR INCOMPLETED
				===========================================*/	
			
				$img='';
				$moduleDB = new Block_Model_Module();
				$module_type = $moduleDB->get_info($this->moduleid);	
							
				$trackDB = new Block_Model_Track();
					
				if($module_type=='Scorm')
				{ 												
					$status=$trackDB->get_scorm_status($this->moduleid,$rstoc["ID"]);	
				}
				else
				{						
					$status=$trackDB->get_nonscorm_status($this->moduleid,$rstoc["ID"],$this->courseid);
				}
			 
				if($status=="completed")  	{	$img='<span class="icon icon-check"></span> '; }
				if($status=="incompleted")	{	$img='<span class="icon icon-cancel"></span> '; }
				
				
				/*==============================================
				END TRACKING - TO CHECK COMPLETED OR INCOMPLETED
				================================================*/
					
				  
			    $lessonDB  = new Block_Model_Lesson();
			    $rs_lesson = $lessonDB->get_lesson($rstoc["ID"]);
			    $url       = $rs_lesson["location"];
				
				$link = $rs_lesson['location'] == '' ? $rstoc['toc'] : '<a href="#'.$rstoc['ID'].'" onclick="return viewpage(\''.$rstoc['ID'].'\')"><span class="icon icon-right-dir"></span> '.$rstoc['toc'].'</a>';
				
				?>
				<li id="item-<?php echo $rstoc['ID']?>"><?php echo $img . $link ?></li>
				<?php 				  
													
				$lessonDB->displaychild(3,1,$rstoc["ID"],3,$rstoc["level"],$this->moduleid,$this->courseid,"");				
		     }//end threadparent
		}
	}
	else
	{
		echo "No content to display.";
	}
	?>
	</ul>
	</div>
	<div id="scorm_frame">
		
	</div>
	<div class="resizer">
		<p><a href="#" onclick="return resizeframe()"><span class="icon icon-arrow-combo"></span> <?php echo $this->translate('resize')?></a></p>
	</div>
</div>
<div id="loading"><span class="icon icon-arrows-ccw rotating"></span> <?php echo $this->translate('Loading Scorm Data')?></div>
<script type="text/javascript">
function previewContent(tocid){
	 
	var url = "<?php echo $this->url(array('module'=>'block', 'controller'=>'content','action'=>'preview','courseid'=>$this->courseid,'moduleid'=>$this->moduleid),'default',true); ?>/tocid/"+tocid;
	newwindow=window.open(url,'myecontent','height=600,width=600');
	if (window.focus) {newwindow.focus()}
	return false;
	
}
function resizeframe()
{
	var curheight = $("#scorm_iframe").height();
	$("#scorm_iframe").animate({height: (curheight+200)+'px' });

	return false;
}

function viewpage( id )
{
	$("#scorm_menu li").removeClass("active");
	$("#item-"+id).addClass("active");

	var url = "<?php echo $this->url(array('module'=>'block', 'controller'=>'content','action'=>'preview','courseid'=>$this->courseid,'moduleid'=>$this->moduleid),'default',true); ?>/tocid/"+id;

	$("#loading").show();
	
	$.ajax({
		dataType: "json",
		url: url,
		success: function (data)
		{
			$("#loading").hide();
			var iframe = $("#scorm_iframe").length;
			if ( iframe == 0 )
			{
				$("#scorm_frame").html('<iframe id="scorm_iframe" src="'+data.url+'"></iframe>');
			}
			else
			{	
				$("#scorm_iframe").attr("src",data.url);
			}
		}
		});
	
	
	return false;
}

$(function() { viewpage('<?php echo $firstid ?>'); });
</script>
<style type="text/css">
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.rotating {
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
 	animation: rotate 1s linear infinite;
}
#loading { -webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.55); -moz-box-shadow:    0px 0px 15px rgba(50, 50, 50, 0.55); box-shadow:         0px 0px 15px rgba(50, 50, 50, 0.55); position: absolute; padding:10px; top:50%; left:50%; color:#fff; background:#4484db; margin-left:-50px; }
#scorm_menu
{
	width:200px;
	float:left;
}
.resizer { }
#scorm_iframe { width:100%; height:600px; display:block; }
#scorm_menu ul { list-style:none }
#scorm_menu ul li { }
#scorm_menu ul li a { display:block; text-decoration:none; background:#f1f1f1; border-bottom:1px solid #e1e1e1; border-top:1px solid #f8f8f8; overflow:hidden; padding:4px; }
#scorm_menu ul li a .icon { float:left; color:#ccc}
#scorm_menu ul li a:hover { background: #fafafa;
background: -moz-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f0f0f0));
background: -webkit-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
background: -o-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
background: -ms-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
background: linear-gradient(to bottom, #fafafa 0%, #f0f0f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f0f0f0', GradientType=0 ); 
}

#scorm_menu ul li.active a { color:#fff; background: #6eb4f5;
background: -moz-linear-gradient(top, #6eb4f5 0%, #207ce5 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #6eb4f5), color-stop(100%, #207ce5));
background: -webkit-linear-gradient(top, #6eb4f5 0%, #207ce5 100%);
background: -o-linear-gradient(top, #6eb4f5 0%, #207ce5 100%);
background: -ms-linear-gradient(top, #6eb4f5 0%, #207ce5 100%);
background: linear-gradient(to bottom, #6eb4f5 0%, #207ce5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6eb4f5', endColorstr='#207ce5', GradientType=0 ); }
#scorm_menu ul li.active .icon { color:#fff }


#scorm_frame
{
	min-height:600px;
	height: 600px;
	height: auto !important;
	border:1px solid #efefef;
	margin-left:210px;
}

#scorm_wrap
{

}

.resizer { padding-top:10px; text-align:right }
.resizer a
{ 
	border: solid 1px #ececec;
    border-radius: 10px;
    color: #bcbcbc;
    display: inline-block;
    font-size: 11px;
    padding: 4px 10px;
    text-align: center;
	color:#aaa;
}

.resizer .icon { font-size:11px; }

.resizer a:hover
{
	border-color:#ccc;
	box-shadow: 0 0px 3px rgba(0,0,0,.1);
}
</style>


