@charset "utf-8";
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
	/*background-color: #FFF;*/
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
}
#wrapper {
	width:1024px;
	margin:auto;
	padding:0;

}
#header {
	width:1024px;
	float:left;
	height:219px;
	background-image: url(../images/cgsvle/header_login.png);
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E0E0E0;
	border-left-color: #E0E0E0;
	position:absolute;
	z-index:-1;
}
h2{
	font-size: 18px;
	color: #314a69;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.logo {
	width:188px;
	height:37px;
	float:left;
	margin-top:20px;
	margin-left:84px;
}
.motto {
	width:165px;
	height:12px;
	float:left;
	margin-left:40px;
	margin-top:28px;
}
#content {
	margin-bottom:40px;
	height:600px;
	min-height:auto;
	width:1024px;
	margin-top:105px;
	float:left;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E0E0E0;
	border-left-color: #E0E0E0;
	overflow:auto;
	
}

.squareboxes{
	width:532px;
	height:337px;
	float:left;
	margin-top:18px;
	margin-left:20px;
	background-image: url(../images/cgsvle/log-inboxes.png);
}
.registered_boxes{
	width:184px;
	height:55px;
	float:left;
	margin-top:-80px;
	margin-left:128px;
}
.icon_design{
	width:34px;
	height:34px;
	float:left;
	margin-top:-40px;
	margin-left:504px;
}

#left {
	width:300px;
	float:left;

}

.content_login{
	width:241px;
	float:left;
	margin-top:80px;
	margin-left:138px;
}

#right {
	width:624px;
	float:right;
	height:100%;

}

/*#footer {
	width: 100%;
	height:80px;
	float:left;
	background-color:#314a69;
}*/

#footer {
	position:fixed;
	bottom: 0px;
	width: 99%;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	background-color:#314a69;
}
.white_footer{
	width:1024px;
	margin:auto;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E0E0E0;
	border-left-color: #E0E0E0;
}

a:link {
	color:#06C;
	text-decoration: none;
}      /* unvisited link */
a:visited {
	color:#066;
	text-decoration: none;
}  /* visited link */
a:hover {
	color:#666;
	text-decoration: none;
}  /* mouse over link */
a:active {
	color:#069;
	text-decoration: none;
}  /* selected link */grey_text {
	color: #999;
}
.grey_text {
	font-size: 11px;
	color: #999;
}
.leftLogin {
    float: left;
    padding: 0 15px;
    width: 280px;
}


/***** clearfix *****/
.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}



/* sliding panel */

#panelLogin {
	width: 100%;
	height: 270px;
	color: #999999;
	background: #272727;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}

#panelLogin h1 {
	font-size: 13px;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}

#panelLogin h2{
	font-size: 12px;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#panelLogin p {
	margin: 5px 0;
	padding: 0;
}

#panelLogin a {
	text-decoration: none;
	color: #15ADFF;
}

#panelLogin a:hover {
	color: white;
}

#panelLogin a-lost-pwdLogin {
	display: block;
	float: left;
}

#panelLogin .contentLogin {
	width: 100%;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 11px;
}

#panelLogin .contentLogin .leftLogin {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#panelLogin .contentLogin .rightLogin {
	border-right: 1px solid #333;
}

#panelLogin .contentLogin form {
	margin: 0 0 10px 0;
}

#panelLogin .contentLogin label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#panelLogin .contentLogin input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#panelLogin .contentLogin input:focus.field {
	background: #545454;
}
.white { background-color:#fff; padding: 0px 0px 0px 0px; margin: 0 0 0 0;}
.white2 { background-color:#fff; padding: 0px 0px 0px 0px; margin: 0 0 0 0; border-right: 1px dotted #d6d9de;}
.white3 { background-color:#fff; padding: 0px 0px 0px 0px; margin: 0 0 0 0; border-top: 1px dotted #d6d9de;}
.white4 { background-color:#fff; padding: 3px 0px 3px 0px; margin: 0 0 0 0; border-bottom: 1px dotted #20519a;}
.white5 { background-color:#f5f5f5; padding: 3px 10px 3px 0px; margin: 0 0 0 0; border-bottom: 1px dotted #20519a;}
.blueLogin { background-color:#9cc7f0; padding: 0px 0px 0px 0px; margin: 0 0 0 0;}
.greyLogin { background-color:#e6e6e6; padding: 0px 0px 0px 0px; margin: 0 0 0 0;}
.greyLogin2 { background-color:#c0c0c0; padding: 0px 0px 0px 0px; margin: 0 0 0 0;}
.greyLogin2a { background-color:#c0c0c0; padding: 0px 0px 0px 0px; margin: 0 0 0 0; font-family: Georgia, "Times New Roman", Times, serif; text-decoration: none; color:#000; font-size: 12px; font-weight: normal;}
.greyLogin2b { background-color:#c0c0c0; padding: 10px 0px 10px 0px; margin: 0 0 0 0; font-family: Georgia, "Times New Roman", Times, serif; text-decoration: none; color:#000; font-size: 20px; font-weight: normal;}
.greyLogin3 { background-color:#e6e6e6; padding: 0px 0px 0px 0px; margin: 0 0 0 0; border-top: 1px dotted #20519a; border-bottom: 1px dotted #20519a;}
.greyBgLeftMenu { background-color:#fbfbfb; padding: 0px 0px 0px 0px; margin: 0 0 0 0;}

.location2Programme {
   /* background: url("") no-repeat scroll 0 0 #CCCCCC;*/
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
	width:457px;
	float:left;
}

.contentWhiteProgrammeFEL {
    background-color: #CCCCCC;
    border-top: 2px solid #F64904;
    color: #000000;
    font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.7em;

    text-align: left;
}
.titleLightBlueProgramme {
    background: url("") no-repeat scroll 0 0 #CCCCCC;
    color: #20519A;
    font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7em;
    text-align: left;
}


p {
    color: #000000;
    font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.7em;
    padding-bottom: 0.35em;
    padding-top: 0.35em;
    text-align: justify;
}
.lc0 {
	color: #fff;
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding: 5px;
	text-align: left;
	background-attachment: scroll;
	background-color: #06C;
	background-repeat: no-repeat;
	background-position: 0 0;	
}
.lc0a {
    background: url("") no-repeat scroll 0 0 #627AAD;
    border-bottom: 1px solid #000000;
    color: #FFFFFF;
    font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}
.longitude {
	color: #000000;
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 3px;
	text-align: center;
	background-attachment: scroll;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: 0 0;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #CCC;
}
.longitude2 {
	color: #3b5998;
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 3px;
	text-align: left;
	background-attachment: scroll;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: 0 0;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #CCC;
}
.latitude {
		border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-right-color: #3B5998;
	border-bottom-color: #3B5998;
	border-left-color: #3B5998;
	color: #000000;
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 3px;
	text-align: center;
	background-attachment: scroll;
	background-color: #CCC;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.latitude2 {
	color: #000000;
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 3px;
	text-align: center;
	background-attachment: scroll;
	background-color: #CCC;
	background-repeat: no-repeat;
	background-position: 0 0;
	border: 1px solid #666;
}
.copyright{
	width: 500px;;

	clear: both;
	float: left;
	margin-top:38px;
	margin-left:25px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFF;
}
.best_viewed{

	float: right;
	margin-top:38px;
    margin-right: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #CCC;
}