@charset "utf-8";


body {#FFFFFF;
	font-size:12px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
	color:#000000;
	padding:0;
	margin:0;

}

#wrapper {
	width: 99%;
	margin:auto;
	padding:0;
	border:0;
	
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #666;
}
a:hover {
	text-decoration: underline;
	color: #333;
}
a:active {
	text-decoration: none;
	color: #666;
}

#menu {
	width: 100%;
	height:34px;
	background-color:#ffffff;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: dashed;
	border-top-color: #E0E0E0;
	border-bottom-color: #E0E0E0;

}

.submenu {
	width: 250px;
	height:34px;
	float:right;
	margin-right:174px;


}
#user_images{
	width:121px;
	height:136px;
	background-color:#fff;
	float:left;
	margin-left:28px;
	margin-top:15px;
	border: 1px solid #CCC;
}

.li.bg, .bg {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px solid #ECECEC;
	clear: both;
	float: left;
	line-height: 0;
	padding: 0;
	width: 100%;
	margin-top: 14px;
	margin-right: 0;
	margin-bottom: 10px;

}

.logout{
	float:right;
	margin-top:34px;
	margin-right:10px;
	text-align:right
	width:200px;
	height:20px;
}

.language {
    float: right;
    height: 36px;
    margin-left: 10px;
    margin-top: 5px;
    width: 160px;
}
.multisearch {
    float: right;
    height: 36px;
    margin-left: 120px;
    margin-top: 3px;
    width: 310px;
}
.titlebox{
	width:99%;
	height:30px;
	float:left;
	padding:5px;
	margin-bottom:10px;
	background-color: #DAE0FE;
}
#user_profile{
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size: 11px;
	color: #999;
	margin-left:14px;
	margin-top:2px;
	width:166px;
}

ul.category{
	margin:0;padding:0;
	
}
.category li{
	list-style-type:none;
	display:block;	
	
	
}
.category li a{
	float: none;
	display:block;
	padding:4px 12px;
	margin:0 1px 0 0;
	text-align:ceter;
	text-decoration:none;
	background-color:white;
	color:#333;
	border:dotted #CCC thin;
}
.category li a:hover{
	background-color:#F0FAFF;
	color:#666;
}
.category li.current-page a{
	background-color:#999;
	color:#FFF;
}

#tools{
	float:right;
	margin-top:-5px;
}
/*ul{
	text-indent: 2px;
	display: block;
	list-style-position: outside;
	list-style-type: square;
	color: #666;
	font-size: 11px;
	text-decoration: none;
}
li{
	margin-top: 5px;
}*/
#navigation{  
	float: left; 

}  

#navigation ul li{  
	display: block;  
	float: left;
	margin-right:15px;  

}  
  
#navigation ul li a{
	display: inline-block;
	color: #333;
	font-size: 12px;
	text-decoration: none;
	text-indent:1px;
	margin-top:-2px;
	
}  
  
#navigation ul li a:hover{
	text-decoration: none;
	background-repeat: repeat-x;
	color: #999;
}  
  
#navigation ul li.active a{
	background-repeat: repeat-x;
	color: #036;
	text-decoration: none;
} 

p {
    color: #000000;
    font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
    font-size: 11px;
    padding-bottom: 0.35em;
    padding-top: 0.35em;
	padding-right: 1.35em;
	padding-left: 1.35em;
    text-align: justify;
}
 
.bluefont{
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size: 11px;
	color: #039;
	font-variant: normal;
	text-align: left;
}
.bluebars{
	background-color: #174b8c;	
	clear: both;
	float: left;
	line-height: 0;
	padding: 0;
	width: 165px;
	height:22px;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 2px;
}
.greybars{
	background-color: #666;
	clear: both;
	float: left;
	line-height: 0;
	padding: 0;
	width: 165px;
	height:22px;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 2px;
}

.bluebars_2{
	background-color: #174b8c;	
	clear: both;
	float: left;
	line-height: 0;
	padding: 0;
	width: 240px;
	height:22px;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 2px;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
	
}
h2{
	font-size:12px;
	color:#ffffff;
	margin-left:10px;
	margin-top:12px;

}

h3{
	font-size:13px;
	margin-left:10px;
	margin-top:12px;
	color: #314A69;

}
h4{
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size:13px;
	margin-left:10px;
	margin-top:5px;
	color: #314A69;

}
hr {
 	border: 0;
 	width: 100%;
 	color: #f00;
	background-color: #011c54;
	height: 5px;
}

.logo{
	width:188px;
	height:37px;
	float:left;
	margin-top:25px;
	margin-left:25px;
}

.web_tittle{
	width:165px;
	height:12px;
	float:left;
	margin-top:36px;
	margin-left:60px;
}

#header {
	width: 100%;
	height:91px;
	background-image: url(../images/cgsvle/header.png);

}
#content {
	/*width: 100%;*/
	margin-bottom:40px;
	min-height:auto;
	max-height:auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-left-color: #E0E0E0;
	overflow:auto;

}

#contentonly {
   	padding-left: 5px;
	width: 95%;
	float:left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:10px;
}

#left {
	width: 180px;
	float:left;
	margin-left: 5px;
	margin-rigth: 5px;
	margin-top:10px;
}

#right {
	width: 84%;
	float:left;
	padding-left: 5px;
	margin-rigth: 5px;
	margin-top:10px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-top-color: #DFDFDF;
	border-right-color: #DFDFDF;
	border-bottom-color: #DFDFDF;
	border-left-color: #DFDFDF;
	min-height: 530px;
    overflow: hidden;

}

#right_2 {
	width: 80%;
	float:left;
	padding-left: 5px;
	padding-right: 5px;
	margin-top:10px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-top-color: #DFDFDF;
	border-right-color: #DFDFDF;
	border-bottom-color: #DFDFDF;
	border-left-color: #DFDFDF;
	border-right-width: 1px;
	border-right-style: dotted;
	min-height: 500px;
    overflow: hidden;

}

.right_3 {
	width: 250px;
	float:left;
	display: block;
	padding-left: 5px;
	margin-rigth: 5px;
	margin-left:5px;
	margin-top:10px;
	border-top-color: #DFDFDF;
	border-right-color: #DFDFDF;
	border-bottom-color: #DFDFDF;
	border-left-color: #DFDFDF;
	min-height: 500px;
    overflow: hidden;
}
#right_4 {
	width: 66%;
	float:left;
	padding-left: 5px;
	padding-right: 5px;
	margin-top:10px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-top-color: #DFDFDF;
	border-right-color: #DFDFDF;
	border-bottom-color: #DFDFDF;
	border-left-color: #DFDFDF;
	border-right-width: 1px;
	border-right-style: dotted;
	min-height: 500px;
    overflow: hidden;

}
#footer {
	position:fixed;
	bottom: 0px;
	width: 99%;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	background-color:#314a69;
}
.white_footer{
	width: 100%;
	margin:auto;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E0E0E0;
	border-left-color: #E0E0E0;
}
.content_tab {
	/*clear: left;*/
	padding: 1em;
	border: 1px solid #DFDFDF;
	font-size: 11px;
	text-decoration: none;
}

ol#toc {
	height: 2em;
	list-style: none;
	margin: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}

ol#toc a {
	/*width:100px;*/
	background: #314a69;
	color: #ffffff;
	display: block;
	float: left;
	height: 2em;
	padding-left: 10px;
	text-decoration: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px 8px 0 0;
	behavior: url(border-radius.htc);
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #DFDFDF;
	border-right-color: #DFDFDF;
	border-left-color: #DFDFDF;
}

ol#toc a:hover {
    background-color: #3af;
}

ol#toc a:hover span {
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
}

ol#toc li.current a {
    background-color: #ffffff;
    color: #314a69;
    font-weight: bold;
}

ol#toc li.current span {
}

ol#toc span {
	display: block;
	line-height: 2em;
	padding-right: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	behavior: url(border-radius.htc);
    border-radius: 8px 8px 0 0;
}
.table tab {
	text-align: center;
	padding-left: 25px;
	float: left;
	font-size: 12px;
	color: #666;
}
.copyright{
	width: 500px;;

	clear: both;
	float: left;
	margin-top:38px;
	margin-left:25px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFF;
}
.best_viewed{

	float: right;
	margin-top:38px;
    margin-right: 24px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #CCC;
}

.ajax {
    background-color: #0089CE;
    background-image: -moz-linear-gradient(center bottom , #0089CE 46%, #00AAD5 87%);
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #FCFCFC !important;
    cursor: pointer;
    line-height: 40px;
    padding: 4px 12px;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.ajax:hover{
	box-shadow: 0 1px 3px #CCC;
}

.button {
    background-color: #0089CE;
    background-image: -moz-linear-gradient(center bottom , #0089CE 46%, #00AAD5 87%);
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #FCFCFC !important;
    cursor: pointer;
    line-height: 40px;
    padding: 4px 12px;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.button:hover{
	box-shadow: 0 1px 3px #CCC;
}

h4.block{
	color: blue;
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size:13px;
	margin-left : 0px;
	padding:8px;
	color: #314A69;

}