@charset "utf-8";


body 
{
	/*font-size:12px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;*/
	font-family:Arial, Verdana, Helvetica, sans-serif;
  	font-size:12px;
	color:#000000;
	padding:0;
	margin:0;

}

#wrapper {

	margin:auto;
	padding:0;
	border:0;
	
}

#user_profile{
	
	color: #999999;
    font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 11px;
   /* margin-left: 114px;
    margin-top: 30px;
    width: 94px; */
    
   margin-left:100px; 
}

#user_profile2{
	
	 color: #999999;
    font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 13px;
    margin-left: 114px;
    margin-top: 17px;
    width: 220px;
    
}

#user_profile3{
	
	color: #000000;
    font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 13px;
    margin-left: 110px;
    margin-top: 17px;
    width: 80%;
    
}

#user_tool{
	
	color: #999999;
    font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 11px;
    clear:left;
    padding-top:10px;
     /*height: 48px;
    margin-left: 14px;
    margin-top: 35px;
    width: 157px; */
    
}

.li.bg, .bg {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px solid #ECECEC;
	clear: both;
	float: left;
	line-height: 0;
	padding: 0;
	width: 100%;
	margin-top: 14px;
	margin-right: 0;
	margin-bottom: 10px;

}

a{
font-size: 11px;
}
a:link {
	text-decoration: none;
	color: #3b5998;
	
}
a:visited {
	text-decoration: none;
	color: #666;
}
a:hover {
	text-decoration: underline;
	color: #333;
}
a:active {
	text-decoration: none;
	color: #666;
}

#menu {
	
	height:38px;
	/*border-top-width: 1px;
	 * width: 100%;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: dashed;
	border-top-color: #E0E0E0;
	border-bottom-color: #E0E0E0;*/
	background-image: url(../images/menubgloop.png);
}

.submenu {
	width: 250px;
	height:34px;
	float:right;
	margin-right:174px;


}
#user_images{
	
	
    float: left;
    /*
    height: 111px;
    margin-left: 11px;
    margin-top: 15px;
    width: 91px; */
}
#user_images img { 
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.li.bg, .bg {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px solid #ECECEC;
	clear: both;
	float: left;
	line-height: 0;
	padding: 0;
	width: 100%;
	margin-top: 14px;
	margin-right: 0;
	margin-bottom: 10px;

}

.emeducation{
	float:right;
	margin-right: 140px;
    margin-top: 20px;
	width:270px;
	height:50px;
}


.language {
    float: right;
    height: 36px;
    margin-left: 10px;
    margin-top: 10px;
    width: 160px;
}
.multisearch {
    float: right;
    height: 36px;
    margin-left: 120px;
    margin-top: 10px;
    width: 310px;
}
.titlebox{
	width:99%;
	height:30px;
	float:left;
	padding:5px;
	margin-bottom:10px;
	background-color: #DAE0FE;
}

#left .box 
{
	background: #fff;
	border:1px solid #dfdfdf;
	color:#999;
	margin-bottom:20px;
	/*
	 	margin-left:21px;
		margin-top:24px; 
	*/
	overflow:hidden;
	padding:10px;
}

#left .box .headerbar
{
	overflow:hidden; 
	margin-bottom:10px;
}

#left .box .important_icon 
{ 
	float:left;
	margin-right:5px;
}

#left .box .box-content
{ 
	
}

#leftbox1
{
	/*
	background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    color: #999999;
    float: right;
    height: 288px;
    margin-left: 21px;
    margin-top: 24px;
    width: 100%;*/
    
	/*color: #999;
	background-color: #ffffff;
	float:left;
	margin-left:21px;
	margin-top:24px;
	width:270px;
	height:288px;
	border: 1px solid #dfdfdf;*/
}

#leftbox3
{
	/*
	background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    color: #999999;
    float: right;
    height: 150px;
    margin-left: 21px;
    margin-top: 24px;
    width: 100%;
	*/
    
	/*color: #999;
	background-color: #ffffff;
	float:left;
	margin-left:21px;
	margin-top:8px;
	width:270px;
	height:150px;
	border: 1px solid #dfdfdf;*/
}

#leftbox2{
	/*
	background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    color: #999999;
    float: right;
    height: 160px;
    margin-left: 21px;
    margin-top: 24px;
    width: 100%;
	*/
    
	/*background-color: #ffffff;
	color: #999;
	float:left;
	margin-left:21px;
	margin-top:8px;
	width:270px;
	height:160px;
	border: 1px solid #dfdfdf;*/
}

/*
.headerbar
{
	width:240px;
	float:left;
	margin:5px;
}

.important_icon{
	float:left;
	margin-left:5px;
	height: 34px;
    width: 50px;
}

.important_icon2
{
	float:left;
	margin-left:5px;
	height: 34px;
    width: 50px;
    margin-top:-20px;
}
*/

.bluefont
{
	font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size: 11px;
	color: #039;
	font-variant: normal;
	text-align: left;
}
.bluebars{
	background-color: #174b8c;	
	float: left;
	width: 268px;
	height:22px;
	margin-top: 2px;
	margin-left:15px;
	margin-right: 0;
	margin-bottom: 2px;
}

ul.category{
	margin:0;padding:0;
	
}
.category li{
	list-style-type:none;
	display:block;	
	
	
}
.category li a{
	float: none;
	display:block;
	padding:4px 12px;
	margin:0 1px 0 0;
	text-align:ceter;
	text-decoration:none;
	background-color:white;
	color:#333;
	border:dotted #CCC thin;
}
.category li a:hover{
	background-color:#F0FAFF;
	color:#666;
}
.category li.current-page a{
	background-color:#999;
	color:#FFF;
}

#tools{
	float:right;
	margin-top:-5px;
}
/*ul{
	text-indent: 2px;
	display: block;
	list-style-position: outside;
	list-style-type: square;
	color: #666;
	font-size: 11px;
	text-decoration: none;
}
li{
	margin-top: 5px;
}*/
#navigation{
	float: left;
	margin-top:5px;

}  

#navigation ul li{  
	display: block;  
	float: left;
	margin-right:15px;  

}  
  
#navigation ul li a{
	display: inline-block;
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
	text-indent:5;
	margin-top:-2px;
	font-family: "Myriad Pro", Verdana, Geneva, sans-serif;
}  
  
#navigation ul li a:hover{
	text-decoration: none;
	background-repeat: repeat-x;
	color: #f7ae0a;
}  
  
#navigation ul li.active a{
	background-repeat: repeat-x;
	color: #333;
	text-decoration: none;
} 

p {
    color: #000000;
    /*font-family: "Lucida Grande", "Lucida Sans Unicode",  sans-serif;
    font-size: 11px;*/
	font-family:Arial, Verdana, Helvetica, sans-serif;
  font-size:12px;
    padding-bottom: 0.35em;
    padding-top: 0.35em;
	padding-right: 1.35em;
	padding-left: 1.35em;
    text-align: justify;
}
 

.greybars{
	background-color: #666;
	clear: both;
	float: left;
	line-height: 0;
	padding: 0;
	width: 165px;
	height:22px;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 2px;
}

.bluebars_2{
	background-color: #174b8c;	
	clear: both;
	float: left;
	line-height: 0;
	padding: 0;
	width: 240px;
	height:22px;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 2px;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
	
}
h1{
	
	font-family: Helvetica,"Lucida Grande", "Lucida Sans Unicode",  sans-serif;
	font-size:24px;
	margin-top:5px;
	color: #23b0ec;

}
h2{
	font-size:12px;
	color:#ffffff;
	margin-left:10px;
	margin-top:12px;

}

h3{
	font-size:13px;
	margin-left:10px;
	margin-top:12px;
	color: #314A69;

}
h4{
	color: #FCB10A;
    font-family: "Myriad Pro", Helvetica,"Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 8px;
	margin-bottom:10px;


}
hr {
 	border: 0;
 	width: 100%;
 	color: #f00;
	background-color: #011c54;
	height: 5px;
}

.logo{
	width:228px;
	height:84px;
	float:left;
	margin-left:38px;
}

#header {
	width: 100%;
	height:84px;
	background-image: url(../images/header-loop.png);
}
#content {

	min-height:500px;
	min-height:auto;
	/*
	 width: 100%;
	 border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-left-color: #E0E0E0;*/
	overflow:hidden;
	background-repeat: repeat-x;
	background-color: #f1f1f1;
	background-image: url(../images/bodyloop.png);
}
/*before login*/
#left_before {
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	min-height: 520px;
	width:24%;
	background-image: url(../images/leftbar1.png);
	overflow:hidden;
	background-color: #FFF;
	
}
#right_before {
	width: 67%;
	float:right;
	margin-left:10px;
	margin-right: 30px;
	margin-rigth: 5px;
	margin-bottom:25px;
	margin-top:6px;
	min-height: 520px;
	overflow: hidden;
	background-color: #FFF;
	border: 1px solid #d8dfea;
}





/*end*/	

#wrap_main { position:relative; padding:0 24px; }
#left
{
	
    overflow: hidden;
    width: 240px;
	position:absolute;
	top:0px;
	right:24px;
	/*    
	padding-right: 24px;
	width: 23%;
    float: left;
	margin-left: 50px;
	margin-top: 10px;
	min-height: 583px;
	max-height:100%;
	width:30%;
	background-image: url(../images/leftbar1.png);
	background-color:#ffffff;*/
}
#right
{
	margin-right:260px;
	margin-bottom:25px;
	margin-top: 24px;
	min-height: 540px;
	overflow: hidden;
	background-color: #FFF;
	border: 1px solid #d8dfea;
}
#greeting{
	float:left;
	margin-left:36px;
}

#right_2 {
	width: 80%;
	float:left;
	padding-left: 5px;
	padding-right: 5px;
	margin-top:10px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-top-color: #DFDFDF;
	border-right-color: #DFDFDF;
	border-bottom-color: #DFDFDF;
	border-left-color: #DFDFDF;
	border-right-width: 1px;
	border-right-style: dotted;
	min-height: 500px;
    overflow: hidden;

}

.right_3 {
	width: 250px;
	float:left;
	display: block;
	padding-left: 5px;
	margin-rigth: 5px;
	margin-left:5px;
	margin-top:10px;
	border-top-color: #DFDFDF;
	border-right-color: #DFDFDF;
	border-bottom-color: #DFDFDF;
	border-left-color: #DFDFDF;
	min-height: 500px;
    overflow: hidden;
}
#right_4 {
	width: 66%;
	float:left;
	padding-left: 5px;
	padding-right: 5px;
	margin-top:10px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-top-color: #DFDFDF;
	border-right-color: #DFDFDF;
	border-bottom-color: #DFDFDF;
	border-left-color: #DFDFDF;
	border-right-width: 1px;
	border-right-style: dotted;
	min-height: 500px;
    overflow: hidden;

}
#footer {
	width: 100%;
	height:42px;
	margin-left:auto;
	margin-right:auto;
	background-color:#ffffff;
	border-top-width: 8px;
	border-top-style: solid;
	border-top-color: #f7ae0a;
}
.white_footer{
	margin:auto;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E0E0E0;
	border-left-color: #E0E0E0;
}
.content_tab {
	/*clear: left;*/
	padding: 1em;
	border: 1px solid #DFDFDF;
	font-size: 11px;
	text-decoration: none;
}

ol#toc {
	height: 2em;
	list-style: none;
	margin: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}

ol#toc a {
	/*width:100px;*/
	background: #314a69;
	color: #ffffff;
	display: block;
	float: left;
	height: 2em;
	padding-left: 10px;
	text-decoration: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px 8px 0 0;
	behavior: url(border-radius.htc);
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #DFDFDF;
	border-right-color: #DFDFDF;
	border-left-color: #DFDFDF;
}

ol#toc a:hover {
    background-color: #3af;
}

ol#toc a:hover span {
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
}

ol#toc li.current a {
    background-color: #ffffff;
    color: #314a69;
    font-weight: bold;
}

ol#toc li.current span {
}

ol#toc span {
	display: block;
	line-height: 2em;
	padding-right: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	behavior: url(border-radius.htc);
    border-radius: 8px 8px 0 0;
}
.table tab {
	text-align: center;
	padding-left: 25px;
	float: left;
	font-size: 12px;
	color: #666;
}
.copyright{
	/*width: 500px;;
	clear: both;*/
	float: left;
	margin-top:20px;
	margin-left:162px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #999;
}
.bannerbottom{
	width: 317px;;
	height:40px;
	float: left;
	margin-top:5px;
	margin-left:18px;
	background-image: url(../images/AM-footer.png);
}
.best_viewed{
	float: right;
	margin-top:20px;
	margin-right: 50px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #999;
}
#contentonly {
	width: 95%;
	float:left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:10px;
}
#loginsection{
	float:left;
	margin-left:25px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
	margin-top:25px;

}
.buttonsubmit {
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 20px;
    margin: 5px 0px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}
#loginsection h5{
	color: #FCB10A;
    font-family: "Myriad Pro", Helvetica,"Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 16px;
    margin-top: 8px;

}
#reminder h5{
	color: #FCB10A;
    font-family: "Myriad Pro", Helvetica,"Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 16px;
    margin-top: 8px;
    margin-left:10px;
    margin-right:10px;
    border-bottom: 1px dashed #dfdfdf;

}
#reminder{
	color: #999;
	float:left;
	margin-left:14px;
	margin-top:24px;
	width:92%;
	height:250px;
	border: 1px solid #dfdfdf;
}
.reminder_content{
	float left;
	margin-left:50px;
	margin-top:-24px;
	width:200px;
}
.ajax {
    background-color: #0089CE;
    background-image: -moz-linear-gradient(center bottom , #0089CE 46%, #00AAD5 87%);
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #FCFCFC !important;
    cursor: pointer;
    line-height: 40px;
    padding: 4px 12px;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.ajax:hover{
	box-shadow: 0 1px 3px #CCC;
}

.button {
    background-color: #0089CE;
    background-image: -moz-linear-gradient(center bottom , #0089CE 46%, #00AAD5 87%);
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #FCFCFC !important;
    cursor: pointer;
    line-height: 40px;
    padding: 4px 12px;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.button:hover{
	box-shadow: 0 1px 3px #CCC;
}
.logout{
	float:right;
	margin-top:-2px;
	margin-right:-404px;
	width:132px;
	height:40px;
	background-image: url(../images/logoutbg.png)	
}
.logout_content{
	margin-top:4px;
	float:left;
	margin-left:25px;
}

code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}
	
.activity_box{
 border: 1px solid #D0D0D0;	
 border-radius:15px;
 -moz-border-radius:15px; /* Firefox 3.6 and earlier */
	 padding: 7px 7px 30px 7px;;
}

.activity_box_title{
 border: 1px solid #D0D0D0;	
 border-radius:10px 10px 10px 10px;
 -moz-border-radius:15px; /* Firefox 3.6 and earlier */
	 padding: 30px 15px 30px 15px;;
	 /* default background colour, for all layout engines that don't implement gradients */
background: #2a6da9;

/* gecko based browsers */
background: -moz-linear-gradient(top, #D8D8D8, #F2F2F2);

/* webkit based browsers */
background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#F2F2F2));

color: #000000; /* text colour (black) */
height: auto; /* gradient uses the full height of the element */
padding: 10px; /* distance from border edge to text */
margin:-5px;
}

#mtable
{
font-family:Arial, Verdana, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}

#mtable td, #mtable th 
{
font-size:1em;
border:1px solid #DFDFDF;
padding:3px 7px 2px 7px;
}


#mtable th 
{
	font-size:12px;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	/*background: #CAE8EA url(images/bg_header.jpg) no-repeat;*/
	background: #CAE8EA no-repeat;
}


 .dotted {border: 1px dotted #D8D8D8; border-style: none none dotted; color: #fff; background-color: #fff; }
 .title_page { font-size:20px; color:#DF7401;}

@media only screen and (max-width: 768px)
{
	#wrap_main { padding:0 }
	#right { margin-right:240px; }
	#left { right:0px; width:230px }

	#user_images { float:none; margin-bottom:5px; }
	#user_profile { margin-left:0 }
}

