#container {
	width: 308px; margin: 0px auto; background-color:#FFFFCC; padding: 25px;
}
#multisearchForm, #multisearchFormIcon {
	font:normal 14px Tahoma, Arial, Helvetica; margin: 0px; padding: 0px; border: 1px solid #7e9dba; display: inline-block; width: auto;
}
.multisearchInput {
	padding: 3px 1px 0px 10px; border: 0px; margin: 0px; vertical-align: top; height:20px; display: inline-block; width: 200px; background-image: url('../images/multisitesearch/search.gif'); background-repeat: no-repeat; background-position: 192px 3px; background-color:#FFFFFF;
}
#multisearchFormIcon .multisearchInput {
	width: 240px; background-position: 232px 3px;
}
ul.ws_drop_down {
	display:block; float: left; background-image: url('../images/multisitesearch/bg.gif'); background-repeat: repeat; background-position: top;
}
ul.ws_drop_down li img{
	border: 0px;
	vertical-align: middle;
	padding: 1px
}
ul.ws_drop_down li {
	display:block; margin:0px 0px 0px 0px; float:left;
}
ul.ws_drop_down a:hover ul, ul.ws_drop_down a:hover a:hover ul, ul.ws_drop_down a:hover a:hover a:hover ul {
	display:block;
}
ul.ws_drop_down li a {
	display:block; vertical-align:middle; text-decoration:none; text-align:left; font-size: 14px; line-height: 20px; padding: 2px 0px 2px 10px; border-right: 1px solid #CCCCCC; margin: 0px; color: #666666; background-image: url('../images/multisitesearch/multisearchForm.gif'); background-repeat: no-repeat; background-position: 75px center; width: 80px; outline: none;
}
#multisearchFormIcon ul.ws_drop_down li a {
	background-position: 35px center;
}
ul.ws_drop_downm li a:hover, ul.ws_drop_downm li a {
	color: #000;
}
ul.ws_drop_down ul {
	position: absolute; left:-1px; top:98%; background-color:#fff; margin: -2px 0px 0px 0px; border-bottom: 1px solid #7e9dba; border-left: 1px solid #7e9dba;
}
ul.ws_drop_down, ul.ws_drop_down ul {
	margin:0px; list-style:none; padding:0px;
}
ul.ws_drop_down a:active, ul.ws_drop_down a:focus {
	outline-style:none;
}
ul.ws_drop_down ul li {
	float: left; margin: 0px 0px 0px -1px;
}
ul.ws_drop_down ul a {
	white-space:nowrap; text-align:left; border-right: 1px solid #CCCCCC; border-left: 1px solid #7e9dba; border-top: 0px solid #7e9dba; width: 80px; background-image: none; padding: 3px 0px 3px 10px;
}
ul.ws_drop_down li:hover {
	position:relative;
}
ul.ws_drop_down li:hover>a {
	background-color:#fff; color: #a14209; text-decoration:none;
}
ul.ws_drop_down li a:hover {
	position:relative; background-color:#fff; color: #a14209; text-decoration:none;
}
ul.ws_drop_downm li a:hover {
	background-color: #f5db89;
}
ul.ws_drop_down ul, ul.ws_drop_down a:hover ul ul {
	display:none; z-index:99999;
}
ul.ws_drop_down li:hover>ul {
	display:block
}
/* CSS for TABLE Tags for IE 6 and Lower START */
ul.ws_drop_down li a table, ul.ws_drop_down li a:hover table {
	border-collapse:collapse; margin: 0px 0px 0px 0px; border:0px; padding:0px;
}
ul.ws_drop_down li a table tr td, ul.ws_drop_down li a:hover table tr td {
	padding:0px; border:0px;
}
ul.ws_drop_down li a table ul, ul.ws_drop_down li a:hover table ul {
	border-collapse:collapse; padding:0px; margin:0px 0px 0px -1px;
}
ul.ws_drop_down table ul {
	left:0px;
}