@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

/*
Maktab Koperasi Malaysia
23 July 2013 Demo Site
*/

/* html5 reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* Start site CSS */
body					{ color:#000; font:400 12px 'Noto Sans', Arial, sans-serif; }
img						{ border: none; }
p						{ font-size: 1em; line-height:1.5em; }

a						{ color: #174a6f; text-decoration:none; -webkit-transition: .2s ease-in;  -moz-transition: .2s ease-in;  -o-transition: .2s ease-in;  transition: .2s ease-in; }
a:hover					{ color:#0c4a5f; -webkit-transition: .2s ease-in; -moz-transition: .2s ease-in; -o-transition: .2s ease-in; transition: .2s ease-in; }
a:visited				{ color:#749db0 }

h1, h2, h3, h4 { font-family: 'Noto Sans', Arial, sans-serif; font-weight:700; color:#314A69; margin-bottom:10px; letter-spacing:-1px; }
h1 { color:#18a9e6 }
h2 { color:#bc2e2e; font-size:16px; }
h3 { font-size:16px; color:#555 }
h4 { color:#FCB10A; }

h2.dotted { border-bottom:1px dotted #d8d8d8; padding-bottom:10px; }
h2.subtitle { font-size:18px;  color:#314A69; }

/* start layout */
.wrap { margin:0 auto; }

#header { padding:10px 20px; }
#header .logo {  }
#header #signout a
{ 
	color:#666;
	background:#f1f1f1;
	padding:7px 15px; 
	position:absolute;
	top:0;
	right:50px;
	width:80px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size:13px;
}


#header #signout a:hover 
{ 
	color:#fff;
	background:#ff6c00;
	
}

/*
#main-nav
{ 
	border-top:1px solid #f3f3f3;
	background: #5faccb;
	background: -moz-linear-gradient(top,  #5faccb 0%, #70caef 15%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5faccb), color-stop(15%,#70caef));
	background: -webkit-linear-gradient(top,  #5faccb 0%,#70caef 15%);
	background: -o-linear-gradient(top,  #5faccb 0%,#70caef 15%);
	background: -ms-linear-gradient(top,  #5faccb 0%,#70caef 15%);
	background: linear-gradient(to bottom,  #5faccb 0%,#70caef 15%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5faccb', endColorstr='#70caef',GradientType=0 );

	padding:10px 20px;
}
*/
#main-nav
{ 
	border-top:1px solid #f3f3f3;
	background: #1269a0;
	background: -moz-linear-gradient(top,  #8e1a1a 0%, #740e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e1a1a), color-stop(100%,#740e0e));
	background: -webkit-linear-gradient(top,  #8e1a1a 0%,#740e0e 100%);
	background: -o-linear-gradient(top,  #8e1a1a 0%,#740e0e 100%);
	background: -ms-linear-gradient(top,  #8e1a1a 0%,#740e0e 100%);
	background: linear-gradient(to bottom,  #8e1a1a 0%,#740e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e1a1a', endColorstr='#740e0e',GradientType=0 );

	padding:8px 20px;
}

#main-nav ul.menu { list-style:none; }
#main-nav ul.menu li { display:inline }
#main-nav ul.menu li a { float:left; text-transform:uppercase; margin-right:10px; padding:5px 10px; color:#fff;font-size:12px; font-weight:bold; }
#main-nav ul.menu li.active a,
#main-nav ul.menu li a:hover 
{
	color:#fff; background:#e42e2e; -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 0px rgba(50, 50, 50, 0.5);
	   -moz-box-shadow:    0px 1px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         0px 1px 0px rgba(50, 50, 50, 0.5);
}

#main-nav .language, #header .language { float:right; }
#main-nav .multisearch { float:right; margin-right:10px; display:none;  }
#main-nav .multisearch .multisearchInput { height:22px }

nav.submenu { background:#541414 }
nav.submenu ul { list-style:none; overflow:hidden }
nav.submenu li { display:inline }
nav.submenu li a { color:#bf7878; float:left; padding:10px 12px; text-transform:uppercase; font-size:12px; font-weight:bold;}
nav.submenu li .icon { font-size:12px; }
nav.submenu li a:hover { background:#731710 }

#main { position:relative; background:#f1f1f1; padding:20px 20px 40px 20px; }
#content { margin-right:250px; padding:10px; background:#fff; border:1px solid #d8dfea; min-height:650px; height:650px; height: auto !important; }
#sidebar { width:240px; position:absolute; top:20px; right:20px; }
#content.full { margin-right:0; }

/*
Register Page */
.logintpl #content {  margin-right:0; }
.logintpl #header { width:650px; margin:10px auto 0 auto; }
.logintpl .wrap { width:650px; margin:0 auto; }

#registerpage {
	
	border:1px solid #ccc;

	background:#fefefe;
	
	-webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.15);
	   -moz-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.15);
			box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.15);
	
	 -webkit-border-radius: 10px;
		-moz-border-radius: 10px;
			 border-radius: 10px;
}
#registerpage h2 
{ 
background: #3b81d7;
background: -moz-linear-gradient(top,  #689ad6 0%, #3b81d7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#689ad6), color-stop(100%,#3b81d7));
background: -webkit-linear-gradient(top,  #689ad6 0%,#3b81d7 100%);
background: -o-linear-gradient(top,  #689ad6 0%,#3b81d7 100%);
background: -ms-linear-gradient(top,  #689ad6 0%,#3b81d7 100%);
background: linear-gradient(to bottom,  #689ad6 0%,#3b81d7 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689ad6', endColorstr='#3b81d7',GradientType=0 );
	*/	
	border-bottom:1px solid #2d69b2; 
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding:10px 20px;
	color:#fff;
	font-size:18px;
	text-shadow: 0px 1px rgba(0,0,0,0.5);
}

#registerpage form { margin:15px;  }
#registerpage .input { border:1px solid #ccc; padding:5px; color:#666; font:16px 'Noto Sans', Arial, sans-serif;  width:340px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
#registerpage .input:focus { outline:none; color:#666;  border-color:#93d3f4; -webkit-box-shadow: 0px 0px 3px 3px #eef9ff;-moz-box-shadow: 0px 0px 3px 3px #eef9ff;box-shadow: 0px 0px 3px 3px #eef9ff;  }

#registerpage .row {  overflow:hidden; padding:10px; }
#registerpage .row label { font-size:14px;  }
#registerpage .row .info { margin-top:5px; }
#registerpage .row .ajax { font-size:12px; color:#555; float:right; margin:10px 10px 0 0; width:200px; }
#registerpage .row .icon { font-size:18px; }
#registerpage div.error { margin:0 10px }
#registerpage .section { margin:5px 0; padding:0 10px; border-bottom:1px solid #ccc }

#homemain { position:relative; background:#fff; padding:20px; }
#homemain #content { border:none }

#sidebar .box 
{
	background: #fff;
	border:1px solid #dfdfdf;
	color:#999;
	margin-bottom:10px;
	overflow:hidden;
}

#sidebar .box h3
{
	padding:8px 12px;
	font:bold 16px 'Noto Sans', Arial, sans-serif;
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom:1px solid #dfdfdf;
	margin-bottom:0;
	color:#535353;
}

#sidebar .box h3 .icon 
{ 
	/* padding:7px; 
	-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
	background:#ffb20d; */
	color:#424242;
	font-size: 16px;
	font-weight:normal;
	margin-right:5px;
}

#sidebar .box .box-content
{ 
	overflow:hidden;
	padding: 10px;
}

#sidebar .box .user-welcome { margin:10px 0 5px 0; font-size:11px; padding-bottom:5px; border-bottom:1px solid #e7e7e7; }
#sidebar .box .user-welcome p { margin-bottom:4px; }

#sidebar .box .user-img { position:absolute; margin-top:-65px; margin-left:150px; background:#fff; padding:5px; height:60px; width:60px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.35);
	   -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.35);
			box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.35); }
#sidebar .box .user-img img { }
#sidebar .box .icon { font-size:9px; }
#sidebar .box .user-profile { margin-top:10px;  }
#sidebar .box ul.arrow { list-style:none; }
#sidebar .box ul.arrow li { margin-bottom:5px; font-size:11px; }
#sidebar .box ul.arrow li .icon { color:#fff; background:#e42e2e; padding:2px; margin-right:5px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#sidebar .box ul.arrow li a:hover .icon { background:#fcb10a } 
#sidebar .box strong { color:#507c89 }

#sidebar #announcements ul { list-style:none }
#sidebar #announcements ul li { margin-bottom:5px; font-size:12px; border-bottom:1px solid #efefef }
#sidebar #announcements ul li .date { font-size:10px; text-transform:uppercase; display:block; text-align:right; color:#cecece; }
#rtl #sidebar #announcements ul li .date { text-align:left }

#footer
{
	clear:both;
	background:#ebebeb;
	border-top:1px solid #ddd;
	font-size:11px; 
	color:#999;
	padding:0 20px;
}

#footer .foot-wrap { padding:25px 0; }

/* end layout */

/* login */
#login-wrap { padding-top:25px; }
#login-wrap .login-content 
{ 
	border:1px solid #ccc;
	width: 400px;
	margin:0 auto;
	background:#fefefe;
	
	-webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.15);
	   -moz-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.15);
			box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.15);
	
	 -webkit-border-radius: 10px;
		-moz-border-radius: 10px;
			 border-radius: 10px;
	
}


#login-wrap h2 
{ 
background: #3b81d7;
background: -moz-linear-gradient(top,  #689ad6 0%, #3b81d7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#689ad6), color-stop(100%,#3b81d7));
background: -webkit-linear-gradient(top,  #689ad6 0%,#3b81d7 100%);
background: -o-linear-gradient(top,  #689ad6 0%,#3b81d7 100%);
background: -ms-linear-gradient(top,  #689ad6 0%,#3b81d7 100%);
background: linear-gradient(to bottom,  #689ad6 0%,#3b81d7 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689ad6', endColorstr='#3b81d7',GradientType=0 );
	*/	
	border-bottom:1px solid #2d69b2; 
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding:10px 20px;
	color:#fff;
	font-size:18px;
	text-shadow: 0px 1px rgba(0,0,0,0.5);
}
#login-wrap h2 .icon { font-weight:normal; color:#fff66d; }
#login-wrap .loginbox { padding:0 10px 10px 10px; }
#login-wrap .loginbox div { padding:6px; overflow:hidden }
#login-wrap .login-content { position:relative }
#login-wrap .element input { border:1px solid #ccc; padding:10px; color:#aaa; font:16px 'Noto Sans', Arial, sans-serif;  width:340px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
#login-wrap .element input:focus { outline:none; color:#666;  border-color:#93d3f4; -webkit-box-shadow: 0px 0px 3px 3px #eef9ff;-moz-box-shadow: 0px 0px 3px 3px #eef9ff;box-shadow: 0px 0px 3px 3px #eef9ff;  }
#login-wrap .element input.red { border:1px solid red; color:red }
#login-wrap .element .msg { color:red; margin-top:5px; display:block; }
#login-wrap .submit { float:right }
#login-wrap .submit .btn { font-weight:bold; color:#666; font-size:14px; }
#login-wrap label { font-size:14px; display:block; margin-bottom:5px; }
#login-wrap .first { position:absolute; margin-top:-40px; margin-left:25px }
#rtl #login-wrap .first { margin-left:0; left:25px; }

div.error { font-size:12px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#FFDCCD; padding:10px; border:1px solid #FC7479; color:#78494B; margin-bottom:10px; }
div.success { font-size:12px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#eeffcd; padding:10px; border:1px solid #b7fc74; color:#547849; margin-bottom:10px; }
div.error .icon { color:red; font-size:18px;  }
div.success .icon { color:green; font-size:18px; }
div.notice { font-size:12px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#cde2ff; padding:10px; border:1px solid #749efc; color:#465870; margin-bottom:10px; }
div.notice .icon { color:#1a7bff; font-size:18px; }

.tabs-wrap { margin:10px -10px; background:#fcfcfc; padding-bottom:50px; border-bottom:1px solid #ccc; }
#core, #additional { padding:0 10px }
#additional { display:none; padding-top:20px }
.tabs { list-style:none;  border-bottom:1px solid #ccc; background:#fff; }
.tabs li { display: inline; }
.tabs li a {  position: relative; outline:0; border:1px solid #eee; background:#f8f8f8; margin-left:5px; padding:5px 12px; font-size:14px; font-weight:700; text-transform:uppercase; display:inline-block; background-color: #fefefe; color: #ccc; text-decoration: none; border-bottom: none;  -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.tabs li a.active  { top: 1px; border: 1px solid #ccc; background-color: #fcfcfc; color: #000;  border-bottom:none; }
.tabs li a:hover { border-color:#ccc; color:#666; }
.tabs li small { z-index:10; position:absolute; font-size:9px; letter-spacing:0; text-transform:uppercase; background:#e23a00; padding:2px 4px; color:#fff; top:-5px; right:-5px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }


.activity-wrap {  margin-top:25px; }
.activity_box { margin-bottom:25px; border:1px solid #cecece;  }
.activity_box .title 
{
	padding:10px;
	overflow:hidden; background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #cecece;
}

.act-opt { width:350px }
.act-opt form { margin-bottom:3px; }
.activity_box { background:#fff }
.activity_box .opt { top:10px;; right:10px; position:absolute; }
.activity_box .title { position:relative }
.activity_box .title a { color:#888 }
.activity_box .title a:hover { color:#333 }
.activity_box .title h3 { font-size:14px; letter-spacing:0; display:inline; margin:0; font-weight:400 }
.activity_box .desc-opt { float:right; }

.activity_box .description { font-size:13px; padding:10px; }
.activity_box .description ul { margin:10px 0 10px 25px }
.activity_box .description ul li { margin-bottom:3px; }
.activity_box .progress { margin-top:15px; padding:10px; }

.activity_box .content { padding:10px; }

#rtl .activity_box .desc-opt { float:left;}
#rtl .activity_box .opt { top:10px; left:10px; right:auto; }
td img { vertical-align:middle }

/* etc */
.page-opt, .lang-opt { float:right;  overflow:hidden; text-align:right; margin-bottom:10px }
.page-opt .icon,.lang-opt .icon { font-size:16px; font-weight:normal }
.lang-info { margin:10px 0; width:400px; }
.lang-info ul { list-style:none; border:1px solid #cecece; }
.lang-info ul li { overflow:hidden; border-bottom:1px solid #cecece; }
.lang-info ul li:last-child { border-bottom:none }
.lang-info ul li strong { float:left; width:135px; background:#f5f5f5; padding:6px; margin-right:10px; }
.lang-info ul li span { display:block; padding:6px; }
.lang-foot { margin-top:15px; }

#managelang { width:80% }

/* adminlist */
.adminlist { list-style:none }
.adminlist li { font-size:18px; margin-bottom:10px; }
.adminlist li a .icon { color:#fff; text-align:center; }
.adminlist li .icon { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; background:#ffb20d; padding:6px; }


/* misc */
.red { color: red; }
.green { color: green }
.icon { font-size:16px; font-weight:normal; }
input.inputtext { border:1px solid #ccc; padding:5px; color:#333; font:11px 'Noto Sans', Arial, sans-serif;  width:280px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
input.inputtext:focus { outline:none;  border-color:#93d3f4; -webkit-box-shadow: 0px 0px 3px 3px #eef9ff;-moz-box-shadow: 0px 0px 3px 3px #eef9ff;box-shadow: 0px 0px 3px 3px #eef9ff;  }
.formnice select, select.select { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;border:1px solid #ccc; font:11px 'Noto Sans', Arial, sans-serif; color:#333; padding:3px; }
.formnice .btn.submit {  }
.formnice .btn.cancel { }
textarea { border:1px solid #ccc; padding:5px; color:#333; font:11px 'Noto Sans', Arial, sans-serif;  width:280px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width:80%; }
textarea:focus {  outline:none;  border-color:#93d3f4; -webkit-box-shadow: 0px 0px 3px 3px #eef9ff;-moz-box-shadow: 0px 0px 3px 3px #eef9ff;box-shadow: 0px 0px 3px 3px #eef9ff; }
.formnice textarea { height:120px;  }

ul.errors { margin:15px 0 0 15px; font-size:12px }
ul.errors li { color:red; }
.formnice ul.errors { margin-left:170px }

.paging { margin-bottom:10px; color:#949187 }
.pagination { margin:20px 0; padding:5px 0px;  }
.pagination a, .pagination span 
{ 
	float: left;
	margin-right: 10px;
	text-decoration: none;
	color: #717171;
	font: bold 11px Arial, sans-serif;
	text-shadow: 0px 1px white;
	padding: 5px 8px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	border:1px solid #e9e9e9;
	background: #f9f9f9;

	background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 ); 
}

.pagination a:hover 
{ 	
	background: #fff;
	border-color:#999;
	background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );*/
	color:#666;
}

.pagination a:active 
{
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
}

.pagination .active 
{ 
	color: white;
	text-shadow: 0px 1px #3f789f;

	background: #7cb9e5;
	border-color: #367caf;
	background: -webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: -moz-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: -o-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: -ms-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb9e5', endColorstr='#57a1d8',GradientType=0 );
}
.pagination .disabled { display:none }

/* progress bar */
.progressbar-wrap { font-size:12px; overflow:hidden; }
.progress-wrap .label { }
.mainprogress .label { text-transform:uppercase; font-weight:bold }
.progressbar
{
	margin:3px 0;
    width: 250px;
    height: 8px;
    padding-bottom: 2px;
    background: #efefef;
    border: 1px solid #aaa;
    -webkit-border-radius: 12px; 
        border-radius: 12px;
    -webkit-box-shadow: inset 0px 0px 10px #ccc;
        box-shadow: inset 0px 0px 10px #ccc;
}

.progressbar > div
{
    height: 100%;
    border: 1px solid #a2ba66;
	-webkit-border-radius: 12px;
   	border-radius: 12px;
	background: #9ecb2d;
	background: -moz-linear-gradient(top,  #9ecb2d 0%, #72aa00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ecb2d), color-stop(100%,#72aa00));
	background: -webkit-linear-gradient(top,  #9ecb2d 0%,#72aa00 100%);
	background: -o-linear-gradient(top,  #9ecb2d 0%,#72aa00 100%);
	background: -ms-linear-gradient(top,  #9ecb2d 0%,#72aa00 100%);
	background: linear-gradient(to bottom,  #9ecb2d 0%,#72aa00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ecb2d', endColorstr='#72aa00',GradientType=0 );
}

.progressbar.blue > div
{
    height: 100%;
    border: 1px solid #6693ba;
	-webkit-border-radius: 12px;
   	border-radius: 12px;
	background: #7db9e8;
	background: -moz-linear-gradient(top,  #7db9e8 0%, #1e5799 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799));
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 100%);
	background: -o-linear-gradient(top,  #7db9e8 0%,#1e5799 100%);
	background: -ms-linear-gradient(top,  #7db9e8 0%,#1e5799 100%);
	background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
}

/* main table */
table td { vertical-align: top; padding:5px; }
table.maintable { border:1px solid #cecece; width:100%; margin:10px 0; }
table.maintable tr {  }
table.maintable td { padding:5px; border-bottom:1px solid #e2e2e2; }
table.maintable th 
{ 
	text-align:left; 
	padding:10px;
	font-weight:bold; 
	font-size:14px;
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;
	text-shadow: 0px 1px 0px #fff;
	text-transform:uppercase;
}
table.maintable td.forum { background: #f2f2f2; color:#333; font-weight:bold; }
table.maintable td .icon.topic { color:#666; }
table.bordered td { border:1px solid #e2e2e2 }

table.maintable td.spacer 
{ 
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;
	text-shadow: 0px 1px 0px #fff;
	text-transform:uppercase;
}
table.maintable th.centered, table td.centered { text-align:center }
table.maintable tbody tr:nth-child(odd){ background-color:#f7f7f7; }

table.table { border:1px solid #cecece; width:100%; margin:10px 0; }
table.table tr {  }
table.table td { padding:5px; border-bottom:1px solid #e2e2e2; }
table.table th { text-align:left; padding:5px; font-weight:bold; font-size:12px; background-color: #efefef; border-bottom: 1px solid #cecece; border-top: 1px solid #cecece; text-shadow: 0px 1px 0px #fff; text-transform:uppercase; }

table.table th.centered, table td.centered { text-align:center }
table.table tbody tr:nth-child(odd){ background-color:#f7f7f7; }

.btn2 .icon { font-size:12px }


/* clearfix */
.cf:before,
.cf:after { content: " "; /* 1 */ display: table; /* 2 */ }
.cf:after { clear: both; }
.cf { *zoom: 1;}

/* nice forms */
.formnice						{ background:#fff; border:1px solid #efefef; margin-bottom:10px; }
.formnice div.row strong,
.formnice p strong				{ float:left; width:150px; text-align:right; color:#666; font-weight:bold; margin-right:10px; padding-top:2px;  }
.formnice p 					{ overflow:hidden }
.formnice p .wrap 				{ margin-left:160px; }
.formnice div.row				{ border-bottom: 1px solid #eee; padding:14px; background:#fff; margin:0; color:#898177 }
.formnice div.row:last-child	{ border:none }
div.submit 						{ padding:10px; }

.zend_form { margin-bottom:10px; }
.zend_form dt { float:left; clear:left; width:120px; margin-right:10px; padding:5px; }
.zend_form dd { padding:5px; margin-left:135px;  }
.zend_form .zfpad {  }

/* button */
.btn 
{
  outline:none;
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size:12px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.submit 
{
	background: #5ac9e8;
	background: -moz-linear-gradient(top,  #5ac9e8 0%, #009ec3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ac9e8), color-stop(100%,#009ec3));
	background: -webkit-linear-gradient(top,  #5ac9e8 0%,#009ec3 100%);
	background: -o-linear-gradient(top,  #5ac9e8 0%,#009ec3 100%);
	background: -ms-linear-gradient(top,  #5ac9e8 0%,#009ec3 100%);
	background: linear-gradient(to bottom,  #5ac9e8 0%,#009ec3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ac9e8', endColorstr='#009ec3',GradientType=0 );
	color:#fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}

.btn.submit:hover,
.btn.submit:focus,
.btn.submit:active,
.btn.submit.active,
.btn.submit.disabled,
.btn.submit[disabled] {
  color: #fff;
  background: #5ac9e8;
}

.btn2
{
	background: #dedede; 
	display: inline-block; 
	padding: 5px 10px 5px 10px; 
	margin-right: 3px;
	color: #666; 
	font-weight: bold; 
	text-decoration: none;
	border-radius: 3px;
	
	position: relative;
	cursor: pointer;
	font-size:10px;
	text-transform:uppercase
}

.btn:visited { color:#333 }

.btn-large { font-size:12px; font-weight:bold }
.btn-round
{
	-webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.btn2:visited { /* color:#666; background:#d1d1d1; */ }

.btn2:hover
{ 
	background-color: #111111; 
	color: #ffffff;
}
.btn2:active { top: 1px; }
/*.green.btn2 { background-color: #91bd09; }*/
.green.btn2:hover { background-color: #749a02; }
/*.blue.btn2 { background-color: #2daebf; }*/
.blue.btn2:hover { background-color: #007d9a; }
/*.red.btn2 { background-color: #ff2b25; }*/
.red.btn2:hover { background-color: #ba1f1b; }

.btn3 { padding:4px 10px; color:#999; }
.btn3:hover { color:#555 }

.topic
{ 
	margin-bottom:10px;
	overflow:hidden; 
	border:1px solid #b6d0fb;
	-webkit-box-shadow: 0px 1px 0px #cbdae2;
	-moz-box-shadow:    0px 1px 0px #cbdae2;
	box-shadow:         0px 1px 0px #cbdae2; 
}


.reply
{ 
	border:1px solid #e1e1e1;
	-webkit-box-shadow: 0px 1px 0px #eee;
	-moz-box-shadow:    0px 1px 0px #eee;
	box-shadow:         0px 1px 0px #eee;
}

.topic .info { background:#eef3ff; border-bottom:1px solid #b6d0fb; overflow:hidden; position:relative; }
.reply .info { background:#f9f9f9; padding:10px; border-bottom:1px solid #efefef; overflow:hidden; position:relative; }
.topic .info .photo { float:left; width: 90px; padding:5px; }
.topic .info .user-info { margin-left:110px; padding:5px; }
.topic .info .replyinfo { float:right }

.topic .info .user-info .new { text-transform:uppercase; font-size:11px; background:#fffab0; color:#c05d42; padding:2px 4px }
.topic .info .user-info .read { text-transform:uppercase; font-size:11px; background:#dcf2ff; color:#6b8991; padding:2px 4px; }
.topic .foot { text-align:right }
.topic .message { padding:10px; }
.topic-opt { list-style:none }
.topic-opt li { display:inline;  }
.topic-opt li a { padding:4px 6px; background:#f1f1f1; color:#999;  }
.topic-opt li a:hover { color:#333 }
.topic .foot { padding:10px }

.question { font-size:14px; }
.icon-check { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; background: green; color:#fff; font-size:12px; margin-left:10px; }
.icon-cancel { background:#ca2a1d; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; color:#fff; font-size:12px; margin-left:10px;  }
.questionview { max-width:650px; }
.table td.no { width:30px; text-align:center }
.table td.title { font-weight:bold; text-transform:uppercase; background:#e1e1e1 }


/* rtl */
#rtl #header { background-position: right 150px top 50%  }
#rtl #header #signout a { left:50px; right:0; }
#rtl #sidebar .box {}
#rtl #sidebar .box .user-img { margin-left:0px; margin-right:150px; }
#rtl #sidebar .box h3 .icon { margin: 0 0 0 5px }
#rtl .lang-info ul li strong { margin-right:10px; margin-left:10px; }
#rtl .page-opt, #rtl .lang-opt { float:left; text-align:left;  }
#rtl .zend_form dt { float:right; clear:right; width:120px; margin-left:10px; padding:5px; }
#rtl table td, #rtl table th { text-align:right }
#rtl #footer .foot-wrap { background-position:left 50% }
#rtl #content { margin-right:0; margin-left:250px; padding:10px; background:#fff; border:1px solid #d8dfea; min-height:650px; height:650px; height: auto !important; }
#rtl #sidebar { width:240px; position:absolute; top:20px; left:20px; right:auto; }
#rtl .pagination a, #rtl .pagination span { float: right; }
#login-wrap div.error { margin:15px; }
#rtl #header .language { float:left }

/* responsive */
@media only screen and (max-width: 768px)
{
	#main { padding:10px  }
	img { max-width: 100%; height: auto; width: auto; /* Fix for IE */ }
	#content { margin-right:210px; }
	#sidebar { width:200px; right:10px; top:10px; }
	#sidebar .box .user-img { margin-left:110px; margin-top:-55px; }
	table.maintable { width:100% !important; } /* force them all */
}

@media only screen and (max-width: 480px)
{
	#sidebar { display:none }
	#content { margin:0 }
}