@CHARSET "UTF-8";

caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

table.wrap {
    table-layout:fixed;
    width:100%;
    border:1px solid blue;
    word-wrap:break-word;
    border-spacing: 5pt 5pt;
}
    
table#mytable {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}

#mytable td, #mytable th 
{
font-size:1em;
border:1px solid #DFDFDF;
padding:3px 7px 2px 7px;
}

#mytable tr:hover {
	background-color: #f2f2f2;
}

#mytable th 
{
	font-size:12px;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	/*background: #CAE8EA url(images/bg_header.jpg) no-repeat;*/
	background: #CAE8EA no-repeat;
}


td#mytablepicture {
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #eafcfb;
	padding: 6px 6px 6px 12px;
	color: #000000;
}

td#mytablesubject {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #0000000;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #000000;
}

td#mytablemesj {
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: ##fff;
	padding: 6px 6px 6px 12px;
	color: #000000;
}

td#mytableactivity {
	
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}



a img {
border: 0px solid #FFFFCC;text-decoration: none;
}

a:hover img{
border: 0px solid #663300;
}

table.table-bg {
	background-image: url("../images/course_pg/screen.jpg");
}

.bodycontent {
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:verdana;
	font-size:12px;
}

table#tableasg {
	table-layout:fixed;
	width:100%;
	padding: 0;
	margin: 0;
	 word-wrap:break-word;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th#tableasg {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	/*background: #CAE8EA url(images/bg_header.jpg) no-repeat;*/
	background: #CAE8EA no-repeat;
}



td#tableasg {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

td#tableasgpicture {
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #eafcfb;
	padding: 6px 6px 6px 12px;
	color: #000000;
}

td#tableasgsubject {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #000000;
}

td#tableasgmesj {
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background: ##fff;
	padding: 6px 6px 6px 12px;
	color: #000000;
}

tr#tableasg td {
	background-color: #FFF0F0;
}

.activity_title{
	font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
}