    <?php if ($this->pageCount): ?>
    <div>
    <?php if ($this->last>1) { ?>
    
    <!-- First page link -->
    <?php if (isset($this->previous)): ?>
    
      <a href="<?php echo $this->url(array('page' => $this->first, 'semID'=>$this->semID,'courseid'=>$this->courseid,'type'=>$this->type,'componentID'=>$this->componentID,'intakeid'=>$this->intakeid,'assgid'=>$this->assgid)); ?>">
        <?php echo $this->translate('first'); ?>
      </a> |
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('first'); ?></span> |
    <?php endif; ?>
     
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->previous, 'semID'=>$this->semID,'courseid'=>$this->courseid,'type'=>$this->type,'componentID'=>$this->componentID,'intakeid'=>$this->intakeid,'assgid'=>$this->assgid)); ?>">
        &lt; <?php echo $this->translate('previous'); ?>
      </a> |
    <?php else: ?>
      <span class="disabled">&lt; <?php echo $this->translate('previous'); ?></span> |
    <?php endif; ?>
    
    <!-- Numbered page links -->
	
    <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo $this->url(array('page' => $page, 'semID'=>$this->semID,'courseid'=>$this->courseid,'type'=>$this->type,'componentID'=>$this->componentID,'intakeid'=>$this->intakeid,'assgid'=>$this->assgid)); ?>"><?php echo $page; ?></a>
            <?php else: ?>
                <?php echo $page; ?>
            <?php endif; ?>
        <?php endforeach; ?>
   
     
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->next, 'semID'=>$this->semID,'courseid'=>$this->courseid,'type'=>$this->type,'componentID'=>$this->componentID,'intakeid'=>$this->intakeid,'assgid'=>$this->assgid)); ?>">
        <?php echo $this->translate('next'); ?> &gt;
      </a> |
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('next'); ?> &gt;</span> |
    <?php endif; ?>
     
    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->last, 'semID'=>$this->semID,'courseid'=>$this->courseid,'type'=>$this->type,'componentID'=>$this->componentID,'intakeid'=>$this->intakeid,'assgid'=>$this->assgid)); ?>">
        <?php echo $this->translate('last'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"> <?php echo $this->translate('last'); ?></span>
    <?php endif; ?>
    
     <?php } ?>
    </div>
    <?php endif; ?>