    <?php if ($this->pageCount): ?>
    <?php if ($this->last>1) { ?>
    
    <!-- First page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->first,'role'=>$this->role,'intake_id'=>$this->intake_id)); ?>">
        <?php echo $this->translate('first'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('first'); ?></span>
    <?php endif; ?>
     
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->previous,'role'=>$this->role,'intake_id'=>$this->intake_id)); ?>">
        <?php echo $this->translate('previous'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('previous'); ?></span>
    <?php endif; ?>
    
    <!-- Numbered page links -->
	
    <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo $this->url(array('page' => $page,'role'=>$this->role,'intake_id'=>$this->intake_id)); ?>"><?php echo $page; ?></a>
            <?php else: ?>
                <span class="active"><?php echo $page; ?></span>
            <?php endif; ?>
        <?php endforeach; ?>
   
     
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->next,'role'=>$this->role,'intake_id'=>$this->intake_id)); ?>">
        <?php echo $this->translate('next'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('next'); ?></span>
    <?php endif; ?>
     
    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->last,'role'=>$this->role,'intake_id'=>$this->intake_id)); ?>">
        <?php echo $this->translate('last'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"> <?php echo $this->translate('last'); ?></span>
    <?php endif; ?>
    
     <?php } ?>
    <?php endif; ?>