<script>
/*//To remove flash MSG*/
	setTimeout(function() {
		$( "#msg" ).hide( 'blind',null, 1000);
	}, 5000 );
</script>
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navi("admin", "intake", "upload");
if ($show == 1)
{
    ?>
    <div class="page-opt">
		<a href="<?php echo $this->url( array('module' => 'admin', 'controller' => 'announcement', 'action' => 'upload'), null, FALSE)?>" class="btn btn-round btn-large"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('click_add_announcement'); ?></a>
	</div>
<?php
}
?>
<h2 class="dotted"><?php echo $this->translate('announcement')?></h2>
<?php 
if (count($this->paginator)) 
{
	if (isset($this->noticeMessage))
	{
		?><div id="msg" class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
	<?
	}
	
	if (isset($this->noticeSuccess))
	{
		?>
		<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
		<?
	}
	
	if (isset($this->noticeError))
	{
		?>
		<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
		<?
	}
	?>
	
	<table class="maintable">
	<thead>
		<tr>
			<th><?php echo $this->translate('bil'); ?></th>
			<th><?php echo $this->translate('course'); ?></th>
			<th><?php echo $this->translate('title'); ?></th>
			<th><?php echo $this->translate('privilage'); ?></th>
			<th><?php echo $this->translate('start_date'); ?></th>
			<th><?php echo $this->translate('end_date'); ?></th>
			<th><?php echo $this->translate('options')?></th>
		</tr>
	</thead>
	<tbody>
	<?php
	
		$bill=1;
	    foreach ($this->paginator as $row) 
	    {
	    	//id	courseid	role	start_date	end_date	message	createby	datecreated	modifyby	datemodified
	        ?>
	    	<tr>
	    		<td><?php echo $bill; ?></td>
	    		<td><a target="_blank" href="<?php echo $this->url( array('module' => 'admin', 'controller' => 'announcement', 'action' => 'framepage1', 'id' => $row['id']), null, FALSE)?>"><?php echo $row['courseid']; ?></a></td>
	    		<td><?php echo $row['title']; ?></td>
				<td><?php echo $row['role']; ?></td>
	    		<td><?php echo $row['start_date']; ?></td>
	    		<td><?php  echo $row['end_date']; ?></td>
	  			<td><?php
	        	$show = $naviauth->navi("admin", "announcement", "modify");
	        	if ($show == 1) { ?>
	     		<a href="<?php echo $this->url( array('module' => 'admin', 'controller' => 'announcement', 'action' => 'modify', 'id' => $row['id']), null, FALSE)?>" class="btn2 green"><?php
	            ?><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
	     		<?php
	        	}
	    
	        	$show = $naviauth->navi("admin", "announcement", "delete");
	        	if ($show == 1) {
	            ?>
	     		<a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'announcement', 'action' => 'delete', 'rowid' => $row['id']))?>" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')" class="btn2 red"><span class="icon icon-pencil"></span> <?php echo $this->translate('delete')?></a> 
	     		<?php
	        	}
	        ?>
	        	</td>
	        </tr>
	        <?php
			$bill++;
	    } // foreach
	    ?>
	</tbody>
	</table>
	<?php
	    echo $this->paginationControl($this->paginator, 'Elastic', 'pagination.phtml');
	    ?>
	<?php
}
?>