<?php
include_once('setcal.php');
?>

<div id="contentonly">
<h3><?php echo $this->translate("edit"); ?> <?php echo $this->translate("announcement"); ?> :</h3>
<?php
//echo $this->form;
$course = new Admin_Model_Course ();
$result =  $course->allcourse(); 

  
?>

<form method="POST" name="form1" enctype="multipart/form-data">
<table width="100%">
<tr>
	<td width="40%"><?php echo $this->translate('course');?>:</td>
	<td width="60%">
	<select id="courseid" name="courseid">
		<option value="0"><?php echo "---".$this->translate('please_select')."---";?></option>
		<?php 
		foreach ($result as $c) {
			?>
			<option value="<?php echo $c['courseid']?>" <?if ($this->courseid==$c['courseid']) echo "selected";?>><?php echo $c['courseid']?></option>
			<?php
		}
		?>
	</select>
	</td>
</tr>
<tr>
	<td><?php echo $this->translate('role')?>:</td>
	<td>
	<select id="role" name="role">
		<option value="0"><?php echo "---".$this->translate('please_select')."---";?></option>
		<option value="BOTH" <?if ($this->role=='BOTH') echo "selected";?>>BOTH</option>
		<option value="STUDENT" <?if ($this->role=='STUDENT') echo "selected";?>>STUDENT</option>
		<option value="EOS" <?if ($this->role=='EOS') echo "selected";?>>EOS</option>
	</select>
	</td>
</tr>
<tr>
	<td><?php echo $this->translate('title')?>:</td>
	<td>
	<input type="text" name="title" id="title" size="50" value="<?php echo $this->title?>">
	</td>
</tr>
<tr>
	<td><INPUT TYPE="hidden" NAME="chkStartDate">
	<?php echo $this->translate("start_date")?></td>
	<td>
	<input type="text"  name="start_date" id="start_date" readonly="1" value="<?php echo $this->start_date?>"/><img src="<?php echo $this->baseUrl()?>/zpcal/themes/icons/calendar4.gif" id="button8a" style="cursor: pointer; border: 1px solid red;" title="Date selector" onMouseOver="this.style.background='red';" onMouseOut="this.style.background=''" /></td>
</tr>
<tr>
	<td><INPUT TYPE="hidden" NAME="chkEndDate">
	<?php echo $this->translate("end_date")?></td>
	<td>
	<input type="text" name="end_date" id="end_date"  readonly="1" value="<?php echo $this->end_date?>"/><img src="<?php echo $this->baseUrl()?>/zpcal/themes/icons/calendar4.gif" id="button8b" style="cursor: pointer; border: 1px solid blue;" title="Date selector" onMouseOver="this.style.background='blue';" onMouseOut="this.style.background=''" /></td>
	<script language="JavaScript" src="<?php echo $this->baseUrl(); ?>/js/daterange.js"></script>
</tr>
<tr>
	<td><?php echo $this->translate('message')?>:</td>
	<td>
	<textarea rows="10" cols="30" name="message" id="message"><?php echo $this->message;?></textarea>
	</td>
</tr>
<tr>
	<td><strong><font color="#333333" size="1" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font></strong></td>
	<td > <font size="1" face="Verdana, Arial, Helvetica, sans-serif">
	<input name="Submit" type="submit" value="<?php echo $this->translate("edit_announcement")?>">
	&nbsp;
	<input name="cancel" type="button" value="Cancel" onclick="history.go(-1)">
	</font></td>
</tr>
    </tr>
</table>
</form>

</div>