<?php
if (isset($this->errorMessage)) 
{
    echo '<div class="error">'.$this->errorMessage.'</div>';
}
?>
<h2 class="dotted"><?php echo $this->translate('add_course')?></h2>
<?php
echo $this->form;
?>
<script type="text/javascript">
    CKEDITOR.replace( 'courseinfo',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  height: 150, width: 550 } );
</script>