<div id="contentonly">
<h3><?php echo $this->translate('assign'); ?> <?php echo $this->translate('course_grader'); ?> :</h3>
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('grader_entries'); ?> :</h3>-->
<br />
<form method="POST" name="f1">
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable">

<?php echo $this->translate('fullname'); ?>
</th>
   
		<th width="53" id="mytable">
		<?php echo $this->translate('assign'); ?>
        </th>
    

</tr>
	<?php
	$iCounter=1;
    foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable">
		<?php
        echo $row['firstname'];
        ?></td>
	
   
    
     <td id="mytable" align="center">
     <input type="checkbox" name="C<?php echo $iCounter?>" value="<?php echo $row['username']?>">
     </td>
      
    
	<?php
	$iCounter++;
    }
    ?>
    <tr><td id="mytable" align="right">Select&nbsp;/&nbsp;UnSelect All&nbsp;</td>
     <td id="mytable" align="center"><input name=allbox type=checkbox value='Check All' onClick=CheckAll(this.form)></td>
     </tr>
     <tr><td align="right" colspan="2">
     <?php
     $iCounteritem=$iCounter-1;
     ?>
     <input type="button" value=" Add " name="B1" onclick=Add(<?php echo $iCounteritem?>,this.form)>
    <input type="button" value="Cancel" name="B1" onclick="javascript:document.location='<?php
echo $this->url(array('module' => 'course', 'controller' => 'index', 'action' => 'listgrader', 'courseid' => $this->courseid))?>'"></td>
     </tr>
</table>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'paginationspecial.phtml',$this->searchParams);
    ?>
<?php
}
?>
</form>
</div>

<script>
function Add(pageitem,form)
{
	var test;
	for (var i=0;i<form.elements.length;i++){
	 var e = form.elements[i];
	 if (e.name != 'allbox' && e.checked ){
		test=true;
	 }   
	}
	if (!test) {
	  alert ("Please select a grader!");
	  return;
	}else{
	 form.action="<?php
echo $this->url(array('module' => 'course', 'controller' => 'index', 'action' => 'assignggrader', 'courseid' => $this->courseid,'intakeid' => $this->intakeid))?>/pageitem/"+pageitem;
	  form.submit();
	  
	}
}
function CheckAll(form)
  {
   for (var i=0;i<form.elements.length;i++)
    {
    var e = form.elements[i];
    if (e.name != 'allbox')
          e.checked = form.allbox.checked;
    }
  }
</script>