<?php if ( $this->errorMsg != ''){ ?>
<div class="error"><?php echo $this->errorMsg ?></div>
<?php } ?>
<h2 class="dotted"><?php echo $this->rscourse['coursename'].' '.$this->rscourse['coursecode'] ?></h2>

<div class="page-opt">
	<a class="btn btn-round btn-large" href="<?php echo $this->url(array('module'=>'content' , 'controller' => 'index' , 'action' => 'courseinfo', 'courseid' => $this->rscourse['id']),'default', true)?>"><span class="icon icon-right-open"></span><?php echo $this->translate('view_course')?></a>
</div>
<div class="cf"></div>
<div class="tabs-wrap">
	<ul class="tabs">
		<?php 
		if ( is_array($this->intake_results) ) 
		{ 
			$i = 0;
			foreach ( $this->intake_results as $intake )
			{
				$i++;
				?>
				<li><a href="#<?php echo $intake['intakecode']?>"<?php echo ($i==1? ' class="active"':'')?>><?php echo $intake['intakecode']?> <?php if ( is_array($this->data[$intake['id']])) { echo '<small>'.count($this->data[$intake['id']]).'</small>'; } ?></a></li>
				<?php 	
			}
		}
		?>
	</ul>
	<?php 
	if ( is_array($this->intake_results) ) 
	{ 
		foreach ( $this->intake_results as $intake )
		{
			?>
			<div id="<?php echo $intake['intakecode']?>" class="tab">
			<form method="post" action="" id="form-<?php echo $intake['intakecode']?>">
			<input type="hidden" value="<?php echo $this->rscourse['id']?>" name="courseid" />
			<input type="hidden" value="<?php echo $intake['id']?>" name="intakeid" />
			<table class="maintable">
				<thead>
					<tr>
						<th width="50%"><?php echo $this->translate('title')?></th>
						<th><?php echo $this->translate('date_created')?></th>
						<th><?php echo $this->translate('date_modified')?></th>
						<th><?php echo $this->translate('options')?></th>
					</tr>
				</thead>
				<tbody>
				<?php 
				if ( is_array($this->data[$intake['id']]) )
				{
					foreach ( $this->data[$intake['id']] as $intake_data )
					{
						?>
						<tr>
							<td>
								<input class="checkbox" type="checkbox" name="content[<?php echo $intake_data['id']?>]" value="<?php echo $intake_data['id']?>" />
								<?php echo $intake_data['title']?>
							</td>
							<td><?php echo date('j M Y, g:i a', strtotime($intake_data['datecreated']))?></td>
							<td><?php echo ($intake_data['datemodified'] == '0000-00-00 00:00:00' ? '' : date('j M Y, g:i a', strtotime($intake_data['datemodified']))) ?></td>
							<td>
								<a href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'editblock', 'courseid' => $this->rscourse['id'],'blockid'=>$intake_data['id']),'default', true)?>" class="btn2 green"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
								<a onclick="return sure('<?php echo $this->translate('are_you_sure')?>')" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'removeblock', 'courseid' => $this->rscourse['id'],'blockid'=>$intake_data['id']),'default', true)?>" class="btn2 red"><span class="icon icon-trash"></span> <?php echo $this->translate('delete')?></a>
							</td>
						</tr>
						<?php 
					}
				}
				else
				{
					?>
					<tr><td colspan="2"><?php echo $this->translate('no_data')?></td></tr>
					<?php 
				}
				?>
				</tbody>
			</table>
			</form>
			
			<div class="select_options">
				<a href="#" onclick="return copycontent('<?php echo $intake['intakecode']?>')" class="btn submit"><span class="icon-arrows-ccw"></span> <?php echo $this->translate('Copy')?></a>
			</div>
			</div>
			<?php 	
		}
	}
	?>
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl().'/js/tabs.js'?>"></script>
<script type="text/javascript">
$(function()
{
	$(".checkbox").bind('click',function() 
	{ 
        if ( $(this).is(':checked') )
        {
            $(this).parent().parent().addClass("highlight");  
        } 
        else
        {   
            $(this).parent().parent().removeClass("highlight");
        }
    });
});

function copycontent(tab)
{
	var total = $('#'+tab).find(".checkbox:checked").length;

	if ( total == 0 )
	{
		alert('<?php echo $this->translate('please_select_content')?>');
		return false;
	}
	else
	{
		$("#form-"+tab).submit();
	}

	return false;
}
</script>
<style type="text/css">
.tab { padding:15px 10px; display:none; }
.select_options { margin-top:10px }
.maintable tr.highlight td { background:#fffec4 }
/*
  .tabs li a small { border:1px solid #eee; font-size:10px; letter-spacing:0; text-transform:uppercase; border-left:1px solid #ccc; border-bottom:1px solid #ccc; background:#f9f9f9; padding:2px 4px; color:#444; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; right:-8px; }
*/

.tab a.btn:visited { color:#fff }
</style>