<div class="page-opt">
	<a class="btn btn-round btn-large" href="<?php echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'content', 'courseid' => $this->rscourse['id']),'default', true)?>"><span class="icon icon-left-open"></span> <?php echo $this->translate('back'); ?></a>
</div>

<h2 class="dotted"><?php echo $this->rscourse['coursename'].' '.$this->rscourse['coursecode'] ?></h2>

<h3><?php echo $this->translate('copy_content')?> - <?php echo $this->intake_code_name?></h3>

<form onsubmit="return checkform()" method="post" action="<?php echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'copy', 'courseid' => $this->formdata['courseid']),'default', true)?>">
<input type="hidden" name="content" value="<?php echo implode(',',  $this->formdata['content'] )?>" />
<table class="table" id="contenttable">
<thead>
	<tr><th><?php echo $this->translate('title')?></th></tr>
</thead>
<tbody>
	<?php 
	if ( is_array($this->data[$this->formdata['intakeid']]) )
	{
		foreach ( $this->data[$this->formdata['intakeid']] as $data )
		{
			if ( in_array($data['id'], $this->selected_id) )
			{
			?>
			<tr>
				<td><?php echo $data['title']?></td>
			</tr>
			<?php 
			}
		}
	}
	?>
</tbody>
</table>

<h3><?php echo $this->translate('Select Semesters')?></h3>
<?php 
if ( is_array($this->intake_results) )
{
	foreach ( $this->intake_results as $intake )
	{
		if ( $intake['id'] != $this->formdata['intakeid'] )
		{
			?>
			<input class="checkbox" type="checkbox" name="intake[<?php echo $intake['id']?>]" value="<?php echo $intake['id']?>" id="intake-<?php echo $intake['id']?>" /> <label for="intake-<?php echo $intake['id']?>"><?php echo $intake['intakecode']?></label>
			<?php
		}
	}
}
?>
<div class="submits">
	<input type="submit" class="btn submit" value="<?php echo $this->translate('Submit')?>" name="copy" />
</div>
</form>
<style type="text/css">
div.submits { margin-top:15px }
#contenttable { width:60%; margin-bottom:15px; }
</style>
<script type="text/javascript">
function checkform()
{
	var total = $(".checkbox:checked").length;

	if ( total == 0 )
	{
		alert('<?php echo $this->translate('please_select_semester')?>');
		return false;
	}
	
	return true;
}
</script>