<div id="contentonly">
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navicourse("course", "index", "assigngrader",$this->username,$this->courseid);
if ($show == 1) {
    ?>
<a
	href="<?php
    echo $this->url(
    array('module' => 'course', 'controller' => 'index', 'action' => 'assigngrader', 'courseid' => $this->courseid), null, TRUE)?>"><?php echo $this->translate('click_assign_grader'); ?></a>
<?php
}
?>
<br><br>
<!--<h3><?php echo $this->translate('search_grader'); ?> :</h3>-->
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('grader_entries'); ?> :</h3>-->
<br />
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable">

<?php echo $this->translate('fullname'); ?>
</th>
 
     <?php
 $show = $naviauth->navicourse("course", "index", "deletegrader",$this->username,$this->courseid);
 if ($show == 1) {
            ?>
		<th width="53" id="mytable">
		<?php echo $this->translate('delete'); ?>
        </th>
    <?php
 }
    ?>

</tr>
	<?php
    foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable">
		<?php
        echo $row['firstname'];
        ?></td>
	
  
    <?php
        $show = $naviauth->navicourse("course", "index", "deletegrader",$this->username,$this->courseid);
        if ($show == 1) {
            ?>
     <td id="mytable"><a href="javascript: validate('<?php
            echo $row['username']?>',<?php
            echo $row['intakeid']?>)"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-delete.gif'>"?></a>
            </td>
     <?php
        }
        ?>   
    
	<?php
    }
    ?>
</table>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'paginationspecial.phtml',$this->searchParams);
    ?>
<?php
}
?>
</div>
<script>

function validate(username,intakeid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;

	document.location="<?php
echo $this->url(array('module' => 'course', 'controller' => 'index', 'action' => 'deletegrader', 'courseid' => $this->courseid))?>/username/"+username+"/semid/"+intakeid;
}

</script>