<div id="contentonly">
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navicourse("course", "index", "assignstudent",$this->username,$this->courseid);
if ($show == 1) {
    ?>
<a
	href="<?php
    echo $this->url(
    array('module' => 'course', 'controller' => 'index', 'action' => 'assignstudent', 'courseid' => $this->courseid), null, TRUE)?>"><?php echo $this->translate('click_assign_student'); ?></a>
<?php
}
?>
<br><br>
<!--<h3><?php echo $this->translate('search_student'); ?> :</h3>-->
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('student_entries'); ?> :</h3>-->
<br />
<table class="maintable" cellspacing="0">
<tr>
<th id="mytable" colspan="2">

<?php echo $this->translate('studentID'); ?>
</th>
<th id="mytable">

<?php echo $this->translate('fullname'); ?>
</th>
 
     <?php
 $show = $naviauth->navicourse("course", "index", "deletestudent",$this->username,$this->courseid);
 if ($show == 1) {
            ?>
		<th  id="mytable">
		<?php echo $this->translate('delete'); ?>
        </th>
    <?php
 }
    ?>

</tr>
	<?php
	$bil=1;
    foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable">
		<?php
        echo $bil;
        ?>)</td>
        <td id="mytable">
		<?php
        echo $row['studentID'];
        ?></td>
	<td id="mytable">
		<?php
        echo $row['firstname'];
        ?></td>
  
    <?php
        $show = $naviauth->navicourse("course", "index", "deletestudent",$this->username,$this->courseid);
        if ($show == 1) {
            ?>
     <td><a class="btn2 red" href="javascript: validate('<?php
            echo $row['username']?>',<?php
            echo $row['intakeid']?>)"><span class="icon icon-trash"></span><?php echo $this->translate('delete')?></a>
            </td>
     <?php
        }
        ?>   
    
	<?php
	$bil++;
    }
    ?>
</table>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'paginationspecial.phtml',$this->searchParams);
    ?>
<?php
}
?>
</div>
<script>

function validate(username,intakeid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;

	document.location="<?php
echo $this->url(array('module' => 'course', 'controller' => 'index', 'action' => 'deletestudent', 'courseid' => $this->courseid))?>/username/"+username+"/semid/"+intakeid;
}

</script>