<script>
/*//To remove flash MSG*/
	setTimeout(function() {
		$( "#msg" ).hide( 'blind',null, 1000);
	}, 5000 );
</script>
<style type="text/css">
    .divstyle
    {
        color: black;
        background-color: #CAE8EA;
        height: 25px;
        font-weight:bold;
        text-align:center;
    }
</style>


<table width="635" border="0" cellspacing="0" cellpadding="0" valign="top" background="<?php echo $this->baseUrl(); ?>/images/course_pg/box_content.jpg">
<tr>
    <td height="575"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td height="25"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20">&nbsp;</td>
            <td><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/title_facilitator.jpg" width="96" height="27" /></td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td height="20"><?php //echo $this->username;?>&nbsp;
        <?if(isset($this->noticeMessage)){?>
		<div class="divstyle" id="msg" class="message notice"><? echo $this->noticeMessage;?>.</div>
		<?}?>
		<?if(isset($this->noticeSuccess)){?>
		<div class="divstyle" class="message success"><? echo $this->noticeSuccess;?>.</div>
		<?}?>
		<?if(isset($this->noticeError)){?>
		<div class="divstyle" class="message error"><? echo $this->noticeError;?>.</div>
		<?}?>
        </td>
      </tr>
      <tr>
        <td height="500" valign="top">
			<br>
			<br />
			<table id="mytable" cellspacing="0" border="0">
			<tr>
				<th id="mytable"><?php echo $this->translate('course')." - ".$this->courseid;?></th>
			</tr>
			<tr>
				<td id="mytable">
				<a href="<?php
echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'taggrader', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('auto_tag');?></a>
				</td>
			</tr>
			<tr>
				<td id="mytable">
				<a href="<?php
echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'manualtag', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('manual_tag');?></a>
				</td>
			</tr>
			
			<!--<tr>
				<td id="mytable">
				<a href="<?php
echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'getfaci', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('get_facilitator');?></a>
				</td>
			</tr>-->
			
			</table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>