<div class="page-opt">
	<a class="btn btn-round btn-large" href="<?php echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'addcourse'),'default', true)?>"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('add_course'); ?></a>
</div>

<h2 class="dotted"><?php echo $this->translate('course_list')?></h2>

<form name="search" method="post" action="<?php echo $this->url(array('module' => 'course', 'controller'=>'index','action'=>'listcourse'),'default',true);?>" >
<p><?php echo $this->translate('enter_course_keyword') ?></p>	
<div>
	<input type="text" class="inputtext" name="keywords" size="50" value="<?php echo $this->escape($this->keywords)?>"  />
	<input type="submit" name="submit" value="<?php echo $this->translate('search')?>" class="btn"/>
</div>
</form>

<table class="maintable">
<thead>
	<tr>
		<th width="10%"><?php echo $this->translate('coursecode'); ?></th>
		<th width="45%"><?php echo $this->translate('course'); ?></th>
		<th width="15%"><?php echo $this->translate('activities')?></th>
		<th><?php echo $this->translate('options')?></th>
	</tr>
</thead>
<tbody>
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());

$i=1;
if ( count($this->paged_results) ) 
{
foreach ($this->paged_results as $row) 
{
	?>
	<tr>
	<?php echo "<tr><td>".$row['coursecode']."</td>";?>
	<td><a href="<?php echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'property', 'courseid' => $row['id']),'default', true)?>"><?php echo $row['coursename'];?></a></td>
	<td><a class="btn" href="<?php echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'content', 'courseid' => $row['id']),'default', true)?>"><span class="icon icon-book-open"></span> <?php echo $this->translate('view_activities')?></a></td>
	<td>
	<a class="btn2 blue" href="<?php  echo $this->url( array('module' => 'content', 'controller' => 'index', 'action' => 'courseinfo', 'courseid' => $row['id']), null, FALSE)?>"><span class="icon icon-eye"></span> <?php echo $this->translate('view')?></a>
	<?php 
    $show = $naviauth->navi("course", "index", "modifycourse");
   	if ($show == 1)
   	{
    	?>
		<a class="btn2 green" href="<?php  echo $this->url( array('module' => 'course', 'controller' => 'index', 'action' => 'modifycourse', 'id' => $row['id']), null, FALSE)?>"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
    	<?php
    }
    
    $show = $naviauth->navi("course", "index", "deletecourse");
    if ($show == 1)
    {
    	?>
     	<a class="btn2 red" href="<?php echo $this->url(array('module' => 'course', 'controller' => 'index', 'action' => 'deletecourse', 'rowid' => $row['id']))?>" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')"><span class="icon icon-trash"></span> <?php echo $this->translate('delete')?></a>
    	<?php
    }
	$i++;
	?>
	</td>
	</tr>
	<?php 
}
}
?>
</tbody>
</table>

<!--  paging -->
<div class="pagination">
	<?php echo $this->paginationControl($this->paged_results,'Sliding', 'pagination.phtml'); ?>
</div>
<!--  /paging  -->