<table width="635" border="0" cellspacing="0" cellpadding="0" valign="top" background="<?php echo $this->baseUrl(); ?>/images/course_pg/box_content.jpg">
<tr>
    <td height="575"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td height="25"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20">&nbsp;</td>
            <td><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/title_facilitator.jpg" width="102" height="28" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="500" valign="top">
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navicourse("course", "index", "assignstudent",$this->username,$this->courseid);
if ($show == 1) {
    ?>
<!--<a
	href="<?php
    echo $this->url(
    array('module' => 'course', 'controller' => 'index', 'action' => 'assignstudent', 'courseid' => $this->courseid), null, TRUE)?>"><?php echo $this->translate('click_assign_student'); ?></a>-->
<?php
}
?>
<br><br>
<!--<h3><?php echo $this->translate('search_student'); ?> :</h3>-->
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('student_entries'); ?> :</h3>-->
<br />
<form method="POST" name="f1" enctype="multipart/form-data">
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" width="75%">

<?php echo $this->translate('fullname'); ?>
</th>
 
     <?php
 $show = $naviauth->navicourse("course", "index", "deletestudent",$this->username,$this->courseid);
 if ($show == 1) {
            ?>
		<th width="25%" id="mytable">
		<input type="checkbox" name="Check_ctr" value="yes" onClick="CheckAll(document.f1['assignstud[]']);"> <?php echo $this->translate('select_checkbox');?>
        </th>
    <?php
 }
    ?>

</tr>
	<?php
    foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable">
		<?php
        echo $row['firstname'];
        ?></td>
	
  
    <?php
        $show = $naviauth->navicourse("course", "index", "deletestudent",$this->username,$this->courseid);
        if ($show == 1) {
            ?>
     <td id="mytable">
     <input type="checkbox" name="assignstud[]" id="assignstud[]" value="<?php echo $row['username']?>"><?php echo $row['username']?>
     <!--<a href="javascript: validate(<?php
            echo $row['id']?>)"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-delete.gif'>"?></a>-->
            </td>
     <?php
        }
        ?>   
    
	<?php
    }
    ?>
</table>

<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'paginationspecial.phtml',$this->searchParams);
    ?>
<?php
}
?>

<?php if($this->intakeid!=""){
				
$in_take = new Admin_Model_Intake ();
$result =  $in_take->fetch($this->intakeid,'');

$result["intakecode"];

$config = new Zend_Config(
	array(
		'database' => array(
			'adapter' => 'oracle',
			'params' => array(
			'dbname'=> '(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = mycampusdb.oum.edu.my)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = icems)))',
			'username' => 'icem_mmls',
			'password' => 'icem_mmls')
		)
	)
);

$db = Zend_Db::factory($config->database);
Zend_Db_Table::setDefaultAdapter($db);
Zend_Registry::set('db', $db);
$sql = "SELECT VTGE_GRADER_NAME, VTGE_GRADER_UNAME, VTGE_GRADER_IC FROM VIEW_TUTOR_GRADER_EPIC where VTGE_GRADER_SUBJECT='".$this->courseid."' AND VTGE_SEM=".$result["intakecode"]." AND VTGE_GRADER_UNAME is not null"; 
//$sql = "SELECT * FROM VIEW_TUTOR_GRADER where rownum<3";  

$result = $db->fetchAll($sql);
?>
<p>
<?php if (empty($result)){echo "No Grader - Please tag grader in iCampus.";}else{?>
<select id="grader" name="grader">
<?php foreach ($result as $rs){ 
	$gradername=$rs["VTGE_GRADER_NAME"];
	$graderid=$rs["VTGE_GRADER_UNAME"];
	$graderic=$rs["VTGE_GRADER_IC"];
	?>
	<option value="<?php echo $graderid.':'.$graderic?>"><?php echo $gradername?></option>
<?php } ?>
</select>
<br>
<input type="button" value="<?php echo $this->translate('manual_tag');?>" id="btnassignstud" name="btnassignstud" onclick="assignALL(document.f1['assignstud[]'],'<?php echo $this->courseid;?>','<?php echo $this->baseUrl();?>');">
<?php }}?>
</td></form>
      </tr>
      <tr><td id="mytable">
      </td>
      </tr>
    </table></td>
  </tr>
</table>
<script>

function validate(rowid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;

	document.location="<?php
echo $this->url(array('module' => 'course', 'controller' => 'index', 'action' => 'deletestudent', 'courseid' => $this->courseid))?>/rowid/"+rowid;
}

function CheckAll(chk){
//	alert(chk.length);

	if(document.f1.Check_ctr.checked==true){
		
		if(chk.length != undefined) { 
			for (i = 0; i < chk.length; i++)
			chk[i].checked = true ;
		}else{
			chk.checked = true;
		}
	
	}else{
		if(chk.length != undefined) { 
			for (i = 0; i < chk.length; i++)
			chk[i].checked = false ;
		}else{
			chk.checked = false;
		}
	}
}

function assignALL(chk,course,baseUrl){
	var grader=document.f1.grader.value;

	var total="";
	bilcheck=0;
	if(chk.length != undefined) { 
		for (i = 0; i < chk.length; i++){
			if(chk[i].checked && chk[i].value!=""){
				//if value adalah value yang terakhir dlm list
				if(i!=(chk.length-1)){
					total +=chk[i].value+",";
				}else{
						total +=chk[i].value;
				}
				bilcheck=bilcheck+1;
			}
		}
	}else{
		if(chk.checked && chk.value!=""){
			//if value adalah value yang terakhir dlm list
			total =chk.value;
			bilcheck=bilcheck+1;
		}
	}
	
	
	var a;
	a=total;
	if(a!=""){
		var msg="Start tagging.";	
		if (confirm(msg)){
			document.f1.action=baseUrl+"/course/index/addtagmanual/courseid/<?php echo $this->courseid?>/intakeid/<?php echo $this->intakeid?>/chk/"+bilcheck;
	 		document.f1.submit();
		}
			else return;
		
	}else{
		alert("Please check at least one box.");
	}
}

</script>