<?php
if (isset($this->errorMessage)) 
{
    echo '<div class="error"><span class="icon icon-attention"></span> '.$this->errorMessage.'</div>';
}
?>

<h2 class="dotted"><?php echo $this->translate('modify').' '.$this->translate('courseinfo')?></h2><?php
echo $this->form;
?>
<script type="text/javascript">
    CKEDITOR.replace( 'courseinfo',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  height: 200, width: 650 } );
</script>