<div id="contentonly">
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable"><?php echo $this->translate('manage'); ?> (<?php echo $this->courseid; ?>) <?php echo $this->translate('property'); ?></th>
</tr>
<!--<tr><td id='mytable'>
    	<a
	 href="<?php
echo $this->url(array('module'=>'content' , 'controller' => 'index' , 'action' => 'index', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('subject_matter'); ?>/<?php echo $this->translate('content'); ?></a>
</td></tr>
<tr><td id='mytable'>
    	<a
	 href="<?php
echo $this->url(array('module'=>'activities' , 'controller' => 'index' , 'action' => 'index', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('activity'); ?></a>
</td></tr>
<tr><td id='mytable'>
    	<a
	 href="<?php
echo $this->url(array('module'=>'assignment' , 'controller' => 'index' , 'action' => 'index', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('assignment'); ?></a>
</td></tr>
<tr><td id='mytable'>
    	<a
	 href="<?php
echo $this->url(array('module'=>'resources' , 'controller' => 'index' , 'action' => 'index', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('resource'); ?></a>
</td></tr>
<tr><td id='mytable'>
    	<a
	 href="<?php
echo $this->url(array('module'=>'sample' , 'controller' => 'index' , 'action' => 'index', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('sample'); ?></a>
</td></tr>-->
<tr><td id='mytable'>
    	<a
	 href="<?php
echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'liststudent', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('student'); ?></a>
</td></tr>
<tr><td id='mytable'>
    	<a
	 href="<?php
echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'listcoordinator', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('course_coordinator'); ?></a>
</td></tr>
<tr><td id='mytable'>
    	<a
	 href="<?php
echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'listgrader', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('grader'); ?></a>
</td></tr>
<!--<tr><td id='mytable'>
    	<a
	 href="<?php
echo $this->url(array('module'=>'course' , 'controller' => 'index' , 'action' => 'listtag', 'courseid'=> $this->courseid),null, FALSE)?>"><?php echo $this->translate('facilitator_tagging'); ?></a>
</td></tr>-->
</table>
</div>