<?php

print_r($this->rsgrader);
exit();

//oracle connection
//$config = new Zend_Config(
//array(
//'database' => array(
//'adapter' => 'oracle',
//'params' => array(
//'dbname'=> '(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = mycampusdb.oum.edu.my)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = icems)))',
//'username' => 'icem_mmls',
//'password' => 'icem_mmls')
//)
//)
//);
//
//$db = Zend_Db::factory($config->database);
//Zend_Db_Table::setDefaultAdapter($db);
//Zend_Registry::set('db', $db);
//$sql = 'SELECT * FROM VIEW_TUTOR_GRADER where rownum<3'; 
//$result = $db->fetchAll($sql);
//
//print_r($result);


?>


<script src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function() {

	$('#intakeid').change(function() {
		var id = $('#intakeid').val();
//	  	changeCourse(id);
//	  	alert(id);
	  	document.getElementById('intake_id').value =id;
	  	
	});
	
	

});

function changeCourse(id){	
	$.ajax({ 
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'course','controller'=>'index','action'=>'ajax-get-intake', 'courseid'=>$this->courseid),'default',true);?>", 
		data: "id=" + id,
		context: document.body, 
		success: function(data){
//			$("#raaagh").html(data);alert(data);
			response = eval(data);
			
			for(var i=0; i<response.length; i++){
				alert(response[i].VTGE_GRADER_NAME+" - "+response[i].VTGE_GRADER_UNAME);
			}
    	}
	});
}
</script>


<!--<form id="f1" method="POST">-->
<table width="635" border="0" cellspacing="0" cellpadding="0" valign="top" background="<?php echo $this->baseUrl(); ?>/images/course_pg/box_content.jpg">
<tr>
    <td height="575"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td height="25"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20">&nbsp;</td>
            <td><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/title_facilitator.jpg" width="96" height="27" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="20"><?php //echo $this->username;?>&nbsp;</td>
      </tr>
      
      <form method="POST" name="srform" enctype="multipart/form-data">
      <tr>
        <td height="20">
        <?php 
        $intake = new Admin_Model_Intake ();
        $result =  $intake->fetchAll();
        ?>
        <select id="intake_id" name="intake_id" onchange="reload(this.form,'<?php echo $this->baseUrl()?>')">
			<option value="0"><?php echo "---".$this->translate('please_select')."---";?></option>
			<?php foreach ($result as $c) { ?>
			<option value="<?=$c['id']?>" <?if ($this->intakeid==$c['id']) echo "selected";?>><?=$c['description']." - ".$c['intakecode']?></option>
			<?php } ?>
        </select>
        </td>
      </tr>
      </form>
      <form method="POST" name="f1" enctype="multipart/form-data">
      <tr>
        <td height="500" valign="top">
			<br>
			<br />
			<table id="mytable" cellspacing="0">
			<tr>
				<th id="mytable" width="60%"><?php echo $this->courseid;?></th>
				<th width="40%" id="mytable">&nbsp;
				<!--<p id="raaagh">Ajax Away</p>
				<input type="text" name="intake_id" id="intake_id" value="">-->
				<input type="checkbox" name="Check_ctr" value="yes" onClick="CheckAll(document.f1['assign[]']);"> <?php echo $this->translate('select_checkbox');?>
				</th>
			</tr>
			<?php if($this->intakeid!=""){
				
				$in_take = new Admin_Model_Intake ();
        		$result =  $in_take->fetch($this->intakeid,'');
				
        		$result["intakecode"];
        		
				$config = new Zend_Config(
					array(
						'database' => array(
							'adapter' => 'oracle',
							'params' => array(
							'dbname'=> '(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = mycampusdb.oum.edu.my)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = icems)))',
							'username' => 'icem_mmls',
							'password' => 'icem_mmls')
						)
					)
				);
				
				$db = Zend_Db::factory($config->database);
				Zend_Db_Table::setDefaultAdapter($db);
				Zend_Registry::set('db', $db);
				$sql = "SELECT VTGE_GRADER_NAME, VTGE_GRADER_UNAME, VTGE_GRADER_IC FROM VIEW_TUTOR_GRADER_EPIC where VTGE_GRADER_SUBJECT='".$this->courseid."' AND VTGE_SEM=".$result["intakecode"]." AND VTGE_GRADER_UNAME is not null"; 
//				$sql = "SELECT * FROM VIEW_TUTOR_GRADER where rownum<3"; 
				$result = $db->fetchAll($sql);
				
				?>
			<tr>
			<?php
			if (!empty($result)){
				foreach ($result as $rs){
					$gradername=$rs["VTGE_GRADER_NAME"];
					$graderid=$rs["VTGE_GRADER_UNAME"];
					$graderic=$rs["VTGE_GRADER_IC"];
				
			?>
				<td id="mytable"><?php echo $gradername;?></td>
				<td id="mytable"><input type="checkbox" name="assign[]" id="assign[]" value="<?php echo $graderid?>:<?php echo $graderic;?>"></td>
			</tr>
			<?}}else{?>
				<td id="mytable" colspan="2">No Grader - Please tag grader in iCampus.</td>
			<?php }?>
			</table>
			<?php if (!empty($result)){?><P>
			<input type="button" value="<?php echo $this->translate('auto_tag');?>" id="btnassign" name="btnassign" onclick="assignALL(document.f1['assign[]'],'<?php echo $this->courseid;?>','<?php echo $this->username;?>','<?php echo $this->baseUrl()?>');">
			<?php }}?>
		</td>
      </tr>
      
      </form>
    </table></td>
  </tr>
</table>
<!--</form>-->

<script>
function reload(form, baseurl){
	var val=form.intake_id.options[form.intake_id.options.selectedIndex].value;
	window.location=baseurl+"/course/index/taggrader/courseid/<?echo $this->courseid?>/intakeid/"+val;
}

function CheckAll(chk){
//	alert(chk.length);

	if(document.f1.Check_ctr.checked==true){
		
		if(chk.length != undefined) { 
			for (i = 0; i < chk.length; i++)
			chk[i].checked = true ;
		}else{
			chk.checked = true;
		}
	
	}else{
		if(chk.length != undefined) { 
			for (i = 0; i < chk.length; i++)
			chk[i].checked = false ;
		}else{
			chk.checked = false;
		}
	}
}

function assignALL(chk,course,uid, baseurl){
	
	var total="";
	bilcheck=0;
	if(chk.length != undefined) { 
		for (i = 0; i < chk.length; i++){
			if(chk[i].checked && chk[i].value!=""){
				//if value adalah value yang terakhir dlm list
				if(i!=(chk.length-1)){
					total +=chk[i].value+",";
				}else{
						total +=chk[i].value;
				}
				bilcheck=bilcheck+1;
			}
		}
	}else{
		if(chk.checked && chk.value!=""){
			//if value adalah value yang terakhir dlm list
			total =chk.value;
			bilcheck=bilcheck+1;
		}
	}
	
	
	var a;
	a=total;
	if(a!=""){
		var msg="Start tagging.";	
		if (confirm(msg)){
			document.f1.action=baseurl+"/course/index/addtag/courseid/<?php echo $this->courseid?>/intakeid/<?php echo $this->intakeid?>/chk/"+bilcheck;
//			document.f1.action="postdeductmark.php?course="+course+"&asid="+assgid+"&deduct="+deduct+"&bil="+bil+"&chk="+bilcheck+"&sem="+sem+"&ttlp="+totalpercent+"&uid="+uid;
	 		document.f1.submit();
		}
			else return;
		
	}else{
		alert("Please check at least one box.");
	}
}
</script>