
<?php
if (isset($this->errorMessage)) 
{
    echo '<div class="error"><span class="icon icon-attention"></span>'.$this->errorMessage.'</div>';
}

if (isset($this->successMessage)) 
{
    echo '<div class="success"><span class="icon icon-check"></span>'.$this->successMessage."</div>";
}
?>


<h2 class="dotted"><?php echo $this->translate('change_password')?></h2>
<?php
echo $this->form;
?>
