
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navi("users", "index", "upload");
if ($show == 1) 
{
	?>
	<div class="page-opt">
	<a href="<?php echo $this->url(array('module' => 'users', 'controller' => 'index', 'action' => 'upload'), null, FALSE)?>" class="btn btn-round btn-large"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('click_create_user'); ?></a>
	</div>
	<?php
}
?>

<!--<h3><?php echo $this->translate('search_user'); ?> :</h3>-->
<?php
echo $this->form;
?>

<?php
if ( count($this->paginator) ) 
{
    ?>
<!--<h3><?php echo $this->translate('user_entries'); ?> :</h3>-->

<table class="maintable">
  <thead>
    <tr>
		<th width="25"><?php echo $this->translate('no'); ?></th>
		<th><?php echo $this->translate('fullname'); ?></th>
		<!--<th>
		<?php echo $this->translate('lastname'); ?>
		</th>-->
		<th><?php echo $this->translate('username'); ?></th>
		<th><?php echo $this->translate('role'); ?></th>
		<th><?php echo $this->translate('options'); ?></th>
    </tr>
  </thead>
<tbody>
	<?php
	$i=0;
    foreach ($this->paginator as $row)
    {
	    echo "<tr>
	 			<td>";
				echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$i;
				//echo $this->paginator->getCurrentPageNumber();
		  echo "</td>";
  	  	?>
  	  	<td><?php echo $row['firstname']; ?></td>
		<!--<td><?php echo $row['lastname'];?></td>-->
		<td><?php echo $row['username']; ?></td>
   		<td><?php echo $row['privilage']; ?></td>
		<td>
		<?php
        $show = $naviauth->navi("users", "index", "modify");
        if ($show == 1) 
        {
	        ?>
	        <a href="<?php echo $this->url(array('module' => 'users', 'controller' => 'index', 'action' => 'modify', 'id' => $row['id']), null, FALSE)?>" class="btn2 green"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
	        <?php
        }
        
        $show = $naviauth->navi("users", "index", "delete");
        if ($show == 1) 
        {
            ?>
            <a href="#" class="btn2 red" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')"><span class="icon icon-trash"></span> <?php echo $this->translate('delete')?></a>
     		<?php
        }
        ?>
        </td>
        </tr>
		<?php
		$i++;
    }
    ?>
  </tbody>
</table>
<!--  paging -->
<div class="pagination">
<?php echo $this->paginationControl($this->paginator, 'Elastic','paginationusers.phtml',$this->searchParams); ?>
</div>
<!--  /paging -->
<?php
}
?>

