    <?php if ($this->pageCount): ?>
    <div class="pagination">
    <?php if ($this->last>1) { ?>
    
    <!-- First page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->first)); ?>">
        <?php echo $this->translate('first'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('first'); ?></span>
    <?php endif; ?>
     
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">
        &lt; <?php echo $this->translate('previous'); ?>
      </a>
    <?php else: ?>
      <span class="disabled">&lt; <?php echo $this->translate('previous'); ?></span>
    <?php endif; ?>
    
    <!-- Numbered page links -->
	
    <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a>
            <?php else: ?>
                <?php echo '<span class="active">'.$page.'</span>'; ?>
            <?php endif; ?>
        <?php endforeach; ?>
   
     
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->next)); ?>">
        <?php echo $this->translate('next'); ?> &gt;
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('next'); ?> &gt;</span>
    <?php endif; ?>
     
    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->last)); ?>">
        <?php echo $this->translate('last'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"> <?php echo $this->translate('last'); ?></span>
    <?php endif; ?>
    
     <?php } ?>
    </div>
    <?php endif; ?>