<?php
if ($this->act == "add")
{
	$forum = new Forum_Model_Forum ();
	
	$rsnewcategory=$forum->checkaddcategory($this->courseid,$this->semid,$this->addnewcategory);
	
	if ($rsnewcategory)
	{
		//echo "sini";
		//exit();	
     	?>
     	<script type="text/javascript">
     		alert ("<?php echo $this->translate('category'); ?> <?php echo $this->addnewcategory; ?> <?php echo $this->translate('exist'); ?>");
     		document.location='<?php echo $this->url(array('module' => 'forum', 'controller' => 'index', 'action' => 'addfrmcategory', 'courseid' => $this->courseid, 'semid' => $this->semid), null, true)?>';
	 	</script>	
     	<?php
	}
	else
	{
		$sdata["courseid"] = $this->courseid;
		$sdata['coursecode'] = $this->course['coursecode']; 
		$sdata["semid"]=$this->semid;
		$sdata["name"]=$this->addnewcategory;
		$forum->upload("forumcat",$sdata);
			
	    ?>
		<script type="text/javascript">
		 document.location='<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'listforum', 'courseid' => $this->courseid, 'semid' => $this->semid), null, true)?>';
		 //alert("<?php echo $this->translate('categoryadded'); ?>");
		 //window.close();
		</script>
		<?php
	}
}
?>
<script type="text/javascript">
function validate()
{
	if(document.addnew.addnewcategory.value=="")
	{
    	alert ("<?php echo $this->translate('forum_warn3'); ?>");
        document.addnew.addnewcategory.focus();
        return;
    }

    document.addnew.submit();
}
</script>
<div class="paging"><?php echo $this->title;?></div>
<h2 class="dotted"><?php echo $this->course['coursename'].' ('.$this->course['coursecode'].')';?></h2>

<form name="addnew" method="post" action="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'addfrmcategory', 'courseid' => $this->courseid, 'semid' => $this->semid, 'act' => 'add'), null, TRUE)?>">
<input type="hidden" name="courseid" value="<?php echo $this->courseid; ?>" />
<input type="hidden" name="semid" value="<?php echo $this->semid; ?>" />

<dl class="zend_form">
	<dt><label><?php echo $this->translate('addnewcat'); ?></label></dt>
	<dd><input type="text" name="addnewcategory" class="inputtext" /></dd>
	<dt> </dt>
	<dd><div class="buttons"><input type="button" class="btn submit" onclick="validate();" name="<?php echo $this->translate('submit'); ?>" value="<?php echo $this->translate('submit'); ?>" /></div></dd>
</dl>
</form>
