<div class="paging"><?php echo $this->title;?></div>
<div class="page-opt">
	<a href="<?php echo $this->url(array('module' => 'forum' , 'controller' => 'index' , 'action' => 'listforum', 'courseid' => $this->courseid),'default', true)?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('forum')?> </a>
</div>
<h2 class="dotted"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></h2>
<?php
echo $this->form;
?>
<script type="text/javascript">
    CKEDITOR.replace( 'description',{ height: 200, width: '100%' } );
</script>
<style type="text/css">
table td label { vertical-align: top }
</style>
