<?php
if ($this->act == "del")
{
	
	$forum = new Forum_Model_Forum ();
	
	$forum->delcategory($this->courseid,$this->semid,$this->catid);
	
	?>
	<script type="text/javascript">
	 document.location='<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'listforum', 'courseid' => $this->courseid, 'semid' => $this->semid), null, true)?>';
	 //alert("<?php echo $this->translate('categorydeleted'); ?>");
	 //window.close();
	</script>
	<?php
		
} 
else if ($this->act == "modify")
{
?>
	<script type="text/javascript">
		document.location='<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'edfrmcategory', 'courseid' => $this->courseid, 'semid' => $this->semid), null, TRUE)?>/catid/<?php echo $this->catid?>';
    </script>
<?php
}
?>
<script type="text/javascript">
function validate(act)
{
	if (act=="del")
	warning='<?php echo $this->translate('forum_warning4'); ?>';
	else
	warning='<?php echo $this->translate('forum_warning4b'); ?>';
	
	if(!window.confirm (warning))
	return false;
	
	document.delcat.act.value=act;
	document.delcat.submit();		
}
</script>
<div class="paging"><?php echo $this->title;?></div>

<h2 class="dotted"><?php echo $this->course['coursename'] .' ('.$this->course['coursecode'].')';?></h2>
<table class="maintable">
	<thead>
	<tr>
		<th><?php echo $this->translate('name')?></th>
		<th><?php echo $this->translate('options')?></th>
	</tr>
	</thead>
	<tbody>
	<?php
	$forum = new Forum_Model_Forum();
	$result =  $forum->fetchAll("forumcat",$this->courseid,$this->semid); 

	foreach ($result as $c) 
	{
	?>
	<tr>
		<td><?php echo $c['name']?></td>
		<td>
			<a class="btn2 green" href="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'edfrmcategory', 'courseid' => $this->courseid, 'semid' => $this->semid, 'catid' => $c['id']), null, TRUE) ?>"><span class="icon icon-pencil"></span><?php echo $this->translate('edit')?></a>
			<a class="btn2 red" href="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'delfrmcategory', 'courseid' => $this->courseid, 'semid' => $this->semid, 'catid' => $c['id']), null, TRUE) ?>" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')"><span class="icon icon-trash"></span><?php echo $this->translate('delete')?></a>
		</td>
	</tr>
	<?	
	}
	?>
	</tbody>
</table>