<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/lms postgrades_style.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>
</head>

<?php
//echo "act : ".$this->act;
if ($this->act == "modify"){
	
	$forum = new Forum_Model_Forum ();
	
	$rseditcategory=$forum->checkeditcategory($this->courseid,$this->semid,$this->catid,$this->category);
	
	if ($rseditcategory)
		{
		//echo "sini";
		//exit();	
     ?>
     <body onload="">
     <script>
     alert ("<?php echo $this->translate('category'); ?> <?php echo $this->category; ?> <?php echo $this->translate('exist'); ?>");
     document.location='<?php
    echo $this->url(
    array('module' => 'forum', 'controller' => 'index', 'action' => 'edfrmcategory', 'courseid' => $this->courseid, 'semid' => $this->semid, 'catid' => $this->catid), null, true)?>';
     </script>
	 <?php
		}
		else{
			$sdata["name"]=$this->category;
			$forum->modify("forumcat",$sdata,$this->catid);
			
    ?>
	 <body onload="">
	 <script>
	 window.opener.location='<?php
    echo $this->url(
    array('module' => 'forum', 'controller' => 'index', 'action' => 'listforum', 'courseid' => $this->courseid, 'semid' => $this->semid), null, true)?>';
	 alert("<?php echo $this->translate('categorymodified'); ?>");
	 window.close();
	 </script>
	 <?php
		}
	
	

}
?>
<script language="javascript">
function validate()
{
		if(document.editform.category.value==""){
                 alert ("<?php echo $this->translate('forum_warn3'); ?>");
                 document.editform.category.focus();
                 return;
        }
        document.editform.submit();
}
</script>
<body>
<div id="contentonly">
<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>
<form name="editform" method="post" action="<?php
    echo $this->url(
    array('module' => 'forum', 'controller' => 'index', 'action' => 'edfrmcategory', 'courseid' => $this->courseid, 'semid' => $this->semid, 'act' => "modify"), null, TRUE)?>">
 <table width="100%" border="0" cellspacing="0" cellpadding="0" valign="top">
<tr>
    <td>

    <table width="100%" id="content_center" cellspacing="0" cellpadding="0">
  	  
 <tr>
		
  		<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td width="20">&nbsp;</td>
			<td>

			<table id="mytable" width="100%" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    
    <th id="mytable" width="40%" ><?php echo $this->translate('modify'); ?> <?php echo $this->translate('categoty'); ?></td>
    <th id="mytable" width="60%" ><input type="text" name="category" value="<?php echo $this->catname?>"></td>
  </tr>
  <tr>
    
    <td id="mytable" >&nbsp;</td>
    <td id="mytable" ><input type="button" onClick="validate();" name="<?php echo $this->translate('modify'); ?>" value="<?php echo $this->translate('modify'); ?>"></td>
  </tr>
</table>
</td></tr></table>
    
    
</td>
  </tr>
</table>
<input type="hidden" name="courseid" value="<?php echo $this->courseid; ?>">
<input type="hidden" name="semid" value="<?php echo $this->semid; ?>">
<input type="hidden" name="catid" value="<?php echo $this->catid; ?>">
</form>
</div>
</body>
</html>