<?php 

$forum = new Forum_Model_Forum ();
$rsm=$forum->getforummain($this->forumID);
//print_r($rsm);
?>
<div class="paging"><?php echo $this->title;?> > <?php echo $rsm[0]['title'];?></div>

<div class="page-opt">
	<a href="#" class="btn btn-round btn-large" onclick="main(); return false;"><span class="icon icon-left-open"></span> <?php echo $this->translate('main'); ?></a>
	<a href="#" class="btn btn-round btn-large" onclick="add_new_topic(); return false;"><span class="icon icon-plus"></span> <?php echo $this->translate('add_new_topic'); ?></a>
</div>
<h2 class="dotted"><?php echo $this->course['coursename'].' ('.$this->course['coursecode'].')';?></h2>

<form name="f1" method="post">
<input type="hidden" name="courseid" value="<?php echo $this->courseid?>" />
<input type="hidden" name="semid" value="<?php echo $this->semid?>" />
<table class="maintable bordered"> 
	<thead>
		<tr>
			<th><?php echo $this->translate('topic'); ?>  </th>
			<th><?php echo $this->translate('author'); ?>   </th>
			<th><?php echo $this->translate('date_posted'); ?>   </th>
			<th><?php echo $this->translate('last_mesg_posted'); ?>   </th>
			<th><?php echo $this->translate('post_s'); ?>   </th>
			<th><?php echo $this->translate('view'); ?>   </th>
  		</tr>
  	</thead>
  	<tbody>
  	<!-- <tr>
  		<td colspan="6"><?php echo $this->translate('main_topic'); ?></td>
  		</tr> -->
	<?php
	//$result=$forum->getfirstlist($this->forumID);
  	foreach ($this->paginator as $rsmain) 
  	{
	  	// dapatkan date posted paling last dalam forum Id tersebut. Kena tgk threadID
		
  		$lastpost=$forum->getlastpost($rsmain['fmesgID']);
	  	
  		// dapatkan mesej ID posted paling last dalam forum Id tersebut. Kena tgk threadID
	  	$lastpostid=$forum->getlastpostid($rsmain['fmesgID']);
	
	  	if(!$lastpost)
	  	{
	  		$lastpost=$rsmain['dateposted'];
	  	}
	  	
	  	if(!$lastpostid)
	  	{
	  		$lastpostid=$rsmain['fmesgID'];
	  	}

		// dapatkan userID posted paling last dalam forum Id tersebut. Kena tgk threadID
		$lastsender=$forum->getlastsender($lastpostid);
		$bilpost=0;
		$bilnew=0;

  		//check kalo message tu dia yang pos. Pastu tick dan masukkan dalam $forum->table_read
  		if ( $rsmain['userid']==$this->username )
  		{
  			$forum->inserttoforumread($this->courseid,$rsmain['fmesgID'],$this->username);
  		}
  		
  		$result=$forum->displaychild($this->forumID);

  		$idx=0;
  		foreach ($result as $rsorder) 
  		{
	  		$idx++;
	  		$arVal[0][$idx]=$rsorder['threadID'];
	  		$arVal[1][$idx]=$rsorder['fmesgID'];
	  		$arVal[2][$idx]=$rsorder['threadparent'];
	  		$arVal[3][$idx]=$rsorder['subject'];
	  		$arVal[4][$idx]=$rsorder['message'];
	  		$arVal[5][$idx]=$rsorder['dateposted'];
	  		$arVal[6][$idx]=$rsorder['userid'];
	  		$arVal[7][$idx]=$rsorder['counter'];
	  		$arVal[8][$idx]=$rsorder['filename'];
	  		$arVal[9][$idx]=$rsorder['pfilename'];

  		}
  		
  		$bilpost=displaychild_s1(1,$idx,$arVal,$rsmain["fmesgID"],0,$bilpost);

		//echo $bilpost;
	  	//$bilpost=$bilpost-1;
	  	$bilnew=$bilpost-$forum->getreadforum($rsmain['fmesgID'],$this->courseid,$this->username,true);
	  	if($bilnew==0)
	  	{
	  		$bilnew = "<span class=\"allread\">".$this->translate('all_read')."</span>";
	  	}
	  	else
	  	{
	  		$bilnew = "<span class=\"newpost\">".$this->translate('newposts')." : $bilnew</span>";
	  	}
  		?>
  		<tr>
      		<td>
      			<a href="<?php echo $this->url(array('module' => 'forum', 'controller' => 'index', 'action' => 'showmesg', 'courseid' => $this->courseid, 'semid' => $this->semid, 'forumID' => $this->forumID, 'fmid' => $rsmain["fmesgID"], 'tid' => $rsmain["threadID"]), null, TRUE)?>"><?php echo $rsmain['subject']; ?> </a>
      			<div class="description">
      				<?php 
      				$strmessage=strip_tags($rsmain['message']);
      				echo substr($strmessage,0,40)." ...";
	      			?>
	      		</div>
      		</td>
      		<td><?php echo $rsmain['firstname']; ?></td>
     		<td>
		    	<?php 
		      	$cr_date=date_create($rsmain['dateposted']);
			 	$dateposted=date_format($cr_date,'d/m/y H:i:s');
		      	echo $dateposted
		      	?> 
		    </td>
      		<td>
		    <?php 
			    $cr_date 	= date_create($lastpost);
				$lastpost 	= date_format($cr_date,'d/m/y H:i:s');
			    echo $lastpost . '<br />';
			    echo $this->translate('by').' '.$lastsender
		    ?>
		    </td>
      		<td>
       			<?php echo $bilpost;?><br /><?php echo $bilnew?>
      		</td>
      		<td>
      			<?php echo $rsmain["counter"]?>
      		</td>
    	</tr>       
	  	<?php
	 	$bil++;
	}
	
	if ( count($this->paginator) == 0 )
	{
		?>
		<tr>
			<td colspan="6"><?php echo $this->translate('no_topics')?></td>
		</tr>
		<?php
	}
	
?>
</tbody>
</table>   
</form>

<div class="page-opt">
	<a href="#" class="btn3" onclick="window.print(); return false;"><span class="icon icon-print"></span> <?php echo $this->translate('print_this_page'); ?></a>
</div>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 'pagination.phtml');

	function displaychild_s1($layer,$index,$arValues,$pid,$show,$bilpost)
	{
		$bilpost=$bilpost+1;
		for($t=1;$t<=$index;$t++)
		{
			// kalo threadparent sama dengan forumID utama
			if($arValues[2][$t]==$pid){
				$mesid=$arValues[1][$t];
				$subject=$arValues[3][$t];
				$message=$arValues[4][$t];
				$dateposted=$arValues[5][$t];
				$userID=$arValues[6][$t];
				$tid=$arValues[0][$t];
				$tpr=$arValues[2][$t];
				$fcounter=$arValues[7][$t];
				$filename=$arValues[8][$t];
				$pfilename=$arValues[9][$t];
	
				$bilpost=displaychild_s1($layer+1,$index, $arValues, $mesid,$show,$bilpost);
			}
	
		}
		return $bilpost;
	}
?>
<script type="text/javascript">

// function for add new topic
function add_new_topic(){
	document.location="<?php
      echo $this->url(
    array('module' => 'forum', 'controller' => 'index', 'action' => 'postmessage', 'courseid' => $this->courseid, 'semid' => $this->semid, 'forumID' => $this->forumID), null, TRUE)?>";
}
// function for main
function main(){
	document.location="<?php
	echo $this->url(
	array('module' => 'forum', 'controller' => 'index', 'action' => 'listforum', 'courseid' => $this->courseid, 'semid' => $this->semid), null, true)?>";

}
</script>
