<div class="paging"><?php echo $this->title;?></div>

<h2 class="dotted"><?php echo $this->course['coursename'].' <span class="code">'.$this->course['coursecode'].'</span>';?></h2>
<?php

if ($this->privilage=="ADMIN" || $this->privilage=="COURSE COORDINATOR")
{
	echo $this->form;
	echo '<br />';
}

$forum = new Forum_Model_Forum ();
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navicourse("forum", "index", "addfrmcategory", $this->username, $this->courseid);

?>
<div class="page-opt">
<?php
if ($show == 1) 
{
    ?>
	<a href="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'addfrmcategory', 'courseid' => $this->courseid, 'semid' => $this->semid), null, FALSE)?>" class="btn"><?php echo $this->translate('add_category'); ?></a>
	<?php 
}
 
//$show = $naviauth->navicourse("forum", "index", "delfrmcategory",$this->username,$this->courseid);
if ($show == 1) 
{
	?>
	<a href="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'delfrmcategory', 'courseid' => $this->courseid, 'semid'=> $this->semid), null, FALSE)?>" class="btn"><?php echo $this->translate('manage_categories'); ?></a>
	<?php 
}
?>
</div>
<?php 

if ($this->category)
{
      //$show = $naviauth->navicourse("forum", "index", "addtitle",$this->username,$this->courseid);
      if ($show == 1) 
      {
    	?>
      	<a href="#" class="btn btn-round btn-large submit" onclick="add_title(); return false;"><span class="icon icon-plus"></span><?php echo $this->translate('add_title'); ?></a>
      	<?php
	} 
    ?>
	<form name="f1" method="post">
	<input type="hidden" name="courseid" value="<?php echo $this->courseid?>" />
	<input type="hidden" name="semid" value="<?php echo $this->semid?>" />
	
	<table class="maintable bordered">
	<thead>
		<tr>
			<th></th>
			<th colspan="2"><?php echo $this->translate('topics'); ?></th>
			<th colspan="2"><?php echo $this->translate('messages'); ?></th>
			<th></th>
			<th><?php echo $this->translate('last_message_posted'); ?></th>
			<?php if ($show == 1) { ?><th></th><?php } ?>
		</tr>
	</thead>
  	<tbody>
  	<?php
  	foreach ($this->category as $row) 
  	{ 
  		?>
  		<tr><td class="forum" colspan="8"><?php echo $row['name'] ?></td></tr>
		<?php
		$rsforumain=$forum->getforum($row['id'],$this->courseid,$this->semid);
		
		foreach ($rsforumain as $rowforum) 
		{
	 	?>
	  	<tr>
	      	<td class="centered">
	      		<span class="icon icon-folder topic"></span>
	      		<!--  <img src="<?php echo $this->baseUrl(); ?>/images/forum/folder_close.gif" alt="Forum Unlock">  -->
	      	</td>
	      	<td colspan="2">
	      		<a href="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'listmsgforum', 'courseid' => $this->courseid, 'semid' => $this->semid, 'forumID' => $rowforum['forumID']), null, TRUE)?>"><?php echo $rowforum['title'] ?></a>
	      		<div class="description"><?php echo $rowforum['description'] ?></div>
	    	</td>
	    	<td class="centered"><?php echo $forum->countfirstlist($rowforum['forumID'])?></td>
	   		<td class="centered">
		    <?php 
		    	$mainpost=0;
		      	echo $mainpost=$forum->getmainpost($rowforum['forumID']);?>    
		    </td>
		    <td>
			    <?php
			    $newpost=0;
			    $newpost=$mainpost-$forum->getreadforum($rowforum['forumID'],$this->courseid,$this->username);
			    $newpost = $newpost == 0 ? $this->translate('all_read') : $newpost." ".$this->translate('new');
			  	?>
		    	<small><?php echo $newpost ?></small>
			</td>
		    <td> 
			<?php
			//dptkan last message post
			$lastid=$forum->getlastpostid($rowforum['forumID'],"forumID");
			if ($lastid!="")
			{
				//dptkan detail last user yg hantar
				$rsl=$forum->getlastlist($lastid);
			}
		
			if ($lastid!="")
			{
			   	echo $rsl['subject']?>
				<br />
				<?php echo $this->translate('by'); ?>
			    <?php echo $rsl['firstname'].' '.$rsl['lastname']?>
			    <br />
			    <?php echo $this->translate('posted_on'); ?>
			    <?php 
			    $cr_date=date_create($rsl['dateposted']);
			    $dateposted=date_format($cr_date,'d/m/y');
			    echo $dateposted?>
      			<?
			}
			else
			{
		    	echo $this->translate('noforum_posted');
			}
		    ?>
		    </td>
		    <?php 
		    if ($show == 1) 
		    {
	    	?>
		    	<td class="centered">
		        	<a class="btn2 green" href="#" onclick="return validate('edit','<?php echo $rowforum['forumID'] ?>')"><span class="icon icon-pencil"></span> <?php echo $this->translate('modify');?></a>
					<a class="btn2 red" href="#" onclick="return validate('del','<?php echo $rowforum['forumID'] ?>')"><span class="icon icon-trash"></span> <?php echo $this->translate('remove');?></a>
		        </td>
		 	<?php 
	    } 
	    ?>
	    </tr>
		<?php
		}
	}
   ?>
  	</tbody>
  	</table>
	</form>
<?php
}
?>

<script type="text/javascript">
function validate(x,y)
{
	if (x=="edit"){
		document.location="<?php
		echo $this->url(
		array('module' => 'forum', 'controller' => 'index', 'action' => 'modifytitle', 'courseid' => $this->courseid, 'semid' => $this->semid), null, true)?>/forumID/"+y;
	}

	if (x=="del"){
		if (!(window.confirm('Are you sure you want to remove this forum?'))) return false;
		document.location="<?php
		echo $this->url(
		array('module' => 'forum', 'controller' => 'index', 'action' => 'deletetitle', 'courseid' => $this->courseid, 'semid' => $this->semid), null, true)?>/forumID/"+y;
	}

	return false;
}


// function for add forum category
function add_category(){
	window.open("<?php
	echo $this->url(
	array('module' => 'forum', 'controller' => 'index', 'action' => 'addfrmcategory', 'courseid' => $this->courseid, 'semid' => $this->semid), null, FALSE)?>","","dependent=no,width=450,height=200,resizable=yes,scrollbars=yes");
}
// function for delete forum category
function del_category(){
	window.open("<?php
	echo $this->url(
	array('module' => 'forum', 'controller' => 'index', 'action' => 'delfrmcategory', 'courseid' => $this->courseid, 'semid'=> $this->semid), null, FALSE)?>","","dependent=no,width=450,height=200,resizable=yes,scrollbars=yes");

}
// function for add forum category
function add_title(){
	document.location="<?php
	echo $this->url(
	array('module' => 'forum', 'controller' => 'index', 'action' => 'addtitle', 'courseid' => $this->courseid, 'semid' => $this->semid), null, true)?>";
}

function refreshlistforum(){

	document.forms["f2"].action="<?php
			echo $this->url(
			array('module' => 'forum', 'controller' => 'index', 'action' => 'listforum', 'courseid' => $this->courseid ), 'default', true)?>";
	document.forms["f2"].submit();
	
}
</script>