<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>
</head>
<body>

<br>
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" width="25"><?php echo $this->translate('no'); ?></th>
<th id="mytable"><?php echo $this->translate('name'); ?></th>
<th id="mytable"><?php echo $this->translate('role'); ?></th>
<th id="mytable"><?php echo $this->translate('email'); ?></th>
</tr>
<?php
//echo $this->courseid;
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$intake = new Admin_Model_Intake ();
$user = new Users_Model_Users();

$i=0;
foreach ($this->paginator as $row) {

	echo "<tr><td id='mytable'>";

	echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$i;
	
	//echo $this->paginator->getCurrentPageNumber();

	
	echo "</td>";
	echo "<td id='mytable'>";
?>
    	<?php //echo $row['userID'];    	
					$rs = $user->checkusername($row['userID']);
					echo $rs[0]['firstname'];
    	?>
<?php
echo "</td>";

	echo "<td id='mytable'>";
?>
    <?php echo $rs[0]['privilage'];?>	
<?php
echo "</td>";

echo "<td id='mytable'>";
?>
    <?php echo $row['userID']."@".MAIL_DOMAIN;?>	
<?php
echo "</td><tr>";
$i++;
}
?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml',$this->searchParams);
?>

</body>
</html>