<div class="paging"><?php echo $this->title;?></div>
<h2 class="dotted"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></h2>

<?php
echo $this->form;
?>
<script type="text/javascript">
    CKEDITOR.replace( 'description',{ height: 200, width: 650 } );
</script>