<div class="paging"><?php echo $this->title;?></div>

<h2 class="dotted"><?php echo strtoupper($this->course['coursename']).' ('.$this->course['coursecode'].')';?></h2>
<?php
echo $this->form;
?>

<?
if ($this->fmid!=0)
{
	$forum = new Forum_Model_Forum ();
	$rsmg=$forum->getmesg($this->forumID,$this->fmid);
	//print_r($rsmg);
	?>
	
	<div class="replymsg">
	
	<h3><?php echo $this->translate('replyto')?></h3>
	<table class="table bordered" id="replytable">
		<thead>
			<tr>
				<th colspan="2"><?php echo $rsmg['subject']?></th>
			</tr>
		 </thead>
		 <tbody>
		 	<tr>
		 		<td class="label"><?php echo $this->translate('posted_by')?></td>
		 		<td><?php echo $rsmg['firstname'].' '.$rsmg['lastname']?> </td>
		 	</tr>
		 	<tr>
		 		<td class="label"><?php echo $this->translate('date_posted')?></td>
		 		<td><?php echo date('j F Y, g:i a', strtotime($rsmg['dateposted']))?></td>
		 	</tr>
		 	<tr>
		 		<td colspan="2"><?php echo $rsmg['message']?></td>
		 	</tr>
		 </tbody>
	</table>
	
	</div>
	<?php
}
?>
<style type="text/css">
.replymsg { margin-top:15px; }
td.label { font-weight:bold; width:120px; }
#replytable { width:650 }
</style>
<script type="text/javascript">
    CKEDITOR.replace( 'message',{ height: 200, width: '100%' } );
</script>