<div id="contentonly">
<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0" valign="top">
<tr>
    <td>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  	  
 <tr>
		
  		<td>
<?php
$forum = new Forum_Model_Forum ();
$rsmg=$forum->getmesg($this->forumID,$this->fmid);
	//print_r($rsmg);
?>
<table id="mytable" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	 
	<tr>
		    <td width="20">&nbsp;</td>
			<td id="mytable">
			 	
  			
		&nbsp;<?php echo $rsmg['subject']?></td>
    </tr>
    <tr>
    	 <td width="20">&nbsp;</td>
		<th id="mytable" >&nbsp;<b><font size=-2><?php echo $this->translate('posted_by')?> : </b><?php echo $rsmg['userid']?> 
		<br>&nbsp;<b><?php echo $this->translate('date_posted')?> : </b><?php echo $rsmg['dateposted']?>
		</th>
	</tr>    
    <tr>
		 <td width="20">&nbsp;</td>
    	<td id="mytable">&nbsp;
		
		<?php 
		$txtmesg=$rsmg['message'];
		echo $txtmesg;
		?>
		</td>
    </tr>
    <tr>
		 <td width="20">&nbsp;</td>
    	<td >&nbsp;</td>
	</tr>
</table>

</td></tr></table>
</td>
  </tr>
</table>
</div>