<div class="paging"><?php echo $this->title;?></div>

<!--  <h3><?php echo strtoupper($this->course['coursename']).' ('.$this->course['courseid'].')';?></h3> -->
<?php

$forum = new Forum_Model_Forum ();

$rsmsg=$forum->getmesg($this->forumID,$this->fmid);
$forum->updatecounter($this->fmid);

//print_r($rsmsg);
?>
<div class="page-opt">
	<a href="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'listmsgforum', 'courseid' => $this->courseid, 'semid' => $this->semid, 'forumID' => $this->forumID), null, TRUE)?>" class="btn btn-round btn-large"><span class="icon icon-doc-text"></span> <?php echo $this->translate('main_topic'); ?></a>
	<a href="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'listforum', 'courseid' => $this->courseid, 'semid' => $this->semid, 'forumID' => $this->forumID), null, TRUE)?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('main'); ?></a>	
</div>

<h2 class="dotted"><?php echo $rsmsg['subject']?></h2>
<!--  <?php echo $this->translate('view_message'); ?> <?php echo $this->translate('current_topic'); ?> -->

<div class="topic">
	<div class="info">
		<div class="photo">
		<?php
		$userID= $rsmsg['userid'];
        $thumb = $rsmsg['photo'] == '' ? $this->baseUrl().'/images/nouser/nouser.png' : $this->baseUrl()."/thumb.php?s=1&amp;w=60&amp;f=".APP_UPLOAD_URL.'/photo/'.$rsmsg['photo']; 

        //echo $thumbnailexists;
        ?>
		<img width="60" height="60" src="<?php echo $thumb ?>" alt="photo" />
		</div>
		<div class="user-info">
			<p><strong><?php echo $rsmsg["firstname"].' '.$rsmsg['lastname']?></strong></p>
			<p class="date"><?php  echo date('j F Y, g:i a', strtotime($rsmsg["dateposted"])) ?></p>
			<p class="reads">(<?php echo $rsmsg["counter"]?> <?php echo $this->translate('reads')?>)</p>
		</div>
	</div>
	<div class="message">
		<?php echo $rsmsg["message"]; ?>
	</div>
	<div class="foot">
		<ul class="topic-opt">
			<li><a href="<?php  echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'postmessage', 'courseid' => $this->courseid, 'semid' => $this->semid, 'forumID' => $this->forumID, 'fmid' => $this->fmid, 'tid' => $this->tid), null, TRUE)?>"><span class="icon icon-reply"></span> <?php echo $this->translate('reply'); ?></a></li>
			<?php if($this->username==$rsmsg['userid']) { ?>
			<li><a href="<?php echo $this->url(array('module' => 'forum', 'controller' => 'index', 'action' => 'editmessage', 'courseid' => $this->courseid, 'semid' => $this->semid, 'forumID' => $this->forumID, 'fmid' => $this->fmid, 'tid' => $this->tid), null, TRUE)?>"><span class="icon icon-pencil"></span> <?php echo $this->translate('modify'); ?></a></li>
			<?php } ?>
			<!--  <li><a href="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'printforum', 'courseid' => $this->courseid, 'semid' => $this->semid, 'forumID' => $this->forumID, 'fmid' => $this->fmid, 'tid' => $this->tid), null, TRUE)?>"><span class="icon icon-print"></span> <?php echo $this->translate('print_message'); ?></a></li>  -->
			<?php if ($this->username==$rsmsg['userid']) {?>
			<li><a href="<?php echo $this->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'deletemessage', 'courseid' => $this->courseid, 'semid' => $this->semid, 'forumID' => $this->forumID, 'fmid' => $this->fmid, 'tid' => $this->tid), null, TRUE)?>"><span class="icon icon-trash"></span> <?php echo $this->translate('delete'); ?></a></li>
			<? }?>			  
		</ul>
	</div>
</div>

<?php //$forum->updatecounter();?>
	

<?php

$forum->inserttoforumread($this->courseid,$this->fmid,$this->username);
if ($tid==0)
{
	$rsorder=$forum->getmesg($this->forumID,$this->fmid);
}
else 
{
	$rsorder=$forum->getmesg($this->forumID,$this->fmid,$this->tid);
} 

$bilpost=0;
$result=$forum->displaychild($this->forumID);

$idx=0;
foreach ($result as $rsorder2)
{
 	$idx++;
 	$arVal[0][$idx]=$rsorder2['threadID'];
	$arVal[1][$idx]=$rsorder2['fmesgID'];
	$arVal[2][$idx]=$rsorder2['threadparent'];
	$arVal[3][$idx]=$rsorder2['subject'];
	$arVal[4][$idx]=$rsorder2['message'];
	$arVal[5][$idx]=$rsorder2['dateposted'];
	$arVal[6][$idx]=$rsorder2['userid'];
	$arVal[7][$idx]=$rsorder2['counter'];
	$arVal[8][$idx]=$rsorder2['filename'];
	$arVal[9][$idx]=$rsorder2['pfilename'];
	$arVal[10][$idx]=$rsorder2['photo'];
	$arVal[11][$idx]=$rsorder2['firstname'];
	$arVal[12][$idx]=$rsorder2['lastname'];
	
}
  
$datathis["username"] = $this->username;
$datathis["courseid"] = $this->courseid;
$baseurl = $this->baseUrl();  
$bilpost = displaychild_s1(1,$idx,$arVal,$rsorder['fmesgID'],1,$bilpost,$this,$baseurl);

?>
<div class="page-opt">
	<a href="#" class="btn3" onclick="window.print()"><span class="icon icon-print"></span> <?php echo $this->translate('print_this_page'); ?></a>
</div>
<?php 

function displaychild_s1($layer,$index,$arValues,$pid,$show,$bilpost,$thisview,$baseurl='')
{
	$bilpost=$bilpost+1;
	
	for($t=1;$t<=$index;$t++)
	{
		// kalo threadparent sama dengan forumID utama
		if ($arValues[2][$t]==$pid)
		{
			$mesid=$arValues[1][$t];
			$subject=$arValues[3][$t];
			$message=$arValues[4][$t];
			$dateposted=$arValues[5][$t];
			$userID=$arValues[6][$t];
			$tid=$arValues[0][$t];
			$tpr=$arValues[2][$t];
			$fcounter=$arValues[7][$t];
			$filename=$arValues[8][$t];
			$pfilename=$arValues[9][$t];
			$fullname=$arValues[11][$t].' '.$arValues[12][$t];
			$photo=$arValues[10][$t];

			if ($show==1)
			{
				$forum = new Forum_Model_Forum ();
				$rfdb=$forum->getreplyfor($tpr);
				
				if ($thisview->username)
				{
					if ($userID==$thisview->username)
					{
						$forum->inserttoforumread($thisview->courseid,$mesid,$thisview->username); 
					}
				}

				if ($thisview->username)
				{
					$chnew=$forum->checknew($thisview->courseid,$mesid,$thisview->username);
					$new = "<span class='read'>".$thisview->translate('read')."</span>";
					if($chnew)
					{
						$new="<span class='new'>".$thisview->translate('new')."</span>";
					}
				} 
				else
				{
					$new = '';
				}
				?>
				<div class="topic reply">
					<div class="info">
					<div class="photo">
					<?php
					
					
					$thumb = $photo == '' ? $baseurl.'/images/nouser/nouser.png' : $baseurl."/thumb.php?s=1&amp;w=60&amp;f=".APP_UPLOAD_URL.'/photo/'.$photo; 
					
					?>
					<img width="60" height="60" alt="" src="<?php echo $thumb?>" />
					
					</div>
					<div class="user-info">
						
						<p class="replyinfo"><?php echo $new?><a name="<?php echo $mesid?>"><?php echo $subject?></a></p>
						
						
						<?php //echo $thisview->translate('posted_by')?>
						<p><strong><?php echo $fullname?></strong></p>
						<p><?php echo date('j F Y, g:i a', strtotime($dateposted)) ?></p>
						
						<?php //echo $rfdb['dateposted']?>
						<?php //echo $thisview->translate('reply_to')?>
						<?php //echo $rfdb['userid'] ?>
					</div>
				</div>
				<div class="message">
				<?php
				echo $message;
				?>
				</div>
				<div class="foot">
				<ul class="topic-opt">
				<?php
				if (!$thisview->username) 
				{
					?>
					<li><a href="<?php  echo $thisview->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'printforum', 'courseid' => $thisview->courseid, 'semid' => $thisview->semid, 'forumID' => $thisview->forumID, 'fmid' => $mesid, 'tid' => $tid), null, TRUE)?>"><span class="icon icon-print"></span> <?php echo $thisview->translate('print_message')?></a></li>
					<?php
				}
				else
				{
					?>
					<li><a href="<?php echo $thisview->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'postmessage', 'courseid' => $thisview->courseid, 'semid' => $thisview->semid, 'forumID' => $thisview->forumID, 'fmid' => $mesid, 'tid' => $tid), null, TRUE)?>"><span class="icon icon-reply"></span> <?php echo $thisview->translate('reply')?></a></li>
					<?php if ( $thisview->username==$userID) {?>
					<li><a href="<?php echo $thisview->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'editmessage', 'courseid' => $thisview->courseid, 'semid' => $thisview->semid, 'forumID' => $thisview->forumID, 'fmid' => $mesid, 'tid' => $tid), null, TRUE)?>"><span class="icon icon-pencil"></span> <?php echo $thisview->translate('modify')?></a></li> 
					<?php } ?>
					<!--  <li><a href="<?php echo $thisview->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'printforum', 'courseid' => $thisview->courseid, 'semid' => $thisview->semid, 'forumID' => $thisview->forumID, 'fmid' => $mesid, 'tid' => $tid), null, TRUE)?>"><span class="icon icon-print"></span> <?php echo $thisview->translate('print_message')?></a></li>  -->
					<?php if($thisview->username==$userID) {?>
					<li><a href="<?php echo $thisview->url( array('module' => 'forum', 'controller' => 'index', 'action' => 'deletemessage', 'courseid' => $thisview->courseid, 'semid' => $thisview->semid, 'forumID' => $thisview->forumID, 'fmid' => $mesid, 'tid' => $tid), null, TRUE)?>"><span class="icon icon-trash"></span> <?php echo $thisview->translate('delete')?></a></li>
					<?php }?>
				<?php 
				} // !username
				?>
				</ul>
				</div>
				<?php 
				if ($thisview->username)
				{
					$forum->inserttoforumread($thisview->courseid,$mesid,$thisview->username);
				}
				?>
				</div>
				<?php 
				
			} // show
			
			$bilpost=displaychild_s1($layer+1,$index, $arValues, $mesid,$show,$bilpost,$thisview);
		}

	}
	return $bilpost;
}
?>
