
<div class="lang-opt">
	<?php if ( $this->set_id != '' ) { ?><a href="<?=$this->url(array('module' => 'languageset', 'controller' => 'set', 'action' => 'view', 'id' => $this->set_id))?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('language_conf_set')?></a><?php } ?>
	<a href="<?=$this->url(array('module' => 'languageset', 'controller' => 'configurer'),'',true)?>" class="btn btn-round btn-large"><span class="icon icon-home"></span> <?php echo $this->translate('language_conf_main')?></a>
</div>
<h2 class="dotted"><?php echo $this->translate($this->title);?></h2>

<div class="lang-form">
	<?php 
	echo $this->form;
	?>
</div>

