<h2 class="dotted"><?php echo $this->translate($this->title);?></h2>
<div class="lang-opt">
	<a href="<?=$this->url(array('module' => 'languageset', 
								'controller' => 'configurer', 
								'action' => 'index'), 
								null, 
								FALSE)?>" class="btn btn-round btn-large"><span class="icon icon-home"></span> <?php echo $this->translate('language_conf_main')?></a>
	<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action'=>'add'),'default',true); ?>" class="btn btn-round btn-large"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('language_conf_add')?></a>
</div>
<table class="maintable" id="managelangset">
	<thead>
	<tr>
		<th><?php  echo $this->translate('varname')?></th>
		<th><?php  echo $this->translate('term')?></th>
		<th><?php  echo $this->translate('options')?></th>
	</tr>
	</thead>
	<tbody>
	<?php
	if ( $this->paged_results )
	{
	    foreach( $this->paged_results as $lang )
		{
			?>
			<tr>
			<td><?php echo $lang['varname']?></td>
			<td><?php echo $lang['english']?></td>
			<td><a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action'=>'edit', 'id' => $lang['varname']),'default',true); ?>" class="btn2 green"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a> <a href="#" class="btn2 red" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')"><span class="icon icon-trash"></span> <?php echo $this->translate('delete')?></a></td>
			</tr>
			<?php
			
		}
	}
	?>
	</tbody>
</table>
<!--  paging -->
<div class="pagination">
<?php
echo $this->paginationControl($this->paged_results, 'Elastic','pagination.phtml');
?>
</div>
<!--  /paging  -->   