<div class="lang-opt">
	<a target="_blank" href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action'=>'add', 'id' => 1),'default',true); ?>" class="btn btn-round btn-large"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('add_new_term')?></a>
</div>


<h2 class="dotted"><?php echo $this->translate($this->title)?></h2>

<form name="search" method="post" action="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action' => 'mass' ),'default',true);?>" >
<p>Filter: <input type="text" class="inputtext" id="filter" /></p>
<p>Total Terms: <strong><?php echo count($this->lang_terms[1])?></strong></p>
<table class="maintable" id="massedit">
	<thead>
	<tr>
		<th style="width:80px"><?php  echo $this->translate('varname')?></th>
		<?php
		foreach ( $this->lang_list as $lang_name )
		{

		?>
		<th><?php echo $lang_name ?></th>	
		<?php
		}
		?>
	</tr>
	</thead>
	<tbody>
	<?php
	
	if (is_array($this->lang_terms))
	{	
		//lang_term[ lang_id ][] = term
		foreach ( $this->lang_terms[1] as $varname => $meaning )
		{
			?>
			<tr class="<?php echo ($this->lang_terms[$lang_id][$varname] == '' && $lang_id == 5 ? 'empty':'hasval')?>">
				<td><?php echo $varname?></td>
				<?php
				foreach ( $this->lang_list as $lang_id => $lang_name )
				{
					
				?>
				<td><input <?php echo $lang_id == 1 ? 'disabled="disabled"':'' ?> type="text" value="<?php echo $this->lang_terms[$lang_id][$varname]?>" name="meaning[<?php echo $lang_id?>][<?php echo $varname?>]" class="inputtext" /></td>	
				<?php
				}
				?>
			</tr>
			<?php
		}
	}
	else
	{
		?>
		<tr><td colspan="5"><?php echo $this->translate('no_results')?></td></tr>
		<?php 
	}
	?>
	</tbody>
</table>
<p class="submit float">
	<input type="submit" class="btn submit" value="<?php echo $this->translate('save');?>" />
	<span class="emfilter"><input type="checkbox" id="emfilter" value="1" /><label for="emfilter">Filter Empty</label></span>
</p>
</form>

<script type="text/javascript" src="<?php echo $this->baseUrl()?>/js/jquery.table_filter.min.js"></script>
<script type="text/javascript">
$(function()
{ 
    $("#filter").table_filter({'table':'#massedit'});
    $("#emfilter").bind("change", function()
   	{
		var val = $(this).attr("checked");

		if ( val == 'checked' )
		{
			//alert($(".empty").parent().parent().html());	
			$(".hasval").hide();
		}
		else
		{
			$(".hasval").show();
		}
    });
});

$(window).scroll(function() 
{
   //mommy im at the bottom already
   if($(window).scrollTop() + $(window).height() > $(document).height() - 200 ) 
   {
      $("p.submit").removeClass('float');
   }
   else
   {
	   $("p.submit").addClass('float');
   }
});
</script>
<style type="text/css">
.maintable { margin:10px 0 }
.maintable .inputtext { width: 180px }
.emfilter { float:right;margin-right:20px }
p.submit {  }
p.submit.float { height:40px; background:#fff; padding:10px; width:100%; z-index:10; left:0; bottom:0; position:fixed; border-top:1px solid #ccc; }

#rtl .emfilter { float:left; margin-left:20px; margin-right:0 }
#rtl p.submit .submit { margin-right:20px; }
</style>