<h2 class="dotted"><?php echo $this->translate($this->title).' - '.$this->lang_config['Name'];?></h2>
<div class="lang-opt">
	<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action'=>'add', 'id' => $this->set_id),'default',true); ?>" class="btn btn-round btn-large"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('add_new_term')?></a>
</div>

<form name="search" method="post" action="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action' => 'view', 'id' => $this->set_id ),'default',true);?>" >
<div>
	<input type="text" class="inputtext" name="keyword" size="50" value="<?php echo $this->keyword ?>"  />
	<input type="submit" name="submit" value="Search" class="btn"/>
	
	<?php 
	if ( $this->isSearch )
	{
		// too lazy to translate this part by part. 
		//echo '<p>Found <strong>'.$this->total.'</strong> matching \''.$this->keyword.'\'</p>';
	}
	?>
</div>
</form>
<table class="maintable" id="managelangset">
	<thead>
	<tr>
		<th><?php  echo $this->translate('varname')?></th>
		<th><?php  echo $this->translate('termname')?></th>
		<?php if ( $this->no_reference != 1 ) { ?><th><?php echo $this->default_lang?></th><?php } ?>
		<th><?php  echo $this->translate('options')?></th>
	</tr>
	</thead>
	<tbody>
	<?php
	if ( $this->paged_results )
	{
		
	    foreach( $this->paged_results as $lang )
		{
			?>
			<tr>
			<td><?php echo $lang['varname']?></td>
			<td><?php echo $this->escape( $lang['meaning'] )?></td>
			<?php if ( $this->no_reference != 1 ) { ?><td><?php echo $this->default_terms[$lang['varname']]?></td> <?php } ?>
			<td>
				<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action'=>'edit', 'id' => $lang['varname'], 'from' => $this->set_id ),'default',true); ?>" class="btn2 green"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
			 	<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set', 'action'=>'delete', 'id' => $lang['varname'],'from' => $this->set_id ),'default',true); ?>" class="btn2 red" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')"><span class="icon icon-trash"></span> <?php echo $this->translate('delete')?></a>
			 </td>
			</tr>
			<?php
		}
	}
	else
	{
		?>
		<tr><td colspan="4"><?php echo $this->translate('no_results')?></td></tr>
		<?php 
	}
	?>
	</tbody>
</table>
<?php
if ( $this->paged_results )
{
?>
<!--  paging -->
<div class="pagination">
<?php
echo $this->paginationControl($this->paged_results, 'Elastic','pagination.phtml');
?>
</div>
<!--  /paging  --> 
<?php 
}
?>