<div id="contentonly">
<table id="mytable">
<form id="f1" name="f1" method="POST">

<?php
//print_r($_COOKIE);
$bil=0;
foreach ($this->paginator as $rowtestques) {
	$fldid=$rowtestques['asqID'];
		?>
    <tr>
    	<td id="mytable" rowspan="2" width="10" valign="top">
    	<?php echo $this->translate('question'); ?>
    	<?php
    	echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$bil;
       	?>
    	</td>
    
    	<th id="mytable">
    	<?php
    	$qbank=new Qbank_Model_Qbank();
    	$rs=$qbank->get_question($rowtestques['qid'],$this->courseid);
    	echo $rs['question'];
        ?>
        <input type="hidden" name="qno" id="qno" value="<?php echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$bil;?>" >
		<input type="hidden" name="qid" id="qid" value="<?php echo $rs['qid']?>" >
		<input type="hidden" name="courseid" id="courseid" value="<?php echo $this->courseid?>" >
		<?php
		$time_taken=explode(',',$this->rsresult['time_taken']); 
		//print_r($time_taken);
		//echo array_sum($time_taken);
		$times = array_sum($time_taken)+$this->rsresult['iniTime'];
		?>
		<input type="hidden" name="time1" id="time1" value="<?php echo $times ?>" >
	

        </th>
   </tr>
   <tr>
   <td>   
   <?php
   $selected_answers=explode(',',$this->rsresult['selected_answers']);
   $selected_answers=$selected_answers[($this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$bil)-1];

   $option=explode(',',$rs['options']);
   //$i=0;
   $aa="A";
	foreach($option as $option){ ?>
	<table width="100%"><tr>
	<td style="width:5px;"><?php echo $aa ?></td>
	<td style="width:18px;"><input type="radio" onclick="submitanwser()" name="answer" value="<?=$option?>" <?php if($selected_answers==$option){ echo "checked";} ?>></td>
	<td><?=$option?></td></tr></table>
	<?php 
	$aa++;
	//$i+=1;
	}
	?>
	
	<?php
	$bil++;
}
    ?>
    </td>

    </tr>



<!-- Check Last Page -->
<?php 
$lastpagebil = ($this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$bil)-1;

if ($lastpagebil==$this->totalq) { ?>
 <tr>
<td colspan="2">
      
    <input type="button" value="<?php echo $this->translate('submit_test'); ?>" onclick="submittest()">
       </td>
</tr> 	
<?php } ?>
<!-- Check Last Page -->   

</table>
</form>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'paginationexam.phtml',$this->searchParams);
    ?>


</div>

<script type="text/javascript" language="javascript">

function jumppagedd(){

	var jumppage = $('#jumppage').val();

	window.location = jumppage;

}

function submitanwser(){
	//console.log($("#f1").serialize());
	alert($("#f1").serialize());
	//alert(document);
	$.post("/block/test/submitanswer", $("#f1").serialize(),
	function(data) {
		//alert(data);
		$('#time1').val(data);
		//alert("The attendance has been successfully update in the database");
		//alert(data);
		/*if (data == "") {
		$("#containermsg").html("Error Update Attendance" + data); }
		else {
		// otherwise set the content div to the data we received
		$("#containermsg").html("Success Update Attendance" + data);
		}*/
	}

	);

}

function submittest(){
	
	gourl='<?php echo $this->url(array('module'=>'block','controller'=>'test','action'=>'submittest','id'=>$this->id),'default',true);?>';
	document.f1.action=gourl;	
	document.f1.submit();
	
	/*$.post("/block/test/submittest", $("#f1").serialize(),
	function(data) {
		alert(data);
		if (data=="finish"){
			//alert("sini");
			document.location="<?php echo $this->url(array('module'=>'block','controller'=>'test','action'=>'successsubmit','courseid'=>$this->courseid, 'resultid'=>$_COOKIE["resultid"]),'default',true);?>";

		}
		//alert(data);

	}

	);*/

	

}



</script>