    <?php if ($this->pageCount): ?>
    <div class="pagination">
    <?php if ($this->last>1) { ?>
    
    <!-- First page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->first,'type'=>2,'courseid'=>$this->courseid,'orderby'=>'start_date asc')); ?>">
        <?php echo $this->translate('first'); ?>
      </a> 
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('first'); ?></span> 
    <?php endif; ?>
     
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->previous,'type'=>2,'courseid'=>$this->courseid,'orderby'=>'start_date asc')); ?>">
        &lt; <?php echo $this->translate('previous'); ?>
      </a> 
    <?php else: ?>
      <span class="disabled">&lt; <?php echo $this->translate('previous'); ?></span>
    <?php endif; ?>
    
    <!-- Numbered page links -->
	
    <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo $this->url(array('page' => $page,'type'=>2,'courseid'=>$this->courseid,'orderby'=>'start_date asc')); ?>"><?php echo $page; ?></a>
            <?php else: ?>
                <?php echo '<span class="active">'.$page.'</span>'; ?>
            <?php endif; ?>
        <?php endforeach; ?>
   
     
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->next,'type'=>2,'courseid'=>$this->courseid,'orderby'=>'start_date asc')); ?>">
        <?php echo $this->translate('next'); ?> &gt;
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('next'); ?> &gt;</span>
    <?php endif; ?>
     
    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->last,'type'=>2,'courseid'=>$this->courseid,'orderby'=>'start_date asc')); ?>">
        <?php echo $this->translate('last'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"> <?php echo $this->translate('last'); ?></span>
    <?php endif; ?>
    
     <?php } ?>
    </div>
    <?php endif; ?>