<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();

$assignment2 = new Assignment_Model_Assignment ();
?>


<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
	var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
	if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
	var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
	var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
		d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
		if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
		for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
		if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
	var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script>
function CheckAll(chk){

	if(document.f1.Check_ctr.checked==true){
		//if theres only a single cbox
		if(chk.length != undefined) { 
		 	for (i = 0; i < chk.length; i++){
				chk[i].checked = true ;
			}	
		 }else{
			chk.checked = true ;		
		 }
	}else{
		if(chk.length != undefined) { 
			for (i = 0; i < chk.length; i++)
			chk[i].checked = false ;
		}else{
			chk.checked = false;		
		}
	}
}

function downloadall(chk, username, baseurl){
	var total="";
	bilcheck=0;
	if(chk.length != undefined) { 
		for (i = 0; i < chk.length; i++){
			if(chk[i].checked && chk[i].value!=""){
				//if value adalah value yang terakhir dlm list
				if(i!=(chk.length-1)){
	//				total +="'"+chk[i].value+"',";
					total +=chk[i].value+",";
				}else{
	//					total +="'"+chk[i].value +"'";
						total +=chk[i].value;
				}
				bilcheck=bilcheck+1;
			}
		}
	}else{
		if(chk.checked && chk.value!=""){
			//if value adalah value yang terakhir dlm list
			total =chk.value;
			bilcheck=bilcheck+1;
		}
	}
	
		if(total!=""){
			var msg="Download all files";
			if (confirm(msg)){
				document.f1.action=baseurl+"/users/portfolio/downloadall/chk/"+bilcheck;
				document.f1.submit();
			}
			else return;
		}else{
			alert("Please check at least one box.");
		}
}
</script>
</head>

<body onload="MM_preloadImages('<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg')">
<table width="1024" align="center">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="12" rowspan="4"></td>
        <td height="5" colspan="5"></td>
        <td width="13" rowspan="4"></td>
      </tr>
      <tr>
        <td width="33" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_left.jpg" width="33" height="31" /></td>
        <td width="938" height="31" colspan="3"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_top.jpg" width="938" height="31" /></td>
        <td width="29" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_right.jpg" width="29" height="31" /></td>
        </tr>
      <tr>
        <td width="33" height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_left.jpg" width="33" height="635" /></td>
        <td height="635" colspan="3" valign="top" bgcolor="#142956"><table width="400" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>                </tr>
            </table></td>
          </tr>
        </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="25" height="20">&nbsp;</td>
                  <td colspan="3">&nbsp;</td>
                  </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td width="250" align="left"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_eportfolio_over.jpg" width="133" height="25" /></td>
                  
                  <td align="right"><table width="100%">
                    <tr>
                      <td height="50" align="right" valign="top">&nbsp;
                      <!--<form name="f1" id="f1" method="POST">
                      <select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
                      <option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
                      <option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
				
			</select>
					  </form>-->
                      </td>
                      <td width="95" align="right"><a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout.jpg" name="Image21" width="95" height="25" border="0" id="Image21" /></a></td>
                      <?php
                      $naviauth = new Epic_Controller_Acl(new Epic_Acl());
                      $show = $naviauth->navi("admin", "index", "index");
                      if ($show == 1) {
					  ?>
					  <td width="64" align="right">
                      
                      <a href="<?php
echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin.jpg" name="Image20" width="64" height="25" border="0" id="Image20" /></a>
					 
					 </td>
					 <?php
                      }
					?>
                      <td width="64"><a href="<?php echo $this->baseUrl(); ?>/index/menu" target="_self" onmouseover="MM_swapImage('Image19','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home.jpg" name="Image19" width="64" height="25" border="0" id="Image19" /></a></td>
                      </tr>
                    </table></td>
                  <td width="25" align="right">&nbsp;</td>
                  </tr>
                <tr>
                  <td height="20">&nbsp;</td>
                  <td colspan=2 rowspan="3"><p>
                  
                  <table cellspacing="0" width="100%">
<tr>
<th align="left" colspan="3" class="profile"><?php echo $this->translate('submission_files'); ?></th>
<th align="right" colspan="2">
<a href="<?php
            echo $this->url(
            array('module' => 'users', 'controller' => 'portfolio', 'action' => 'index'), null, FALSE)?>" target="_self" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back.jpg" name="Image20" width="59" height="27" border="0" id="Image20" /></a>
</th>
<tr>
<th align="left" colspan="5">
<hr>
</th>
<form method="POST" name="f1" enctype="multipart/form-data">
<tr>
<th id="mytable" align="left" width="10%">
<?php echo $this->translate('subject'); ?>
</th>

<th width="25%" id="mytable" valign="top" align="left">
<?php echo $this->translate('title'); ?>
</th>

<th width="20%" id="mytable" valign="top" align="left">
<?php echo $this->translate('date_submit'); ?>
</th>


<th width="30%" id="mytable" valign="top" align="left">
<?php echo $this->translate('title'); ?>
</th>

<th width="20%" id="mytable" valign="top" align="left">
<input type="checkbox" name="Check_ctr" value="yes" onClick="CheckAll(document.f1['download[]']);">
<?php echo $this->translate('download'); ?>
</th>
</tr>
	

<?php 
$allasg=$assignment2->allasg ();
//foreach ($this->course as $row) {
foreach ($allasg as $row) {
	$asgcourseid=$row['courseid'];
//	$asgcoursename=$row['coursename'];
	
	$countlist = $assignment2->countlistasg ($asgcourseid);
	foreach ($countlist as $cc){$rownum=$cc["count"];}
	
	$listasg = $assignment2->listasg ($asgcourseid);
	$i=1;
	foreach ($listasg as $listasg) {
		echo "<tr>";
	
		if ($i==1) {?>
			<td id="mytable" valign="top" align="left" rowspan="<?=$rownum?>">
	    		<?php echo $asgcourseid;?>
    		</td>
    	<?php } ?>
    	<td id="mytable" valign="top" align="left">
        <?php echo $listasg['title'];?>
	    </td>
	    
	    <td id="mytable" valign="top" align="left">
	        <?php 
	        if ($listasg["asg_type"]==1){
				$rs=$assignment2->checksubmission($this->username,$listasg['id']);
			}else{
				$rs=$assignment2->checksubmissiongroup($this->username,$listasg['id']);
			}		
			
			if($rs){
				$datesubmit=date_create($rs['datesubmit']);
				$datesubmit=date_format($datesubmit,'D dS M Y');
				$intake = new Admin_Model_Intake();
				$getintake=$intake->fetch($listasg["intakeid"]);
				echo $getintake["description"].": ".$datesubmit."<br><br>";
			}
	        ?>
	    </td>
	    
	    <td id="mytable" valign="top" align="left">
	        <?php 
	        if ($listasg["asg_type"]==1){
				$rs=$assignment2->checksubmission($this->username,$listasg['id']);
			}else{
				$rs=$assignment2->checksubmissiongroup($this->username,$listasg['id']);
			}
			if($rs){
				if($rs["filename"]!=""){
					if ($listasg["asg_type"]==1){
						?>
						<a href="<?php echo $this->url(array('module' => 'assignment', 'controller' => 'index', 'action' => 'viewsubmission', 'courseid' => $row['courseid'], 'id' => $listasg["id"], 'asgtype' => $listasg["asg_type"], 'username' => $this->username), null, FALSE)?>" target="_blank">
						<?php echo $this->translate('individual').": ".$listasg["title"]?></a>
						<?
					}else{?>
					<a href="<?php echo $this->url(array('module' => 'assignment', 'controller' => 'index', 'action' => 'viewsubmission', 'courseid' => $row['courseid'], 'id' => $listasg["id"], 'asgtype' => $listasg["asg_type"], 'username' => $rs["username"]), null, FALSE)?>" target="_blank">
					<?php echo $this->translate('group').": ".$listasg["title"]?></a>
					<?}
					echo "<br><br>";
				}
			}
	        ?>
	    </td>
	    
	    <td id="mytable" valign="top" align="left"><?//=$listasg['id'].$listasg["asg_type"]?>
	    <?php if($rs){?>
	    <input type="checkbox" name="download[]" id="download[]" value="<?php echo $listasg['id'];?>">
	    <?php }?>
	    </td>
	    </tr>
	<?php 
	$i++;
	}
}
?>
<tr>
<td id="mytable" align="right" colspan="5">
<input type="button" value="<?php echo $this->translate('download'); ?>" onclick="downloadall(document.f1['download[]'],'<?php echo $this->username;?>','<?php echo $this->baseUrl(); ?>');">
</td>
</tr>
</form>
</table>
					</p>
                  </td>
                  <td height="20">&nbsp;</td>
                  </tr>
                    <tr>
                      <td height=20>&nbsp;</td>
                      <td height="20">&nbsp;</td>
                      </tr>
                    <tr>
                      <td height=20>&nbsp;</td>
                      <td height="20">&nbsp;</td>
                      </tr>
	 <tr>
	 <td>&nbsp;</td>
	 <td colspan="3"></td>
	 </tr>
	 </table></td>
	 </tr>
	 </table></td>
	 <td height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_right.jpg" width="29" height="635" /></td>
	 </tr>
	 <tr>
	 <td width="33" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_left.jpg" width="33" height="80" /></td>
	 <td width="725" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot1.jpg" width="725" height="80" /></td>
	 <td width="153" height="80"><a href="https://plus.google.com/u/0/b/108548136940287338823/" target="_blank" onmouseover="MM_swapImage('Image18','','<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2.jpg" name="Image18" width="153" height="80" border="0" id="Image18" /></a></td>
	 <td width="60" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot3.jpg" width="60" height="80" /></td>
	 <td width="29" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_right.jpg" width="29" height="80" /></td>
	 </tr>
	 </table></td>
	 </tr>
	 </table>
	 </body>
	 </html>
