<?php
ini_set('memory_limit', '32M');
//phpinfo();
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
$assignment2 = new Assignment_Model_Assignment ();

/*$outputDir=DOC_PATH.'/'.APP_FOLDER.'/upload/assignment'; //Replace "/" with the name of the desired output directory.
$zipName=$this->username."_download.zip";

$zip = new ZipArchive;
$zip->open($outputDir."/".$zipName);*/

?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/global.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
	var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
	if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
	var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
	var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
		d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
		if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
		for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
		if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
	var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body onload="MM_preloadImages('<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg')">
<table width="1024" align="center">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="12" rowspan="4"></td>
        <td height="5" colspan="5"></td>
        <td width="13" rowspan="4"></td>
      </tr>
      <tr>
        <td width="33" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_left.jpg" width="33" height="31" /></td>
        <td width="938" height="31" colspan="3"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_top.jpg" width="938" height="31" /></td>
        <td width="29" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_right.jpg" width="29" height="31" /></td>
        </tr>
      <tr>
        <td width="33" height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_left.jpg" width="33" height="635" /></td>
        <td height="635" colspan="3" valign="top" bgcolor="#FFFFFF"><table width="400" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>                </tr>
            </table></td>
          </tr>
        </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="25" height="20">&nbsp;</td>
                  <td colspan="3">&nbsp;</td>
                  </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td width="250" align="left"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_eportfolio_over.jpg" width="159" height="71" /></td>
                  
                  <td align="right"><table width="100%">
                    <tr>
                      <td height="50" align="right" valign="top">&nbsp;
                      <form name="f1" id="f1" method="POST">
                      <select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
                      <option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
                      <option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
			</select>
					  </form>                      </td>
                      <td width="80" align="center"><a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout.jpg" name="Image21" width="71" height="26" border="0" id="Image21" /></a></td>
                    <?php
                      $naviauth = new Epic_Controller_Acl(new Epic_Acl());
                      $show = $naviauth->navi("admin", "index", "index");
                      if ($show == 1) {
					  ?>  
					<td width="80" align="center"><a href="<?php
echo $this->url(array('module'=>'admin', 'controller' => 'index', 'action' => 'index'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image23','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin.jpg" name="Image23" width="64" height="25" border="0" id="Image23" /></a></td>
					<?php
                      }
					?>
                      <td width="107"><a href="<?php echo $this->baseUrl(); ?>/index/menu" target="_self" onmouseover="MM_swapImage('Image19','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home.jpg" name="Image19" width="107" height="44" border="0" id="Image19" /></a></td>
                      </tr>
                    </table></td>
                  <td width="25" align="right">&nbsp;</td>
                  </tr>
                <tr>
                  <td height="20">&nbsp;</td>
                  <td colspan="3">&nbsp;</td>
                  </tr>
                 <tr>
                  <td height="20">&nbsp;</td>
                  <th align="left" class="profile"><?php echo $this->translate('submission_files'); ?></th>
	 <td align="right"><a href="javascript:history.back(1)" target="_self" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back.jpg" name="Image20" width="59" height="27" border="0" id="Image20" /></a></td>
	 			<td>&nbsp;</td>
	 </tr>
	 <tr>
                  <td height="20">&nbsp;</td>
                  
	 			<td colspan="2"><hr></td>
	 			<td>&nbsp;</td>
	 </tr>
	 <tr>
                  <td height="20">&nbsp;</td>
                  
	 			<td colspan="2">
	 			<table id="mytable" cellspacing="0">
<tr>
<th id="mytable">
<?php echo $this->translate('subject'); ?>
</th>

<th width="180" id="mytable" valign="top">
<?php echo $this->translate('date_submit'); ?>
</th>


<th width="180" id="mytable" valign="top">
<?php echo $this->translate('title'); ?>
</th>


</tr>
	<?php
	foreach ($this->course as $row) {
        ?>
    <tr><td id="mytable" valign="top">
        <?php echo $row['coursename'];?>
    </td>
	
	
   <td id="mytable">
		<?php
		//$i=1;
		//echo $row['courseid'];
		$listasg = $assignment2->listasg ( $row['courseid'] );
		//print_r($listasg);
		foreach ($listasg as $listasg) {
			$rs=$assignment2->checksubmission($this->username,$listasg["id"]);
			if($rs){
			$datesubmit=date_create($rs['datesubmit']);
			$datesubmit=date_format($datesubmit,'D dS M Y');
			echo $datesubmit."<br><br>";
			}
			//$i++;
			
		}
		
		
        ?></td>
        
          
    <td id="mytable">
		<?php
		$listasg = $assignment2->listasg ( $row['courseid'] );
		//print_r($listasg);
		foreach ($listasg as $listasg) {
			$rs=$assignment2->checksubmission($this->username,$listasg["id"]);
			if($rs){
				if($rs["filename"]!=""){
			?>
			<a
			href="/<?php echo PATH_UPLOAD ?>/assignment/<?php echo $row['courseid']?>/<?php echo $listasg["id"]?>/<?php echo $this->username?>/<?php echo $rs["filename"]?>" target="_blank">
			<?php
			echo $listasg["title"];
			?>
			</a>
			<?php
			echo "<br><br>";
			/*$zip->addFile(DOC_PATH."/".APP_FOLDER."/upload/assignment/".$row['courseid']."/".$listasg["id"]."/".$this->username."/".$rs["filename"], $rs["filename"]);*/
			

			
				}
			}
			
		}
		
        ?></td> 
    </tr>
	<?php
	}
/*$fileToZip=DOC_PATH."/".APP_FOLDER."/upload/assignment/COURSE01/20110910023030_gmail.pdf";
$fileToZip1=DOC_PATH."/".APP_FOLDER."/upload/assignment/COURSE01/201109230224_gmail.pdf";
$fileToZip2=DOC_PATH."/".APP_FOLDER."/upload/assignment/COURSE01/201109230227_gmail.pdf";

$directoryToZip=DOC_PATH.'/'.APP_FOLDER.'/upload/assignment/COURSE01/'; // This will zip all the file(s) in this present working directory

$outputDir=DOC_PATH.'/'.APP_FOLDER.'/upload/assignment/'; //Replace "/" with the name of the desired output directory.
$zipName="test.zip";

include_once("CreateZipFile.inc.php");
$createZipFile=new CreateZipFile;
*/
/*
// Code to Zip a single file
$createZipFile->addDirectory($outputDir);
$fileContents=file_get_contents($fileToZip);
$createZipFile->addFile($fileContents, $outputDir.$fileToZip);
*/

//Code toZip a directory and all its files/subdirectories
/*$createZipFile->zipDirectory($directoryToZip,$outputDir);

$rand=md5(microtime().rand(0,999999));
$zipName=$rand."_".$zipName;
$fd=fopen($zipName, "wb");
$out=fwrite($fd,$createZipFile->getZippedfile());
fclose($fd);
$createZipFile->forceDownload($zipName);
@unlink($zipName);*/
	?>
</table>
	 			</td>
	 			<td>&nbsp;</td>
	 </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="2" align="left">
                  
                 </td>
	 <td>&nbsp;</td>
	 </tr>
	 <tr>
	 <td>&nbsp;</td>
	 <td colspan="2"></td>
	 </tr>
	 </table></td>
	 </tr>
	 </table></td>
	 <td height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_right.jpg" width="29" height="635" /></td>
	 </tr>
	 <tr>
	 <td width="33" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_left.jpg" width="33" height="80" /></td>
	 <td width="725" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot1.jpg" width="725" height="80" /></td>
	 <td width="153" height="80"><a href="https://plus.google.com/114506634309831479507" target="_blank" onmouseover="MM_swapImage('Image18','','<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2.jpg" name="Image18" width="153" height="80" border="0" id="Image18" /></a></td>
	 <td width="60" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot3.jpg" width="60" height="80" /></td>
	 <td width="29" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_right.jpg" width="29" height="80" /></td>
	 </tr>
	 </table></td>
	 </tr>
	 </table>
	 </body>
	 </html>