<?php
/* creates a compressed zip file */
function create_zip($files = array(),$destination = '',$overwrite = false) {
	//if the zip file already exists and overwrite is false, return false
	if(file_exists($destination) && !$overwrite) { return false; }

	//vars
	$valid_files = array();
	//$valid_files = array();

	//if files were passed in...
	if(is_array($files)) {
		//cycle through each file
		echo "<pre>";
		print_r($files);
		echo "</pre>";
		$i=0;
		foreach($files as $file) {
			//make sure the file exists
			if(file_exists($file[0])) {
				$valid_files[$i][0] = $file[0];
				$valid_files[$i][1] = $file[1];
				//$valid_files[] = $file;
				$i++;
			}else{
				echo "file doesnt exist";
			}


		}
	}else {
		echo "not array";
	}

	echo "<pre>";
	print_r($valid_files);
	echo "</pre>";
	
	//if we have good files...
	if(count($valid_files)) {
		//create the archive
		$zip = new ZipArchive();
		if($zip->open($destination,$overwrite ? ZIPARCHIVE::OVERWRITE : ZIPARCHIVE::CREATE) !== true) {
			return false;
		}
		//add the files
		foreach($valid_files as $file) {

			$zip->addFile($file[0],$file[1]);
		}
		//debug
		//echo 'The zip archive contains ',$zip->numFiles,' files with a status of ',$zip->status;

		//close the zip -- done!
		$zip->close();

		header("Content-type: application/zip");
		header("Content-Disposition: attachment; filename=$destination");
		header("Pragma: no-cache");
		header("Expires: 0");
		readfile("$destination");
		exit;
	}
	else
	{
		echo "Error";
	}
}

//print_r($this->files_to_zip);

/*foreach($this->files_to_zip as $file) {

echo $file[0]."<br>";
echo $file[1];
}

exit();*/


$result = create_zip($this->files_to_zip,'my-archive.zip',true);



?>
