<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
foreach ( $this->userprofile as $row ) {
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/global.css');
?>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
	var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
	if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
	var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
	var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
		d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
		if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
		for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
		if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
	var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body onload="MM_preloadImages('<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg')">
<table width="1024" align="center">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="12" rowspan="4"></td>
        <td height="5" colspan="5"></td>
        <td width="13" rowspan="4"></td>
      </tr>
      <tr>
        <td width="33" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_left.jpg" width="33" height="31" /></td>
        <td width="938" height="31" colspan="3"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_top.jpg" width="938" height="31" /></td>
        <td width="29" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_right.jpg" width="29" height="31" /></td>
        </tr>
      <tr>
        <td width="33" height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_left.jpg" width="33" height="635" /></td>
        <td height="635" colspan="3" valign="top" bgcolor="#FFFFFF"><table width="400" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>                </tr>
            </table></td>
          </tr>
        </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="25" height="20">&nbsp;</td>
                  <td colspan="3">&nbsp;</td>
                  </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td width="250" align="left"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_eportfolio_over.jpg" width="159" height="71" /></td>
                  
                  <td align="right"><table width="100%">
                    <tr>
                      <td height="50" align="right" valign="top">&nbsp;
                      <form name="f1" id="f1" method="POST">
                      <select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
                      <option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
                      <option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
				
			</select>
					  </form>
                      </td>
                      <td width="80" align="center"><a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout.jpg" name="Image21" width="71" height="26" border="0" id="Image21" /></a></td>
                    <?php
                      $naviauth = new Epic_Controller_Acl(new Epic_Acl());
                      $show = $naviauth->navi("admin", "index", "index");
                      if ($show == 1) {
					  ?>  
					<td width="80" align="center"><a href="<?php
echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image23','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin.jpg" name="Image23" width="64" height="25" border="0" id="Image23" /></a></td>
					<?php
                      }
					?>
                      <td width="107"><a href="<?php echo $this->baseUrl(); ?>/index/menu" target="_self" onmouseover="MM_swapImage('Image19','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home.jpg" name="Image19" width="107" height="44" border="0" id="Image19" /></a></td>
                      </tr>
                    </table></td>
                  <td width="25" align="right">&nbsp;</td>
                  </tr>
                <tr>
                  <td height="20">&nbsp;</td>
                  <td colspan="3">&nbsp;</td>
                  </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="center">
                  
                  <table width="204" border="0" cellspacing="0" cellpadding="0" valign="top" background="<?php echo $this->baseUrl(); ?>/images/course_pg/profile_pic_holder.jpg">
				  <tr>
				    <td height="250">
				    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
				      <tr>
				      <td width="38"></td>  
				      <td height="100"><img width="130" height="180" src="<?php echo "/".PATH_UPLOAD."/photo/".$row ['username']."/thumbnail_pic.jpg";?>" style="float: left; margin-right: 10px;" id="thumbnail" alt="Create Thumbnail" /></td>
				      </tr>
				     
					</table>
					</td>
					</tr>
				</table>
				<a
	 href="<?php
	 echo $this->url(array('module'=>'users' ,'controller' => 'portfolio', 'action' => 'uploadphoto'),'default',true)?>"><?php
	 if (is_file(DOC_PATH."/".APP_FOLDER."/upload/photo/".$row ['username']."/thumbnail_pic.jpg")){
	 	echo $this->translate('click_upload_newphoto');
	 }
	 else {
	 	echo $this->translate('click_upload_photo');
	 }
	 ?>
	 </a>

	 </td>
	 <td valign="top" colspan="3"><table width="500" class="profile">
	 <tr>

	 <th align="left" class="profile"><?php echo $this->translate('profile'); ?></th>
	 <td align="right"><a href="javascript:history.back(1)" target="_self" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back.jpg" name="Image20" width="59" height="27" border="0" id="Image20" /></a></td>
	 </tr>
	 <tr>
	 <td colspan="2">
	 <hr>
	 </td>
	 </tr>

	 <tr >
	 <td colspan="2" align="left" class="profile"><?php echo $this->translate('firstname'); ?> : <?php

	 echo $row ['firstname'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" class="profile"><?php echo $this->translate('lastname'); ?> : <?php
	 echo $row ['lastname'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" class="profile"><?php echo $this->translate('email'); ?> : <?php
	 echo $row ['email'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" class="profile">
	 <form>
	 <input type="button" value="View All Submission Files" onclick="window.location.href='<?php
            echo $this->url(
            array('module' => 'users', 'controller' => 'portfolio', 'action' => 'displaysubmission', 
            'uname' => $row['username']), null, FALSE)?> '">
	 </form>
	 </td>
	 </tr>
	 </table>
	 </td>
	 <td>&nbsp;</td>
	 </tr>
	 <tr>
	 <td>&nbsp;</td>
	 <td colspan="2"></td>
	 </tr>
	 </table></td>
	 </tr>
	 </table></td>
	 <td height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_right.jpg" width="29" height="635" /></td>
	 </tr>
	 <tr>
	 <td width="33" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_left.jpg" width="33" height="80" /></td>
	 <td width="725" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot1.jpg" width="725" height="80" /></td>
	 <td width="153" height="80"><a href="https://plus.google.com/114506634309831479507" target="_blank" onmouseover="MM_swapImage('Image18','','<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2.jpg" name="Image18" width="153" height="80" border="0" id="Image18" /></a></td>
	 <td width="60" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot3.jpg" width="60" height="80" /></td>
	 <td width="29" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_right.jpg" width="29" height="80" /></td>
	 </tr>
	 </table></td>
	 </tr>
	 </table>
	 </body>
	 </html>
	 <?
}
?>