<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
foreach ( $this->userprofile as $row ) {
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/flick/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
<?php
	 if ($this->privilage=="STUDENT") {
	 ?> 
<link rel="stylesheet" href="<?php echo $this->baseUrl()?>/jquery/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen">

<script type="text/javascript" src="<?php echo $this->baseUrl()?>/jquery/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/jquery/js/jquery-ui-1.8.16.custom.min.js"></script>
<?php } ?>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/global.css');
?>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
	var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
	if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
	var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
	var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
		d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
		if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
		for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
		if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
	var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<?php
	 if ($this->privilage=="STUDENT") {
	 ?>
<script>
  $(document).ready(function() {
    $("#dialog").dialog({ autoOpen: false });
    $('#edit-school').click(function() {
            $('#dialog').dialog('open');
        });

    
  });
  

  </script>
<?php } ?>
</head>

<body onload="MM_preloadImages('<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg')">
<?php
	 if ($this->privilage=="STUDENT") {
	 ?>
<div id="dialog" title="<?php echo $this->translate('school'); ?>">
<?php
echo $this->form;
?>
</div>
<?php } ?>
<table width="1024" align="center">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="12" rowspan="4"></td>
        <td height="5" colspan="5"></td>
        <td width="13" rowspan="4"></td>
      </tr>
      <tr>
        <td width="33" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_left.jpg" width="33" height="31" /></td>
        <td width="938" height="31" colspan="3"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_top.jpg" width="938" height="31" /></td>
        <td width="29" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_right.jpg" width="29" height="31" /></td>
        </tr>
      <tr>
        <td width="33" height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_left.jpg" width="33" height="635" /></td>
        <td height="635" colspan="3" valign="top" bgcolor="#142956"><table width="400" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>                </tr>
            </table></td>
          </tr>
        </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="25" height="20">&nbsp;</td>
                  <td colspan="3">&nbsp;</td>
                  </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td width="250" align="left"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_eportfolio_over.jpg" width="133" height="25" /></td>
                  
                  <td align="right"><table width="100%">
                    <tr>
                      <td height="50" align="right" valign="top">&nbsp;
                      <!--<form name="f1" id="f1" method="POST">
                      <select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
                      <option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
                      <option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
				
			</select>
					  </form>-->
                      </td>
                      <td width="95" align="right"><a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout.jpg" name="Image21" width="95" height="25" border="0" id="Image21" /></a></td>
                      <?php
                      $naviauth = new Epic_Controller_Acl(new Epic_Acl());
                      $show = $naviauth->navi("admin", "index", "index");
                      if ($show == 1) {
					  ?>
					  <td width="64" align="right">
                      
                      <a href="<?php
echo $this->url(array('module'=>'admin', 'controller' => 'index', 'action' => 'index'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin.jpg" name="Image20" width="64" height="25" border="0" id="Image20" /></a>
					 
					 </td>
					 <?php
                      }
					?>
                      <td width="64"><a href="<?php echo $this->baseUrl(); ?>/index/menu" target="_self" onmouseover="MM_swapImage('Image19','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home.jpg" name="Image19" width="64" height="25" border="0" id="Image19" /></a></td>
                      </tr>
                    </table></td>
                  <td width="25" align="right">&nbsp;</td>
                  </tr>
                <tr>
                  <td height="20">&nbsp;</td>
                  <td colspan="3">&nbsp;</td>
                  </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="center" valign="top">
                  
                  <table width="204" border="0" cellspacing="0" cellpadding="0" valign="top" bgcolor="#0aa3ff" >
				  <tr>
				    <td height="250" >
				    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
				      <tr>
				      <td width="38"></td>  
				      <td height="100"><img width="130" height="180" src="<?php echo "/".PATH_UPLOAD."/photo/".$row ['username']."/thumbnail_pic.jpg";?>" style="float: left; margin-right: 10px;" id="thumbnail" alt="<?php echo $this->translate('please_upload_photo')?>" /></td>
				      </tr>
				     
					</table>
					</td>
					</tr>
				</table>
				<a class='portfoliolink'
	 href="<?php
	 echo $this->url(array('module'=>'users' ,'controller' => 'portfolio', 'action' => 'uploadphoto'),'default',true)?>"><?php
	 if (is_file(DOC_PATH."/".APP_FOLDER."/upload/photo/".$row ['username']."/thumbnail_pic.jpg")){
	 	echo $this->translate('click_upload_newphoto');
	 }
	 else {
	 	echo $this->translate('click_upload_photo');
	 }
	 ?>
	 </a>

	 </td>
	 <td valign="top" colspan="3"><table width="500" class="profile2">
	 <tr>

	 <th align="left" class="profile2"><?php echo $this->translate('profile'); ?></th>
	 <td align="right"><!--<a href="<?php
            echo $this->url(
            array('controller' => 'index', 'action' => 'coursepage', 'id' => $this->courseid), 'default',true)?>" target="_self" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back.jpg" name="Image20" width="59" height="27" border="0" id="Image20" /></a>--></td>
	 </tr>
	 <tr>
	 <td colspan="2">
	 <hr>
	 </td>
	 </tr>

	 <tr >
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('fullname'); ?> : <?php

	 echo $row ['firstname'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" class="profile2"> NRIC : <?php
	 echo $row ['studentID'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('email'); ?> : <?php
	 echo $row ['username']."@oum.edu.my";
	 ?></td>
	 </tr>
	 <?php
	 if ($this->privilage=="STUDENT") {
	 ?>
	  <tr>
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('intake'); ?> : <?php
	 echo $row ['intake'];
	 ?></td>
	 </tr>
	  <tr>
	 <th align="left" class="profile2"><?php echo $this->translate('school'); ?></th>
	 <td align="right"> <?php
            echo "<img style='cursor: pointer; cursor: hand;' id='edit-school' src='".$this->baseUrl()."/images/btn-edit.gif'>"?></td>
	 </tr>
	 <tr>
	 <td colspan="2">
	 <hr>
	 </td>
	 </tr>
	  <tr>
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('current_school_name'); ?> : <?php
	 echo $row ['school_name'];
	 ?></td>
	 </tr>
	  <tr>
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('address'); ?> 1 : <?php
	 echo $row ['school_address1'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('address'); ?> 2 : <?php
	 echo $row ['school_address2'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('postcode'); ?>  : <?php
	 echo $row ['school_postcode'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('city'); ?>  : <?php
	 echo $row ['school_city'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('state'); ?>  : <?php
	 echo $row ['school_state'];
	 ?></td>
	 </tr>
	  <tr>
	 <td colspan="2" align="left" class="profile2"><?php echo $this->translate('school_contact_number'); ?>  : <?php
	 echo $row ['school_number'];
	 ?></td>
	 </tr>
	 <?php } ?>
	 <tr>
	 <td colspan="2" align="left" class="profile2">
	 <?php
	 if ($this->privilage=="STUDENT") {
	 ?>
	 <form>
	 <input type="button" value="<?php echo $this->translate('view_all'); ?> <?php echo $this->translate('submission_files'); ?>" onclick="window.location.href='<?php
            echo $this->url(
            array('module' => 'users', 'controller' => 'portfolio', 'action' => 'displaysubmission', 
            'uname' => $row['username']), null, FALSE)?> '">
	 </form>
	 <?php
	 }
	 ?>
	 </td>
	 </tr>
	 </table>
	 </td>
	 <td>&nbsp;</td>
	 </tr>
	 <tr>
	 <td>&nbsp;</td>
	 <td colspan="2"></td>
	 </tr>
	 </table></td>
	 </tr>
	 </table></td>
	 <td height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_right.jpg" width="29" height="635" /></td>
	 </tr>
	 <tr>
	 <td width="33" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_left.jpg" width="33" height="80" /></td>
	 <td width="725" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot1.jpg" width="725" height="80" /></td>
	 <td width="153" height="80"><a href="https://plus.google.com/u/0/b/108548136940287338823/" target="_blank" onmouseover="MM_swapImage('Image18','','<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2.jpg" name="Image18" width="153" height="80" border="0" id="Image18" /></a></td>
	 <td width="60" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot3.jpg" width="60" height="80" /></td>
	 <td width="29" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_right.jpg" width="29" height="80" /></td>
	 </tr>
	 </table></td>
	 </tr>
	 </table>
	 </body>
	 </html>
	 <?
}
?>