<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
foreach ( $this->userprofile as $row ) {
?>

<?php
 if ($this->privilage=="STUDENT") {
 ?>
<script>
  $(document).ready(function() {
  	$("#dialog").dialog({ autoOpen: false });
    $('#edit-school').click(function() {
            $('#dialog').dialog('open');
        });

    
  });
</script>
<?php } ?>
        	<div id="user_images">
            	<?php
    $userID= $row ['username'];
				$thumbnailexists=APPLICATION_PATH . "/../upload". "/photo/".$userID."/thumbnail_pic.jpg";
				//echo $thumbnailexists;
				if (file_exists($thumbnailexists)) {
				?>
				<img width="80" height="80" src="<?php echo "/".PATH_UPLOAD."/photo/".$userID."/thumbnail_pic.jpg";?>" border="1" style="float: right;  margin-right: 4px; margin-top: 15px;" id="thumbnail" alt="<?php echo $this->translate('please_upload_photo')?>" /> 
				<?php } else { ?>
				<img width="80" height="80" src="<?php echo $this->baseUrl(); ?>/images/nouser/nouser.png" border="1" style="float: right; margin-right: 4px; margin-top: 15px;" id="thumbnail" alt="<?php echo $this->translate('please_upload_photo')?>" /> 
	
				
				<?php }  ?>
				</div>
            	
				<div id="user_profile2">
				<?php //echo $this->translate('click_upload_photo'); ?>
				<a href="<?php
				 echo $this->url(array('module'=>'users' ,'controller' => 'portfolio', 'action' => 'uploadphoto'),'default',true)?>"><?php
				 if (is_file(DOC_PATH."/".APP_FOLDER."/upload/photo/".$row ['username']."/thumbnail_pic.jpg")){
				 	echo $this->translate('click_upload_newphoto');
				 }
				 else {
				 	echo $this->translate('click_upload_photo');
				 }
				 ?> </a>
				</div>
            	
	
	                                           
	 <div id="user_profile3">
     <table width="100%" class="profile2">
	 <tr>

	 <th align="left" ><?php echo $this->translate('profile'); ?></th>
	 <td align="right"></td>
	 </tr>
	 <tr>
	 <td colspan="2">
	 <hr>
	 </td>
	 </tr>

	 <tr >
	 <td colspan="2" align="left" ><?php echo $this->translate('fullname'); ?> : <?php

	 echo $row ['firstname'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" > NRIC : <?php
	 echo $row ['studentID'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" ><?php echo $this->translate('email'); ?> : <?php
	 echo $row ['username']."@oum.edu.my";
	 ?></td>
	 </tr>
	 <?php
	 if ($this->privilage=="STUDENT") {
	 ?>
	  <tr>
	 <td colspan="2" align="left" ><?php echo $this->translate('intake'); ?> : <?php
	 echo $row ['intake'];
	 ?></td>
	 </tr>
	  <tr>
	 <th align="left" ><?php echo $this->translate('school'); ?></th>
	 <td align="right"> <?php
            echo "<img style='cursor: pointer; cursor: hand;' id='edit-school' src='".$this->baseUrl()."/images/btn-edit.gif'>"?></td>
	 </tr>
	 <tr>
	 <td colspan="2">
	 <hr>
	 </td>
	 </tr>
	  <tr>
	 <td colspan="2" align="left" ><?php echo $this->translate('current_school_name'); ?> : <?php
	 echo $row ['school_name'];
	 ?></td>
	 </tr>
	  <tr>
	 <td colspan="2" align="left" ><?php echo $this->translate('address'); ?> 1 : <?php
	 echo $row ['school_address1'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" ><?php echo $this->translate('address'); ?> 2 : <?php
	 echo $row ['school_address2'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" ><?php echo $this->translate('postcode'); ?>  : <?php
	 echo $row ['school_postcode'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" ><?php echo $this->translate('city'); ?>  : <?php
	 echo $row ['school_city'];
	 ?></td>
	 </tr>
	 <tr>
	 <td colspan="2" align="left" ><?php echo $this->translate('state'); ?>  : <?php
	 echo $row ['school_state'];
	 ?></td>
	 </tr>
	  <tr>
	 <td colspan="2" align="left" ><?php echo $this->translate('school_contact_number'); ?>  : <?php
	 echo $row ['school_number'];
	 ?></td>
	 </tr>
	 <?php } ?>
	 <tr>
	 <td colspan="2" align="left" >
	 <?php
	 if ($this->privilage=="STUDENT") {
	 ?>
	 <form>
	 <input type="button" value="<?php echo $this->translate('view_all'); ?> <?php echo $this->translate('submission_files'); ?>" onclick="window.location.href='<?php
            echo $this->url(
            array('module' => 'users', 'controller' => 'portfolio', 'action' => 'displaysubmission', 
            'uname' => $row['username']), null, FALSE)?> '">
	 </form>
	 <?php
	 }
	 ?>
	 </td>
	 </tr>
	 </table>
	 </td>
	 <td>&nbsp;</td>
	 </tr>
	 <tr>
	 <td>&nbsp;</td>
	 <td colspan="2"></td>
	 </tr>
	 </table></td>
	 </tr>
	 </table>
	 </div>
            
	<div class="bg"></div>
       

<?
}
?>
