<?php
ini_set('memory_limit', '-1');
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/global.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/style.css');
?>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery-pack.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery.imgareaselect-0.3.min.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
	var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
	if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
	var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
	var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
		d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
		if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
		for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
		if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
	var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body onload="MM_preloadImages('<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_back_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg')">
<table width="1024" align="center">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="12" rowspan="4"></td>
        <td height="5" colspan="5"></td>
        <td width="13" rowspan="4"></td>
      </tr>
      <tr>
        <td width="33" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_left.jpg" width="33" height="31" /></td>
        <td width="938" height="31" colspan="3"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_top.jpg" width="938" height="31" /></td>
        <td width="29" height="31"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/top_right.jpg" width="29" height="31" /></td>
        </tr>
      <tr>
        <td width="33" height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_left.jpg" width="33" height="635" /></td>
        <td height="635" colspan="3" valign="top" bgcolor="#142956"><table width="400" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>                </tr>
            </table></td>
          </tr>
        </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="25" height="20">&nbsp;</td>
                  <td colspan="3">&nbsp;</td>
                  </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td width="250" align="left"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_eportfolio_over.jpg" width="133" height="25" /></td>
                  
                  <td align="right"><table width="100%">
                    <tr>
                      <td height="50" align="right" valign="top">&nbsp;
                      <!--<form name="f1" id="f1" method="POST">
                      <select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
                      <option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
                      <option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
				
			</select>
					  </form>-->
                      </td>
                      <td width="95" align="right"><a href="<?php
echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_signout.jpg" name="Image21" width="95" height="25" border="0" id="Image21" /></a></td>
                      <?php
                      $naviauth = new Epic_Controller_Acl(new Epic_Acl());
                      $show = $naviauth->navi("admin", "index", "index");
                      if ($show == 1) {
					  ?>
					  <td width="64" align="right">
                      
                      <a href="<?php
echo $this->url(array('module'=>'admin', 'controller' => 'index', 'action' => 'index'),'default',true)?>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image20','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin_over.jpg',1)"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_admin.jpg" name="Image20" width="64" height="25" border="0" id="Image20" /></a>
					 
					 </td>
					 <?php
                      }
					?>
                      <td width="64"><a href="<?php echo $this->baseUrl(); ?>/index/menu" target="_self" onmouseover="MM_swapImage('Image19','','<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/btn_home.jpg" name="Image19" width="64" height="25" border="0" id="Image19" /></a></td>
                      </tr>
                    </table></td>
                  <td width="25" align="right">&nbsp;</td>
                  </tr>
                
                <tr>
                  <td>&nbsp;</td>
                  
                  <td valign="top" colspan="4" align="left">
                  
<?php
//Display error message if there are any
echo "<br><a href=\"javascript:history.back(1)\" target=\"_self\" onmouseover=\"MM_swapImage('Image20','','".$this->baseUrl()."/images/course_pg/btn_back_over.jpg',1)\" onmouseout=\"MM_swapImgRestore()\"><img src=\"".$this->baseUrl()."/images/course_pg/btn_back.jpg\" name=\"Image20\" width=\"59\" height=\"27\" border=\"0\" id=\"Image20\" /></a><br>";
?>
<div class="wrapper" align="center">
<div class="upload-box">
<h1>Upload Image & Create Thumbnail using PHP</h1>
<h2>Choose <b>Jpeg/Gif/Png</b> file to upload:</h2>
<form action="" method="post" enctype="multipart/form-data">
<label><input type="file" name="image" id="fileField" /></label>
<input name="submit" type="submit" value="Upload" class="upload" />
</form>	
</div>
<?php
if(isset($_POST['submit'])){
	// Declaring variables for the image operation
	$imageName=$_FILES['image']['name'];
	$imageType=$_FILES['image']['type'];
	$imageSize=$_FILES['image']['size'];
	$imageTemp=$_FILES['image']['tmp_name'];
	$mime_explode=explode('/',$imageType);
	$mime=$mime_explode[1];
	/*if($mime=='jpeg'){
		$mime='jpg';
	}*/
	// Renaming the uploaded image to unique name so that it will not overwrite if the same file with same name is uploded for next time
	$unique_name=ceil((rand()*rand()/100)*rand());
	$upload_dir = DOC_PATH."/".APP_FOLDER."/upload/photo";
	if(!is_dir($upload_dir)){
		mkdir($upload_dir, 0777);
		chmod($upload_dir, 0777);
	}

	foreach ( $this->userprofile as $row ) {

		$username=$row['username'];
	}

	$upload_dir = DOC_PATH."/".APP_FOLDER."/upload/photo/".$username; 	// The directory for the images to be saved in

	if(!is_dir($upload_dir)){
		mkdir($upload_dir, 0777);
		chmod($upload_dir, 0777);
	}
	
	$upload_path = $upload_dir."/";				// The path to where the image will be saved
	$large_image_name = "resized_pic.jpg"; 		// New name of the large image
	$thumb_image_name = "thumbnail_pic.jpg"; 	// New name of the thumbnail image

	$originalPath=$upload_path.$large_image_name;
	$thumbPath=$upload_path.$thumb_image_name;
	
	if (file_exists($originalPath)) {
		unlink($originalPath);
	}
	if (file_exists($thumbPath)) {
		unlink($thumbPath);
	}
	
	$size=round(($imageSize/1024)/1024,2);
	list($width,$height,$type)=getimagesize($imageTemp);
	// creating a completely new image for the uploaded image thumbnail
	//if($mime=='jpg' || $mime=='jpeg'){
		$src = imagecreatefromjpeg($imageTemp);
	/*} else if($mime=='png'){
		$src = imagecreatefrompng($imageTemp);
	} else{
		$src = imagecreatefromgif($imageTemp);
	}*/
	// denoting the image colour;
	$thumb_img=imagecreatetruecolor(250,150);
	imagecopyresampled($thumb_img,$src,0,0,0,0,250,150,$width,$height);
	// The number 100 in the right side of the bottom active code line effect the quality of image
	/*
	* 100 - Maximum Quality
	* 80 - High Quality
	* 60 - Medium Quality
	* 40 - Low Quality
	*/
	if(imagejpeg($thumb_img,$thumbPath,100)){
		move_uploaded_file($imageTemp,$originalPath);
?>
<div class="uploaded-info">
<h1>Upload Info:</h1>
<div class="img-bound"><div class="uploaded-img"></div>
<img src="<?php echo "/".PATH_UPLOAD."/photo/".$username."/thumbnail_pic.jpg";?>" height="150" width="250" />
</div>
<div class="info">
<span><b>Original Name::</b> <?php echo $unique_name.".$mime"; ?></span>
<span><b>Type::</b> <?php echo $mime; ?></span>
<span><b>Size::</b> <?php echo $size; ?> MB</span>
<span><b>Width::</b> <?php echo $width; ?> px</span>
<span><b>Height::</b> <?php echo $height; ?> px</span>
<span><b>Thumbnail Location::</b> <a href="<?php echo "/".PATH_UPLOAD."/photo/".$username."/thumbnail_pic.jpg";?>" target="_blank">Thumbnail Image</a></span>
<span><b>Original Location::</b> <a href="<?php echo "/".PATH_UPLOAD."/photo/".$username."/resized_pic.jpg";?>" target="_blank">Original Image</a></span>
</div>
</div>	
<?php

	}
}

?>	
			</td>
                  <td>&nbsp;</td>
                  </tr>
                
              </table></td>
            </tr>
          </table></td>
        <td height="635"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ver_right.jpg" width="29" height="635" /></td>
        </tr>
      <tr>
        <td width="33" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_left.jpg" width="33" height="80" /></td>
        <td width="725" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot1.jpg" width="725" height="80" /></td>
        <td width="153" height="80"><a href="https://plus.google.com/u/0/b/108548136940287338823/" target="_blank" onmouseover="MM_swapImage('Image18','','<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2_over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hot_bot2.jpg" name="Image18" width="153" height="80" border="0" id="Image18" /></a></td>
        <td width="60" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/hor_bot3.jpg" width="60" height="80" /></td>
        <td width="29" height="80"><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/bot_right.jpg" width="29" height="80" /></td>
        </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
