<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
$session = new Zend_Session_Namespace('language');
$dir = $session->lang_dir != ''? " dir='".$session->lang_dir."'":'';

$useSidebar = $this->layout()->nosidebar == 1 ? 0 : 1;

$base = '/public/phpchat';
$uri = $this->baseUrl().'/chat/index/index/courseid/'.$this->course['id'].'/title/'.$this->roomname;

require_once "/data/lms/htdocs/public/phpchat/src/phpfreechat.class.php";

foreach($_SESSION as $ses => $ses_val )
{
	if ( preg_match("/pfc/", $ses) )
	{
		//unset($_SESSION[$ses]);
	}
}

$chatmodel = new Chat_Model_Chat();

$chatrooms = $chatmodel->getChats();

$channels = array();

foreach ( $chatrooms as $crow )
{
	if ( $crow['coursecode'].' - '.$crow['title'] != $this->course['coursecode'].' - '.$this->roomname )
	{
		$channels[] = $crow['coursecode'].' - '.$crow['title'];
	}
}

$channels[] = $this->course['coursecode'].' - '.$this->roomname;

$params = array();
$params["serverid"]       = md5(__FILE__.$this->course['code'].'-'.$this->roomname); // calculate a unique id for this chat
$params["title"]          = $this->translate('chat');
$params["nick"]           = $this->username;  // setup the intitial nickname
$params["channels"]  	  = array($this->course['coursecode'].'-'.$this->roomname);
//$params["channels"] = $channels;

$params["quit_on_closedwindow"] =true;

if ( in_array($this->privilage, array('EOS','COURSE COORDINATOR','ADMIN')) )
{
	$params['isadmin'] = true;
}

// setup urls
$params["data_public_url"]   = $base."/data/public";
$params["server_script_url"] = $uri;
$params["theme_default_url"] = $base."/themes";

// setup paths
$params["container_type"]         = "File";
$params["container_cfg_chat_dir"] = PUBLIC_PATH."/phpchat/data/private/chat";

$chat = new phpFreeChat( $params );
?>
<!DOCTYPE html>
<html<?php echo $dir ?>>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php 
if ( $this->title != '' )
{
    $this->headTitle()->append($this->page_title);
}
echo $this->headTitle();
?>
<link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<?php
// ->appendStylesheet($this->baseUrl().'/css/multisitesearch.css')
$this->headLink()->prependStylesheet($this->baseUrl().'/css/style.css')
				 ->appendStylesheet($this->baseUrl().'/font/entypo/entypo.css')
				 ->appendStylesheet($this->baseUrl().'/jquery/css/smoothness/jquery-ui-1.10.3.custom.min.css')
				  ->appendStylesheet($this->baseUrl().'/js/fancy/jquery.fancybox.css');

// $this->headLink()->appendStylesheet($this->baseUrl().'/css/table.css');
$this->headScript()->appendFile($this->baseUrl().'/jquery/js/jquery-1.6.2.min.js')
				   ->appendFile($this->baseUrl().'/jquery/js/jquery-ui-1.10.3.custom.min.js')
				   ->appendFile($this->baseUrl().'/js/ckeditor4/ckeditor.js')
				   ->appendFile($this->baseUrl().'/js/modernizr.js')
				   ->appendFile($this->baseUrl().'/js/fancy/jquery.fancybox.pack.js')
				   ->appendFile($this->baseUrl().'/js/global.js');
				   

echo $this->headLink();
echo "\n";
echo $this->headScript();

$chat->printJavascript();
$chat->printStyle();

//<!--[if IE 9]><![endif]--> some ie hack if needed
?>

</head>
<body<?php echo $session->lang_dir == 'rtl' ? ' id="rtl"':'' ?>>

<header id="header">
	<a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'home'),'default',true)?>" class="logo" title="Maktab Koperasi Malaysia"><img src="<?php echo $this->baseUrl(); ?>/images/logo-mkm.png" alt="" /></a>
	
	<?php 
	if (Zend_Auth::getInstance()->hasIdentity())
	{
		$storage = Zend_Registry::get('auth')->getStorage();
		$data = $storage->read();
	?>
	<div id="signout">
		<?php if ( $data->privilage == 'student' ) {?>
		<a href="/student-portal/public/index/logout"><span class="icon icon-lock-open"></span> <?php echo $this->translate('signout')?></a>
		<?php } else { ?>
		<a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><span class="icon icon-lock-open"></span> <?php echo $this->translate('signout')?></a>
		<?php } ?>
	</div>
	<?php 
	}
	?>
</header>

<nav id="main-nav" role="navigation" class="cf">
	<ul class="menu">
		<li<?php echo $this->active=='' ? ' class="active"':''?>><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'home'),'default',true)?>"><?php echo $this->translate('home')?></a></li>
		<!--  <li><a target="_blank" href="<?php echo $this->url(array('controller' => 'index', 'action' => 'myvlegmail'),'default',true)?>"><?php echo $this->translate('email')?></a></li> -->
		<li<?php echo $this->active=='catalog' ? ' class="active"':''?>><a href="<?php echo $this->url(array('module' => 'catalog', 'controller' => 'index', 'action' => 'index'),'default',true)?>"><?php echo $this->translate('catalog')?></a></li>
		<?php
		$naviauth = new Epic_Controller_Acl(new Epic_Acl());
		$show = $naviauth->navi("admin", "index", "index");
		if ($show == 1)
		{
		?>
		<li<?php echo $this->active=='admin' ? ' class="active"':''?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index' ),'default',true)?>"> <?php echo $this->translate('admin')?></a></li>
		<?php
		}
		?>
	</ul>
	
	<div class="language">
		<form name="f1" id="f1" method="post">
		<select class="select" style="width:150px;" onchange="window.location = '?lang=' + this.options[this.selectedIndex].value">
		<option value=""> - </option>
		<?php 
		$langlist = new Epic_LangSelector();
		$language_list = $langlist->Get_All_Language_List();
		if($language_list != false)
		{
			foreach( $language_list as $languageKey => $languageVal)
			{
				?>
				<option value="<?=$languageKey?>" <?php echo ($this->locale== $languageKey)?"selected='selected'":""; ?>><?=$this->escape($languageVal[0])?></option>
				<?php 
			}
		}
		?>
		</select>
		</form>					               
	 </div>
</nav>
<?php if ( $show == 1 && $this->active == 'admin' ) {?>
<nav class="submenu">
	<ul>
	<li><a href="<?php echo $this->url(array('module' => 'users' , 'controller' => 'index', 'action' => 'index'),'default',true)?>" ><span class="icon icon-users"></span> <?php echo $this->translate('manage_user')?></a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin' , 'controller' => 'organisation' , 'action' => 'property'),'default',true)?>" ><span class="icon icon-flow-tree"></span> <?php echo $this->translate('manage_organisation')?></a></li>
        <li><a href="<?php echo $this->url(array('module' => 'course' , 'controller' => 'index' , 'action' => 'listcourse'),'default',true)?>" ><span class="icon icon-book"></span> <?php echo $this->translate('manage_course')?></a></li>
        <!--  removed <li><a href="<?php echo $this->url(array('module' => 'assignment' , 'controller' => 'markentry' , 'action' => 'management'),'default',true)?>" ><span class="icon icon-doc-text"></span> <?php echo $this->translate('manage_assignment')?></a></li>  -->
        <li><a href="<?php echo $this->url(array('module' => 'languageset' , 'controller' => 'configurer'),'default',true)?>" ><span class="icon icon-megaphone"></span> <?php echo $this->translate('manage_languages')?></a></li>
        <!--  <li><a href="<?php echo $this->url(array('module' => 'admin' , 'controller' => 'index' , 'action' => 'report'),'default',true)?>" ><span class="icon icon-attention"></span> <?php echo $this->translate('manage_report')?></a></li> -->
	</ul>
</nav>
<?php } ?>	    
<div id="main" class="wrap cf">
<!-- main -->
	<div id="content" class="full">
	<!-- content -->
	
	<div class="page-opt">
		<a href="<?php echo $this->url(array('module' => 'block' , 'controller' => 'index', 'action' => 'block','courseid' => $this->course['id']),'default',true)?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('course')?> <?php echo $this->course['id']?> </a>
	</div>

	<h2 class="pagetitle"><?php echo $this->course['coursename']?> - <?php echo $this->roomname ?></h2>
	
	<div class="chat-container">
	
	<?php $chat->printChat(); ?>
	
	<script type="text/javascript">
	window.onbeforeunload = function() {
		pfc.sendRequest('/quit');
	};
	
	</script>
	
	</div>
	<!-- /content -->
	</div>
	
<!-- /main -->
</div>
<footer id="footer">
	<div class="foot-wrap">
	<div class="copyright"> &copy; 2012-<?php echo date('Y') ?> Meteor Technology &amp; Consultancy Sdn.Bhd. <?php echo $this->translate('right_reserved')?></div>
	<!-- <div class="best_viewed"> <?php echo $this->translate('best_view_with')?> Internet Explorer Version 7.0+  <?php echo $this->translate('best_reso_in')?> 1024x768 </div> -->
	</div>
</footer>
</body>
</html>
<?php 
function xcurl($url,$ref=null,$post=array(),$ua="Mozilla/5.0 (X11; Linux x86_64; rv:2.2a1pre) Gecko/20110324 Firefox/4.2a1pre",$print=false) {
	$ch = curl_init();
	curl_setopt($ch, CURLOPT_AUTOREFERER, true);
	if(!empty($ref)) {
		curl_setopt($ch, CURLOPT_REFERER, $ref);
	}
	curl_setopt($ch, CURLOPT_URL, $url);
	curl_setopt($ch, CURLOPT_HEADER, 0);
	curl_setopt($ch, CURLOPT_FOLLOWLOCATION, 1);
	curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
	if(!empty($ua)) {
		curl_setopt($ch, CURLOPT_USERAGENT, $ua);
	}
	if(count($post) > 0){
		curl_setopt($ch, CURLOPT_POST, 1);
		curl_setopt($ch, CURLOPT_POSTFIELDS, $post);	
	}
	$output = curl_exec($ch);
	curl_close($ch);
	if($print) {
		print($output);
	} else {
		return $output;
	}
}
?>