<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>

<?php
$this->jQuery()->enable();
		 
$this->jQuery()->addStylesheet($this->baseUrl().'/jquery/css/smoothness/jquery-ui-1.8.16.custom.css');
$this->jQuery()->setLocalPath($this->baseUrl().'/jquery/js/jquery-1.6.2.min.js');
$this->jQuery()->setUiLocalPath($this->baseUrl().'/jquery/js/jquery-ui-1.8.16.custom.min.js');
$this->jQuery()->setUiLocalPath($this->baseUrl().'/jquery/js/dojo.js');
$this->jQuery()->setUiLocalPath($this->baseUrl().'/jquery/js/global.js');




echo $this->jQuery();
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
echo $this->headScript()->appendFile($this->baseUrl().'/ckeditor/ckeditor_basic.js');

?>

</head>
<body>
<?
echo $this->layout()->content
?>
</body>
</html>