<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo APP_TITLE;?></title>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
 <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
<?php
// echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/lms postgrades_style.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');

echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/multisitesearch.css');
 

/*echo $this->headLink()->prependStylesheet($this->baseUrl().'/jquery/css/smoothness/jquery-ui-1.8.16.custom.css');
echo $this->headScript()->appendFile($this->baseUrl().'/jquery/js/jquery-1.6.2.min.js');
echo $this->headScript()->appendFile($this->baseUrl().'/jquery/js/jquery-ui-1.8.16.custom.min.js');*/
echo $this->headScript()->appendFile($this->baseUrl().'/ckeditor/ckeditor.js');

//echo $this->headScript()->appendFile($this->baseUrl().'/js/dialog-patch.js');
?>


<script language="javascript">
function forIconSearch(action,img){
	
//document.getElementById('multisearchFormIcon').target = "_blank";
document.getElementById('multisearchFormIcon').action = action;
document.getElementById('Iconselectedsearch').src=img;
}
</script>
<script>
  $(document).ready(function() {
  	
  	/*var $dialog = $('<div></div>')
        .html('This dialog will show every time!')
        .dialog({
                autoOpen: false,
                title: 'Basic Dialog',
                width: 460
        });*/

    $('.opener').click(function() {
    	//var msg = $(this).next('input[type=hidden]').val();
    	var msg = $(this).parent().find('input[type=hidden]').val();
    	var title = $(this).html();
    	
    	$dialog.dialog( "option", "title", title )
    	$dialog.html(msg);
    	
        $dialog.dialog('open');
    });
    
  	/*$("#container-1" ).tabs({
    select: function(event, ui) {
        var url = $.data(ui.tab, 'load.tabs');
        if( url ) {
        	window.open(url,"","dependent=no,width=600,height=600,resizable=yes,scrollbars=yes");
            return false;
        }
        return true;
	    }
	});*/

    
  });
</script>
</head>
<body>
	<div id="wrapper">
	
	  
	   <div id="header">
        	<div class="logo"><img src="<?php echo $this->baseUrl(); ?>/images/ustlogo.png" alt="logos"/></div>
        	<div class="emeducation"><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/logo-emeducation.png" width="270" height="50" alt="meducation"  border="0"/></a></div>
        	
<!--            <div class="web_tittle"><img src="<?php echo $this->baseUrl(); ?>/images/web_tittle.png" width="165" height="12" alt="web tittle" /></div>-->
            
            <div class="logout">
	            <div class="logout_content">
		            <a href="<?php
					echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><img src="<?php echo $this->baseUrl(); ?>/images/cgsvle/signout.png" width="20" height="19" alt="logout"  border="0"/></a> <a href="<?php
					echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><?php echo $this->translate('signout')?></a>
				</div>
			</div>
 		</div>  <!-- END DIV HEADER-->   
 		
 		
 	    <div id="content">
 	    
             <div id="menu">
               
                 <div id="navigation"> <!-- =======================START DIV NAVIGATION=======================-->  
                    <ul>
                        <li class="active"><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'home'),'default',true)?>"><?php echo $this->translate('home')?></a></li>
					                        
					                        
					                        <li><a target="_blank" href="<?php
					echo $this->url(array('controller' => 'index', 'action' => 'myvlegmail'),'default',true)?>"><?php echo $this->translate('email')?></a></li>
					                       
					                        <?php
					                        $naviauth = new Epic_Controller_Acl(new Epic_Acl());
					                        $show = $naviauth->navi("admin", "index", "index");
					                        if ($show == 1) {
										  ?>
					<li><a href="<?php
					echo $this->url(array('module' => 'users', 'controller' => 'index', 'action' => 'index' ),'default',true)?>"> Admin</a></li>
					 <?php
					                        }
										?>
					 </ul>
					 </div> <!-- =======================END DIV NAVIGATION==============================--> 
					 
					 
					 
					 
					 <div class="language">
					<form name="f1" id="f1" method="POST">
					<select style="width:150px;" onChange="window.location = '?lang=' + this.options[this.selectedIndex].value">
					<option value="en" <?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English</option>
					<option value="ms" <?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Bahasa Melayu</option>
					</select>
					</form>					               
					 </div>
					<!-- ======================= END DIV LANGUAGE ======================= -->  
					 
					 
					 
					  <!-- =========================== START DIV MULTISEARCH ====================== -->  
					 
					<div class="multisearch">
                <form name="multisearch" action="<?php
					echo $this->url(array('controller' => 'index' , 'action' => 'google', 'act' => 'search'),null, FALSE)?>" id="multisearchFormIcon" method="get">
					<ul class="ws_drop_down">
						<li><a href="#" style="width:40px;" title="Global Search"><img src="<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif" width="16px" height="16px" id="Iconselectedsearch"></span>
					    <![if gt IE 6]>
					    </a>
					    <![endif]>
					    <!--[if lte IE 6]><table><tr><td><![endif]-->
					    <ul class='ws_drop_downm'>
					      <!--<li><a href="javascript:void(0);" onclick="forIconSearch('http://www.google.com/search?q=','<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif');" title="Search Google">Google</a></li>
					      <li><a href="javascript:void(0);" onclick="forIconSearch('http://www.youtube.com/results?q=','<?php echo $this->baseUrl(); ?>/images/multisitesearch/youtube.png');" title="Search Youtube">Youtube</a></li>
					      --><li><a href="javascript:void(0);" onclick="forIconSearch('<?php
					echo $this->url(array('controller' => 'index' , 'action' => 'google', 'act' => 'search'),null, FALSE)?>/','<?php echo $this->baseUrl(); ?>/images/multisitesearch/Google.gif');" title="Search Google">Google</a></li>
					      <li><a href="javascript:void(0);" onclick="forIconSearch('<?php
					echo $this->url(array('controller' => 'index' , 'action' => 'youtube', 'act' => 'search'),null, FALSE)?>/','<?php echo $this->baseUrl(); ?>/images/multisitesearch/youtube.png');" title="Search Youtube">Youtube</a></li>
						  
					    </ul>
					    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
					    </li>
					</ul>
					<input class="multisearchInput" name="q" type="text" value="<?php echo $this->translate('type_enter')?>" onFocus="this.value=''"/></form>
					
					                
					</div>
					<!-- END DIV MULTISEARCH-->  
					
					
			  </div>  <!-- END DIV MENU-->  
			  
			 <!--  <div id="greeting">
			   <h1>Welcome Users!</h1>-->
			    <?php
    					//echo "<p>".$this->translate('welcome').' '.$this->translate('users')." : <span class=bluefont>".$this->username."</span><br />";?>
                        <?php
    					//echo $this->translate('last_login_on')?>
<!--    					<br /><span class="bluefont">-->
    					<?php 
    					//echo  $this->lastlogin."<br>";
    					//echo date("l jS F Y h:i:s a", strtotime($this->lastlogin));
    					?>
<!--    					</span></p> 
			   </div>-->
            <div id="right">
          	 <?php echo $this->layout()->content ?>
    					
           </div>

			
			   
	    <!-- ================== START ANNOUNCEMENT ================== -->  
 	 	    <div id="left">
            	
 	 	    	<div id="leftbox2">   
                 	<div class="headerbar">
                    	<div class="important_icon"><img src="<?php echo $this->baseUrl(); ?>/images/courseicons.png" width="43" height="39" border="0"/></div>
                        <h4>Course Tools</h4>
                       
                    <ul>
                        <li><a href="<?php
echo $this->url(array('module' =>'content' , 'controller' => 'index' , 'action' => 'courseinfo', 'courseid' =>$this->courseid),'default', true)?>" ><?php echo $this->translate('courseinfo')?></a></li>
                        <!--<li><a href="<?php
echo $this->url(array('module' => 'resources' , 'controller' => 'index' , 'action' => 'index', 'courseid' => $this->courseid),'default', true)?>" target="content">Learning Kit</a></li>-->
						<li><a href="<?php
echo $this->url(array('module' => 'block' , 'controller' => 'index' , 'action' => 'block', 'courseid' => $this->courseid ),'default', true)?>"><?php echo $this->translate('block')?></a></li>
                        <li><a href="<?php
echo $this->url(array('module' => 'forum' , 'controller' => 'index' , 'action' => 'listgroup', 'courseid' => $this->courseid),'default', true)?>" ><?php echo $this->translate('forum')?></a></li>
                        <li><a href="<?php
echo $this->url(array('module' => 'qbank' , 'controller' => 'index' , 'action' => 'index' , 'courseid' => $this->courseid),'default', true)?>" ><?php echo $this->translate('qbank')?></a></li>
						<?php if ($this->privilage=="COURSE COORDINATOR" || $this->privilage=="ADMIN") { ?>
                    	<li><a href="<?php
						echo $this->url(array('module' => 'assignment' , 'controller' => 'index' , 'action' => 'index', 'courseid' => $this->courseid),'default', true)?>" ><?php echo $this->translate('assignment')?></a></li>
						  
						<?php } else {?>
						<li><a href="<?php
						echo $this->url(array('module' => 'assignment' , 'controller' => 'index' , 'action' => 'indexstudent', 'courseid'=> $this->courseid),'default', true)?>" ><?php echo $this->translate('assignment')?></a></li>
						
						<?php } ?>
						
                        
                        
                    </ul>
         
                        
                    </div>           
				 </div>
        
				<div id="leftbox1">   
           	    <div class="headerbar">
                    	<div class="important_icon"><img src="<?php echo $this->baseUrl(); ?>/images/important.png" width="33" height="33" border="0"/></div>
                        <h4>Anouncement</h4>
                        
                        <table border="0" cellspacing="1" cellpadding="5" >		<!-- width="50%" bgcolor="#EFEFEF" -->				
							<tr>								
								<td><?php echo $this->translate('Update Announcement')?></td>
							</tr>
							<?php if(isset($this->announcement)){
					                    foreach ($this->announcement as $announcement){
					                    	$announceid=$announcement["id"];
					                    	$announcetitle=$announcement["title"];
					                    	$announcedetails=$announcement["details"];
					                    	$announcedate=$announcement["date"];
					                    }?>
							<tr>
								<td bgcolor="#FFFFFF">
								 <?php 
								 echo date("jS F Y", strtotime($announcedate)).'<br>';
								 echo $announcetitle.':<br>';
								 echo $announcedetails;
								  ?>
								</td>								
							</tr>
							<?php  } ?>
							<tr>								
								<td><a href=""><?php echo $this->translate('More')?>...</a></td>
							</tr>
						
					</table>
                    </div>       
				 </div> 
                 
                          
                <!--<div class="bluebars">
                	<h2>User Tools</h2>
                </div>-->
                                       
               
                
                
                
                                                           
            </div>
    
    </div></div>
    
      <div id="footer">
     	<div class="white_footer">
        	<div class="copyright"> ©2012 meteor technology & consultancy sdn.bhd. <?php echo $this->translate('right_reserved')?></div>
          <div class="best_viewed"> <?php echo $this->translate('best_view_with')?> Internet Explorer Version 7.0+  <?php echo $this->translate('best_reso_in')?> 1024x768 </div>
        </div>
     </div>  
     
</body>
</html>



