<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo APP_TITLE;?></title>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->

<?php
// echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/lms postgrades_style.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/jquery/css/smoothness/jquery-ui-1.8.16.custom.css');
echo $this->headScript()->appendFile($this->baseUrl().'/jquery/js/jquery-1.6.2.min.js');
echo $this->headScript()->appendFile($this->baseUrl().'/jquery/js/jquery-ui-1.8.16.custom.min.js');

?>

<?php
// Some code
$timeLeft = $this->timer;
?>
<script type="text/javascript">
var timeLeft = <?=$timeLeft?>; // minutes
var timer = window.setInterval(function() {
    timeLeft--;
    var minutesLeft = Math.floor(timeLeft / 60);
    var secondsLeft = timeLeft % 60;
    $('#timer').val(minutesLeft + ':' + secondsLeft);
    if (timeLeft == 0) {
        alert('<?php echo $this->translate('time_out'); ?>');
    	submittest();
    	//window.clearInterval(timer);
        // do some ajax thing
    }
}, 1000);
</script>

</head>
<body>
<br><br>

<table width="96%" border="0">
<tr>
<td align="right">
<?php echo $this->translate('time_left'); ?> : <input type="text" id="timer" name="timer" size="10"><br><br>
</td>
</tr>
</table>

<?php echo $this->layout()->content ?>

</body>
</html>