<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
$session = new Zend_Session_Namespace('language');
$dir = $session->lang_dir != ''? " dir='".$session->lang_dir."'":'';

$useSidebar = $this->layout()->nosidebar == 1 ? 0 : 1;
?>
<!DOCTYPE html>
<html<?php echo $dir ?>>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php 
if ( $this->title != '' )
{
    $this->headTitle()->append($this->page_title);
}
echo $this->headTitle();
?>
<link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<?php
// ->appendStylesheet($this->baseUrl().'/css/multisitesearch.css')
$this->headLink()->prependStylesheet($this->baseUrl().'/css/style.css')
				 ->appendStylesheet($this->baseUrl().'/font/entypo/entypo.css')
				 ->appendStylesheet($this->baseUrl().'/jquery/css/smoothness/jquery-ui-1.10.3.custom.min.css')
				  ->appendStylesheet($this->baseUrl().'/js/fancy/jquery.fancybox.css');

// $this->headLink()->appendStylesheet($this->baseUrl().'/css/table.css');
$this->headScript()->appendFile($this->baseUrl().'/jquery/js/jquery-1.6.2.min.js')
				   ->appendFile($this->baseUrl().'/jquery/js/jquery-ui-1.10.3.custom.min.js')
				   ->appendFile($this->baseUrl().'/js/ckeditor4/ckeditor.js')
				   ->appendFile($this->baseUrl().'/js/modernizr.js')
				   ->appendFile($this->baseUrl().'/js/fancy/jquery.fancybox.pack.js')
				   ->appendFile($this->baseUrl().'/js/global.js');
if ( $useSidebar == 1 )
{			   
	$this->headScript()->appendFile($this->baseUrl().'/js/tick.min.js');
}

echo $this->headLink();
echo "\n";
echo $this->headScript();

if ( $useSidebar == 1 )
{
	?>
	<script type="text/javascript">
	$(function(){
		$('#announcements').vTicker();
	});
	</script>
	<?php 
}

//<!--[if IE 9]><![endif]--> some ie hack if needed
?>

</head>
<body<?php echo $session->lang_dir == 'rtl' ? ' id="rtl"':'' ?>>

<header id="header">
	<a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'home'),'default',true)?>" class="logo" title="Maktab Koperasi Malaysia"><img src="<?php echo $this->baseUrl(); ?>/images/logo-mkm.png" alt="" /></a>
	
	<?php 
	if (Zend_Auth::getInstance()->hasIdentity())
	{
		$storage = Zend_Registry::get('auth')->getStorage();
		$data = $storage->read();
	?>
	<div id="signout">
		<?php if ( $data->privilage == 'student' ) {?>
		<a href="/student-portal/public/index/logout"><span class="icon icon-lock-open"></span> <?php echo $this->translate('signout')?></a>
		<?php } else { ?>
		<a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><span class="icon icon-lock-open"></span> <?php echo $this->translate('signout')?></a>
		<?php } ?>
	</div>
	<?php 
	}
	?>
</header>

<nav id="main-nav" role="navigation" class="cf">
	<ul class="menu">
		<li<?php echo $this->active=='' ? ' class="active"':''?>><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'home'),'default',true)?>"><?php echo $this->translate('home')?></a></li>
		<!--  <li><a target="_blank" href="<?php echo $this->url(array('controller' => 'index', 'action' => 'myvlegmail'),'default',true)?>"><?php echo $this->translate('email')?></a></li> -->
		<li<?php echo $this->active=='catalog' ? ' class="active"':''?>><a href="<?php echo $this->url(array('module' => 'catalog', 'controller' => 'index', 'action' => 'index'),'default',true)?>"><?php echo $this->translate('catalog')?></a></li>
		<?php
		$naviauth = new Epic_Controller_Acl(new Epic_Acl());
		$show = $naviauth->navi("admin", "index", "index");
		if ($show == 1)
		{
		?>
		<li<?php echo $this->active=='admin' ? ' class="active"':''?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index' ),'default',true)?>"> <?php echo $this->translate('admin')?></a></li>
		<?php
		}
		?>
	</ul>
	
	<div class="language">
		<form name="langsel" id="langsel" method="post">
		<select class="select" style="width:150px;" onchange="window.location = '?lang=' + this.options[this.selectedIndex].value">
		<option value=""> - </option>
		<?php 
		$langlist = new Epic_LangSelector();
		$language_list = $langlist->Get_All_Language_List();
		if($language_list != false)
		{
			foreach( $language_list as $languageKey => $languageVal)
			{
				?>
				<option value="<?=$languageKey?>" <?php echo ($this->locale== $languageKey)?"selected='selected'":""; ?>><?=$this->escape($languageVal[0])?></option>
				<?php 
			}
		}
		?>
		</select>
		</form>				               
	 </div>
</nav>
<?php if ( $show == 1 && $this->active == 'admin' ) {?>
<nav class="submenu">
	<ul>
	<li><a href="<?php echo $this->url(array('module' => 'users' , 'controller' => 'index', 'action' => 'index'),'default',true)?>" ><span class="icon icon-users"></span> <?php echo $this->translate('manage_user')?></a></li>
        <li><a href="<?php echo $this->url(array('module' => 'admin' , 'controller' => 'organisation' , 'action' => 'property'),'default',true)?>" ><span class="icon icon-flow-tree"></span> <?php echo $this->translate('manage_organisation')?></a></li>
        <li><a href="<?php echo $this->url(array('module' => 'course' , 'controller' => 'index' , 'action' => 'listcourse'),'default',true)?>" ><span class="icon icon-book"></span> <?php echo $this->translate('manage_course')?></a></li>
        <!--  removed <li><a href="<?php echo $this->url(array('module' => 'assignment' , 'controller' => 'markentry' , 'action' => 'management'),'default',true)?>" ><span class="icon icon-doc-text"></span> <?php echo $this->translate('manage_assignment')?></a></li>  -->
        <li><a href="<?php echo $this->url(array('module' => 'languageset' , 'controller' => 'configurer'),'default',true)?>" ><span class="icon icon-megaphone"></span> <?php echo $this->translate('manage_languages')?></a></li>
        <!--  <li><a href="<?php echo $this->url(array('module' => 'admin' , 'controller' => 'index' , 'action' => 'report'),'default',true)?>" ><span class="icon icon-attention"></span> <?php echo $this->translate('manage_report')?></a></li> -->
	</ul>
</nav>
<?php } ?>	    
<div id="main" class="wrap cf">
<!-- main -->
	<div id="content"<?php echo $useSidebar == 0 ? ' class="full"':''?>>
	<!-- content -->
	 <?php echo $this->layout()->content ?>
	<!-- /content -->
	</div>
	
	<?php if ( $useSidebar == 1 ) { ?>
	<div id="sidebar">
	<!-- sidebar -->
	<?php if (Zend_Auth::getInstance()->hasIdentity())
	{
	?>
	<div class="box">
		<h3><span class="icon icon-vcard"></span> <?php echo $this->translate('profile')?></h3>
		<div class="box-content">
			
			<div class="user-img">
			<?php
            $userID = $this->username;
            $thumbnailexists=APPLICATION_PATH . "/../upload". "/photo/".$userID."/thumbnail_pic.jpg";
            //echo $thumbnailexists;
            if (file_exists($thumbnailexists))
            {
			?>
				<img width="60" height="60" src="<?php echo "/".PATH_UPLOAD."/photo/".$userID."/thumbnail_pic.jpg";?>" id="thumbnail" alt="<?php echo $this->translate('please_upload_photo')?>" /> 
			<?php
			}
			else
			{
			?>
				<img width="60" height="60" src="<?php echo $this->baseUrl(); ?>/images/nouser/nouser.png" id="thumbnail" alt="<?php echo $this->translate('please_upload_photo')?>" /> 
			<?php 
			}
			?>
			</div>
			
			<div class="user-welcome">
				<p><?php echo $this->translate('welcome')." <strong>".$this->username."</strong>"?></p>
				<p><?php echo $this->translate('last_login_on')?> <strong><?php echo date("l jS F Y h:i:s a", strtotime($this->lastlogin)); ?></strong></p>
			</div>

			<div class="user-profile">
				<ul class="arrow">
					<li> <a href="<?php echo $this->url(array('module' => 'users' ,'controller' => 'portfolio', 'action' => 'index'),'default',true)?>"><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('eportfolio')?></a></li>
					<li><a href="<?php echo $this->url(array('module' => 'users' ,'controller' => 'index', 'action' => 'changepassword'),'default',true)?>"><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('change_password')?></a></li>
					<!--  <li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'myreadinglist'),'default',true)?>"><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('my_reading_list')?></a></li>  -->
				</ul>
			</div>
		</div>
	</div>
	<?php
	} // logged in ?
	
	if ( $this->course_tools == 1 )
	{
	?>
	<div class="box admintools">
		<h3><span class="icon icon-book"></span> <?php echo $this->translate('course_tools')?></h3>
		<div class="box-content">
			<ul class="arrow">
            	<li><a href="<?php echo $this->url(array('module' =>'content' , 'controller' => 'index' , 'action' => 'courseinfo', 'courseid' =>$this->courseid),'default', true)?>"><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('courseinfo')?></a></li>
               	<li><a href="<?php echo $this->url(array('module' => 'block' , 'controller' => 'index' , 'action' => 'block', 'courseid' => $this->courseid ),'default', true)?>"><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('block')?></a></li>
               	<!--  <li><a href="<?php echo $this->url(array('module' => 'forum' , 'controller' => 'index' , 'action' => 'listgroup', 'courseid' => $this->courseid),'default', true)?>" ><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('forum')?></a></li> -->
               	<li><a href="<?php echo $this->url(array('module' => 'forum' , 'controller' => 'index' , 'action' => 'listforum', 'courseid' => $this->courseid),'default', true)?>" ><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('forum')?></a></li> 
               	<li><a href="<?php echo $this->url(array('module' => 'qbank' , 'controller' => 'index' , 'action' => 'index' , 'courseid' => $this->courseid),'default', true)?>"><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('qbank')?></a></li>
				<?php if ($this->privilage=="COURSE COORDINATOR" || $this->privilage=="ADMIN") { ?>
				<li><a href="<?php echo $this->url(array('module' => 'announcement' , 'controller' => 'courseann' , 'action' => 'list' , 'courseid' => $this->courseid),'default', true)?>"><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('course_announcement')?></a></li>
               	<li><a href="<?php echo $this->url(array('module' => 'assignment' , 'controller' => 'index' , 'action' => 'index', 'courseid' => $this->courseid),'default', true)?>"><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('assignment')?></a></li>
			   	<?php } else {?>
			   	<li><a href="<?php echo $this->url(array('module' => 'assignment' , 'controller' => 'index' , 'action' => 'index', 'courseid'=> $this->courseid),'default', true)?>"><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('assignment')?></a></li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<?php 
	}
	
    $naviauth = new Epic_Controller_Acl(new Epic_Acl());
    $show = $naviauth->navi("users", "index", "upload");
	if ($show == 523512351)
	{
	?>
	<div class="box admintools">
		<h3><span class="icon icon-tools"></span> <?php echo $this->translate('admin_tools')?></h3>
		<div class="box-content">
			 <ul class="arrow">         
                    <li><a href="<?php echo $this->url(array('module' => 'users' , 'controller' => 'index', 'action' => 'index'),'default',true)?>" ><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('manage_user')?></a></li>
                    <li><a href="<?php echo $this->url(array('module' => 'admin' , 'controller' => 'organisation' , 'action' => 'property'),'default',true)?>" ><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('manage_organisation')?></a></li>
                    <li><a href="<?php echo $this->url(array('module' => 'course' , 'controller' => 'index' , 'action' => 'listcourse'),'default',true)?>" ><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('manage_course')?></a></li>
                    <li><a href="<?php echo $this->url(array('module' => 'assignment' , 'controller' => 'markentry' , 'action' => 'management'),'default',true)?>" ><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('manage_assignment')?></a></li>
                    <li><a href="<?php echo $this->url(array('module' => 'languageset' , 'controller' => 'configurer'),'default',true)?>" ><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('manage_languages')?></a></li>
                    <li><a href="<?php echo $this->url(array('module' => 'admin' , 'controller' => 'index' , 'action' => 'report'),'default',true)?>" ><span class="icon icon-<?php echo $session->lang_dir == 'rtl' ? 'left':'right'?>-dir"></span> <?php echo $this->translate('manage_report')?></a></li>
             </ul>
		</div>
	</div>
	<?php 
	}
	?>
	 
	<div class="box">
		<h3><span class="icon icon-megaphone"></span> <?php echo $this->translate('announcement')?></h3>
		<div class="box-content">
		<div id="announcements">
		<ul>
		<!--  announcement -->			
		<?php
		$annDB =  new Application_Model_Announcement();
			
		if ( $this->courseid != '' )
		{
			$condition = array('type'=>2,'courseid'=>$this->courseid,'target'=>$data->privilage,'tlimit'=>5,'orderby'=>'id desc'); //course annoucem
			$moreurl = $this->url(array('module' =>'announcement' , 'controller' => 'courseann' , 'action' => 'listmore', 'courseid' => $this->courseid),'default', true);
		}
		else
		{
			$condition = array('type'=>1,'target'=>$data->privilage,'tlimit'=>5,'orderby'=>'id desc'); //general annoucement
			$moreurl = $this->url(array('module' =>'announcement' , 'controller' => 'generalann' , 'action' => 'listmore'),'default', true);
		}	
		
		
		$list_announcement = $annDB->listannouncement($condition);
		
		//print_R($condition);
		
		if (count($list_announcement)>0)
		{
			foreach ($list_announcement as $announcement)
			{
				$announceid=$announcement["id"];
				$announcetitle=$announcement["title"];					                    
				$announcedate=$announcement["start_date"];
		
				?>
				<li>
		 			<a href="<?php echo $this->baseUrl()?>/announcement/courseann/anndetails/id/<?php echo $announceid?>/courseid/<?php echo $this->courseid?>" class="fancybox.ajax"><?php echo $announcetitle?></a>
		 			<span class="date"><?php echo date("jS F Y", strtotime($announcedate)); ?></span>
		 		</li>
			<?php
			} // foreach
		}
		else
		{
			?>
			<li><?php echo $this->translate('no_announcements')?></li>
			<?php 
		}
		?>
		</ul>
		<p class="more"><a href="<?php echo $moreurl?>"><?php $this->translate('more')?></a></p>
		
		</div>
		<!--  /announcement -->
		</div>
	</div>


	<!--  <div class="box">
		<h3><span class="icon icon-chat"></span> <?php echo $this->translate('shoutbox')?></h3>
		<div class="box-content">

		</div>
	</div>  -->

	<!-- /sidebar -->
	</div>
	<?php } ?>
		
<!-- /main -->
</div>
<footer id="footer">
	<div class="foot-wrap">
	<div class="copyright"> &copy; 2012-<?php echo date('Y') ?> Meteor Technology &amp; Consultancy Sdn.Bhd. <?php echo $this->translate('right_reserved')?></div>
	<!-- <div class="best_viewed"> <?php echo $this->translate('best_view_with')?> Internet Explorer Version 7.0+  <?php echo $this->translate('best_reso_in')?> 1024x768 </div> -->
	</div>
</footer>
</body>
</html>