<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();

$session = new Zend_Session_Namespace('session');
$dir = $session->lang_dir != ''? " dir='".$session->lang_dir."'":'';
?>
<!DOCTYPE html>
<html<?php echo $dir ?>>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo htmlspecialchars( APP_TITLE );?></title>
<link rel="shortcut icon" href="<?php echo $this->baseUrl()?>/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<?php
// 
$this->headLink()->prependStylesheet($this->baseUrl().'/css/style.css')
				 ->appendStylesheet($this->baseUrl().'/font/entypo/entypo.css')
				 
				 ->appendStylesheet($this->baseUrl().'/css/reject.css');

// $this->headLink()->appendStylesheet($this->baseUrl().'/css/table.css');
$this->headScript()->appendFile('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
				   ->appendFile($this->baseUrl().'/js/modernizr.js')

				   
				   ->appendFile($this->baseUrl().'/js/jreject.js');

echo $this->headLink();
echo "\n";
echo $this->headScript();
?>

</head>
<body<?php echo $session->lang_dir == 'rtl' ? ' id="rtl"':'' ?>>
<div class="logintpl">
<header id="header">
	<a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'home'),'default',true)?>" class="logo" title="Maktab Koperasi Malaysia"><img src="<?php echo $this->baseUrl(); ?>/images/logo-mkm.png" alt="" /></a>
	<?php if (Zend_Auth::getInstance()->hasIdentity())
	{
	?>
	<!--  <div id="signout">
		<a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'logout'),'default',true)?>"><span class="icon icon-logout"></span> <?php echo $this->translate('signout')?></a>
	</div> -->
	<?php 
	}
	?>
	<div class="language">
		<form name="f1" id="f1" method="post">
		<select class="select" style="width:150px;" onchange="window.location = '?lang=' + this.options[this.selectedIndex].value">
		<option value=""> - </option>
		<?php 
		$langlist = new Epic_LangSelector();
		$language_list = $langlist->Get_All_Language_List();
		if($language_list != false)
		{
			foreach( $language_list as $languageKey => $languageVal)
			{
				?>
				<option value="<?=$languageKey?>" <?php echo ($this->locale== $languageKey)?"selected='selected'":""; ?>><?=$this->escape($languageVal[0])?></option>
				<?php 
			}
		}else{
		?>
		<option value="en" <?php echo $this->locale=="en"?"selected='selected'":""; ?>>English</option>
		<option value="ms" <?php echo $this->locale=="ms"?"selected='selected'":""; ?>>Malay</option>
		<?php 	
		}
		?>
		</select>
	</form>					               
 </div>
</header>



	    
<div id="homemain" class="wrap cf">
<!-- main -->
<?php echo $this->layout()->content ?>
<!-- /main -->
</div>
</div>

<footer id="footer">
	<div class="wrap">
	<div class="foot-wrap">
	<div class="copyright"> &copy; 2012-<?php echo date('Y') ?> Meteor Technology &amp; Consultancy Sdn.Bhd. <?php echo $this->translate('right_reserved')?></div>
	<!-- <div class="best_viewed"> <?php echo $this->translate('best_view_with')?> Internet Explorer Version 7.0+  <?php echo $this->translate('best_reso_in')?> 1024x768 </div> -->
	</div>
	</div>
</footer>

<script type="text/javascript">

    $.reject(
   	{  
   		reject : 
   	   	{  
	        msie5: true, 
	        msie6: true,
	        msie7:true,
	        msie8:true 
   		},
        display: ['chrome','firefox','msie'],  
        imagePath: '/lms/public/images/browsers/',
        overlayBgColor: '#fff',
        header: '<?php echo $this->translate('error_browseroutdated')?>',
        paragraph1: '<?php echo $this->translate('error_browseroutdated2')?>',  
        paragraph2: '',  
        close: true,
        closeMessage: '',  
        closeLink: 'Not Now'  
    });  

</script>
</body>
</html>


