<?php
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
$session = new Zend_Session_Namespace('language');
$dir = $session->lang_dir != ''? " dir='".$session->lang_dir."'":'';

$useSidebar = $this->layout()->nosidebar == 1 ? 0 : 1;
?>
<!DOCTYPE html>
<html<?php echo $dir ?>>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php 
if ( $this->title != '' )
{
    $this->headTitle()->append($this->page_title);
}
echo $this->headTitle();
?>
<link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<?php
// ->appendStylesheet($this->baseUrl().'/css/multisitesearch.css')
$this->headLink()->prependStylesheet($this->baseUrl().'/css/style.css')
				 ->appendStylesheet($this->baseUrl().'/font/entypo/entypo.css')
				 ->appendStylesheet($this->baseUrl().'/jquery/css/smoothness/jquery-ui-1.10.3.custom.min.css')
				  ->appendStylesheet($this->baseUrl().'/js/fancy/jquery.fancybox.css');

// $this->headLink()->appendStylesheet($this->baseUrl().'/css/table.css');
$this->headScript()->appendFile($this->baseUrl().'/jquery/js/jquery-1.6.2.min.js')
				   ->appendFile($this->baseUrl().'/jquery/js/jquery-ui-1.10.3.custom.min.js')
				   ->appendFile($this->baseUrl().'/js/ckeditor4/ckeditor.js')
				   ->appendFile($this->baseUrl().'/js/modernizr.js')
				   ->appendFile($this->baseUrl().'/js/fancy/jquery.fancybox.pack.js')
				   ->appendFile($this->baseUrl().'/js/global.js');
if ( $useSidebar == 1 )
{			   
	$this->headScript()->appendFile($this->baseUrl().'/js/tick.min.js');
}

echo $this->headLink();
echo "\n";
echo $this->headScript();

if ( $useSidebar == 1 )
{
	?>
	<script type="text/javascript">
	$(function(){
		$('#announcements').vTicker();
	});
	</script>
	<?php 
}

//<!--[if IE 9]><![endif]--> some ie hack if needed
?>

</head>
<body<?php echo $session->lang_dir == 'rtl' ? ' id="rtl"':'' ?>>

<header id="header">
	<a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'home'),'default',true)?>" class="logo" title="Maktab Koperasi Malaysia"><img src="<?php echo $this->baseUrl(); ?>/images/logo-mkm.png" alt="" /></a>
	

</header>

<nav id="main-nav" role="navigation" class="cf">
	
		
</nav>
    
<div id="main" class="wrap cf">
<!-- main -->
	<div id="content"<?php echo $useSidebar == 0 ? ' class="full"':''?>>
	<!-- content -->
	 <?php echo $this->layout()->content ?>
	<!-- /content -->
	</div>
	
	
		
<!-- /main -->
</div>
<footer id="footer">
	<div class="foot-wrap">
	<div class="copyright"> &copy; 2012-<?php echo date('Y') ?> Meteor Technology &amp; Consultancy Sdn.Bhd. <?php echo $this->translate('right_reserved')?></div>
	<!-- <div class="best_viewed"> <?php echo $this->translate('best_view_with')?> Internet Explorer Version 7.0+  <?php echo $this->translate('best_reso_in')?> 1024x768 </div> -->
	</div>
</footer>
</body>
</html>