<?php
include_once('setcal.php');
?>
<SCRIPT LANGUAGE="JavaScript">

function EnableCalendarDiv()
{
	var ni = document.getElementById('calendardiv');
	
	ni.style.display = "inline";
	
}

function DisableCalendarDiv()
{

	var ni = document.getElementById('calendardiv');
	
	ni.style.display = "none";

}
</script>

<div id="contentonly">
        
        
        <form name="form1" method="post">
  <table width="80%" id="data_border">
    <tr>
      <td><table width="100%" border="0" cellpadding="2" cellspacing="0" bordercolor="#000000">
      
      	
        <tr>
            <td valign="middle" ><strong><font color="#333333" size="1" face="Verdana, Arial, Helvetica, sans-serif"><?php echo $this->translate("keyword")?></font></strong></td>
            <td valign="middle" > <font size="1" face="Verdana, Arial, Helvetica, sans-serif">
            <input name="keyworduser" type="text" id="keyworduser" value="<?php echo $this->keyworduser ?>">
            </font></td>
        </tr>
        
        <tr>
			<td valign="middle"><?php echo $this->translate("use_spec_date")?></td>
			<td valign="middle">
			
				<input type="radio"  onClick="DisableCalendarDiv();"  <?php if ($this->useDate==0 || $this->useDate=="") echo "CHECKED";?> value="0" name="useDate"><?php echo $this->translate("no")?>
				<input type="radio"  onClick="EnableCalendarDiv();"   <?php if ($this->useDate==1) echo "CHECKED";?> value="1" name="useDate"><?php echo $this->translate("yes")?>
			</td>
			
		</tr>
		<tr>
		<td colspan="2">
		<div id="calendardiv" name="calendar div" <?php if ($this->useDate==1) {echo 'style="display: inline"';} else {echo 'style="display: none"';}?>>
		<table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#000000">
		<tr>
	        <td width="20%" valign="middle" >&nbsp;<INPUT TYPE="hidden" NAME="chkStartDate">
            <?php echo $this->translate("start_display")?></td>
			<td valign="middle" >
			<input type="text"  name="start_date" id="start_date" readonly="1" value="<?php echo $this->start_date?>"/><img src="<?php echo $this->baseUrl()?>/zpcal/themes/icons/calendar4.gif" id="button8a" style="cursor: pointer; border: 1px solid red;" title="Date selector" onMouseOver="this.style.background='red';" onMouseOut="this.style.background=''" /></td>
			</tr>
		<tr>
	        <td valign="middle">&nbsp;<INPUT TYPE="hidden" NAME="chkEndDate">
            <?php echo $this->translate("stop_display")?></td>
			<td valign="middle">
			<input type="text" name="end_date" id="end_date"  readonly="1" value="<?php echo $this->end_date?>"/><img src="<?php echo $this->baseUrl()?>/zpcal/themes/icons/calendar4.gif" id="button8b" style="cursor: pointer; border: 1px solid blue;" title="Date selector" onMouseOver="this.style.background='blue';" onMouseOut="this.style.background=''" /></td>
			</tr>
		</table>
		<script language="JavaScript" src="<?php echo $this->baseUrl(); ?>/js/daterange.js"></script>
		</div>	
		</td>
		</tr>
			
        <tr>
            <td><strong><font color="#333333" size="1" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font></strong></td>
            <td > <font size="1" face="Verdana, Arial, Helvetica, sans-serif">
            <input name="Submit" type="submit" value="<?php echo $this->translate("search")?>">
            </font></td>
        </tr>
        </table></td>
    </tr>
  </table>
<font color="#000000" size="1" face="Verdana, Arial, Helvetica, sans-serif"><?php echo $this->translate("tips")?><br>
  <?php echo $this->translate("forum_mesg1")?> </strong></font><strong><font color="#000000">.</font>
</form>
        
        <br>
        <br>
        
        

<?php
$monitoring = new Users_Model_Monitoring ();

if (count($this->paginator)){ 
?>
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" width="25"><?php echo $this->translate('no'); ?></th>
<th id="mytable"><?php echo $this->translate('fullname'); ?></th>
<th id="mytable"><?php echo $this->translate('no_of_login'); ?> </th>
</tr>
<?
$i=0;


foreach ($this->paginator as $row) {
	
	echo "<tr><td id='mytable'>";

	echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$i;
	
	echo "</td>";
	echo "<td id='mytable'>";

	echo $row['firstname'];
	
	echo "</td>";

	
	
	echo "<td id='mytable'>";
	
	$billogin=$monitoring->countlogin($row['userID'],$this->useDate,$this->start_date,$this->end_date);
	
	
	if ($billogin!=0){
    ?>
		<a target="_blank"
		href="<?php
            echo $this->url(
            array('module' => 'users', 'controller' => 'monitoring', 'action' => 'framepage1', 
            'userid' => $row['userID'], 'usedate' => $this->useDate, 'start_date' => $this->start_date, 'end_date' => $this->end_date), 'default', true)?>">
	<?php
    }
	echo $billogin;
	
	if ($billogin!=0){
    ?>
		</a>
	<?php
    }

	
	echo "</td><tr>";
	
	$i++;
	
}
?>

</table>

<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'paginationspecial2.phtml',$this->searchParams);
?>
<?php } 

?>

</div>