<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>
</head>
<body>

<br>
<table id="mytable" style='table-layout:fixed; width:100%' cellspacing="0">
<tr>
<th id="mytable" width="25"><?php echo $this->translate('no'); ?></th>
<th id="mytable" width="25"><?php echo $this->translate('userid'); ?></th>
<th id="mytable"><?php echo $this->translate('ip'); ?> </th>
<th id="mytable"><?php echo $this->translate('browser'); ?> </th>
<th id="mytable"><?php echo $this->translate('os'); ?> </th>
<th id="mytable"><?php echo $this->translate('login_date'); ?> </th>
<th id="mytable"><?php echo $this->translate('logout_date'); ?> </th>
</tr>

<?php


$user = new Users_Model_Users();


$i=0;
foreach ($this->paginator as $row) {

	

	echo "<tr><td id='mytable'>";

	echo $this->paginator->getAbsoluteItemNumber(0,$this->paginator->getCurrentPageNumber())+$i;
	
	echo "</td>";

	echo "<td id='mytable'>";
	/*$rs = $user->checkusername($row['userid']);

	echo $rs[0]['firstname'];*/

	echo $row['userID'];

	echo "</td>";
	echo "<td id='mytable'>";

	echo $row['userIP'];

	echo "</td>";
	echo "<td id='mytable'>";

	echo $row['userBrowser'];

	echo "</td>";
	echo "<td id='mytable'>";

	echo $row['userOS'];

	echo "</td>";
	echo "</td>";
	echo "<td id='mytable'>";

	echo $row['userlogin'];

	echo "</td>";

	echo "<td id='mytable'>";

	echo $row['userlogout'];
	

	echo "</td><tr>";

	$i++;
}
?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml',$this->searchParams);
?>

</body>
</html>