<div id="contentonly">

<table id='' border="0" cellspacing="1" cellpadding="5" width="100%">
	<tr><td width="20%"><strong><?php echo $this->translate('title');?></strong></td><td>: <?php echo $this->announcement["title"]?></td></tr>
	<tr><td width="20%"><strong><?php echo $this->translate('date');?></strong></td><td>: <?php echo date("jS F Y", strtotime($this->announcement["start_date"]))?></td></tr>	
	<tr><td width="20%" valign="top"><strong><?php echo $this->translate('attachment');?></strong></td>
	<td>:
		<?php if ($this->announcement["filename1"]==null && $this->announcement["filename2"]==null && $this->announcement["filename3"]==null) { 
		echo $this->translate('no_file');
		} else {	
		?>
		
		<a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->announcement["filename1"]?>" target="_blank"><?php echo $this->announcement["filename1"]?></a><br>
		<a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->announcement["filename2"]?>" target="_blank"><?php echo $this->announcement["filename2"]?></a><br>
		<a href="/<?php echo PATH_UPLOAD ?>/announcement/<?php echo $this->announcement["filename3"]?>" target="_blank"><?php echo $this->announcement["filename3"]?></a><br>
		
		<?php
		}
		?>
	</td>
	<tr><td colspan=2><?php echo $this->announcement["message"]?></td></tr>
</table>
</div>