<?php
foreach ($this->vdata as $row) {
	$res_type= $row['res_type'];
	$title= $row['title'];
	$description= $row['description'];
	$courseid= $row['courseid'];
	$filename= $row['filename'];
	$url= $row['url'];
}
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
</head>
<body>

<?php
echo stripslashes($url);

if ($courseid=="AM502") {
	echo '<p><iframe width="100%" height="315" src="http://www.youtube.com/embed/_tEy6q9U5V0" frameborder="0" allowfullscreen></iframe></p>';
}

?>

</body>

</html>