<?php
foreach ($this->vdata as $row) {
	$res_type= $row['res_type'];
	$title= $row['title'];
	$description= $row['description'];
	$courseid= $row['courseid'];
	$filename= $row['filename'];
	$url= $row['url'];
}
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>


</head>
<body>

<!--<a class="media" href="/<?php echo PATH_UPLOAD ?>/resources/<?php echo $this->courseid?>/<?php echo $filename?>">&nbsp;</a>-->


<iframe src="http://docs.google.com/gview?url=http://<?php echo APP_HOSTNAME ?>/<?php echo PATH_UPLOAD ?>/resources/<?php echo $this->courseid?>/<?php echo $filename?>&embedded=true" style="width:100%; height:500px;" frameborder="0"></iframe>
</body>

</html>