<!doctype html public "-//W3C//DTD HTML 4.0 //EN">

<html>

<head>
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>


<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/resources/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/resources/jquery.livequery.js"></script>
<link href="<?php echo $this->baseUrl(); ?>/resources/screen.css" type="text/css" rel="stylesheet" />

<script src="<?php echo $this->baseUrl(); ?>/resources/jquery.elastic.js" type="text/javascript" charset="utf-8"></script>

<script src="<?php echo $this->baseUrl(); ?>/resources/jquery.watermarkinput.js" type="text/javascript"></script>

<script type="text/javascript">

// <![CDATA[

$(document).ready(function(){

	$('.ViewComments').livequery("click",function(e){

		var parent  = $(this).parent();
		var getID   =  parent.attr('id').replace('collapsed-','');

		var total_comments = $("#totals-"+getID).val();

		$("#loader-"+getID).html('<img src="loader.gif" alt="" />');

		$.post("<?php echo $this->baseUrl(); ?>/resources/view_comments.php?postId="+getID+"&username=<?php echo $this->username?>&totals="+total_comments, {

		}, function(response){

			$('#CommentPosted'+getID).prepend($(response).fadeIn('slow'));
			$('#collapsed-'+getID).hide();

		});
	});

	/// like

	$('.LikeThis').livequery("click",function(e){

		var getID   =  $(this).attr('id').replace('post_id','');

		$("#like-loader-"+getID).html('<img src="loader.gif" alt="" />');

		$.post("<?php echo $this->baseUrl(); ?>/resources/like.php?postId="+getID+"&username=<?php echo $this->username?>", {

		}, function(response){

			$('#like-stats-'+getID).html(response);

			$('#like-panel-'+getID).html('<a href="javascript: void(0)" id="post_id'+getID+'" class="Unlike">Unlike</a>');

			$("#like-loader-"+getID).html('');

			$("#commentMark-"+getID).focus();

		});
	});

	/// unlike

	$('.Unlike').livequery("click",function(e){

		var getID   =  $(this).attr('id').replace('post_id','');

		$("#like-loader-"+getID).html('<img src="loader.gif" alt="" />');

		$.post("<?php echo $this->baseUrl(); ?>/resources/unlike.php?postId="+getID+"&username=<?php echo $this->username?>", {

		}, function(response){

			$('#like-stats-'+getID).html(response);

			$('#like-panel-'+getID).html('<a href="javascript: void(0)" id="post_id'+getID+'" class="LikeThis">Like</a>');

			$("#like-loader-"+getID).html('');

			$("#commentMark-"+getID).focus();

		});
	});
	

	$('#shareButton').click(function(){

		var a = $("#watermark").val();
		if(a != "What's on your mind?")
		{
			$.post("<?php echo $this->baseUrl(); ?>/resources/posts.php?value="+a+"&username=<?php echo $this->username?>", {

			}, function(response){

				$('#posting').prepend($(response).fadeIn('slow'));
				$("#watermark").val("What's on your mind?");
			});
		}
	});


	$('.commentMark').livequery("focus", function(e){

		var parent  = $('.commentMark').parent();
		$(".commentBox").children(".commentMark").css('width','320px');
		$(".commentBox").children("a#SubmitComment").hide();
		$(".commentBox").children(".CommentImg").hide();

		var getID =  parent.attr('id').replace('record-','');
		$("#commentBox-"+getID).children("a#SubmitComment").show();
		$('.commentMark').css('width','300px');
		$("#commentBox-"+getID).children(".CommentImg").show();
	});

	//showCommentBox
	$('a.showCommentBox').livequery("click", function(e){

		var getpID =  $(this).attr('id').replace('post_id','');

		$("#commentBox-"+getpID).css('display','');
		$("#commentMark-"+getpID).focus();
		$("#commentBox-"+getpID).children("CommentImg").show();
		$("#commentBox-"+getpID).children("a#SubmitComment").show();
	});

	//SubmitComment
	$('a.comment').livequery("click", function(e){

		var getpID =  $(this).parent().attr('id').replace('commentBox-','');
		var comment_text = $("#commentMark-"+getpID).val();

		if(comment_text != "Write a comment...")
		{
			$.post("<?php echo $this->baseUrl(); ?>/resources/add_comment.php?comment_text="+comment_text+"&post_id="+getpID+"&username=<?php echo $this->username?>", {


			}, function(response){

				$('#CommentPosted'+getpID).append($(response).fadeIn('slow'));
				$("#commentMark-"+getpID).val("Write a comment...");
			});
		}

	});

	//more records show
	$('a.more_records').livequery("click", function(e){

		var next =  $('a.more_records').attr('id').replace('more_','');

		$.post("<?php echo $this->baseUrl(); ?>/resources/posts.php?show_more_post="+next+"&username=<?php echo $this->username?>", {

		}, function(response){
			$('#bottomMoreButton').remove();
			$('#posting').append($(response).fadeIn('slow'));

		});

	});

	//deleteComment
	$('a.c_delete').livequery("click", function(e){

		if(confirm('Are you sure you want to delete this comment?')==false)

		return false;

		e.preventDefault();
		var parent  = $(this).parent();
		var c_id =  $(this).attr('id').replace('CID-','');

		$.ajax({

			type: 'get',

			url: '<?php echo $this->baseUrl(); ?>/resources/delete_comment.php?c_id='+ c_id+"&username=<?php echo $this->username?>",

			data: '',

			beforeSend: function(){

			},

			success: function(){

				parent.fadeOut(200,function(){

					parent.remove();

				});

			}

		});
	});

	/// hover show remove button
	$('.friends_area').livequery("mouseenter", function(e){
		$(this).children("a.delete").show();
	});
	$('.friends_area').livequery("mouseleave", function(e){
		$('a.delete').hide();
	});
	/// hover show remove button


	$('a.delete').livequery("click", function(e){

		if(confirm('Are you sure you want to delete this post?')==false)

		return false;

		e.preventDefault();

		var parent  = $(this).parent();

		var temp    = parent.attr('id').replace('record-','');

		var main_tr = $('#'+temp).parent();

		$.ajax({

			type: 'get',

			url: '<?php echo $this->baseUrl(); ?>/resources/delete.php?id='+ parent.attr('id').replace('record-',''),

			data: '',

			beforeSend: function(){

			},

			success: function(){

				parent.fadeOut(200,function(){

					main_tr.remove();

				});

			}

		});

	});

	$('textarea').elastic();

	jQuery(function($){

		$("#watermark").Watermark("What's on your mind?");
		$(".commentMark").Watermark("Write a comment...");

	});

	jQuery(function($){

		$("#watermark").Watermark("watermark","#369");
		$(".commentMark").Watermark("watermark","#EEEEEE");

	});

	function UseData(){

		$.Watermark.HideAll();

		//Do Stuff

		$.Watermark.ShowAll();

	}

});

// ]]>

</script>

</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (page1.psd) -->
<table id="Table_01" width="95%" height="550" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td valign="top" width="2%">&nbsp;<br><a href="javascript:history.back(1)"><?php echo $this->translate('back')?></a></td>
		<td width="1%"></td>
		<td valign="top">
		
		<iframe name="content"  align="middle" id="content" width="100%" height="520" frameborder="0" scrolling="auto" src="<?php
echo $this->url(array('module'=>'resources' , 'controller' => 'index' , 'action' => 'displayresource', 'courseid' => $this->courseid, 'id' => $this->vdata[0]['id']),null, FALSE)?>"></iframe><br><br>
		
		
	
		</td>
		<td width="1%"></td>
		
		<td width="350" valign="top" align="left">	<br>
		
		<table id="mytable" cellspacing="0" cellpadding="5" width="95%">
<tr>
<th id="mytable" valign="top">
<?php echo $this->translate('title') ?> 
</th>
<td id="mytable" valign="top">
<?php echo $this->vdata[0]['title'] ?>
</td>
</tr>
<tr>
<th id="mytable" valign="top">
<?php echo $this->translate('description') ?> 
</th>
<td id="mytable" valign="top">
<?php echo $this->vdata[0]['description'] ?>
</td>
</tr>

</table>
<div align="center">
	
		
	
		<div id="posting" align="center">
	
		<?php
		include(DOC_PATH.'/'.APP_FOLDER.'/public/resources/config.php');

		include(DOC_PATH.'/'.APP_FOLDER.'/public/resources/posts.php');

		?>
		  
		</div>
	</div>

		<br clear="all" /><br clear="all" /><br clear="all" />
		<br clear="all" />
</td>
	</tr>
</table>
<!-- End ImageReady Slices -->
</body>
</html>