<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
?>
</head>
<body>
<div id="contentonly">
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navicourse("resources", "index", "upload",$this->username,$this->courseid);
if ($show == 1) {
    ?>
<a
	href="<?php
	echo $this->url(
    array('module' => 'resources', 'controller' => 'index', 'action' => 'upload', 'courseid' => $this->courseid), null, FALSE)?>"><?php echo $this->translate('click_upload_resource'); ?></a>
<?php
}
?>
<br><br>
<!--<h3><?php echo $this->translate('search_resources'); ?> :</h3>-->
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('resource_entries'); ?> :</h3>-->
<br />
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable">
<?php echo $this->translate('name'); ?>
</th>
<th id="mytable">
<?php echo $this->translate('description'); ?>
</th>
<th id="mytable">
<?php echo $this->translate('type'); ?>
</th>
 <?php
 $show = $naviauth->navicourse("resources", "index", "modify",$this->username,$this->courseid);
 if ($show == 1) {
            ?>
		<th width="13%" id="mytable">
		<?php echo $this->translate('modify'); ?>
        </th>
    <?php
 }
    ?>
     <?php
     $show = $naviauth->navicourse("resources", "index", "delete",$this->username,$this->courseid);
     if ($show == 1) {
            ?>
		<th width="13%" id="mytable">
		<?php echo $this->translate('delete'); ?>
        </th>
    <?php
     }
    ?>

</tr>

	<?php
	foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable"><?php if ($row['filename']!="") {
    	if ($row['res_type']==1 || $row['res_type']==2) {
    	?><a
	href="<?php
	echo $this->url(
    array('module' => 'resources', 'controller' => 'index', 'action' => 'framepage1',  'courseid' => $this->courseid, 'id' => $row['id']), null, FALSE)?>" >
    	<?php } 
    	else {
    	?>
    	<a
	href="<?php
	echo $this->url(
    array('module' => 'resources', 'controller' => 'index', 'action' => 'framepage2',  'courseid' => $this->courseid, 'id' => $row['id']), null, FALSE)?>" >
    	<?php
    	}
    	?>
    	<?php
    	}
    	?>
        <?php if ($row['url']!="") {
        if ($row['res_type']==3){
        ?>
        <a
		href="<?php echo $row['url']?>" target="_blank"><?php }
        else if ($row['res_type']==6){ 
        ?>
        
        <a
	href="<?php
	echo $this->url(
    array('module' => 'resources', 'controller' => 'index', 'action' => 'framepageembed',  'courseid' => $this->courseid, 'id' => $row['id']), null, FALSE)?>" >
        <?
        }
        
        } ?>
		<?php
		echo $row['title']."";
        ?>
        <?php if ($row['filename']!="" || $row['url']!="") {	
        ?></a><?php } ?>
        
        </td>
	<td id="mytable"><?php
	echo $row['description'];
        ?></td>
	<td id="mytable"><?php

	$table = new Resources_Model_Resources ();
	$rs=$table->findForSelect();

	foreach ($rs as $roww) {
		if  ($row['res_type']==$roww['id'])
		$restype=$roww['type'];
	}
	echo $restype;
        ?></td>
    <?php
    $show = $naviauth->navicourse("resources", "index", "modify",$this->username,$this->courseid);
    if ($show == 1) {
            ?>
		
		<td id="mytable"><a
		href="<?php
		echo $this->url(
		array('module' => 'resources', 'controller' => 'index', 'action' => 'modify',
		'id' => $row['id']), null, FALSE)?>"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-edit.gif'>"?></a>
            </td>
    <?php
    }
    $show = $naviauth->navicourse("resources", "index", "delete",$this->username,$this->courseid);
    if ($show == 1) {
            ?>
    
	<td id="mytable"><a href="javascript: validate(<?php
	echo $row['id']?>)"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-delete.gif'>"?></a>
            </td>
     <?php
    }
        ?>   
     
	<?php
	}
    ?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml',$this->searchParams);
    ?>
<?php
}
?>
</div>
</body>
</html>
<script>

function validate(rowid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;

	document.location="<?php
	echo $this->url(array('module' => 'resources', 'controller' => 'index', 'action' => 'delete', 'courseid' => $this->courseid))?>/rowid/"+rowid;
}

</script>