<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
?>
</head>
<body>
<div id="contentonly">
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable"><?php echo $this->translate('course_list'); ?></th>
</tr>
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$i=1;
foreach ($this->course as $row) {
	$show = $naviauth->navicourse("resources", "index", "modify",$this->username,$row['courseid']);
	 if ($show == 1) {
	echo "<tr><td id='mytable'>";
?>
    	<a
	 href="<?php
echo $this->url(array('module'=>'resources' , 'controller' => 'index' , 'action' => 'index', 'courseid'=> $row['courseid']),null, FALSE)?>"><?php echo $row['coursename'];?></a>
<?php
echo "</td><tr>";
	 }
$i++;
}
?>
</table>
</div>
</body>
</html>