<script>
/*//To remove flash MSG*/
	setTimeout(function() {
		$( "#msg" ).hide( 'blind',null, 1000);
	}, 5000 );
</script>

<div id="contentonly">
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navi("admin", "intake", "upload");
if ($show == 1) {
    ?>
<a
	href="<?php
    echo $this->url(
    array('module' => 'admin', 'controller' => 'reminder', 'action' => 'upload'), null, FALSE)?>"><?php echo $this->translate('click_add_announcement'); ?></a>
<?php
}
?>
<br>

<?php

if (count($this->paginator)) {
    ?>
<br>

<?if(isset($this->noticeMessage)){?>
<div id="msg" class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<?}?>
<br />
<table id="mytable" cellspacing="0">
<tr>
<th width="10" id="mytable">
<?php echo $this->translate('bil'); ?>
</th>
<th width="70" id="mytable">
<?php echo $this->translate('course'); ?>
</th>
<th width="40" id="mytable">
<?php echo $this->translate('title'); ?>
</th>
<th width="50" id="mytable">

<?php echo $this->translate('privilage'); ?>
</th>
<th width="60" id="mytable">

<?php echo $this->translate('start_date'); ?>
</th>
<th width="60" id="mytable">

<?php echo $this->translate('end_date'); ?>
</th>
<?php
 $show = $naviauth->navi("admin", "reminder", "modify");
 if ($show == 1) {
            ?>
		<th width="57" id="mytable">
		<?php echo $this->translate('modify'); ?>
        </th>
    <?php
 }
    ?> 
     
<?php
 $show = $naviauth->navi("admin", "reminder", "delete");
 if ($show == 1) {
            ?>
		<th width="57" id="mytable">
		<?php echo $this->translate('delete'); ?>
        </th>
    <?php
 }
    ?>

</tr>
	<?php
	$bill=1;
    foreach ($this->paginator as $row) {
    	//id	courseid	role	start_date	end_date	message	createby	datecreated	modifyby	datemodified
        ?>
    <tr><td id="mytable">
		<?php
        echo $bill;
        ?></td>
    <td id="mytable">
    <a target="_blank"
		href="<?php
            echo $this->url(
            array('module' => 'admin', 'controller' => 'reminder', 'action' => 'framepage1', 
            'id' => $row['id']), null, FALSE)?>">
		<?php
        echo $row['courseid'];
        ?></a>
    </td>
    <td id="mytable">
		<?php
        echo $row['title'];
        ?></td>
	<td id="mytable">
		<?php
        echo $row['role'];
        ?></td>
    <td id="mytable">
		<?php
        echo $row['start_date'];
        ?></td>
    <td id="mytable">
		<?php
        echo $row['end_date'];
        ?></td>
  	
     <?php
        $show = $naviauth->navi("admin", "reminder", "modify");
        if ($show == 1) {
            ?>
     <td id="mytable"><a
		href="<?php
		echo $this->url(
		array('module' => 'admin', 'controller' => 'reminder', 'action' => 'modify',
		'id' => $row['id']), null, FALSE)?>"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-edit.gif'>"?></a>
            </td>
     <?php
        }
        ?>   
    <?php
        $show = $naviauth->navi("admin", "reminder", "delete");
        if ($show == 1) {
            ?>
     <td id="mytable"><a href="javascript: validate(<?php
            echo $row['id']?>)"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-delete.gif'>"?></a>
            </td>
     <?php
        }
        ?>   
    
	<?php
	$bill++;
    }
    ?>
</table>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'pagination.phtml');
    ?>
<?php
}
?>
</div>

<script>

function validate(rowid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;

	document.location="<?php
echo $this->url(array('module' => 'admin', 'controller' => 'reminder', 'action' => 'delete'))?>/rowid/"+rowid;
}

</script>