<table width="100%">
<tr>
	<td width="40%"><?php echo $this->translate('course');?>:</td>
	<td width="60%"><?php echo $this->data['courseid'];?></td>
</tr>
<tr>
	<td><?php echo $this->translate('role')?>:</td>
	<td><?php echo $this->data['role'];?></td>
</tr>
<tr>
	<td><INPUT TYPE="hidden" NAME="chkStartDate">
	<?php echo $this->translate("start_date")?></td>
	<td><?php echo $this->data['start_date'];?></td>
</tr>
<tr>
	<td><INPUT TYPE="hidden" NAME="chkEndDate">
	<?php echo $this->translate("end_date")?></td>
	<td><?php echo $this->data['end_date'];?></td>
</tr>
<tr>
	<td><?php echo $this->translate('message')?>:</td>
	<td><?php echo $this->data['message'];?></td>
</tr>
</table>