<!doctype html public "-//W3C//DTD HTML 4.0 //EN">

<html>

<head>
<title>Demos :  99Points.info : Fresh Facebook Style TextArea with Wall Posting Script using jQuery PHP and Ajax</title>


<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/facebook/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/facebook/jquery.livequery.js"></script>
<link href="<?php echo $this->baseUrl(); ?>/facebook/screen.css" type="text/css" rel="stylesheet" />

<script src="<?php echo $this->baseUrl(); ?>/facebook/jquery.elastic.js" type="text/javascript" charset="utf-8"></script>

<script src="<?php echo $this->baseUrl(); ?>/facebook/jquery.watermarkinput.js" type="text/javascript"></script>

<script type="text/javascript">

// <![CDATA[

$(document).ready(function(){

	$('.ViewComments').livequery("click",function(e){

		var parent  = $(this).parent();
		var getID   =  parent.attr('id').replace('collapsed-','');

		var total_comments = $("#totals-"+getID).val();

		$("#loader-"+getID).html('<img src="loader.gif" alt="" />');

		$.post("<?php echo $this->baseUrl(); ?>/facebook/view_comments.php?postId="+getID+"&username=<?=$_SESSION["ses_username"]?>&totals="+total_comments, {

		}, function(response){

			$('#CommentPosted'+getID).prepend($(response).fadeIn('slow'));
			$('#collapsed-'+getID).hide();

		});
	});

	/// like

	$('.LikeThis').livequery("click",function(e){

		var getID   =  $(this).attr('id').replace('post_id','');

		$("#like-loader-"+getID).html('<img src="loader.gif" alt="" />');

		$.post("<?php echo $this->baseUrl(); ?>/facebook/like.php?postId="+getID+"&username=<?=$_SESSION["ses_username"]?>", {

		}, function(response){

			$('#like-stats-'+getID).html(response);

			$('#like-panel-'+getID).html('<a href="javascript: void(0)" id="post_id'+getID+'" class="Unlike">Unlike</a>');

			$("#like-loader-"+getID).html('');

			$("#commentMark-"+getID).focus();

		});
	});

	/// unlike

	$('.Unlike').livequery("click",function(e){

		var getID   =  $(this).attr('id').replace('post_id','');

		$("#like-loader-"+getID).html('<img src="loader.gif" alt="" />');

		$.post("<?php echo $this->baseUrl(); ?>/facebook/unlike.php?postId="+getID+"&username=<?=$_SESSION["ses_username"]?>", {

		}, function(response){

			$('#like-stats-'+getID).html(response);

			$('#like-panel-'+getID).html('<a href="javascript: void(0)" id="post_id'+getID+'" class="LikeThis">Like</a>');

			$("#like-loader-"+getID).html('');

			$("#commentMark-"+getID).focus();

		});
	});
	

	$('#shareButton').click(function(){

		var a = $("#watermark").val();
		if(a != "What's on your mind?")
		{
			$.post("<?php echo $this->baseUrl(); ?>/facebook/posts.php?value="+a, {

			}, function(response){

				$('#posting').prepend($(response).fadeIn('slow'));
				$("#watermark").val("What's on your mind?");
			});
		}
	});


	$('.commentMark').livequery("focus", function(e){

		var parent  = $('.commentMark').parent();
		$(".commentBox").children(".commentMark").css('width','320px');
		$(".commentBox").children("a#SubmitComment").hide();
		$(".commentBox").children(".CommentImg").hide();

		var getID =  parent.attr('id').replace('record-','');
		$("#commentBox-"+getID).children("a#SubmitComment").show();
		$('.commentMark').css('width','300px');
		$("#commentBox-"+getID).children(".CommentImg").show();
	});

	//showCommentBox
	$('a.showCommentBox').livequery("click", function(e){

		var getpID =  $(this).attr('id').replace('post_id','');

		$("#commentBox-"+getpID).css('display','');
		$("#commentMark-"+getpID).focus();
		$("#commentBox-"+getpID).children("CommentImg").show();
		$("#commentBox-"+getpID).children("a#SubmitComment").show();
	});

	//SubmitComment
	$('a.comment').livequery("click", function(e){

		var getpID =  $(this).parent().attr('id').replace('commentBox-','');
		var comment_text = $("#commentMark-"+getpID).val();

		if(comment_text != "Write a comment...")
		{
			$.post("<?php echo $this->baseUrl(); ?>/facebook/add_comment.php?comment_text="+comment_text+"&post_id="+getpID, {


			}, function(response){

				$('#CommentPosted'+getpID).append($(response).fadeIn('slow'));
				$("#commentMark-"+getpID).val("Write a comment...");
			});
		}

	});

	//more records show
	$('a.more_records').livequery("click", function(e){

		var next =  $('a.more_records').attr('id').replace('more_','');

		$.post("<?php echo $this->baseUrl(); ?>/facebook/posts.php?show_more_post="+next, {

		}, function(response){
			$('#bottomMoreButton').remove();
			$('#posting').append($(response).fadeIn('slow'));

		});

	});

	//deleteComment
	$('a.c_delete').livequery("click", function(e){

		if(confirm('Are you sure you want to delete this comment?')==false)

		return false;

		e.preventDefault();
		var parent  = $(this).parent();
		var c_id =  $(this).attr('id').replace('CID-','');

		$.ajax({

			type: 'get',

			url: '<?php echo $this->baseUrl(); ?>/facebook/delete_comment.php?c_id='+ c_id,

			data: '',

			beforeSend: function(){

			},

			success: function(){

				parent.fadeOut(200,function(){

					parent.remove();

				});

			}

		});
	});

	/// hover show remove button
	$('.friends_area').livequery("mouseenter", function(e){
		$(this).children("a.delete").show();
	});
	$('.friends_area').livequery("mouseleave", function(e){
		$('a.delete').hide();
	});
	/// hover show remove button


	$('a.delete').livequery("click", function(e){

		if(confirm('Are you sure you want to delete this post?')==false)

		return false;

		e.preventDefault();

		var parent  = $(this).parent();

		var temp    = parent.attr('id').replace('record-','');

		var main_tr = $('#'+temp).parent();

		$.ajax({

			type: 'get',

			url: '<?php echo $this->baseUrl(); ?>/facebook/delete.php?id='+ parent.attr('id').replace('record-',''),

			data: '',

			beforeSend: function(){

			},

			success: function(){

				parent.fadeOut(200,function(){

					main_tr.remove();

				});

			}

		});

	});

	$('textarea').elastic();

	jQuery(function($){

		$("#watermark").Watermark("What's on your mind?");
		$(".commentMark").Watermark("Write a comment...");

	});

	jQuery(function($){

		$("#watermark").Watermark("watermark","#369");
		$(".commentMark").Watermark("watermark","#EEEEEE");

	});

	function UseData(){

		$.Watermark.HideAll();

		//Do Stuff

		$.Watermark.ShowAll();

	}

});

// ]]>

</script>

</head>

<body>

<h1>Facebook Style TextArea with Wall Posting Script using jQuery PHP and Ajax.</h1>

	<div align="center">
	
		<form action="" method="post" name="postsForm">
	
		<div class="UIComposer_Box">
	
		<span class="w">
		<textarea class="input" id="watermark" name="watermark" style="height:20px" cols="60"></textarea>
		</span>
	
			<br clear="all" />
			
			<div align="left" style="height:30px; padding:10px 5px;">
				
				
				<a id="shareButton" style="float:left" class="small button Detail"> Share</a>
	
			</div>
	
		</div>
	
		</form>
	
		<br clear="all" />
	
		<div id="posting" align="center">
	
		<?php
		include(DOC_PATH.'/'.APP_FOLDER.'/public/facebook/dbcon.php');

		include(DOC_PATH.'/'.APP_FOLDER.'/public/facebook/posts.php');

		?>
		  
		</div>
	</div>

<br clear="all" /><br clear="all" /><br clear="all" />
<br clear="all" />
			  
			  
</body>

</html>

