<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/textsizer.js">

/***********************************************
* Document Text Sizer- Copyright 2003 - Taewook Kang.  All rights reserved.
* Coded by: Taewook Kang (http://www.txkang.com)
* This notice must stay intact for use
* Visit http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>
</head>
<body>
<table width="100%" align="right" cellpadding="5" cellspacing="5">
<tr>
<td width="90%">&nbsp;</td>
<td width="10%"><a href="javascript:ts('body',1)"><img src="<?php echo $this->baseUrl(); ?>/images/increase-font.png" width="16" height="16" alt=" + Increase Font" title=" + Increase Font" /></a> &nbsp; <a
href="javascript:ts('body',-1)"><img src="<?php echo $this->baseUrl(); ?>/images/decrease-font.png" width="16" height="16" alt=" - Decrease Font" title="- Decrease Font"/></td>
</tr>
</table>
<?php echo $this->data['ccontent'];?>
</body>
</html>