<?php
//error_reporting(E_ALL);
//ini_set("display_errors", true);
//print_r($this->vdata);

foreach ($this->vdata as $row) {
	$res_type= $row['res_type'];
	$title= $row['title'];
	$description= $row['description'];
	$filename= $row['filename'];
	$url= $row['url'];
	
	if ($res_type==9){
		$test = new Block_Model_Test();
		$rowtest=$test->fetch( $row['id'] );

	}
}

?>
<div id="contentonly">
<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>

<table id="mytable">
<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('title') ?>
</th>
<td id="mytable">
<?php echo $title ?>
</td>

</tr>
<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('description') ?>
</th>
<td id="mytable">
<?php echo $description ?>
</td>

</tr>
<?php 
//date_default_timezone_set('Asia/Kuala_Lumpur'); 
$std=date('d-M-Y',$rowtest['start_time']);$etd=date('d-M-Y',$rowtest['end_time']); ?>
<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('time_duration') ?>
</th>
<td id="mytable">
<?php echo $rowtest['test_time']?> <?php echo $this->translate('minutes') ?>
</td>

</tr>
<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('start_time') ?>
</th>
<td id="mytable">
<?php echo $std ?> <?php echo date('h',$rowtest['start_time']) ?>:<?php echo date('i',$rowtest['start_time']) ?> <?php echo date('A',$rowtest['start_time']) ?>
</td>

</tr>
<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('end_time') ?>
</th>
<td id="mytable">
<?php echo $etd ?> <?php echo date('h',$rowtest['end_time']) ?>:<?php echo date('i',$rowtest['end_time']) ?> <?php echo date('A',$rowtest['end_time']) ?>
</td>

</tr>
<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('percentage_to_pass') ?>
</th>
<td id="mytable">
<?php echo $rowtest['reqpercentage'] ?>%
</td>

</tr>

<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('allow_view_answer') ?>
</th>
<td id="mytable">
 <?php if($rowtest['answer_view']=="1"){ echo $this->translate('yes'); }
 else if($rowtest['answer_view']=="0"){ echo $this->translate('no'); }
 ?>
 
</td>

</tr>

<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('max_attempts') ?>
</th>
<td id="mytable">
<?php echo $rowtest['attempts'] ?>
 
</td>

</tr>

<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('allow_random') ?>
</th>
<td id="mytable">
 <?php if($rowtest['allow_random']=="1"){ echo $this->translate('yes'); }
 else if($rowtest['allow_random']=="0"){ echo $this->translate('no'); }
 ?>
 
</td>

</tr>

<tr>
<th id="mytable" width="50%">
<?php echo $this->translate('questions') ?>
</th>
<td id="mytable">
 <?php 
 echo $this->noques." ".$this->translate('questions'); 
 ?>
 
</td>

</tr>


</table>
<br><br>

<table id="mytable">
<tr>
<td id="mytable">
<?php
		
		//echo time();
		//echo $rowtest['end_time'];
		// check no of attempts
		/*if($data['noattempts']>=$data['test']['attempts'])
		{
		$data['startButton']=0;
		$data['msg'].="You have exceeded the number of attempts!<br/>";
		}*/
		
		// check start time 
		if(time()< $rowtest['start_time']){
		
			echo $this->translate('test_not_available');
		
		}
		
		// check end time
		if(time()>= $rowtest['end_time']){
		echo $this->translate('test_time_passed');

		}
		
		else {

$my_string = rand_string( 16 );

if(!isset($_COOKIE['access_token'])){

setcookie("access_token", $my_string, time()+86400, "/block/test");
}

$randvalue=rand(1,100);

if(!isset($_COOKIE['randvalue'])){
setcookie("randvalue", $randvalue, time()+86400, "/block/test");
}

//print_r($_COOKIE);
?>




<?php $this->courseid?>

<?php $this->blockid?>


<a class="ajax" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'test' , 'action' => 'attempttest', 'courseid' => $this->courseid,  'blockid' => $this->blockid, 'id' => $row['id'], 'page' => 1),'default', true)?>" title="<?php echo $this->translate('start').' '.$this->translate('test')?>"><?php echo $this->translate('start').' '.$this->translate('test')?> </a>


<?php } ?>
</td>

</tr>


</table>
</div>
<?php
function rand_string( $length ) {
	$chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";	

	$size = strlen( $chars );
	for( $i = 0; $i < $length; $i++ ) {
		$str .= $chars[ rand( 0, $size - 1 ) ];
	}

	return $str;
}
?>