<?php
foreach ($this->vdata as $row) 
{
	$title= $row['title'];
	$description= $row['description'];
}


$rowtest=$this->rowtest;
$allrecord = $this->allrecord;
//echo $allrecord;
?>

<h2 class="dotted"> <?php echo $this->course['courseid'] ?> (<?php echo strtoupper($this->course['coursename']) ?>)</h2>

<div class="page-opt">
	<a class="btn btn-round btn-large" href="<?php echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'upload', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id), 'default', true)?>"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('add_new'); ?></a>
	<a class="btn btn-round btn-large" href="<?php echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'importques', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id), 'default', true)?>"><span class="icon icon-upload"></span> <?php echo $this->translate('import_ques'); ?></a>	
</div>

<h3><?php echo $title ?> <?php echo $this->translate('questions'); ?> </h3>
<form name="f1" method="post" enctype="multipart/form-data">
<div class="select">
<?php echo $this->translate('choose')?>
	<select size="1" name="pick1" onchange="picknumber(this.form)">
		<?php
		if ($rowtest["random_question_no"] == null)
		{
			$rowtest["random_question_no"] = $allrecord;
		}
		
		for ($i=1; $i<=$allrecord; $i++)
		{
			$stringsel="";
			if ($i==$rowtest["random_question_no"])
			{
				$stringsel="selected";
			}
			
			echo "<option ".$stringsel." value=\"".$i."\">".$i."</option>\n";
		}
		?>    
	</select> / <?php echo $allrecord?> <?php echo $this->translate('questions'); ?>
</div>
<?php

if (count($this->paginator))
{
    ?>

	<table class="maintable">
	<thead>
		<tr>
			<th style="width:25px"></th>
			<th style="width:60%"><?php echo $this->translate('question'); ?></th>
			<th><?php echo $this->translate('options'); ?></th>
		</tr>
	</thead>
	<tbody>
	<?php
    $bil=1;
	foreach ($this->paginator as $rowtestques) 
	{
        $fldid=$rowtestques['asqID'];
		?>
    	<tr>
    		<td>
    		<select size="1" name="chgno<?php echo $bil?>" onchange="autonumber('<?php echo $fldid?>','<?php echo $bil?>',this.form)">
			<?php
			for ($i=1; $i<=$allrecord; $i++) {
				$stringsel="";
				if ($i==$rowtestques['countNo']) $stringsel="selected";
				echo "<option ".$stringsel." value=\"".$i."\">".$i."</option>\n";
			}
			?>    
		    </select>
    		</td>
    		<td>
			<?php
	        $qbank=new Qbank_Model_Qbank();
			$rs=$qbank->get_question($rowtestques['qid'],$this->courseid);
			echo $rs['question'];
	        ?>
	        <input type="hidden" name="fldid<?php echo $bil?>" value="<?php echo $fldid?>" />
	        </td>
	        <td>
	        	<a class="btn2 blue" href="<?php echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'view', 'courseid' => $this->courseid,'blockid' =>$this->blockid, 'id' => $this->id,'qid' => $rowtestques['qid']), 'default', true)?>"><span class="icon icon-eye"></span> <?php echo $this->translate('view')?></a>	
		 		<a class="btn2 green" href="<?php echo $this->url( array('module' => 'qbank', 'controller' => 'index', 'action' => 'modify', 'courseid' => $this->courseid,'blockid' =>$this->blockid, 'id' => $this->id,'qid' => $rowtestques['qid']), 'default', true)?>"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
  				<a class="btn2 red" href="<?php echo $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'remove', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id, 'qid' => $rowtestques['qid']))?>" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')"><span class="icon icon-trash"></span> <?php echo $this->translate('remove');?></a>
  			</td>
     	</tr>
		<?php
		$bil++;
    }
    ?>
</table>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'pagination.phtml',$this->searchParams);
    ?>
<?php
}
?>
<input type="hidden" name="bilgelung" value="<?php echo $bil-1?>" /> 
</form>

<script type="text/javascript">

function autonumber(a,b,namaform) {
	
	gourl='<?php
			echo $this->url(
		    array('module' => 'block', 'controller' => 'test', 'action' => 'index', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id ), 'default', true)?>/fldid/'+a+'/mvno/'+b+'/act/sort';
	
	namaform.action=gourl;	
	namaform.submit();
}
function picknumber(namaform) {
	
	gourl='<?php
			echo $this->url(
		    array('module' => 'block', 'controller' => 'test', 'action' => 'index', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id), 'default', true)?>/act/setnoques';
	namaform.action=gourl;	
	namaform.submit();
}
</script>