<div id="contentonly">
<?php echo $this->title;?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />
<br>

Test Submitted Successfully!

<br><br>

Click <a
			href="<?php
			echo $this->url(
		    array('module' => 'block', 'controller' => 'test', 'action' => 'viewresult', 'view' => $this->resultid), 'default', true)?>">here</a> to view result.

</div>