<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>
</head>
<body>
<table width="530" border="0" cellspacing="0" cellpadding="0" valign="top" background="<?php echo $this->baseUrl(); ?>/images/course_pg/box_content.jpg">
  <tr>
    <td height="575"><table width="470" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td height="25"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20">&nbsp;</td>
            <td><img src="<?php echo $this->baseUrl(); ?>/images/course_pg/title_sample.jpg" width="102" height="28" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="500" valign="top">
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
//echo $this->bilsample;
if ($this->bilsample==0){
	$show = $naviauth->navi("sample", "index", "upload");
	if ($show == 1) {
    ?>
<a
	href="<?php
	echo $this->url(
    array('module' => 'sample', 'controller' => 'index', 'action' => 'upload', 'courseid' => $this->courseid), null, FALSE)?>"><?php echo $this->translate('click_upload_sample'); ?></a>
<?php
	}
}
?>
<br>
<h3><?php echo $this->translate('search_sample'); ?> :</h3>
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>
<br>
<h3><?php echo $this->translate('sample_entries'); ?> :</h3>
<br />
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable">
<?php echo $this->translate('title'); ?>
</th>

 <?php
 $show = $naviauth->navi("sample", "index", "modify");
 if ($show == 1) {
            ?>
		<th width="53" id="mytable">
		<?php echo $this->translate('modify'); ?>
        </th>
    <?php
 }
    ?>
     <?php
     $show = $naviauth->navi("sample", "index", "delete");
     if ($show == 1) {
            ?>
		<th width="53" id="mytable">
		<?php echo $this->translate('delete'); ?>
        </th>
    <?php
     }
    ?>

</tr>


	<?php
	foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable">
    <?php if ($row['filename']!="") {?><a
		href="/<?php echo PATH_UPLOAD ?>/sample/<?php echo $this->courseid?>/<?php echo $row['filename']?>" target="_blank"><?php } ?>
		<?php
		echo $row['title'];
        ?><?php if ($row['filename']!="") {?></a><?php } ?></td>
	
	
    <?php
    $show = $naviauth->navi("sample", "index", "modify");
    if ($show == 1) {
            ?>
		<td width="53" id="mytable">
		<a
		href="<?php
		echo $this->url(
		array('module' => 'sample', 'controller' => 'index', 'action' => 'modify',
		'id' => $row['id']), null, FALSE)?>"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-edit.gif'>"?></a>
        </td>
    <?php
    }
    ?>
    
    
    <?php
    $show = $naviauth->navi("sample", "index", "delete");
    if ($show == 1) {
            ?>
    <td width="53" id="mytable">
	<a href="javascript: validate(<?php
	echo $row['id']?>)"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-delete.gif'>"?></a>
     </td>
     <?php
    }
        ?>   
     
     </tr>
	<?php
	}
    ?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml');
    ?>
<?php
}
?>
</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
<script>

function validate(rowid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;

	document.location="<?php
	echo $this->url(array('module' => 'sample', 'controller' => 'index', 'action' => 'delete'))?>/rowid/"+rowid;
}

</script>