<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
?>
</head>
<body>
<div id="contentonly">
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
//echo $this->bilsample;
//if ($this->bilsample==0){
	$show = $naviauth->navicourse("sample", "index", "upload",$this->username,$this->courseid);
	if ($show == 1) {
    ?>
<a
	href="<?php
	echo $this->url(
    array('module' => 'sample', 'controller' => 'index', 'action' => 'upload', 'courseid' => $this->courseid), null, FALSE)?>"><?php echo $this->translate('click_upload_sample'); ?></a>
<?php
	}
//}
?>
<br><br>
<!--<h3><?php echo $this->translate('search_sample'); ?> :</h3>-->
<?php
echo $this->form;
?>
<?php

if (count($this->paginator)) {
    ?>
<br>
<!--<h3><?php echo $this->translate('sample_entries'); ?> :</h3>-->
<br />
<table id="mytable" cellspacing="0">
<tr>
<th id="mytable">
<?php echo $this->translate('title'); ?>
</th>

 <?php
 $show = $naviauth->navicourse("sample", "index", "modify",$this->username,$this->courseid);
 if ($show == 1) {
            ?>
		<th width="13%" id="mytable">
		<?php echo $this->translate('modify'); ?>
        </th>
    <?php
 }
    ?>
     <?php
     $show = $naviauth->navicourse("sample", "index", "delete",$this->username,$this->courseid);
     if ($show == 1) {
            ?>
		<th width="13%" id="mytable">
		<?php echo $this->translate('delete'); ?>
        </th>
    <?php
     }
    ?>

</tr>


	<?php
	foreach ($this->paginator as $row) {
        ?>
    <tr><td id="mytable">
    <?php if ($row['filename']!="") {?><a
		href="/<?php echo PATH_UPLOAD ?>/sample/<?php echo $this->courseid?>/<?php echo $row['filename']?>" target="_blank"><?php } ?>
		<?php
		echo $row['title'];
        ?><?php if ($row['filename']!="") {?></a><?php } ?></td>
	
	
    <?php
    $show = $naviauth->navicourse("sample", "index", "modify",$this->username,$this->courseid);
    if ($show == 1) {
            ?>
		<td width="53" id="mytable">
		<a
		href="<?php
		echo $this->url(
		array('module' => 'sample', 'controller' => 'index', 'action' => 'modify',
		'id' => $row['id']), null, FALSE)?>"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-edit.gif'>"?></a>
        </td>
    <?php
    }
    ?>
    
    
    <?php
    $show = $naviauth->navicourse("sample", "index", "delete",$this->username,$this->courseid);
    if ($show == 1) {
            ?>
    <td width="53" id="mytable">
	<a href="javascript: validate(<?php
	echo $row['id']?>)"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-delete.gif'>"?></a>
     </td>
     <?php
    }
        ?>   
     
     </tr>
	<?php
	}
    ?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Elastic',
'pagination.phtml',$this->searchParams);
    ?>
<?php
}
?>
</div>
</body>
</html>
<script>

function validate(rowid)
{
	if(!window.confirm('<?php echo $this->translate('delete_message'); ?>'))
	return;

	document.location="<?php
	echo $this->url(array('module' => 'sample', 'controller' => 'index', 'action' => 'delete', 'courseid' => $this->courseid))?>/rowid/"+rowid;
}

</script>