<h2 class="dotted"><?php echo $this->translate('menu'); ?> <?php echo $this->translate('list'); ?></h2>
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navi("users", "index", "upload");
if ($show == 1)
{
?>
	<ul class="adminlist">         
    	<li><a href="<?php echo $this->url(array('module'=>'admin' , 'controller' => 'intake' , 'action' => 'index'),null, FALSE)?>"><span class="icon icon-graduation-cap"></span> <?php echo $this->translate('semester'); ?></a></li>
        <li><a href="<?php echo $this->url(array('module'=>'admin' , 'controller' => 'course' , 'action' => 'listcourse'),null, FALSE)?>"><span class="icon icon-book"></span> <?php echo $this->translate('course'); ?></a></li>
        <li><a href="<?php echo $this->url(array('module'=>'admin' , 'controller' => 'announcement' , 'action' => 'index'),null, FALSE)?>"><span class="icon icon-attention"></span> <?php echo $this->translate('announcement'); ?></a></li>
        <!--  <li><a href="<?php echo $this->url(array('module'=>'admin' , 'controller' => 'reminder' , 'action' => 'index'),null, FALSE)?>"><span class="icon icon-attention"></span> <?php echo $this->translate('course'); ?> <?php echo $this->translate('announcement'); ?></a></li>  -->   
    </ul>
<?php 
}
?>
