
    <?php if ($this->pageCount): 
    $params = Zend_Controller_Front::getInstance()
                    ->getRequest()->getParams();
    //remove the system parameters, $this->url will put them back
    unset($params['module']);
    unset($params['controller']);
    unset($params['action']);
    ?>
    <?php if ($this->last>1) { ?>
    
    <!-- First page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array_merge($params, array('page' => $this->first))); ?>">
        <?php echo $this->translate('first'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('first'); ?></span>
    <?php endif; ?>
     
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array_merge($params, array('page' => $this->previous))); ?>">
        &lt; <?php echo $this->translate('previous'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('previous'); ?></span>
    <?php endif; ?>
    
    <!-- Numbered page links -->
	
    <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo $this->url(array_merge($params, array('page' => $page))); ?>"><?php echo $page; ?></a>
            <?php else: ?>
                <span class="active"><?php echo $page; ?></span>
            <?php endif; ?>
        <?php endforeach; ?>
   
     
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array_merge($params, array('page' => $this->next))); ?>">
        <?php echo $this->translate('next'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo $this->translate('next'); ?> &gt;</span>
    <?php endif; ?>
     
    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array_merge($params, array('page' => $this->last))); ?>">
        <?php echo $this->translate('last'); ?>
      </a>
    <?php else: ?>
      <span class="disabled"> <?php echo $this->translate('last'); ?></span>
    <?php endif; ?>
    
     <?php } ?>
    <?php endif; ?>