<!--  <div class="paging"><?php echo $this->title;?></div>  -->
<?php
$naviauth = new Epic_Controller_Acl(new Epic_Acl());
$show = $naviauth->navicourse("content", "index", "modifycourseinfo",$this->username,$this->courseid);
if ($show == 1)
{
	?> 	
	<div class="page-opt">
	  <a class="btn btn-round btn-large" href="<?php echo $this->url(array('module'=>'content' , 'controller' => 'index' , 'action' => 'modifycourseinfo', 'courseid'=> $this->courseid),null, FALSE)?>" title="<?php echo $this->translate('modify_courseinfo'); ?>"><span class="icon icon-pencil"></span> <?php echo $this->translate('modify_courseinfo'); ?></a>
	</div>
	<?php 
}

?>
<h2 class="dotted"><?php echo $this->course['coursename'].' ('.$this->course['coursecode'].')';?></h2>
<?php
if($this->course['courseinfo'])
{
	?>
	<div class="course-wrap">
	<?php echo $this->course['courseinfo'] ?>
	</div>
	<?php 
}
else
{
	echo $this->translate('no_results'); 
}?>
<!--  
<script type="text/javascript">
$(function (){
	$('#save').click(function() {
         $('#ajax-form').dialog('close');
    });  
    
    $('#cancel').click(function() {
         $('#ajax-form').dialog('close');
    }); 


	$('a.ajax,a.bajax').click(function() {

		var url = this.href;
		var title = this.title;
		// show a spinner or something via css
		var dialog = $('<div style="display:none;align:left" class="loading"></div>').appendTo('body');
		// open the dialog
		

		$.ajax({
			cache: false,
			url: url,
			context: document.body,
			success: function(data){
				dialog.dialog({
					position: 'center',
					title: title,
					width: 800,
					autoOpen:false,
					// add a close listener to prevent adding multiple divs to the document
					/*open: function() {
						
					    CKEDITOR.replace( 'description',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  toolbar : [ ['Source'], ['Bold','Italic','Underline','Strike'], ], height: 550, width: 750 } );
						var editor = CKEDITOR.instances['description'];
					    if (editor) { 
					    	alert('destroy');
					    	editor.destroy(true); 
					    }

					    

						
						
					},*/
  					close: function(event, ui) {
						// remove div with all data and events
						var editor = CKEDITOR.instances['courseinfo'];
						if (editor) {
							//alert('destroy');
							editor.destroy(true);
						}
						dialog.dialog('destroy');

						dialog.remove();
						
						/*var instance = CKEDITOR.instances['description'];	
						if (instance) {	
						instance.destroy();
						instance = null;
						};
						// close dialog
						dialog.dialog("destroy").remove();
						*/
						//location.reload(true);

						/*$('#ajax-form').dialog('close');*/

					}
				});


				//});
				
				
				
				//alert(data);
				dialog.html(data);
				dialog.dialog('open');
			}
		});



		//prevent the browser to follow the link
		return false;


	});
	
	

});

</script>
 -->