<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
echo $this->headScript()->appendFile($this->baseUrl().'/jquery/js/jquery-1.6.2.min.js');
echo $this->headScript()->appendFile($this->baseUrl().'/js/jquery.media.js');
?>

<?php
$filename=$this->vdata['multimedia_files'];
$title=$this->vdata['title'];
?>
<script type="text/javascript">
    $(function() {
        $('a.media').media({width:500, height:400, flvPlayer : '<?php echo $this->baseUrl()?>/js/mediaplayer.swf' });
    });
</script>
</head>
<body>
 <strong><?php echo $title?></strong><br>
    <br>
    <table class="table-bg" width="740">
  <tbody><tr>
    <td align="center" height="600">

<a class="media" href="/<?php echo PATH_UPLOAD ?>/sme/multimediafiles/<?php echo $this->courseid?>/<?php echo $filename?>">&nbsp;</a>
	</td>
  </tr>
</tbody></table>
</body>

</html>