<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
?>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/textsizer.js">

/***********************************************
* Document Text Sizer- Copyright 2003 - Taewook Kang.  All rights reserved.
* Coded by: Taewook Kang (http://www.txkang.com)
* This notice must stay intact for use
* Visit http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>
</head>
<body onload="MM_preloadImages('<?php echo $this->baseUrl(); ?>/images/course_pg/ico_video_b.jpg')" class="bodycontent">
<table width="100%" align="right" cellpadding="5" cellspacing="5">
<tr>
<td width="90%">&nbsp;</td>
<td width="10%"><a href="javascript:ts('body',1)"><img src="<?php echo $this->baseUrl(); ?>/images/increase-font.png" width="16" height="16" alt=" + Increase Font" title=" + Increase Font" /></a> &nbsp; <a
href="javascript:ts('body',-1)"><img src="<?php echo $this->baseUrl(); ?>/images/decrease-font.png" width="16" height="16" alt=" - Decrease Font" title="- Decrease Font"/></td>
</tr>
</table>
<p><b><?php echo $this->data['title'];?></b></p>
<p> <?php if ($this->data['full_article']!="") {?>
<a
		href="/<?php echo PATH_UPLOAD ?>/sme/fullarticle/<?php echo $this->data['courseid']?>/<?php echo $this->data['full_article']?>" target="_blank">
<?php
		echo $this->translate('full_article'); 
        ?>
        
</a>
<a
		href="/<?php echo PATH_UPLOAD ?>/sme/fullarticle/<?php echo $this->data['courseid']?>/<?php echo $this->data['full_article']?>" target="_blank">
<img src="<?php echo $this->baseUrl(); ?>/images/course_pg/icon_pdf.jpg" width="56" height="42" />
        
</a><?php } ?>
<p> <?php if ($this->data['multimedia_files']!="") {?>

<a
	href="<?php
	echo $this->url(
    array('module' => 'content', 'controller' => 'index', 'action' => 'displaymultimediafiles',  'courseid' => $this->data['courseid'], 'id' => $this->data['id']), null, FALSE)?>" target="_blank" onmouseover="MM_swapImage('Image1','','<?php echo $this->baseUrl(); ?>/images/course_pg/ico_video_b.jpg',1)" onmouseout="MM_swapImgRestore()">
<img src="<?php echo $this->baseUrl(); ?>/images/course_pg/ico_video_a.jpg" width="68" height="65" name="Image1" id="Image1" />
        
</a><?php } ?>
</p>
</p>
<p>
<br>
<?php echo $this->data['ccontent'];?>
</p>

</body>
</html>