<?php
if (isset($this->errorMessage))
{
    echo $this->errorMessage;
}
?>
<div class="page-opt">
	<a href="<?php echo $this->url(array('module'=>'content', 'controller'=>'index','action'=>'courseinfo' , 'courseid'=> $this->courseid),'default',true) ?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('course').' '.$this->course['coursecode']?> </a>
</div>
<h2 class="dotted"><?php echo $this->translate('modify').' '.$this->translate('courseinfo')?></h2>

<?php
echo $this->form;
?>
<script type="text/javascript">
    CKEDITOR.replace( 'courseinfo',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  height: 600, width: '100%' } );
</script>