<?php
if (isset($this->errorMessage)) {
    echo $this->errorMessage;
}
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><? echo APP_TITLE;?></title>
<?php
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/table.css');
echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/cgsvlestyle.css');
echo $this->headScript()->appendFile($this->baseUrl().'/ckeditor/ckeditor_basic.js');
?>
</head>
<body>
<div id="contentonly">
<h3><?php echo $this->translate('modify').' '.$this->translate('content')?></h3><?php
echo $this->form;
?>
<script type="text/javascript">
    CKEDITOR.replace( 'ccontent',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  height: 80, width: 450 } );
</script>
</div>
</body>
</html>