<h2 class="dotted"><?php echo $this->translate('course_catalog')?></h2>

<div class="catalog">
	<ul>
	<?php
	if ( is_array($this->cats[0]) )
	{
		foreach($this->cats[0] as $row)
		{
			?>
			<li>
				<div class="icon icon-folder"></div>
				<div class="title"><a href="<?php echo $this->url(array('module'=>'catalog','controller'=>'index', 'action'=>'view', 'id' => $row['id']),'default',true); ?>"><?php echo $row['name']?></a></div>
				<div class="description"><?php echo $row['description']?></div>
				
				<?php echo list_subcat($row['id'],2,$this->cats, $this); ?>
			</li>
			<?php
		}
	}
	?>
	</ul>
</div>
<style type="text/css">
.catalog { }
.catalog ul { list-style:none }
.catalog ul li { margin-bottom:10px; }
.catalog ul li:last-child { margin:0 }
.catalog ul li .title { font-weight:bold; font-size:16px; }
.catalog ul li .title a { color:#2c4f7f }
.catalog ul li .description { color:#999 }
.catalog ul li .icon-folder { float:left; margin:0 10px; height:40px; color:#f2d04a; }
.catalog ul li ul.child { width:500px; clear:left; margin-top:10px; border-left:1px solid #eee;  margin-left:15px;  }
.catalog ul li ul.child li { padding:5px 0 5px 20px;  }
.catalog ul li ul.child li:last-child { border:none }
.catalog ul li .icon-right-dir { color:#ccc }
.catalog ul li .depth-2 { }
</style>
<?php
function list_subcat($pid='0',$depth=1,$cache=array(),$view)
{ 

	if(!isset($cache[$pid])) return;
	
	echo '<ul class="child depth-'.$depth.'">';
	while (list($parent,$category) = each($cache[$pid]))
	{
		$depths = $depth > 1 ? str_repeat("--",$depth-1)." ":'';

		?>
		<li><span class="icon icon-right-dir"></span> <a href="<?php echo $view->url(array('module'=>'catalog','controller'=>'index', 'action'=>'view', 'id' => $category['id']),'default',true); ?>"><?php echo $category['name'] ?></a></li>
		<?php
		
		//list_subcat($category['id'],$depth+1, $cache, $view );
	}
	echo '</ul>';
}