<h2 class="dotted"><?php echo $this->cat['name']?></h2>

<table class="maintable">
<thead>
		<tr>
			<th><?php echo strtoupper($this->translate('coursecode')) ?></th>
			<th><?php echo strtoupper($this->translate('coursename')) ?></th>
            <th class="centered"><?php echo strtoupper($this->translate('coursetype')) ?></th>
            <th class="centered"><?php echo strtoupper($this->translate('credithour')) ?></th>
		</tr>
</thead>
<tbody>
<?php 
if (!empty($this->courses))
{
	foreach ($this->courses as $row) 
	{
		echo "<tr><td>";
		?>
		<!-- <a href="<?php echo $this->url(array('module' => 'content', 'controller' => 'index' , 'action' => 'courseinfo', 'courseid' => $row['id']),null, true)?>"><?php echo $row['coursecode'];?></a>  -->
		<a href="<?php echo $this->url(array('module' => 'block', 'controller' => 'index' , 'action' => 'block', 'courseid' => $row['id']),null, true)?>"><?php echo $row['coursecode'];?></a>
		<?php
		echo "</td>
		<td>";
		?>
	   <?php echo $row['coursename'];?>
		<?php
		echo "</td>
	    <td class='centered'>";
		?>
		<?php echo $row['coursetype'];?>
		<?php
		echo "</td>
	    <td class='centered'>";
		?>
		<?php echo $row['credithour'];?>
		<?php
		echo "</td>
		</tr>";
	}
}
else
{
	?>
	<tr>
	<td colspan="4"><?php echo $this->translate('no_results')?></td>
	</tr>
	<?php 
}
?>			
</tbody>					
</table>