<div class="paging"><?php echo $this->title;?></div>

<h2 class="dotted"><?php echo $this->course['coursename'].' ('.$this->course['coursecode'].')';?></h2>
<?php
if($this->course['courseinfo'])
{
	?>
	<div class="course-wrap">
	<?php echo $this->course['courseinfo'] ?>
	</div>
	<?php 
}
else
{
	echo $this->translate('no_results'); 
}?>

<?php
$block = new Block_Model_Block(); 
$naviauth = new Epic_Controller_Acl(new Epic_Acl());

$show = $naviauth->navicourse("block", "index", "addblock",$this->username,$this->courseid);
if ($show == 1)
{
	?> 	
	<div class="page-opt act-opt">
		<?php echo $this->form; ?>
		<a class="fajax fancybox.ajax btn btn-round btn-large" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'addblock', 'courseid'=> $this->courseid),null, true)?>"><span class="icon icon-pencil"></span><?php echo $this->translate('add_block'); ?> </a>
	</div>
	<div class="cf"></div>
	<?php 
}

//$this->courseReadPercentage = 10;

if( $this->courseReadPercentage > 0 )
{ 
	$this->courseReadPercentage = $this->courseReadPercentage > 100 ? 100 : $this->courseReadPercentage;
	?>
	<div class="progressbar-wrap mainprogress">
		<span class="label"><?php echo $this->translate('overall_reading_status')?> <?php echo $this->courseReadPercentage.'%'; ?></span>
		<div class="progressbar blue">
	    	<div style="width: <?php echo $this->courseReadPercentage;?>%"></div>
		</div>
	</div>
<?php 
}
//end precentage
?>
<div class="activity-wrap">
<?php 
$i=1;
foreach ($this->vdata as $blockrow) 
{
	?>
	<!--  activity box -->
	<div class="activity_box" id="box-<?php echo $i?>">
		<div class="title">
			<h3><?php echo strtoupper($blockrow['title']); ?></h3>
			
			<div class="opt">
				<?php
				$show = $naviauth->navicourse("block", "index", "removeblock",$this->username,$this->courseid);
			    if ($show == 1) 
			    {    	
					?>
					<a class="fajax fancybox.ajax" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'editblock', 'courseid' => $this->courseid, 'blockid' =>$blockrow['id']),null, true)?>" title="<?php echo $this->translate('edit'); ?>"><span class="icon icon-pencil"></span>  </a> 
					<a class="" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'removeblock', 'courseid' => $this->courseid, 'blockid' =>$blockrow['id']),null, true)?>" onclick="return sure('<?php echo $this->translate('delete_message'); ?>')" title="<?php echo $this->translate('delete'); ?>"><span class="icon icon-trash"></span>  </a>
					<?php
			    }
			 	?>
			</div>
		</div>
		<div class="description">
			<?php echo trim($blockrow['description']); ?>
		</div>		
		<div class="progress">
			<?php
			$show = $naviauth->navicourse("block", "index", "removeblock",$this->username,$this->courseid);
			if ($show == 1) 
			{    	
				?>
				<div class="desc-opt"><a class="fajax btn2 blue fancybox.ajax" data-ajax-width="800" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'addcontent', 'courseid'=> $this->courseid, 'blockid'=> $blockrow['id']),null, FALSE)?>"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('add_content'); ?></a></div>
				<?php
			}
			?>
			
			<?php 
		   	//count reading percentage
		   	$btrackDB = new Block_Model_Blocktrack();
		   	$percentage = $btrackDB->getReadingStatus($this->username,$blockrow['id'],$this->courseid);
		   	$percentage = $percentage > 100 ? 100 : $percentage;
		   	
		   	if( $percentage > 0 )
		   	{
		   		?>
		 		<div class="progressbar-wrap">
					<span class="label"><?php echo $this->translate('reading_status')?> <?php echo $percentage;?>%</span>
					<div class="progressbar">
				    	<div style="width: <?php echo $percentage;?>%"></div>
					</div>
				</div>
		   		<?php 
		   	}//end precentage
		   	?>
		</div>
		
		<!--  content -->
		<div class="content">
			
		   	<?php
			$rs = $block->fetchcontent($blockrow['id']);
			$showopt = $naviauth->navicourse("block", "index", "modifycontent",$this->username,$this->courseid);
			if ($rs)
			{
				?>
				<table class="block-table table">
					<thead>
					<tr>
						<th><?php echo $this->translate('no'); ?></th>
						<th> </th>
						<th><?php echo $this->translate('name'); ?></th>
						<th><?php echo $this->translate('description')?></th>
						<th><?php echo $this->translate('type')?></th>
						
						<?php if ($showopt == 1) { ?>
						<th><?php echo $this->translate('action'); ?></th>
						<?php } ?>
					</tr>
					</thead>
					<tbody>
					<?php 
					$bil = 1; 
					
					foreach ($rs as $row)
					{ 
						?>
						<tr>
							<td class="centered"><?php echo $bil;?></td>
							<td><?php if( ($btrackDB->getContentStatus($this->courseid,$row["id"],$this->username))==true )
							{
								echo '<img src="'.$this->baseUrl().'/images/correct.png" alt=""/>';
							}
							?>
							</td>
							<td>
								<?php
								
								$name = '_self';
								
								/* file */
								if ( $row['filename']!='' )
								{	
									if ( $row['res_type']==1 || $row['res_type']==2 ) 
									{	
										$url = $this->url(array('module' => 'block', 'controller' => 'index', 'action' => 'framepage1',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE);    
									}
									else if ( $row['res_type'] == 8 )
									{
									
										$url = $this->url(array('module' => 'block', 'controller' => 'content', 'action' => 'index',  'courseid' => $this->courseid, 'moduleid' => $row['moduleid'],'idtype'=>$row['res_type']), 'default', true);
										$popup = "popitup('$url');";
										
									}
									else
									{
										$url = $this->url(array('module' => 'block', 'controller' => 'index', 'action' => 'framepage2',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE);
									}
								}
									
								/* url */
								if ( $row['url'] != '')
								{
									if ( $row['res_type'] == 3 ) 
									{
										$url = $row['url'];
										$name = '_blank';
										  	
									}
									else if ($row['res_type']==6)
									{ 
										$url = $this->url(array('module' => 'block', 'controller' => 'index', 'action' => 'framepageembed',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE);
									}
								}									
									
								/* general */
								if( $row['res_type'] == 7 )
								{
									$url = $this->url(array('module' => 'chat', 'controller' => 'index', 'action' => 'index',  'courseid' => $this->courseid,  'title' => $row['title']), null, FALSE);
									$name = '_blank';
								}
								
								if( $row['res_type'] == 9 )
								{
									$url = $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'beforetest',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE);
								}
								
								if ($row['res_type']==9)
								{
									$url = $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'beforetest',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE);
								}
								
								if ($row['res_type']==12)
								{
									$url = $this->url(array('module' => 'forum', 'controller' => 'index', 'action' => 'listmsgforum',  'courseid' => $this->courseid,  'semid' => $blockrow['intakeid'], 'forumID' => $row['forumid']), 'default', true);
								}
								
								if($row['res_type']==13)
								{
									$url = $this->url(array('module' => 'assignment', 'controller' => 'index', 'action' => 'displayassignment',  'courseid' => $this->courseid,  'blockid' => $blockrow['id'], 'blockcontentid' => $row['id']), 'default', true);
								}
								//end yatie test
										
								?>
								<a href="<?php echo $url;?>" target="<?php echo $name?>" onclick="return <?php echo $popup;?> savetrack('<?php echo $url;?>','<?php echo $row["id"];?>','<?php echo $blockrow['id']; ?>','<?php echo $this->courseid;?>','<?php echo $name;?>');"><?php echo $row['title'];?></a>
							</td>
							<td><?php echo $row['description']; ?> </td>
							<td>
								<?php
								$rs2 = $block->findForSelect();
							
								foreach ($rs2 as $roww) 
								{
									if ( $row['res_type'] == $roww['id'] )
									{
										$restype=$roww['type'];
									}
								}
								
								echo $restype;
								?>
							</td>
							<?php
								$show = $naviauth->navicourse("block", "index", "modifycontent",$this->username,$this->courseid);
								if ($show == 1)
								{		
							?>
							<td>                  
								<?php if ( $row['res_type']=='9' ) { ?>
								<a class="btn2 blue" href="<?php echo $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'index', 'courseid' => $this->courseid, 'blockid' => $blockrow['id'],'id' => $row['id']), 'default', TRUE)?>"><?php echo $this->translate('manage_ques')?></a>
							 	<?php } ?>
							 	<a class="fajax fancybox.ajax btn2 green" href="<?php echo $this->url(array('module' => 'block', 'controller' => 'index', 'action' => 'modifycontent', 'courseid' => $this->courseid, 'blockid' => $blockrow['id'], 'id' => $row['id']), null, FALSE)?>"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit')?></a>
								<a class="btn2 red" href="<?php echo $this->url(array('module' => 'block' , 'controller' => 'index' , 'action' => 'deletecontent', 'courseid' => $this->courseid, 'rowid' =>$row['id']),null, FALSE)?>" onclick="return sure('<?php echo $this->translate('are_you_sure'); ?>')"><span class="icon icon-trash"></span> <?php echo $this->translate('delete')?></a>
							</td>
							<?php } //end show ?>
						</tr>
						
						<?php
						$bil++;
						 
					}//end foreach row
					?>
					</tbody>
				</table>
				<?php 
			} // $rs
			?>
			
		<!--  / content  -->
		</div>
	</div>
	<!--  /activity -->
	
	<?php 
} // foreach vdata
?>
</div>


<script type="text/javascript">
function savetrack(url,content_id,block_id,course_id,name)
{
	//alert('content_id:'+content_id+ '   block_id:'+block_id+ '  course_id:'+course_id);
    //window.open(url,name,'fullscreen=1,scrollbars=1');
//    window.location.href = url;
	//var urlx= "<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'ajax-save-track'),'default',true);?>/block_id/"+block_id+"/content_id/"+content_id+"/course_id/"+course_id;  

	if( name=="_blank" )
	{
        //alert('refresh'); 
       // location.reload(true);
//        window.opener.location.reload(true);
		window.open(url, name);
	}else{
		window.location = url;
	}
	 
	
    $.ajax({ 
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'block','controller'=>'index','action'=>'ajax-save-track'),'default',true);?>/block_id/"+block_id+"/content_id/"+content_id+"/course_id/"+course_id
		    	
	});

	return false;
}

function refreshblock()
{
	$("#f2").attr('action',"<?php echo $this->url( array('module' => 'block', 'controller' => 'index', 'action' => 'block', 'courseid' => $this->courseid ), 'default', true)?>");
	$("#f2").submit();
}

$(document).ready(function() 
{
	$(".fajax").fancybox({minWidth:800});
});

function popitup(url) {
	newwindow=window.open(url,'name','scrollbars=1');
	if (window.focus) {newwindow.focus()}

//	,height=600,width=900
	return false;
}
</script>



<style type="text/css">
.activity-wrap {  margin-top:25px; }
.activity_box { margin-bottom:25px; border:1px solid #cecece;  }
.activity_box .title 
{
	padding:10px;
	overflow:hidden; background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #cecece;
}

.act-opt { width:250px }
.activity_box .opt { top:10px;; right:10px; position:absolute; }
.activity_box .title { position:relative }
.activity_box .title a { color:#888 }
.activity_box .title a:hover { color:#333 }
.activity_box .title h3 { font-size:14px; letter-spacing:0; display:inline; margin:0; font-weight:400 }
.activity_box .desc-opt { float:right; }

.activity_box .description { font-size:13px; padding:10px; }
.activity_box .description ul { margin:10px 0 10px 25px }
.activity_box .description ul li { margin-bottom:3px; }
.activity_box .progress { margin-top:15px; padding:10px; }

.activity_box .content { padding:10px; }

#rtl .activity_box .desc-opt { float:left;}
#rtl .activity_box .opt { top:10px; left:10px; right:auto; }
td img { vertical-align:middle }
</style>


