<?php

//print_r($this->vdata);

foreach ($this->vdata as $row) {
	$res_type= $row['res_type'];
	$title= $row['title'];
	$description= $row['description'];
	$filename= $row['filename'];
	$url= $row['url'];
}

?>
<script type="text/javascript">



/*if (CKEDITOR.instances['description']) {
delete CKEDITOR.instances['description']
};*/
/*
var editor = CKEDITOR.instances['description'];
if (editor) {
	alert('destroy');
	editor.destroy(true);
}
*/
CKEDITOR.replace( 'description',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  toolbar : [ ['Source'], ['Bold','Italic','Underline','Strike'], ], height: 200, width: 400 } );

/*var editor = CKEDITOR.instances['description'];
alert( editor.checkDirty() );*/

//console.log(CKEDITOR.instances['description'].getData());

</script>


<div id="contentonly">

<!--<h3><?php echo $this->translate('modify').' '.$this->translate('resource')?></h3>-->

<form enctype="multipart/form-data" method="post" action="/block/index/modifycontent/id/<?php echo $row['id']?>">
<dl class="zend_form">

<dt id="res_type-label"><label for="res_type" class="required"><?php echo $this->translate('type') ?>:</label></dt>
<dd id="res_type-element"><?php echo $this->res_type ?>
<select name="res_type" id="res_type">
	<option value="" label="Please Select"><?php echo $this->translate('type') ?>...</option>
    <?php 
    foreach ($this->rs_type as $row) {

    	if ($res_type==$row['id'])
    	$selected="selected";
    	else
    	$selected="";
    	echo '<option '.$selected.' value="'.$row['id'].'" label="'.$row['type'].'">'.$row['type'].'</option>';
    }
    ?>
</select></dd>

<dt id="title-label"><label for="title" class="required"><?php echo $this->translate('title') ?> :</label></dt>
<dd id="title-element">
<input type="text" name="title" id="title" value="<?php echo $title ?>"></dd>

<dt id="description-label"><label for="description" class="required"><?php echo $this->translate('description') ?> :</label></dt>
<dd id="description-element">
<textarea name="description" id="description" rows="24" cols="80"><?php echo $description ?></textarea></dd>


<dt id="courseid-label">&#160;</dt>
<dd id="courseid-element">
<input type="hidden" name="courseid" value="<?php echo $this->courseid?>" id="courseid"></dd>

<dt id="blockid-label">&#160;</dt>
<dd id="blockid-element">
<input type="hidden" name="blockid" value="<?php echo $this->blockid?>" id="blockid"></dd>


<div id="file_upload" name="file_upload" class="file_options">
<dt id="filename-label"><label for="filename" class="optional"><?php echo $this->translate('upload').' '.$this->translate('file')?> :</label></dt>
<dd>


<input type="file" name="filename" id="filename"></dd>
</div>



<div id="url_upload" name="url_upload" class="url_options">
<dt id="url-label"><label for="url" class="optional">Url:</label></dt>
<dd>
<input type="text" name="link" id="link" value="<?php echo $url ?>"></dd>
</div>

<div id="embed_upload" name="embed_upload" class="embed_options">
<dt id="embed-label"><label for="embed" class="optional">Embed Code:</label></dt>
<dd>

<input type="text" name="url" id="url" value="<?php 
$url = str_replace('"',"'",$url);
echo stripslashes($url) ?>"></dd>
</div>


<dt id="buttons-label">&#160;</dt><dd id="buttons-element"><div class="buttons">

<input type="submit" class="button" name="save" id="save" value="<?php echo $this->translate('modify').' '.$this->translate('content')?>">

<input type="submit" class="button" name="cancel" id="cancel" value="<?php echo $this->translate('cancel')?>" onClick="window.location ='<?php echo $this->baseUrl(); ?>/block/index/block/id/<?php echo $this->courseid?>courseid/<?php echo $this->courseid?>'; return false;"></div></dd>

</dl></form>
</div>
<script>
if ($('#res_type option:selected').val()==1 || $('#res_type option:selected').val()==2 || $('#res_type option:selected').val()==4 || $('#res_type option:selected').val()==5){
	$("#file_upload").show();
	$("#url_upload").hide();
	$("#embed_upload").hide();
}
if ($('#res_type option:selected').val()==3){
	$("#file_upload").hide();
	$("#url_upload").show();
	$("#embed_upload").hide();
}
if ($('#res_type option:selected').val()==6){
	$("#file_upload").hide();
	$("#url_upload").hide();
	$("#embed_upload").show();
}
if ($('#res_type option:selected').val()==7){
	$("#file_upload").hide();
	$("#url_upload").hide();
	$("#embed_upload").hide();
}/*else {
$("#file_upload").hide();
$("#url_upload").hide();
$("#embed_upload").hide();
}*/


$("#res_type").change(function () {
	//alert('Value change to ' + $(this).attr('value'));

	if ($(this).attr('value')==1 || $(this).attr('value')==2 || $(this).attr('value')==4 || $(this).attr('value')==5){
		$("#file_upload").show();
		$("#url_upload").hide();
		$("#embed_upload").hide();
	} else if ($(this).attr('value')==3) {
		$("#file_upload").hide();
		$("#url_upload").show();
		$("#embed_upload").hide();
	} else if ($(this).attr('value')==6) {
		$("#file_upload").hide();
		$("#url_upload").hide();
		$("#embed_upload").show();
	}else {
		$("#file_upload").hide();
		$("#url_upload").hide();
		$("#embed_upload").hide();
	}

});

$('#filename').change( function() {
	var filename = $(this).val();
	if ($('#res_type option:selected').val()==1){
		if ( ! /\.doc$/.test(filename) && ! /\.docx$/.test(filename) && ! /\.xls$/.test(filename) && ! /\.xlsx$/.test(filename) && ! /\.ppt$/.test(filename) && ! /\.pptx$/.test(filename) ) {
			alert('Please select doc,docx,xls,xlsx,ppt,pptx file');
		}
	}
	else if ($('#res_type option:selected').val()==2){
		if ( ! /\.pdf$/.test(filename)) {
			alert('Please select a pdf file');
		}
	}
	else if ($('#res_type option:selected').val()==4){
		if ( ! /\.flv$/.test(filename)) {
			alert('Please select a flv file');
		}
	}
	else if ($('#res_type option:selected').val()==5){
		if ( ! /\.wav$/.test(filename)) {
			alert('Please select a wav file');
		}
	}
});

$("form").submit(function() {
	if ($('#res_type option:selected').val()==""){
		alert("Please select resource type");
		return false;

	}

	else if ($('#title').val()==""){
		alert("Please provide title");
		return false;

	}

	else if ($('#res_type option:selected').val()==3 ){
		if ($('#link').val()==""){
			alert("Please provide url");
			return false;
		}
	}

	else if ($('#res_type option:selected').val()!='<?php echo $res_type?>'){
		if ($('#filename').val()==""){
			alert("Please select file");
			return false;
		}
	}


});

</script>