<h2 class="dotted"><?php echo $this->translate('course_catalog')?></h2>
<div class="page-opt">
	<a href="<?php echo $this->url(array('module'=>'catalog','controller'=>'admin', 'action'=>'add'),'default',true); ?>" class="btn btn-round btn-large"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('add_catalog')?></a>
</div>

<!--  manage table -->
<table class="maintable">
	<thead>
	<tr>
		<th width="25%"><?php echo $this->translate('name')?></th>
		<th><?php  echo $this->translate('description')?></th>
		<th width="25%"><?php  echo $this->translate('options')?></th>
	</tr>
	</thead>
	<tbody>
	<?php
	if ( is_array($this->cats[0]) )
	{
		foreach($this->cats[0] as $row)
		{
			?>
			<tr>
			<td><strong><?php echo $row['name']?></strong></td>
			<td><?php echo snippet($row['description'],100)?></td>
			<td>
				<a href="<?php echo $this->url(array('module'=>'catalog','controller'=>'admin', 'action'=>'edit', 'id' => $row['id']),'default',true); ?>" class="btn2 green"><span class="icon icon-pencil"></span> <?php echo $this->translate('edit');?></a>
				<a href="<?php echo $this->url(array('module'=>'catalog','controller'=>'admin', 'action'=>'delete', 'id' => $row['id']),'default',true); ?>" class="btn2 red" onclick="return sure('<?php echo $this->translate('are_you_sure')?>')"><span class="icon icon-trash"></span> <?php echo $this->translate('delete');?></a>
			</td>
			</tr>
			<?php
			echo list_subcat($row['id'],2,$this->cats, $this);
		}
	}
	?>
	</tbody>
</table>
<?php
function list_subcat($pid='0',$depth=1,$cache=array(),$view)
{ 

	if(!isset($cache[$pid])) return;
	
	while (list($parent,$category) = each($cache[$pid]))
	{
		$depths = $depth > 1 ? str_repeat("--",$depth-1)." ":'';

		?>
		<tr>
			<td><?php echo $depths.$category['name'] ?></td>
			<td><?php echo snippet($category['description'],75)?></td>
			<td>
				<a href="<?php echo $view->url(array('module'=>'catalog','controller'=>'admin', 'action'=>'edit', 'id' => $category['id']),'default',true); ?>" class="btn2 green"><span class="icon icon-pencil"></span> <?php echo $view->translate('edit');?></a>
				<a href="<?php echo $view->url(array('module'=>'catalog','controller'=>'admin', 'action'=>'delete', 'id' => $category['id']),'default',true); ?>" class="btn2 red" onclick="return sure('<?php echo $view->translate('are_you_sure')?>')"><span class="icon icon-trash"></span> <?php echo $view->translate('delete');?></a>
			</td>
		</tr>
		<?php
		
		list_subcat($category['id'],$depth+1, $cache, $view );
	} 
}

function snippet($text,$length=250,$tail="...")
{
	$text = trim($text);
	$txtl = strlen($text);
	if($txtl > $length) {
		for($i=1;$text[$length-$i]!=" ";$i++) {
			if($i == $length) {
				return substr($text,0,$length) . $tail;
			}
		}
		$text = substr($text,0,$length-$i+1) . $tail;
	}
	return $text;
}
?>