<?php
foreach ($this->vdata as $row) 
{
	$res_type= $row['res_type'];
	$title= $row['title'];
	$description= $row['description'];
	$filename= $row['filename'];
	$url= $row['url'];
	
	if ($res_type==9)
	{
		$test = new Block_Model_Test();
		$rowtest=$test->fetch( $row['id'] );

	}
}
?>

<div class="page-opt">
	<a class="btn btn-round btn-large" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'index' , 'action' => 'block', 'courseid' => $this->courseid),'default', true)?>"><span class="icon icon-left-open"></span> <?php echo $this->translate('back')?></a>	
</div>
<div class="paging">
	<?php echo $this->title;?>
</div>

<h2 class="dotted"><?php echo strtoupper($this->course['coursename']).' <span class="code">'.$this->course['coursecode'].'</span>';?></h2>
<?php 
$std=date('d-M-Y',$rowtest['start_time']);
$etd=date('d-M-Y',$rowtest['end_time']); 
?>
<div class="formnice extended">
	<div class="row"><strong><?php echo $this->translate('title') ?></strong><?php echo $title ?></div>
	<div class="row"><strong><?php echo $this->translate('description') ?></strong><?php echo $description ?></div>
	<div class="row"><strong><?php echo $this->translate('time_duration') ?></strong><?php echo $rowtest['test_time']?> <?php echo $this->translate('minutes') ?></div>
	<div class="row"><strong><?php echo $this->translate('start_time') ?></strong><?php echo $std ?> <?php echo date('h',$rowtest['start_time']) ?>:<?php echo date('i',$rowtest['start_time']) ?> <?php echo date('A',$rowtest['start_time']) ?></div>
	<div class="row"><strong><?php echo $this->translate('end_time') ?></strong><?php echo $etd ?> <?php echo date('h',$rowtest['end_time']) ?>:<?php echo date('i',$rowtest['end_time']) ?> <?php echo date('A',$rowtest['end_time']) ?></div>
	<div class="row"><strong><?php echo $this->translate('percentage_to_pass') ?></strong><?php echo $rowtest['reqpercentage'] ?>%</div>
	<div class="row"><strong><?php echo $this->translate('allow_view_answer') ?></strong><?php echo $rowtest['answer_view']=="1" ? $this->translate('yes') : $this->translate('no'); ?></div>
 	<div class="row"><strong><?php echo $this->translate('max_attempts') ?></strong><?php echo $rowtest['attempts'] ?></div>
 	<div class="row"><strong><?php echo $this->translate('allow_random') ?></strong><?php echo $rowtest['allow_random']=="1" ? $this->translate('yes') : $this->translate('no')?></div>
 	<div class="row"><strong><?php echo $this->translate('questions') ?></strong><?php  echo $this->noques." ".$this->translate('questions'); ?></div>
 </div>


<table id="mytable" class="table">
	<tr>
		<td>
		<?php
		// check no of attempts
		if($this->bilattempt['bilattempt']>=$rowtest['attempts'])
		{
			echo $this->translate('attempt_exceeded');
		}
		// check start time 
		else if(time()< $rowtest['start_time'])
		{
			echo $this->translate('test_not_available');
		}
		// check end time
		else if(time()>= $rowtest['end_time'])
		{
			echo $this->translate('test_time_passed');
		}
		else 
		{
			$my_string = rand_string( 16 );

			if (!isset($_COOKIE['lms_access_token']))
			{
				setcookie("lms_access_token", $my_string, time()+86400, $this->baseUrl()."/block/test");
			}
			
			$randvalue=rand(1,100);

			if(!isset($_COOKIE['lms_randvalue']))
			{
				setcookie("lms_randvalue", $randvalue, time()+86400, $this->baseUrl()."/block/test");
			}
			
			//print_r($_COOKIE);
			?>
			
			<?php $this->courseid?>

			<?php $this->blockid?>

			<a class="ajax btn btn-round btn-large" href="<?php echo $this->url(array('module'=>'block' , 'controller' => 'test' , 'action' => 'attempttest', 'courseid' => $this->courseid,  'blockid' => $this->blockid, 'id' => $row['id'], 'page' => 1),'default', true)?>" title="<?php echo $this->translate('start').' '.$this->translate('test')?>"><span class="icon icon-pencil"></span> <?php echo $this->translate('start_test')?> </a>
			
			<?php
			}
			?>
		</td>
	</tr>
</table>
<?php
function rand_string( $length ) {
	$chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";	

	$size = strlen( $chars );
	for( $i = 0; $i < $length; $i++ ) {
		$str .= $chars[ rand( 0, $size - 1 ) ];
	}

	return $str;
}
face?>