<?php

//print_r($this->vdata);

foreach ($this->vdata as $row) {
	$title= $row['title'];
	$description= $row['description'];
}


$rowtest=$this->rowtest;
	
$allrecord = $this->allrecord;
//echo $allrecord;
?>

<div id="contentonly">
<?php echo $this->title.' '.$this->translate('question')?> <?php echo $this->qid?>
<br><br>
<div class="title_page"><?php echo strtoupper($this->course['coursename']).'('.$this->course['courseid'].')';?></div>
<hr class='dotted' />

<table id="data-border" width="100%">
  	<tr>
    	<td width="100%">
    		<table  id="data-border"" width="100%">
  	
    
        
	    
    
    
  <tr><td colspan="2" width="100%"><table id=data_border class=tbsub width="100%">
  	 
  
	 <form name="f1" method="post" enctype="multipart/form-data">
	 	 <tr>
  		 		<td colspan="2" height="30" valign="middle" nowrap class="tbtitle">&nbsp;
	    
	   
		<a
			href="<?php
			echo $this->url(
		    array('module' => 'qbank', 'controller' => 'index', 'action' => 'upload', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id), 'default', true)?>"><?php echo $this->translate('add_new'); ?></a>
		| 
		<a
			href="<?php
			echo $this->url(
		    array('module' => 'qbank', 'controller' => 'index', 'action' => 'importques', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id), 'default', true)?>"><?php echo $this->translate('import_ques'); ?></a>
		
		<br>
		Choose 
	    <select size="1" name="pick1" onchange="picknumber(this.form)">
			<?php
			
			if ($rowtest["random_question_no"]==null) $rowtest["random_question_no"]=$allrecord;
			for ($i=1; $i<=$allrecord; $i++) {
				$stringsel="";
				if ($i==$rowtest["random_question_no"]) $stringsel="selected";
				echo "<option ".$stringsel." value=\"".$i."\">".$i."</option>\n";
			}
			?>    
		</select> / <?php echo $allrecord?> <?php echo $this->translate('questions'); ?>
	   	
	  	
	   
	    </td>
	   
	    
	  </tr>
	  
	 	
  </table></td></tr>  
  
    <tr>
      <td colspan="2" width="100%" height="13" class="tbmenu">&nbsp;
    	
    </tr>

    <tr>
    <td colspan="2" width="100%">
    
	  
	  <?php

if (count($this->paginator)) {
    ?>

<table id="mytable" cellspacing="0">
<tr>
<th id="mytable" width="40">
&nbsp;
</th>
<th id="mytable">

<?php echo $this->translate('question'); ?>
</th>
 
		<th width="13%" id="mytable">
		<?php echo $this->translate('view'); ?>
        </th>
 
		<th width="13%" id="mytable">
		<?php echo $this->translate('modify'); ?>
        </th>
   
     
		<th width="13%" id="mytable">
		<?php echo $this->translate('remove'); ?>
        </th>
    

</tr>
	<?php
    $bil=1;
	foreach ($this->paginator as $rowtestques) {
        $fldid=$rowtestques['asqID'];
		?>
    <tr>
    	<td id="mytable">
    	<select size="1" name="chgno<?php echo $bil?>" onchange="autonumber('<?php echo $fldid?>','<?php echo $bil?>',this.form)">
		<?
		for ($i=1; $i<=$allrecord; $i++) {
			$stringsel="";
			if ($i==$rowtestques['countNo']) $stringsel="selected";
			echo "<option ".$stringsel." value=\"".$i."\">".$i."</option>\n";
		}
		?>    
	    </select>
    	</td>
    	<td id="mytable">
		<?php
        $qbank=new Qbank_Model_Qbank();
		$rs=$qbank->get_question($rowtestques['qid'],$this->courseid);
		echo $rs['question'];
        ?></td>
   
   
		
		 <td id="mytable"><a
		href="<?php
            echo $this->url(
            array('module' => 'qbank', 'controller' => 'index', 'action' => 'view', 
            'courseid' => $this->courseid,'blockid' =>$this->blockid, 'id' => $this->id,'qid' => $rowtestques['qid']), 'default', true)?>"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-view.png'>"?></a>
            </td>
  
		
		 <td id="mytable"><a
		href="<?php
            echo $this->url(
            array('module' => 'qbank', 'controller' => 'index', 'action' => 'modify', 
            'courseid' => $this->courseid,'blockid' =>$this->blockid, 'id' => $this->id,'qid' => $rowtestques['qid']), 'default', true)?>"><?php
            echo "<img src='".$this->baseUrl()."/images/btn-edit.gif'>"?></a>
            </td>
  
     <td id="mytable"><a href="javascript: validate(<?php
            echo $rowtestques['qid']?>)"><?php
            echo $this->translate('remove');?></a>
            </td>
     
    <input type="hidden" name="fldid<?php echo $bil?>" value="<?php echo $fldid?>">
	<?php
	
	$bil++;
    }
    ?>
</table>
<?php
    echo $this->paginationControl($this->paginator, 'Elastic', 
    'pagination.phtml',$this->searchParams);
    ?>
<?php
}
?>


</td>
    </tr>
</table>
	</td>
</tr>
</table>
<input type="hidden" name="bilgelung" value="<?php echo $bil-1?>"> 

</form>	  	
	 
</div>

<script language=javascript>

function autonumber(a,b,namaform) {
	
	gourl='<?php
			echo $this->url(
		    array('module' => 'block', 'controller' => 'test', 'action' => 'index', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id ), 'default', true)?>/fldid/'+a+'/mvno/'+b+'/act/sort';
	
	namaform.action=gourl;	
	namaform.submit();
}

function validate(qid)
{
	if(!window.confirm('<?php echo $this->translate('remove_message'); ?>'))
	return;
	
	document.location="<?php
echo $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'remove', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id))?>/qid/"+qid;
}

function picknumber(namaform) {
	
	gourl='<?php
			echo $this->url(
		    array('module' => 'block', 'controller' => 'test', 'action' => 'index', 'courseid' => $this->courseid, 'blockid' =>$this->blockid, 'id' => $this->id), 'default', true)?>/act/setnoques';
	namaform.action=gourl;	
	namaform.submit();
}



</script>