<div class="paging"><?php echo $this->title;?></div>

<h2 class="dotted"><?php echo strtoupper($this->course['coursename']).' <span class="code">'.$this->course['coursecode'].'</span>';?></h2>

<div class="notice">
	<?php echo $this->translate('submit_test_success') ?> <?php echo $this->translate('click') ?> <a href="<?php echo $this->url(array('module' => 'block', 'controller' => 'test', 'action' => 'viewresult', 'courseid' => $this->courseid, 'view' => $this->resultid), 'default', true)?>"><?php echo $this->translate('here') ?></a> <?php echo $this->translate('to_view_result') ?>.
	
</div>
