<?php

function sec2hms ($sec, $padHours = false)
{

	// start with a blank string
	$hms = "";

	// do the hours first: there are 3600 seconds in an hour, so if we divide
	// the total number of seconds by 3600 and throw away the remainder, we're
	// left with the number of hours in those seconds
	$hours = intval(intval($sec) / 3600);

	// add hours to $hms (with a leading 0 if asked for)
	$hms .= ($padHours)
	? str_pad($hours, 2, "0", STR_PAD_LEFT). ":"
	: $hours. ":";

	// dividing the total seconds by 60 will give us the number of minutes
	// in total, but we're interested in *minutes past the hour* and to get
	// this, we have to divide by 60 again and then use the remainder
	$minutes = intval(($sec / 60) % 60);

	// add minutes to $hms (with a leading 0 if needed)
	$hms .= str_pad($minutes, 2, "0", STR_PAD_LEFT). ":";

	// seconds past the minute are found by dividing the total number of seconds
	// by 60 and using the remainder
	$seconds = intval($sec % 60);

	// add seconds to $hms (with a leading 0 if needed)
	$hms .= str_pad($seconds, 2, "0", STR_PAD_LEFT);

	// done!
	return $hms;

}



?>
<div class="paging">
<?php echo $this->title." ".$this->result['result_id'];?>
</div>

<h2 class="dotted"><?php echo strtoupper($this->course['coursename']).' <span class="code">'.$this->course['coursecode'].'</span>';?></h2>

<?php
if ($this->result=="0")
{
	echo '<div class="error">'.$this->translate('not_allowed_view_result').'</div>';
}
else 
{
	?>
	<div class="page-opt" >
	<?php 
	if ($this->from=="mylist") 
	{
		$back_url = $this->url( array('module' => 'gradebook', 'controller' => 'index', 'action' => 'listmyresult', 'blockcontentid' => $this->blockcontentid, 'semid' => $this->semid, 'courseid' => $this->courseid), 'default', true);
	}
	else if ($this->from=="liststudent")
	{
		$back_url = $this->url( array('module' => 'gradebook', 'controller' => 'index', 'action' => 'liststudent', 'blockcontentid' => $this->blockcontentid, 'semid' => $this->semid, 'courseid' => $this->courseid), 'default', true);
	}
	else
	{
		$back_url = $this->url( array('module' => 'gradebook', 'controller' => 'index', 'action' => 'index', 'courseid' => $this->courseid), 'default', true);
	}
	?>
	<a href="<?php echo $back_url?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('back')?></a>
	<a href="javascript:print();" class="btn btn-round btn-large"><span class="icon icon-print"></span> <?php echo $this->translate('print')?></a> 
	<?php 

	?>
	</div>
	
	<br /><br />
	
	<table id="mytable" width="100%" class="table">
	<tr>
		<th width="30%"><?php echo strtoupper($this->translate('fullname')) ?></th>
		<td><?php echo $this->user['firstname'] ?> <?php echo $this->user['lastname'] ?></td>
	</tr>
	<tr>
		<th><?php echo strtoupper($this->translate('userid')) ?></th>
		<td><?php echo $this->user['id'] ?></td>
	</tr>
	<tr>
		<th><?php echo strtoupper($this->translate('testname')) ?></th>
		<td><?php echo $this->rstest['title'] ?> </td>
	</tr>
	<tr>
		<th><?php echo $this->translate('correct_answers')." / ". $this->translate('total_questions') ?></th>
		<td>
		<?php
		$correct=str_replace("notrated","0",$this->result['correct_answer']); 
		$correct=explode(",",$correct);
		echo array_sum($correct);
		?> / <?php echo $this->result['total_question']?>
		</td>
	</tr>
	<tr>
	<th>
		<?php echo $this->translate('obtained_percentage') ?>
	</th>
	<td>
		<?php echo $this->result['obtained_percentage']?> %
	</td>
	</tr>
	<tr>
		<th><?php echo $this->translate('time_taken')." / ". $this->translate('time_duration')." (H:M:S)" ?></th>
		<td><?php $time_taken=explode(",",$this->result['time_taken']); echo sec2hms(array_sum($time_taken)); ?> / <?php echo sec2hms(($this->rstest['test_time'])*60);?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('status') ?></th>
		<td><?php 
			echo $this->result['status']==1 ? $this->translate('pass') : $this->translate('fail');
			?>
		</td>
	</tr>
	</table>
	
	<?php
	$qno=1;
	$selected_answers=explode(",",$this->result['selected_answers']);
	$correct_answers=explode(",",$this->result['correct_answer']);
	
	$qbank = new Qbank_Model_Qbank();
	$questions=$qbank->get_questions($this->result['question_ids']);
	
	
	foreach($questions as $question)
	{
		$selected_answer=$selected_answers[$qno-1];
	
		?>
		<table width="100%" class="table">
		<tr>
			<th>
				Q<?=$qno?>) <?php echo strip_tags($question['question'])?> 
				<?php 
				if(($correct_answers[$qno-1])=="1")
				{
					$atr=array('title'=>'Correct');
					?>
					<span class="icon icon-check"></span>
					<?php
				}
				if(($correct_answers[$qno-1])=="0")
				{
					?>
					<span class="icon icon-cancel-circled"></span>
					<?php
					echo $this->translate('answer')." : ".$question['answer'];
				}
				
				if(($correct_answers[$qno-1])=="notrated")
				{
					echo $this->translate('unattempted');
				}
				?>
			</th>
		</tr>
		<?php 
		$option=explode(',',$question['options']); 
		foreach($option as $option)
		{ 
			?>
			<tr>
				<td>
					<input disabled="disabled" type="radio" value="<?=$option?>" name="answer<?php echo $qno;?>" <?php if($selected_answer==$option){ echo "checked";} ?> />
					<?php echo $option?>
				</td>
			</tr>
			<?php
		}
		?>
		</table>
		<?php
		$qno+=1;
		
	}
}
?>
