<h2 class="dotted"><?php echo $this->translate($this->title);?></h2>

<div class="lang-opt">
	<!--  because having 1 class is too mainstream -->
	<a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'languageconf', 'action'=>'addlangconf'),'default',true); ?>" class="btn btn-round btn-large"><span class="icon icon-plus-circled"></span> Add New Language</a>
	<a href="#" class="btn btn-round btn-large"><span class="icon icon-upload"></span> Upload Language</a>
</div>

<div class="lang-info">
	<ul>
		<li><strong>Current Language</strong><span><?php echo $this->current_language;?></span></li>
		<li><strong>Available Languages</strong><span>list em here</span></li>
	</ul>
</div>

<br /><br />

<!--  manage table -->
<!-- 
js for sure() is in /public/js/global.js
-->
<table class="maintable" id="managelang">
	<thead>
	<tr>
		<th width="40%">Language</th>
		<th>Code</th>
		<th class="centered">Direction</th>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
	<?php
	if ( is_array($this->langsets) )
	{
		foreach($this->langsets as $lang)
		{
			?>
			<tr>
			<td><?php echo $lang['Name']?></td>
			<td><?php echo $lang['Code']?></td>
			<td class="centered"><?php $lang['DirectionSettings']?></td>
			<td><a href="#" class="btn2 green">edit</a> <a href="#" class="btn2 red" onclick="return sure('Are you sure?')">delete</a></td>
			</tr>
			<?php
		}
	}
	?>
	</tbody>
</table>
<!--  /manage table  -->
<div class="lang-foot">
  <!--  <a href="<?php echo $this->url(array('module'=>'languageset','controller'=>'set'),'default',true); ?>" class="btn btn-large"><span class="icon icon-book-open"></span>Manage Language Set</a> -->
</div>