<?php
foreach ($this->vdata as $row) {
	$res_type= $row['res_type'];
	$title= $row['title'];
	$description= $row['description'];
	$filename= $row['filename'];
	$url= $row['url'];
}
?>

<!--<a class="media" href="/<?php echo PATH_UPLOAD ?>/block/<?php echo $this->courseid?>/<?php echo $filename?>">&nbsp;</a>-->


<iframe src="http://docs.google.com/gview?url=http://<?php echo APP_HOSTNAME ?>/<?php echo PATH_UPLOAD ?>/blockcontent/<?php echo $this->courseid?>/<?php echo $this->blockid?>/<?php echo $filename?>&embedded=true" style="width:100%; height:500px;" frameborder="0"></iframe>