<div class="page-opt">
	<a href="<?php echo $this->baseUrl(); ?>/block/index/block/courseid/<?php echo $this->courseid?>" class="btn btn-round btn-large"><span class="icon icon-left-open"></span> <?php echo $this->translate('course').' '.$this->course['coursecode']?> </a>
</div>
<h2 class="dotted"><?php echo $this->translate('edit_block')?></h2>
<?php
echo $this->form;
?>
<script type="text/javascript">
	/*var hEd = CKEDITOR.instances['description'];
    if (hEd) {
        CKEDITOR.remove(hEd);
    }*/
	//var editor = CKEDITOR.instances['description'];
    //if (editor) { editor.destroy(true); }
    
    CKEDITOR.replace( 'description',{ filebrowserBrowseUrl: '<?php echo $this->baseUrl(); ?>/kfm/',  height: 300, width: 650 } );
</script>